<div class="support-navigation navigation" [ngClass]="{'hidden': hide, 'inNav': inNavigation || inNavigationMobile, 'page': !inNavigation && !inNavigationMobile}">
  <ul>
    <a routerLink="/support/windows" data-link="windows">
      <li [ngClass]="{'active': page === 'windows'}" data-link="windows">
        <img class="display" src="/assets/apps/icons/windows@2x.png" srcset="/assets/apps/icons/windows.png 500w, /assets/apps/icons/windows@2x.png 1000w" alt="Windows" data-link="windows">
        <img class="hover" src="/assets/apps/icons/windows-hover@2x.png" srcset="/assets/apps/icons/windows-hover.png 500w, /assets/apps/icons/windows-hover@2x.png 1000w" alt="Windows" data-link="windows">
        <img class="active" src="/assets/apps/icons/windows-selected@2x.png" srcset="/assets/apps/icons/windows-selected.png 500w, /assets/apps/icons/windows-selected@2x.png 1000w" alt="Windows" data-link="windows">
        <span>Windows</span>
      </li>
    </a>
    <a routerLink="/support/macos" data-link="macos">
      <li [ngClass]="{'active': page === 'macos' || page === 'mac'}" data-link="macos">
        <img class="display" src="/assets/apps/icons/mac@2x.png" srcset="/assets/apps/icons/mac.png 500w, /assets/apps/icons/mac@2x.png 1000w" alt="Mac" data-link="macos">
        <img class="hover" src="/assets/apps/icons/mac-hover@2x.png" srcset="/assets/apps/icons/mac-hover.png 500w, /assets/apps/icons/mac-hover@2x.png 1000w" alt="Mac" data-link="macos">
        <img class="active" src="/assets/apps/icons/mac-selected@2x.png" srcset="/assets/apps/icons/mac-selected.png 500w, /assets/apps/icons/mac-selected@2x.png 1000w" alt="Mac" data-link="macos">
        <span>Mac</span>
      </li>
    </a>
    <a routerLink="/support/android" data-link="android">
      <li [ngClass]="{'active': page === 'android'}" data-link="android">
        <img class="display" src="/assets/apps/icons/android@2x.png" srcset="/assets/apps/icons/android.png 500w, /assets/apps/icons/android@2x.png 1000w" alt="Android" data-link="android">
        <img class="hover" src="/assets/apps/icons/android-hover@2x.png" srcset="/assets/apps/icons/android-hover.png 500w, /assets/apps/icons/android-hover@2x.png 1000w" alt="Android" data-link="android">
        <img class="active" src="/assets/apps/icons/android-selected@2x.png" srcset="/assets/apps/icons/android-selected.png 500w, /assets/apps/icons/android-selected@2x.png 1000w" alt="Android" data-link="android">
        <span>Android</span>
      </li>
    </a>
    <!--
    <a routerLink="/support/ios" data-link="ios">
      <li [ngClass]="{'active': page === 'ios'}"  data-link="ios">
        <img class="display" src="/assets/apps/icons/ios@2x.png" srcset="/assets/apps/icons/ios.png 500w, /assets/apps/icons/ios@2x.png 1000w" alt="iOS"  data-link="ios">
        <img class="hover" src="/assets/apps/icons/ios-hover@2x.png" srcset="/assets/apps/icons/ios-hover.png 500w, /assets/apps/icons/ios-hover@2x.png 1000w" alt="iOS"  data-link="ios">
        <img class="active" src="/assets/apps/icons/ios-selected@2x.png" srcset="/assets/apps/icons/ios-selected.png 500w, /assets/apps/icons/ios-selected@2x.png 1000w" alt="iOS" data-link="ios">
        <span>iOS</span>
      </li>
    </a>
    <a routerLink="/support/browser-extension" data-link="browser-extension">
      <li [ngClass]="{'active': page === 'browser-extension'}" data-link="browser-extension">
        <img class="display" src="/assets/apps/icons/browser@2x.png" srcset="/assets/apps/icons/browser.png 500w, /assets/apps/icons/browser@2x.png 1000w" alt="Browsers" data-link="browser-extension">
        <img class="hover" src="/assets/apps/icons/browser-hover@2x.png" srcset="/assets/apps/icons/browser-hover.png 500w, /assets/apps/icons/browser-hover@2x.png 1000w" alt="Browsers" data-link="browser-extension">
        <img class="active" src="/assets/apps/icons/browser-selected@2x.png" srcset="/assets/apps/icons/browser-selected.png 500w, /assets/apps/icons/browser-selected@2x.png 1000w" alt="Browsers" data-link="browser-extension">
        <span>Browsers</span>
      </li>
    </a>
    -->
    <a routerLink="/support/linux" data-link="linux">
      <li [ngClass]="{'active': page === 'linux'}" data-link="linux">
        <img class="display" src="/assets/apps/icons/linux@2x.png" srcset="/assets/apps/icons/linux.png 500w, /assets/apps/icons/linux@2x.png 1000w" alt="Linux" data-link="linux">
        <img class="hover" src="/assets/apps/icons/linux-hover@2x.png" srcset="/assets/apps/icons/linux-hover.png 500w, /assets/apps/icons/linux-hover@2x.png 1000w" alt="Linux" data-link="linux">
        <img class="active" src="/assets/apps/icons/linux-selected@2x.png" srcset="/assets/apps/icons/linux-selected.png 500w, /assets/apps/icons/linux-selected@2x.png 1000w" alt="Linux" data-link="linux">
        <span>Linux</span>
      </li>
    </a>
    <!--
    <a routerLink="/support/routers" data-link="routers">
      <li [ngClass]="{'active': page === 'routers'}" data-link="routers">
        <img class="display" src="/assets/apps/icons/router@2x.png" srcset="/assets/apps/icons/router.png 500w, /assets/apps/icons/router@2x.png 1000w" alt="Routers" data-link="routers">
        <img class="hover" src="/assets/apps/icons/router-hover@2x.png" srcset="/assets/apps/icons/router-hover.png 500w, /assets/apps/icons/router-hover@2x.png 1000w" alt="Routers" data-link="routers">
        <img class="active" src="/assets/apps/icons/router-selected@2x.png" srcset="/assets/apps/icons/router-selected.png 500w, /assets/apps/icons/router-selected@2x.png 1000w" alt="Routers" data-link="routers">
        <span>Routers</span>
      </li>
    </a>
    -->

    <!--
    <a routerLink="/support/embedded-devices" data-link="embedded-devices">
      <li [ngClass]="{'active': page === 'others'}" data-link="embedded-devices">
        <img class="display" src="/assets/apps/icons/others@2x.png" srcset="/assets/apps/icons/others.png 500w, /assets/apps/icons/others@2x.png 1000w" alt="Routers" data-link="embedded-devices">
        <img class="hover" src="/assets/apps/icons/others-hover@2x.png" srcset="/assets/apps/icons/others-hover.png 500w, /assets/apps/icons/others-hover@2x.png 1000w" alt="Routers" data-link="embedded-devices">
        <img class="active" src="/assets/apps/icons/others-selected@2x.png" srcset="/assets/apps/icons/others-selected.png 500w, /assets/apps/icons/others-selected@2x.png 1000w" alt="Routers" data-link="embedded-devices">
        <span>Others</span>
      </li>
    </a>
    -->
  </ul>
</div>
