.navigation {
  opacity: 1;
  width: 100%;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease;
  background-color: #0d1e26;

  &.inNav{
    position: absolute;
    box-shadow: 0px 1px 10px black;
    ul { background-color: #163138; }
  }

  &.hidden {
    height: 0;
    opacity: 0;
  }

  ul {
    padding: 0;
    margin: auto;
    list-style-type: none;
    font-size: 0;

    li {
      height: 50px;
      padding: 10px 15px;
      color: #8DFFFB;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      &:hover {
        color: #fff;
        img.display { display: none; }
        img.hover { display: inline-block; }
      }

      &.dim { opacity: 0.5; }

      img {
        height: 100%;
        margin: 0 10px 0 0;
        vertical-align: middle;
        &.display { display: inline-block; }
        &.active { display: none; }
        &.hover { display: none; }
      }

      span { vertical-align: middle; }

      &.active {
        color: #163238 !important;
        cursor: default;
        background-color: #fff;
        img.display { display: none; }
        img.active { display: inline-block; }
        img.hover { display: none; }
      }
    }
  }
}

@media (max-width: 985px) {
  .navigation li {
    width: 25%;
    border: 1px solid rgba(245, 245, 245, 0.2);
    &.active { border-top-left-radius: 0; border-top-right-radius: 0; }
  }
  .navigation a:nth-child(-n+4) li {
    border-top: 2px solid rgba(245, 245, 245, 0.2);
  }
}

@media (max-width: 845px) {
  .navigation ul li span { display: none; }
  .navigation ul li img { margin: 0; }
}

@media (max-width: 400px) {
  .navigation ul li { padding: 10px 15px; }
}
