<div id="nav" class="acc-nav">
  <div class="nav-inner">
    <div class="nav-left">
      <a routerLink="/" *ngIf="enableLinks">
        <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
      </a>

      <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom" *ngIf="!enableLinks">
    </div>

    <nav class="nav-right" *ngIf="enableLinks">
      <ul>
        <li>
          <a class="nav-link" routerLink="/features">Features</a>
        </li>
        <li>
          <a class="nav-link" href="https://support.cypherpunk.com/hc">Support</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/account" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">Account</a>
        </li>
        <li *ngIf="showPriceBoxes()">
          <button class="btn blue" routerLink="/account/upgrade">UPGRADE</button>
        </li>
        <li class="border" (click)="signout()">
          <a class="nav-link">SIGN OUT</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>

<div id="scrolled-nav" class="scrolled-nav-container">
  <div class="acc-nav">
    <div class="nav-inner">
      <div class="nav-left">
        <a routerLink="/" *ngIf="enableLinks">
          <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        </a>

        <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom" *ngIf="!enableLinks">
      </div>

      <nav class="nav-right" *ngIf="enableLinks">
        <ul>
          <li>
            <a class="nav-link" routerLink="/features">Features</a>
          </li>
          <li>
            <a class="nav-link" href="https://support.cypherpunk.com/hc">Support</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/account" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">Account</a>
          </li>
          <li *ngIf="showPriceBoxes()">
            <button class="btn blue" routerLink="/account/upgrade">UPGRADE</button>
          </li>
          <li class="border" (click)="signout()">
            <a class="nav-link">SIGN OUT</a>
          </li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/" *ngIf="enableLinks">
      <img src="/assets/logo@2x.png" class="mobile-logo" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>

    <img src="/assets/logo@2x.png" class="mobile-logo" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom" *ngIf="!enableLinks">

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown" *ngIf="enableLinks">
      <img src="/assets/icon-menu.png" alt="Menu Button" title="Click to Open Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }" *ngIf="enableLinks">
    <div class="mobile-dd-item" routerLink="/features">
      Features
    </div>
    <div class="mobile-dd-item" href="https://support.cypherpunk.com/hc">
      Support
    </div>
    <div class="mobile-dd-item" routerLink="/account" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">
      Account
    </div>
    <div class="mobile-dd-item" routerLink="/account/upgrade" *ngIf="showPriceBoxes()">
      <button class="btn blue">UPGRADE</button>
    </div>
    <div class="mobile-dd-item" (click)="signout()">
      SIGN OUT
    </div>
  </div>
  <div class="clear"></div>
</div>

<app-alerts></app-alerts>
