<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">
      Cypherpunk Privacy Support
    </h1>
  </div>

  <support-navigation [page]="'ios'"></support-navigation>

  <div class="page">
    <div class="page-inner">

      <div class="breadcrumbs">
        <div class="breadcrumb">
          <a routerLink="/support">Support</a>
          <span> > </span>
          <span>iOS</span>
        </div>
      </div>

      <div class="page-top">
        <img src="/assets/support/ios@2x.png" srcset="/assets/support/ios.png 500w, /assets/support/ios@2x.png 1000w" alt="iOS">
        <div class="header green">iOS</div>

        <div class="btn-container">
          <a routerLink="/apps/ios">
            <button class="btn orange">Learn More</button>
          </a>
        </div>

        <div class="btn-container">
          <a routerLink="/download/ios/autostart">
            <button class="btn gray">Download</button>
          </a>
        </div>
      </div>

      <div class="section">
        <div class="header green">Setup Guides</div>

        <div class="setup">
          <a routerLink="/support/ios/7800260033139105187/setup-guide-cypherpunk-privacy-for-ios">
            Setup Guide: Cypherpunk Privacy for iOS
          </a>
        </div>

      <div class="section">
        <div class="header green">Manual Configuration Tutorials for iOS</div>

        <div class="link">
          <a routerLink="/support/ios/3019809992942134345/manual-configuration-openvpn-connect-for-ios">
            <img src="/assets/features/openvpn@2x.png" srcset="/assets/features/openvpn.png 500w, /assets/features/openvpn@2x.png 1000w" alt="How to manually configure OpenVPN Connect for iOS">
          </a>
        </div>

      <div class="link">
        <a routerLink="/support/ios/6063383696985623742/manual-configuration-cypherplay-for-ios">
          <img src="/assets/features/cypherpunk-vpn@2x.png" srcset="/assets/features/cypherpunk-vpn.png 500w, /assets/features/cypherpunk-vpn@2x.png 1000w" alt="How to manually configure CypherPlay for iOS">
        </a>
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>
