.masthead {
  .masthead-header { margin: 20px auto 0; padding: 0 0 50px; }

  .masthead-image {
    text-align: center;
    padding: 0 0 40px;
    img { width: 100%; max-width: 1000px; }
  }
}

.navigation {
  background-color: #163138;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 0;

    li {
      color: #8DFFFB;
      font-size: 16px;
      padding: 20px;
      display: inline-block;
      cursor: pointer;
      &.active {
        color: #163238;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
}

.blue { color: #1b87bb; }

.feature {
  width: 100%;
  padding: 60px 0;
  .inner { max-width: 1000px; margin: auto; }
}

.descriptions {
  width: 100%;
  padding: 40px 0 60px;
  background-color: #efebeb;
}

.row {
  overflow: auto;

  .image {
    width: 39.6%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    .e { width: 249px; }
    .d { width: 242px; }
    .p { width: 277px; }
    .s { width: 224px; }
  }

  .mobile { display: none; }
  .desktop { display: inline-block; }

  .text {
    width: 60%;
    display: inline-block;
    color: #726e6e;
    vertical-align: middle;
    font-size: 18px;
    .text-header { font-size: 28px; }
    &.left { text-align: right; }
    &.right { text-align: left; }
  }

  .learn-more {
    color: #1b87bb;
    cursor: pointer;
    font-size: 20px;
    &.right { float: right; }
    div {
      img { width: 25px; vertical-align: middle; margin-right: 7px; }
      .learn-more-text { vertical-align: middle; display: inline-block; }
      border: 2px solid #1b87bb;
      width: 170px;
      border-radius: 50px;
      padding: 7px 0 12px;
      text-align: center;
    }
  }
}

.features {
  width: 100%;
  background-color: #163238;

  .features-inner {
    width: 100%;
    max-width: 1000px;
    padding: 10px 0 30px;
    margin: auto;
  }

  .header { margin: 60px 0 0; }
  .subheader { color: #fff; text-align: center; margin: 15px 0 50px; }
}

.more {
  width: 100%;
  max-width: 1000px;
  color: #000;
  overflow: hidden;
  transition: all 0.5s;
  margin: 0 auto;
  max-height: 0;
  opacity: 0;
  text-align: center;

  &.open { max-height: 340px; opacity: 1; }
  &.open.double { max-height: 680px; }
  &.open.triple { max-height: 900px; }
  &.open.quad { max-height: 1200px; }
  &.open.quin { max-height: 1500px; }

  .cell {
    width: 300px;
    margin: 60px 30px 0 0;
    display: inline-block;
    vertical-align: top;
    &:nth-child(-n+3) { margin-top: 0; }
    &:nth-child(4n+0) { margin-right: 0; }
    &:last-child { margin-right: 0; }

    &.small {
      width: 75px;
      margin: 60px 30px 0 0;
      &:nth-child(4n+0) { margin-right: 50px; }
      &:last-child { margin-right: 0; }
      .cell-header { font-size: 20px; }
      .cell-image { height: 50px; }
      i { font-size: 35px; }
    }

    .cell-image {
      width: 100%;
      height: 180px;
      margin: auto;
      img { height: 100%; max-width: 100%; }
    }

    .cell-header {
      font-size: 26px;
      color: #fc6146;
    }

    .cell-text {
      color: #4a4a4d;
      padding: 0 20px;
    }
  }
}

.bottom-callout {
  background-color: #010010;
  .bottom-header { padding-top: 40px; }
  .bottom-buttons {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0 40px;
    overflow: auto;
    text-align: center;

    .middle {
      display: inline-block;
      padding: 20px 0 0;
      text-align: center;
      color: #fff;
    }
    .btn.left { float: left; }
    .btn.right {
      float: right;
      background-color: #fff;
      color: #ff7857;
      border: 2px solid #ff7857;
    }
  }
}

.mobile { display: none; }
.gold { color: #ffe49a; }
.desktop { display: block; }
.desktop-inline { display: inline-block; }

.btn {
  font-size: 24px;
  width: 280px;
  height: 60px;
}

@media (max-width: 1016px) {
  .features .features-inner {
    .mobile { display: block; }
    .desktop { display: none; }
    .image { width: 100%; }
    .text.right, .text.left{ width: 100%; padding: 20px; text-align: center; }
    .row-divider { width: 90%; }
  }

  .bottom-callout .bottom-buttons { padding: 40px; }

  .mobile { display: block ; }
  .desktop { display: none; }
}

@media (max-width: 700px) {
  .bottom-callout .bottom-buttons {
    .middle { padding: 20px 0 20px; display: block; }
    .btn.left { float: none; }
    .btn.right { float: none; }
  }
}
