.masthead {
  .masthead-header { margin: 45px auto 0; padding: 0 0 95px; }
}

.navigation {
  background-color: #0d1e26;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

    li {
      color: #fff;
      padding: 20px;
      display: inline-block;
      cursor: pointer;
      &.active { background-color: #163238; }
    }
  }
}

.features {
  width: 100%;
  background-color: #163238;

  .features-inner {
    width: 100%;
    max-width: 1000px;
    padding: 10px 0 30px;
    margin: auto;
  }

  .header { margin: 60px 0 50px; }

  .row {
    width: 100%;
    overflow: auto;

    .image {
      width: 39.6%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      .e { width: 249px; }
      .d { width: 242px; }
      .p { width: 277px; }
      .s { width: 224px; }
    }

    .mobile { display: none; }
    .desktop { display: inline-block; }

    .text {
      width: 60%;
      display: inline-block;
      color: #8dfffc;
      vertical-align: middle;
      .text-header { font-size: 20px; }
      &.left { text-align: right; }
      &.right { text-align: left; }
    }

    a { color: #fc6146; cursor: pointer; }
  }
}

.more {
  width: 100%;
  max-width: 1000px;
  color: #000;
  overflow: hidden;
  transition: all 0.5s;
  margin: 0 auto;
  max-height: 0;
  opacity: 0;
  text-align: center;

  &.open {
    margin: 60px auto 50px;
    max-height: 340px;
    opacity: 1;
  }
  &.open.double { max-height: 680px; }
  &.open.triple { max-height: 900px; }
  &.open.triple { max-height: 1200px; }

  .cell {
    width: 300px;
    margin: 60px 30px 0 0;
    display: inline-block;
    vertical-align: top;
    &:nth-child(-n+3) { margin-top: 0; }
    &:nth-child(4n+0) { margin-right: 0; }
    &:last-child { margin-right: 0; }

    .cell-image {
      width: 100%;
      height: 180px;
      margin: auto;
      img { height: 100%; max-width: 100%; }
    }

    .cell-header {
      font-size: 26px;
      color: #fc6146;
    }

    .cell-text {
      color: #4a4a4d;
      padding: 0 20px;
    }
  }
}

.mobile { display: none; }
.gold { color: #ffe49a; }
.desktop { display: block; }
.desktop-inline { display: inline-block; }

@media (max-width: 1016px) {
  .features .features-inner {
    .mobile { display: block; }
    .desktop { display: none; }
    .image { width: 100%; }
    .text.right, .text.left{ width: 100%; padding: 20px; text-align: center; }
    .row-divider { width: 90%; }
  }

  .mobile { display: block ; }
  .desktop { display: none; }
}

@media (max-width: 375px) {
}
