.amazon-pay { text-align: center; }
#AmazonPayButton { margin: 20px 0 40px; }
#walletWidgetDiv { width: 350px; height: 228px; margin: 20px auto; display: none; }
#consentWidgetDiv { width: 350px; height: 140px; margin: 20px auto; display: none; }
