<div class="masthead">
  <app-acc-nav></app-acc-nav>

  <h1 class="masthead-header header white">Setup</h1>
</div>

<div class="breadcrumb">
  <a routerLink="/account">Account</a> > Setup
</div>

<div class="content">

  <div class="header">Manual VPN/proxy Setup</div>

  <div class="vpn-select-container">
    <label for="vpnSelect">Choose a vpn client:</label>
    <select name="vpnSelect" id="vpn-select" [(ngModel)]="vpnSelect">
      <option value="openvpn">OpenVPN 2.3/2.4</option>
      <option value="ipsec">IPSec VPN</option>
      <option value="ike">IKEv2 VPN</option>
      <option value="proxy">HTTP/SOCKS Proxy</option>
    </select>
  </div>

  <hr>

  <div id="openvpn" class="vpn" [ngClass]="{'show': vpnSelect === 'openvpn'}">
    <div class="subheader">OpenVPN 2.3/2.4</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      <pre>{{user.privacy.username}}</pre>
      <div></div>
      <strong>Password: </strong><br>
      <pre>{{user.privacy.password}}</pre>
    </div>

    <div class="location-select-container">
      <label for="locations">Please choose a location: </label>
      <br>
      <select name="locations" id="ov-locations" [(ngModel)]="countrySelect" (ngModelChange)="updateProfile()">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [disabled]="(freeAccount && country.level !== 'free') || !country.ovDefault.length">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>
    </div>

    <div>
      <label for="cypherplay">Use CypherPlay?
        <input id="cypherplay" type="checkbox" [(ngModel)]="useCypherplay" (ngModelChange)="updateProfile()">
      </label>
    </div>

    <div>
      <label for="certs">View Certificate Separately?
        <input id="certs" type="checkbox" [(ngModel)]="splitTextFields" (ngModelChange)="updateProfile()">
      </label>
    </div>

    <div class="download-container">
      <button class="btn blue" (click)="downloadProfile()" [disabled]="!downloadButtonEnabled || !countrySelect">
        Download
      </button>
    </div>

    <div *ngIf="!splitTextFields">
      <div class="profile-container">
        <label>Profile</label>
        <textarea class="profile" [(ngModel)]="profile" readonly></textarea>
      </div>
    </div>

    <div *ngIf="splitTextFields">
      <div class="profile-container">
        <label>Profile</label>
        <textarea class="profile" [(ngModel)]="profilePartial" readonly></textarea>
      </div>

      <div class="profile-container">
        <label>Certificate</label>
        <textarea class="profile" [(ngModel)]="profileCert" readonly></textarea>
      </div>
    </div>

    <div class="download-container">
      <button class="btn blue" (click)="downloadProfile()" [disabled]="!downloadButtonEnabled || !countrySelect">
        Download
      </button>
    </div>
  </div>

  <div id="ipsec" class="vpn" [ngClass]="{'show': vpnSelect === 'ipsec'}">
    <div class="subheader">IPSec VPN</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
      <strong>Hostname for </strong>
      <select name="locations" id="ov-locations" [(ngModel)]="ipsecSelect">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [disabled]="(freeAccount && country.level !== 'free') || !country.ovDefault.length">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>:
      <br>
      {{ipsecSelect}}<br>
    </div>
  </div>

  <div id="ike" class="vpn" [ngClass]="{'show': vpnSelect === 'ike'}">
    <div class="subheader">IKEv2 VPN</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
      <strong>Hostname for </strong>
      <select name="locations" id="ov-locations" [(ngModel)]="ikeSelect">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [disabled]="(freeAccount && country.level !== 'free') || !country.ovDefault.length">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>:
      <br>
      {{ikeSelect}}<br>
    </div>
  </div>

  <div id="http" class="vpn" [ngClass]="{'show': vpnSelect === 'proxy'}">
    <div class="subheader">HTTP/SOCKS Proxy</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
      <strong>Hostname for </strong>
      <select name="locations" id="ov-locations" [(ngModel)]="httpSelect">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [disabled]="(freeAccount && country.level !== 'free') || !country.ovDefault.length">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>:
      <br>
      {{httpSelect}}<br><br>

      <span>
        <strong>Ports to use:</strong> <br>
        http:// -> 80<br>
        https:// -> 3128<br>
        socks5:// -> 1080
      </span>
    </div>
  </div>
</div>

<div class="return">
  <a routerLink="/account">Back to Account</a>
</div>

<app-footer></app-footer>

<app-loading [state]="loading"></app-loading>
