.page {
  width: 100%;
  max-width: 1000px;
  padding: 20px 15px 35px;
  margin: auto;
  position: relative;

  &:after {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }
}

.page-header {
  text-align: center;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin: 30px auto 30px;
    color: #4a991c;
  }

  .text {
    font-size: 21px;
    line-height: 1.57;
    color: #7f7979;
    margin: auto;
    .highlight { color: #ff7857; }
  }
}

.page-divider {
  height: 3px;
  width: 90%;
  background-color: #f0ecec;
  margin: 50px auto;
}

.page-number {
  text-align: center;
  margin: 0 0 50px;

  .number {
    display: inline-block;
    font-size: 30px;
    background-color: #4a991c;
    border-radius: 50px;
    margin: 0 10px 0 0;
    color: #fff;
    width: 36px;
  }

  .text {
    font-size: 30px;
    color: #163238;
    display: inline-block;
  }
}

.account-creation {
  width: 90%;
  margin: auto;
}

.payment-selection {
  width: 90%;
  margin: auto;

  .payment-options {
    text-align: center;

    .type-container {
      display: inline-block;
      cursor: pointer;
      margin: 0 40px 0 0;
      &:last-child { margin: 0; }
      img { display: none; margin: auto; }
      img.show { display: block; }
    }
    .text {
      text-align: center;
      input, label { cursor: pointer; }
      label { color: #163238; vertical-align: middle; }
    }
  }
}

.payment-info {
  width: 90%;
  border: 2px solid #f0ecec;
  border-radius: 5px;
  margin: 50px auto 70px;
  padding: 30px 35px 40px;

  .amazon-pay { text-align: center; }
  .upgrade { padding: 20px 0; }

  p { margin: 10px 5px; }

  .total {
    font-size: 21px;
    color: #163238;
    overflow: auto;
    border: dashed 2px #67b23f;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px 40px;

    .price {
      float: left;
      color: #163238;
      img { width: 33px; margin: 0 10px -5px 0; }
      .total-price { color: #67b23f; }
      .billing-rate {
        margin: 10px 0 0;
        font-size: 14px;
        color: #7f7979;
        text-transform: capitalize;
      }
    }

    .pay {
      float: right;
      text-align: center;
      .btn { width: 240px; margin: 0; }
    }
  }
}

.features {
  width: 90%;
  margin: 0 auto 80px;
  text-align: center;

  .feature {
    text-align: center;
    display: inline-table;
    width: 205px;
    margin: 0 10px 30px 0;
  }
}

.countries {
  width: 100%;
  background-color: #0d1e26;
  overflow: auto;
  padding: 0 0 80px;

  .inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .countries-header {
    font-size: 30px;
    color: #8dfffc;
    margin: 60px 0 40px 10px;
  }

  .half {
    width: 50%;
    float: left;
    img.flags { width: 100%; }
    img.sitting { height: 100%; }
  }
}

.btn {
  width: 341px;
  height: 60px;
  margin: 25px auto 25px;
  font-size: 24px;
}

#AmazonPayButton { margin: 20px 0 40px; }
#walletWidgetDiv { width: 350px; height: 228px; margin: 20px auto; display: none; }
#consentWidgetDiv { width: 350px; height: 140px; margin: 20px auto; display: none; }

@media (max-width: 1000px) {
  .page { padding: 25px 10px 0; }
  .countries .half { width: 100%; }
}

@media (max-width: 700px) {
  .payment-info .total {
    padding: 20px 20px;

    .price { width: 100%; text-align: center; }
    .pay { width: 100%; margin: 25px 0 0; .btn { width: 100%; } }
  }
}

@media (max-width: 375px) {
  .payment-info { padding: 10px 10px; }
  .payment-selection .payment-options .type-container { width: 100%; margin: 0 0 25px; }
  .btn { width: 100%; }
}
