.form {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 350px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: 5px solid #0d1e26;
  border-radius: 5px;
  overflow: auto;
  z-index: 100;
  max-height: 100vh;
  display: none;
  &.show { display: block; }


  .form-header {
    margin: 0 0 20px;
    .title {
      font-size: 30px;
      text-align: center;
    }
    .close {
      cursor: pointer;
      float: right;
    }
  }

  .form-body {
    .row {
      padding: 10px 0;

      .error {
        margin-top: 5px;
        font-size: 12px;
        color: #a94442;
      }

      input {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #e0dede;
        margin: 5px 0 0;
        height: 30px;
        padding: 5px;
        &.error-input {
          border-color: #a94442;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 10px #ce8483;
        }
      }

      select {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #e0dede;
        margin: 5px 0 0;
        height: 30px;
        padding: 5px;
        &.error {
          border-color: #a94442;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 10px #ce8483;
        }
      }

      textarea {
        width: 100%;
        border-radius: 5px;
        border: 2px solid #e0dede;
        margin: 5px 0 0;
        height: 80px;
        padding: 5px;
        &.error-input {
          border-color: #a94442;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 10px #ce8483;
        }
      }
    }
  }

  .form-footer {
    margin: 5px 0 0;

    .button-container { overflow: auto; }
    button {
      float: right;
      margin: 0 5px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      &.send { background-color: #ff7857; color: #fff; }
      &.send:hover { background-color: #ff8c71; }
      &.cancel { background-color: #e0dede; }
    }

    .error {
      color: #a94442;
      text-align: center;
      margin-top: 20px 0;
    }
  }
}

@media (max-width: 370px) {
  .form { width: 100%; }
}
