<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">
      Cypherpunk Privacy Support
    </h1>
  </div>

  <support-navigation [page]="'windows'"></support-navigation>

  <div class="page">
    <div class="page-inner">

      <div class="breadcrumbs">
        <div class="breadcrumb">
          <a routerLink="/support">Support</a>
          <span> > </span>
          <span>Windows</span>
        </div>
      </div>

      <div class="page-top">
        <img src="/assets/support/windows@2x.png" srcset="/assets/support/windows.png 500w, /assets/support/windows@2x.png 1000w" alt="Windows">
        <div class="header green">Windows</div>

        <div class="btn-container">
          <a routerLink="/apps/windows">
            <button class="btn orange">Learn More</button>
          </a>
        </div>

        <div class="btn-container">
          <a routerLink="/download/windows/autostart">
            <button class="btn gray">Download</button>
          </a>
        </div>
      </div>

      <div class="section">
        <div class="header green">Setup Guides</div>

        <div class="setup">
          <a routerLink="/support/windows/1827940118372529119/setup-guide-cypherpunk-privacy-for-windows-10">
            Setup Guide for Cypherpunk Privacy for Windows 10
          </a>
        </div>

        <div class="setup">
          <a routerLink="/support/windows/5031710862710509221/setup-guide-cypherpunk-privacy-for-windows-8">
            Setup Guide for Cypherpunk Privacy for Windows 8
          </a>
        </div>
      </div>

      <div class="section">
        <div class="header green">Manual Configuration Tutorials for Windows 10</div>

        <div class="link">
          <a routerLink="/support/windows/1219178189127021259/manual-configuration-openvpn-on-windows-10">
            <img src="/assets/features/openvpn@2x.png" srcset="/assets/features/openvpn.png 500w, /assets/features/openvpn@2x.png 1000w" alt="How to manually configure OpenVPN for Windows 10">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/8867740877191923575/manual-configuration-ikev2-on-windows-10">
            <img src="/assets/features/ikev2@2x.png" srcset="/assets/features/ikev2.png 500w, /assets/features/ikev2@2x.png 1000w" alt="How to manually configure IKEv2 for Windows 10">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/5349398596251880309/manual-configuration-ipsec-on-windows-10">
            <img src="/assets/features/ipsec@2x.png" srcset="/assets/features/ipsec.png 500w, /assets/features/ipsec@2x.png 1000w" alt="How to manually configure IPSec for Windows 10">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/4195182747709612647/manual-configuration-http-proxy-on-windows-10">
            <img src="/assets/features/http-proxy@2x.png" srcset="/assets/features/http-proxy.png 500w, /assets/features/http-proxy@2x.png 1000w" alt="How to manually configure HTTP Proxy for Windows 10">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/4195182747709612647/manual-configuration-cypherplay-on-windows-10">
            <img src="/assets/features/cypherpunk-vpn@2x.png" srcset="/assets/features/cypherpunk-vpn.png 500w, /assets/features/cypherpunk-vpn@2x.png 1000w" alt="How to manually configure CypherPlay for Windows 10">
          </a>
        </div>
      </div>

      <div class="section">
        <div class="header green">Manual Configuration Tutorials for Windows 8</div>

        <div class="link">
          <a routerLink="/support/windows/6997014377197351522/manual-configuration-openvpn-on-windows-8">
            <img src="/assets/features/openvpn@2x.png" srcset="/assets/features/openvpn.png 500w, /assets/features/openvpn@2x.png 1000w" alt="How to manually configure OpenVPN for Windows 8">
          </a>
        </div>
        <div class="link">
          <a routerLink="/support/windows/7828133612798471142/manual-configuration-ikev2-on-windows-8">
            <img src="/assets/features/ikev2@2x.png" srcset="/assets/features/ikev2.png 500w, /assets/features/ikev2@2x.png 1000w" alt="How to manually configure IKEv2 for Windows 8">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/5342247581500452685/manual-configuration-ipsec-on-windows-8">
            <img src="/assets/features/ipsec@2x.png" srcset="/assets/features/ipsec.png 500w, /assets/features/ipsec@2x.png 1000w" alt="How to manually configure IPSec for Windows 8">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/7466235769095618049/manual-configuration-http-proxy-on-windows-8">
            <img src="/assets/features/http-proxy@2x.png" srcset="/assets/features/http-proxy.png 500w, /assets/features/http-proxy@2x.png 1000w" alt="How to manually configure HTTP Proxy for Windows 8">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/windows/5334164306197527242/manual-configuration-cypherplay-on-windows-8">
            <img src="/assets/features/cypherpunk-vpn@2x.png" srcset="/assets/features/cypherpunk-vpn.png 500w, /assets/features/cypherpunk-vpn@2x.png 1000w" alt="How to manually configure CypherPlay for Windows 8">
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
