.masthead {
  height: 100vh;
  min-height:700px;
  font-size: 0;
  position: relative;

  .masthead-panel {
    width: 50%;
    display: inline-block;
    position: absolute;
    padding: 20px 0;
    margin: 20px 0;
    top: 50%;
    transform: translateY(-50%);
    &.left { border-right: 1px solid #cfcaca; }
    &.right { right: 0; }
  }

  .masthead-header {
    font-size: 28px;
    margin: 20px auto;
    padding: 0 10px;
    letter-spacing: 0.2em;
    font-size: 24px;
    color: #dff;
    text-transform: uppercase;
  }

  .masthead-subheader {
    text-align: center;
    font-size: 18px;
    color: #74D5D4;
    padding: 0 10px;
    line-height: 1.5;
  }

  .masthead-apps {
    margin: auto;
    padding: 20px 0 2vh;
    text-align: center;
    position: relative;
    z-index: 15;
    .app {
      height: 45px;
      width: 45px;
      display: inline-block;
      background-image: url('/assets/home/apps@2x.png');
      background-repeat: no-repeat;
      background-size: 500px;
      cursor: pointer;
      transform: scale(0.5);
      margin: -15px -20px 0 0;
    }
    a { text-decoration: none; }
    .windows { background-position: 0 0; }
    .mac { background-position: -57px 0; }
    .linux { background-position: -114px 0; }
    .ios { background-position: -172px 0; }
    .android { background-position: -230px 0; }
    .chrome { background-position: -287px 0; }
    .firefox { background-position: -345px 0; }
    .opera { background-position: -403px 0; }
    .vivaldi { background-position: -460px 0; }
  }

  .masthead-banner {
    position: relative;

    .masthead-image {
      position: relative;
      text-align: center;
      img { width: 90%; }
    }
  }

  .signup { padding: 20px 0;  text-align: center; }

  .form {
    max-width: 550px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;

    .row { font-size: 0; }
    .half {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 5px 0 25px;
      &:first-child { padding-right: 5px; }
      &:nth-child(2) { padding-left: 5px; }
    }
    .center { text-align: center; }
    .tos {
      font-size: 10px;
      color: #fff;
      padding: 5px 0 10px;
      a { color: #fff; }
    }
    .account {
      padding: 20px 0 30px;
      a { color: #fff; font-size: 12px; }
    }

    .apps {
      max-width: 400px;
      margin: auto;
      padding: 30px 10px 0;

      img { padding: 20px 0; width: 100%; }
    }

    label { font-size: 20px; color: #333; }

    input {
      width: 100%;
      height: 50px;
      border-radius: 4px;
      border: solid 2px #e0dede;
      margin-top: 5px;
      margin-bottom: 25px;
      font-size: 18px;
      padding: 10px;
      color: #000;
      &.error {
        border-color: #a94442;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
      }
      &.success {
        border-color: #3c763d;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #67b168;
      }
    }

    .error-message {
      color: #a94442;
      margin: -15px 0 0;
      text-align: left;
      font-size: 12px;
    }
  }
}

.four-grid {
  background-color: #ddd;
  padding: 120px 0 80px;

  .grid-container {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;

    .grid-row {
      text-align: center;


      .grid-cell {
        display: inline-block;
        max-width: 400px;
        background-color: #eee;
        margin: 0 20px 40px;
        text-align: left;
        padding: 20px;
        color: #777;
        box-shadow: 5px 5px 5px #ccc;
        border-radius: 5px;

        .image {
          text-align: center;
          margin: 0 0 40px;
          img { width: 90%; }
          img.privacy { width: auto; max-height: 280px; }
          img.security { width: auto; max-height: 325px; }
        }

        .text-header {
          font-weight: bold;
          font-size: 18px;
          margin: 0 0 20px;
        }
      }
    }
  }
}

.cta-container {
  position: relative;
  z-index: 25;
  &.bottom { height: 40px; background-color: #163138; }

  .call-to-action {
    text-align: center;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;

    .btn { border-radius: 5px; }
    .btn.orange:hover { background-color: #ff8c71; }
  }
}

.alternate {
  background-color: #eee;
  color: #777;
  width: 100%;
  padding: 50px 0;

  .alternate-inner {
    max-width: 1000px;
    margin: auto;
    font-size: 0;
  }

  &.first { padding-top: 90px; }
  &.gray {
    background: linear-gradient(150deg, #cfcaca, #fffafa);
    .text .text-header { color: #1b87bb; }
    .text .text-content { color: #4a4a4d; }
  }
  &.green {
    background: linear-gradient(150deg, #244, #022);
    .text .text-header { color: #FFE399; }
    .text .text-content { color: #8DFFFB; }
  }
  &.left {
    .image.top { display: inline-block; }
    .text { padding: 0 0 0 50px; }
  }
  &.right {
    .image.top { display: none; }
    .image.bottom { display: inline-block; }
    .text { padding: 0 50px 0 0; }
  }
  &.last { padding-bottom: 90px; }

  .image {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    img { width: 90%; }
    img.shrink { width: 85%; }
    img.height-biased { width: auto; max-height: 250px; }
  }

  .text {
    width: 70%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    .text-header { font-size: 28px; }
    .text-content { font-size: 16px; padding-top: 15px; }
  }
}

.btn {
  font-size: 22px;
  padding: 15px;
}

@media (max-width: 1200px) {
  .masthead {
    position: static;
    height: inherit;

    .masthead-panel {
      width: 100%;
      display: block;
      position: static;
      top: 0;
      transform: none;
      &.left { border: 0; }
      &.right { margin: 0; background-color: #0d1e26; }
    }

    .signup { display: none; }
  }
}

@media (max-width: 1050px) {
  .alternate {
    &.left .image, &.right .image {
      width: 100%;
      img { max-width: 250px; padding: 0 15px; }
      &.top { display: inline-block; }
      &.bottom { display: none; }
    }
    &.left .text, &.right .text {
      width: 100%;
      text-align: center;
      padding: 40px 15px 0;
    }
    &.last .text { padding-bottom: 40px; }
  }
}

@media (max-width: 850px) {
  .cta-container .call-to-action { top: -10px; }
}

@media (max-width: 375px) {
  .masthead .masthead-subheader { font-size: 14px; }
  .cta-container .call-to-action .btn { font-size: 18px; }
}
