<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    More than just another VPN
  </h1>

  <div class="masthead-subheader">
    Freedom to access the world's content<br>
    Privacy & security protection for all your devices
  </div>

  <div class="masthead-apps">
    <a routerLink="/apps/windows">
      <div class="app windows"></div>
    </a>
    <a routerLink="/apps/mac">
      <div class="app mac"></div>
    </a>
    <a routerLink="/apps/linux">
      <div class="app linux"></div>
    </a>
    <a routerLink="/apps/ios">
      <div class="app ios"></div>
    </a>
    <a routerLink="/apps/android">
      <div class="app android"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app chrome"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app firefox"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app opera"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app vivaldi"></div>
    </a>
  </div>

  <div class="masthead-banner">
    <div class="masthead-image">
      <img src="/assets/home/header-illustration@2x.png" srcset="/assets/home/header-illustration.png 500w, /assets/home/header-illustration@2x.png 1000w" alt="Cypherpunk Privacy">
    </div>
  </div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <a routerLink="/signup">
      <button class="btn orange">GET MY FREE PREVIEW</button>
    </a>
  </div>
</div>

<div class="alternate gray left first">
  <div class="alternate-inner">
    <div class="image top">
      <img src="/assets/home/access@2x.png" srcset="/assets/home/access.png 500w, /assets/home/access@2x.png 1000w" alt="Access content from anywhere">
    </div>

    <div class="text">
      <div class="text-header">
        Access content from anywhere
      </div>

      <div class="text-content">
        Watch, listen, and stream your favorite content from anywhere in the world.
      </div>
    </div>
  </div>
</div>

<div class="alternate green right">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/privacy@2x.png" srcset="/assets/home/privacy.png 500w, /assets/home/privacy@2x.png 1000w" alt="Privacy Protection">
    </div>

    <div class="text">
      <div class="text-header">
        Privacy protection
      </div>

      <div class="text-content">
        Don't reveal your location, encrypt your traffic, block websites from tracking you.
      </div>
    </div>

    <div class="image bottom">
      <img class="height-biased" src="/assets/home/privacy@2x.png" srcset="/assets/home/privacy.png 500w, /assets/home/privacy@2x.png 1000w" alt="Privacy Protection">
    </div>
  </div>
</div>

<div class="alternate gray left">
  <div class="alternate-inner">
    <div class="image top">
      <img src="/assets/home/freedom@2x.png" srcset="/assets/home/freedom.png 500w, /assets/home/freedom@2x.png 1000w" alt="Freedom from internet censorship">
    </div>

    <div class="text">
      <div class="text-header">
        Freedom from internet censorship
      </div>

      <div class="text-content">
        Bypass government and enterprise network restrictions on what websites you can access.
      </div>
    </div>
  </div>
</div>

<div class="alternate green right">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/security@2x.png" srcset="/assets/home/security.png 500w, /assets/home/security@2x.png 1000w" alt="Security while on public networks">
    </div>

    <div class="text">
      <div class="text-header">
        Security while on public networks
      </div>

      <div class="text-content">
        Encrypt your internet traffic while connected to untrusted networks or public WiFi.
      </div>
    </div>

    <div class="image bottom">
      <img class="height-biased" src="/assets/home/security@2x.png" srcset="/assets/home/security.png 500w, /assets/home/security@2x.png 1000w" alt="Security while on public networks">
    </div>
  </div>
</div>

<div class="alternate gray left">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/no-logging@2x.png" srcset="/assets/home/no-logging.png 500w, /assets/home/no-logging@2x.png 1000w" alt="No Data Logging">
    </div>

    <div class="text">
      <div class="text-header">
        No Data Logging
      </div>

      <div class="text-content">
        We take privacy protection seriously and vow to never log or monitor your data and VPN network traffic.
      </div>
    </div>
  </div>
</div>

<div class="alternate green right">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/expert@2x.png" srcset="/assets/home/expert.png 500w, /assets/home/expert@2x.png 1000w" alt="Expert 24/7/365 Support">
    </div>

    <div class="text">
      <div class="text-header">
        Expert 24/7/365 Support
      </div>

      <div class="text-content">
        Your satisfaction is our priority. We're here to answer your questions, give assistance with setting up and using our service, or helping you in any way possible.
      </div>
    </div>

    <div class="image bottom">
      <img class="height-biased" src="/assets/home/expert@2x.png" srcset="/assets/home/expert.png 500w, /assets/home/expert@2x.png 1000w" alt="Expert 24/7/365 Support">
    </div>
  </div>
</div>

<div class="alternate gray left">
  <div class="alternate-inner">
    <div class="image top">
      <img class="shrink" src="/assets/home/privacy-suite@2x.png" srcset="/assets/home/privacy-suite.png 500w, /assets/home/privacy-suite@2x.png 1000w" alt="Cypherpunk Privacy Suite">
    </div>

    <div class="text">
      <div class="text-header">
        Cypherpunk Privacy Suite&trade;
      </div>

      <div class="text-content">
        Protect all your devices with one account. We have apps available for all major platforms and operating systems.
      </div>
    </div>
  </div>
</div>

<div class="alternate green right">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/privacy-network@2x.png" srcset="/assets/home/privacy-network.png 500w, /assets/home/privacy-network@2x.png 1000w" alt="Cypherpunk Privacy Network">
    </div>

    <div class="text">
      <div class="text-header">
        Cypherpunk Privacy Network&trade;
      </div>

      <div class="text-content">
        Ultra fast servers in 20+ countries, no bandwidth restrictions, no speed throttling. All major VPN and Proxy protocols supported with up to RSA-4096 + AES-256 encryption.
      </div>
    </div>

    <div class="image bottom">
      <img class="height-biased" src="/assets/home/privacy-network@2x.png" srcset="/assets/home/privacy-network.png 500w, /assets/home/privacy-network@2x.png 1000w" alt="Cypherpunk Privacy Network">
    </div>
  </div>
</div>

<div class="alternate gray left">
  <div class="alternate-inner">
    <div class="image top">
      <img src="/assets/home/cypherplay@2x.png" srcset="/assets/home/cypherplay.png 500w, /assets/home/cypherplay@2x.png 1000w" alt="CypherPlay">
    </div>

    <div class="text">
      <div class="text-header">
        CypherPlay&trade;
      </div>

      <div class="text-content">
        Unique networking technology to play any type of geo-restricted content from anywhere without slowing down your experience.
      </div>
    </div>
  </div>
</div>

<div class="alternate green right">
  <div class="alternate-inner">
    <div class="image top">
      <img src="/assets/home/cypherVPN@2x.png" srcset="/assets/home/cypherVPN.png 500w, /assets/home/cypherVPN@2x.png 1000w" alt="MaxStealth">
    </div>

    <div class="text">
      <div class="text-header">
        MaxStealth
      </div>

      <div class="text-content">
        Proprietary VPN technology to bypass most restrictive network firewalls put in place by governments <!-- (even Chinese GFW) -->, corporations and ISPs to achieve an open internet experience.
      </div>
    </div>

    <div class="image bottom">
      <img src="/assets/home/cypherVPN@2x.png" srcset="/assets/home/cypherVPN.png 500w, /assets/home/cypherVPN@2x.png 1000w" alt="MaxStealth">
    </div>
  </div>
</div>

<div class="alternate gray left">
  <div class="alternate-inner">
    <div class="image top">
      <img src="/assets/home/privacy-filter@2x.png" srcset="/assets/home/privacy-filter.png 500w, /assets/home/privacy-filter@2x.png 1000w" alt="Cypherpunk Privacy Filter">
    </div>

    <div class="text">
      <div class="text-header">
        Cypherpunk Privacy Filter
      </div>

      <div class="text-content">
        Block ads, trackers, and malware with our advanced filtering system.
      </div>
    </div>
  </div>
</div>

<div class="alternate green right">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/based-in-iceland@2x.png" srcset="/assets/home/based-in-iceland.png 500w, /assets/home/based-in-iceland@2x.png 1000w" alt="Based In Iceland">
    </div>

    <div class="text">
      <div class="text-header">
        Based in Iceland
      </div>

      <div class="text-content">
        Cypherpunk Partners, Slf. is headquartered in Iceland which currently offers the world’s upmost internet freedom and privacy. Iceland also has one the strongest data protection laws in the world. Most importantly, Iceland is outside the EU or US jurisdiction and is not a member of the fourteen eyes surveillance network.
      </div>
    </div>

    <div class="image bottom">
      <img class="height-biased" src="/assets/home/based-in-iceland@2x.png" srcset="/assets/home/based-in-iceland.png 500w, /assets/home/based-in-iceland@2x.png 1000w" alt="Based In Iceland">
    </div>
  </div>
</div>

<div class="alternate gray left last">
  <div class="alternate-inner">
    <div class="image top">
      <img class="height-biased" src="/assets/home/money-back@2x.png" srcset="/assets/home/money-back.png 500w, /assets/home/money-back@2x.png 1000w" alt="30 Day Money Back Guarantee">
    </div>

    <div class="text">
      <div class="text-header">
        30 day money back guarantee
      </div>

      <div class="text-content">
        Your satisfaction is our top priority. Our expert support staff will do their best to resolve any issues. If you're still not 100% happy, we will issue you a full refund within 30 days of purchase.
      </div>
    </div>
  </div>
</div>

<div class="cta-container bottom">
  <div class="call-to-action">
    <a routerLink="/signup">
      <button class="btn orange">GET MY FREE PREVIEW</button>
    </a>
  </div>
</div>

<app-footer></app-footer>
