<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    More than just another VPN
  </h1>

  <div class="masthead-subheader">
    Freedom to access the world's content<br>
    Privacy protection for all your devices
  </div>

  <div class="masthead-apps">
    <a routerLink="/apps/windows">
      <div class="app windows"></div>
    </a>
    <a routerLink="/apps/mac">
      <div class="app mac"></div>
    </a>
    <a routerLink="/apps/linux">
      <div class="app linux"></div>
    </a>
    <a routerLink="/apps/ios">
      <div class="app ios"></div>
    </a>
    <a routerLink="/apps/android">
      <div class="app android"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app chrome"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app firefox"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app opera"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app vivaldi"></div>
    </a>
  </div>

  <div class="masthead-nolog">
    <div class="container">
      <div class="slogan">No Data Logging</div>
      <img src="/assets/home/no-logs.png" src-set="/assets/home/no-logs.png 500w, /assets/home/no-logs@2x.png" alt="No Data Logging">
    </div>
  </div>

  <div class="masthead-banner">
    <div class="masthead-image hang">
      <img src="/assets/home/header-illustration@2x.png" srcset="/assets/home/header-illustration.png 500w, /assets/home/header-illustration@2x.png 1000w" alt="Cypherpunk Privacy">
    </div>

    <div class="clear" style="clear: both;"></div>
  </div>

  <div class="masthead-mobile-banner"></div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <a routerLink="/download">
      <button class="btn orange">START MY FREE PREVIEW</button>
    </a>
  </div>
</div>

<div class="content down-arrow">
  <div class="content-inner">
    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img class="width-biased" src="/assets/home/access@2x.png" srcset="/assets/home/access.png 500w, /assets/home/access@2x.png 1000w" alt="Access content from anywhere">
        </div>

        <h3 class="cell-header">
          <strong>Access</strong>
          <div class="subheader">content from anywhere</div>
        </h3>

        <div class="cell-text">
          Watch, listen, and stream your content regardless of your actual location.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/home/privacy@2x.png" srcset="/assets/home/privacy.png 500w, /assets/home/privacy@2x.png 1000w" alt="Privacy Protection">
        </div>

        <h3 class="cell-header">
          <strong>Privacy</strong>
          <div class="subheader">protection</div>
        </h3>

        <div class="cell-text">
          Don't reveal your location, encrypt our traffic, block websites from tracking you.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img class="width-biased" src="/assets/home/freedom@2x.png" srcset="/assets/home/freedom.png 500w, /assets/home/freedom@2x.png 1000w" alt="Freedom from internet censorship">
        </div>

        <h3 class="cell-header">
          <strong>Freedom</strong>
          <div class="subheader">from internet censorship</div>
        </h3>

        <div class="cell-text">
          Bypass government and enterprise network restrictions on what websites you can access.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img class="width-biased" src="/assets/home/security@2x.png" srcset="/assets/home/security.png 500w, /assets/home/security@2x.png 1000w" alt="Security while on public networks">
        </div>

        <h3 class="cell-header">
          <strong>Security</strong>
          <div class="subheader">while on public networks</div>
        </h3>

        <div class="cell-text">
          Encrypt your internet traffic while connected to untrusted networks or public WiFi.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature first grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/expert@2x.png" srcset="/assets/home/expert.png 500w, /assets/home/expert@2x.png 1000w" alt="Expert 24/7/365 Support">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        Expert 24/7/365 Support
      </div>

      <div class="text-content">
        Your satisfaction is our priority. We're here to answer your questions, give assistance with setting up and using our service, or helping you in any way possible.
      </div>
    </div>
  </div>
</div>

<div class="feature green">
  <div class="feature-inner">
    <div class="image mobile">
      <img src="/assets/home/privacy-suite@2x.png" srcset="/assets/home/privacy-suite.png 500w, /assets/home/privacy-suite@2x.png 1000w" alt="Cypherpunk Privacy Suite">
    </div>

    <div class="text pad-right">
      <div class="text-header gold">
        Cypherpunk Privacy Suite&trade;
      </div>

      <div class="text-content blue">
        Protect all your devices with one account. We have apps available for all major platforms and operating systems.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/home/privacy-suite@2x.png" srcset="/assets/home/privacy-suite.png 500w, /assets/home/privacy-suite@2x.png 1000w" alt="Cypherpunk Privacy Suite">
    </div>
  </div>
</div>

<div class="feature grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/privacy-network@2x.png" srcset="/assets/home/privacy-network.png 500w, /assets/home/privacy-network@2x.png 1000w" alt="Cypherpunk Privacy Network">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        Cypherpunk Privacy Network&trade;
      </div>

      <div class="text-content">
        Ultra fast servers in 20+ countries, no bandwidth restrictions, no speed throttling. All major VPN and Proxy protocols supported with up to RSA-4096 + AES-256 encryption.
      </div>
    </div>
  </div>
</div>

<div class="feature green">
  <div class="feature-inner">
    <div class="image mobile">
      <img src="/assets/home/cypherplay@2x.png" srcset="/assets/home/cypherplay.png 500w, /assets/home/cypherplay@2x.png 1000w" alt="CypherPlay">
    </div>

    <div class="text pad-right">
      <div class="text-header gold">
        CypherPlay&trade;
      </div>

      <div class="text-content blue">
        Unique networking technology to play any type of geo-restricted content from anywhere without slowing down your experience.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/home/cypherplay@2x.png" srcset="/assets/home/cypherplay.png 500w, /assets/home/cypherplay@2x.png 1000w" alt="CypherPlay">
    </div>
  </div>
</div>

<div class="feature grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/cypherVPN@2x.png" srcset="/assets/home/cypherVPN.png 500w, /assets/home/cypherVPN@2x.png 1000w" alt="CypherVPN">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        CypherVPN&trade;
      </div>

      <div class="text-content">
        Proprietary VPN technology to bypass the most restrictive network firewalls put in place by governments (even Chinese GFW), corporations and ISPs to achieve an open internet experience.
      </div>
    </div>
  </div>
</div>

<div class="feature green">
  <div class="feature-inner">
    <div class="image mobile">
      <img src="/assets/home/privacy-filter@2x.png" srcset="/assets/home/privacy-filter.png 500w, /assets/home/privacy-filter@2x.png 1000w" alt="Cypherpunk Privacy Filter">
    </div>

    <div class="text pad-right">
      <div class="text-header gold">
        Cypherpunk Privacy Filter
      </div>

      <div class="text-content blue">
        Block ads, trackers, and malware with our advanced filtering system.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/home/privacy-filter@2x.png" srcset="/assets/home/privacy-filter.png 500w, /assets/home/privacy-filter@2x.png 1000w" alt="Cypherpunk Privacy Filter">
    </div>
  </div>
</div>

<div class="feature grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/money-back@2x.png" srcset="/assets/home/money-back.png 500w, /assets/home/money-back@2x.png 1000w" alt="30 Day Money Back Guarantee">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        30 day money back guarantee
      </div>

      <div class="text-content">
        Your satisfaction is our top priority. Our expert support staff will do their best to resolve any issues, but if you're still not happy, we will refund you in full within 30 days from your purchase.
      </div>
    </div>
  </div>
</div>

<div class="cta-container bottom">
  <div class="call-to-action">
    <a routerLink="/download">
      <button class="btn orange">START MY FREE PREVIEW</button>
    </a>
  </div>
</div>

<app-footer></app-footer>
