<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    More than just another VPN
  </h1>

  <div class="masthead-subheader">
    Freedom to access the world's content<br>
    Privacy protection for all your devices
  </div>

  <div class="masthead-apps">
    <a routerLink="/apps/windows">
      <div class="app windows"></div>
    </a>
    <a routerLink="/apps/mac">
      <div class="app mac"></div>
    </a>
    <a routerLink="/apps/linux">
      <div class="app linux"></div>
    </a>
    <a routerLink="/apps/ios">
      <div class="app ios"></div>
    </a>
    <a routerLink="/apps/android">
      <div class="app android"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app chrome"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app firefox"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app opera"></div>
    </a>
    <a routerLink="/apps/browser">
      <div class="app vivaldi"></div>
    </a>
  </div>

  <div class="masthead-nolog">
    <div class="container">
      <img src="/assets/home/nolog.png" alt="">
      <br>
      <div class="slogan">No Data Logging</div>
    </div>
  </div>

  <div class="masthead-banner">
    <div class="masthead-image hang">
      <img src="/assets/home/header-illustration@2x.png" srcset="/assets/home/header-illustration.png 500w, /assets/home/header-illustration@2x.png 1000w" alt="Cypherpunk Privacy" title="Cypherpunk Privacy is your guardian of online privacy and freedom.">
    </div>

    <div class="clear" style="clear: both;"></div>
  </div>

  <div class="masthead-mobile-banner"></div>
</div>

<div class="cta-container top">
  <div class="call-to-action">
    <a routerLink="/download">
      <button class="btn orange top">
        START MY FREE PREVIEW
      </button>
    </a>

    <div>
      <span class="middle">or</span>
    </div>

    <a routerLink="/pricing">
      <button class="btn orange bottom">
        GET CYPHERPUNK NOW
      </button>
    </a>
  </div>
</div>

<div class="available"></div>

<div class="header-bottom-border"></div>



<div class="content down-arrow">
  <div class="content-inner">
    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img src="/assets/home/bypass-restrictive-networks@2x.png" srcset="/assets/home/bypass-restrictive-networks.png 500w, /assets/home/bypass-restrictive-networks@2x.png 1000w" alt="Online Privacy" title="Cypherpunk protects your privacy and identity on the internet.">
        </div>

        <h3 class="cell-header">
          <strong>Freedom</strong> from internet censorship
        </h3>

        <div class="cell-text">
          Bypass government and enterprise network restrictions on what websites you can access.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/home/unblock-an-watch-content@2x.png" srcset="/assets/home/unblock-an-watch-content.png 500w, /assets/home/unblock-an-watch-content@2x.png 1000w" alt="Secure Public WiFi" title="Turn a public WiFi network into a secure access point.">
        </div>

        <h3 class="cell-header">
          <strong>Access</strong> content from anywhere
        </h3>

        <div class="cell-text">
          Watch, listen, and stream your content regardless of your actual location.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img  src="/assets/home/privacy-privacy@2x.png" srcset="/assets/home/privacy-privacy.png 500w, /assets/home/privacy-privacy@2x.png 1000w" alt="Access Blocked Content" title="Privacy & Censorship">
        </div>

        <h3 class="cell-header">
          <strong>Security</strong> while on public networks
        </h3>

        <div class="cell-text">
          Encrypt your internet traffic while connected to untrusted networks or public WiFi.
        </div>
      </div>
    </div>
  </div>
</div>



<div class="feature first grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/expert-customer-support@2x.png" srcset="/assets/home/expert-customer-support.png 500w, /assets/home/expert-customer-support@2x.png 1000w" alt="Expert 24/7 Support">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        Expert 24/7/365 Support
      </div>

      <div class="text-content">
        Your satisfaction is our priority. We're here to answer your questions, give assistance with setting up and using our service, or helping you in any way possible.
      </div>
    </div>
  </div>
</div>

<div class="feature green">
  <div class="feature-inner">
    <div class="image mobile">
      <img src="/assets/home/super-fast-secure@2x.png" srcset="/assets/home/super-fast-secure.png 500w, /assets/home/super-fast-secure@2x.png 1000w" alt="Cypherpunk Privacy is Fast">
    </div>

    <div class="text pad-right">
      <div class="text-header gold">
        Cypherpunk Privacy Suite&trade;
      </div>

      <div class="text-content blue">
        Protect all your devices with one account. We have apps available for all major platforms and operating systems.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/home/super-fast-secure@2x.png" srcset="/assets/home/super-fast-secure.png 500w, /assets/home/super-fast-secure@2x.png 1000w" alt="Cypherpunk Privacy is Fast">
    </div>
  </div>
</div>

<div class="feature grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/network@2x.png" srcset="/assets/home/network.png 500w, /assets/home/network@2x.png 1000w" alt="Cypherpunk Privacy is Extremely Secure">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        Cypherpunk Privacy Network&trade;
      </div>

      <div class="text-content">
        Ultra fast servers in 20+ countries, no bandwidth restrictions, no speed throttling. All major VPN and Proxy protocols supported with up to RSA-4096 + AES-256 encryption.
      </div>
    </div>
  </div>
</div>

<div class="feature green">
  <div class="feature-inner">
    <div class="image mobile">
      <img src="/assets/home/cypherplay@2x.png" srcset="/assets/home/cypherplay.png 500w, /assets/home/cypherplay@2x.png 1000w" alt="Expert 24/7 Support">
    </div>

    <div class="text pad-right">
      <div class="text-header gold">
        Cypherplay&trade;
      </div>

      <div class="text-content blue">
        Unique networking technology to play any type of geo-restricted content from anywhere without slowing down your experience.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/home/cypherplay@2x.png" srcset="/assets/home/cypherplay.png 500w, /assets/home/cypherplay@2x.png 1000w" alt="Expert 24/7 Support">
    </div>
  </div>
</div>

<div class="feature grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/cypherpunkVPN@2x.png" srcset="/assets/home/cypherpunkVPN.png 500w, /assets/home/cypherpunkVPN@2x.png 1000w" alt="We Are Cypherpunks">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        CypherVPN&trade;
      </div>

      <div class="text-content">
        Proprietary VPN technology to bypass the most restrictive network firewalls put in place by governments (even Chinese GFW), corporations and ISPs to achieve an open internet experience.
      </div>
    </div>
  </div>
</div>

<div class="feature green">
  <div class="feature-inner">
    <div class="image mobile">
      <img src="/assets/home/no-logs@2x.png" srcset="/assets/home/no-logs.png 500w, /assets/home/no-logs@2x.png 1000w" alt="Expert 24/7 Support">
    </div>

    <div class="text pad-right">
      <div class="text-header gold">
        Cypherpunk Privacy Filter
      </div>

      <div class="text-content blue">
        Block ads, trackers, and malware with our advanced filtering system.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/home/no-logs@2x.png" srcset="/assets/home/no-logs.png 500w, /assets/home/no-logs@2x.png 1000w" alt="Expert 24/7 Support">
    </div>
  </div>
</div>

<div class="feature grey">
  <div class="feature-inner">
    <div class="image">
      <img src="/assets/home/money-back-guarantee@2x.png" srcset="/assets/home/money-back-guarantee.png 500w, /assets/home/money-back-guarantee@2x.png 1000w" alt="We Are Cypherpunks">
    </div>

    <div class="text pad-left">
      <div class="text-header blue">
        30 day money back guarantee
      </div>

      <div class="text-content">
        Your satisfaction is our top priority. Our expert support staff will do their best to resolve any issues, but if you're still not happy, we will refund you in full within 30 days from your purchase.
      </div>
    </div>
  </div>
</div>


<div class="bottom-callout">
  <div class="bottom-header header white">Join Us!</div>

  <div class="bottom-buttons">
    <a routerLink="/pricing">
      <button class="btn orange left">
        GET CYPHERPUNK NOW
      </button>
    </a>

    <div class="middle"><span>Or</span></div>

    <a routerLink="/download">
      <button class="btn orange right">
        START MY FREE PREVIEW
      </button>
    </a>
  </div>
</div>

<app-footer></app-footer>
