.masthead {
  .masthead-header { margin: 45px auto 0; padding: 0 0 95px; }
}

.content {
  width: 100%;
  background-color: #f4f4f4;
  padding: 30px 0 60px;

  .body {
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    margin: auto;

    .header { margin: 25px 0 40px; }

    .overflow { overflow: auto; }
    .left, .right {
      float: left;
      width: 50%;
      padding: 0 20px;
      text-align: left;
    }
    .right img { width: 16px; margin: 0 5px 2px; vertical-align: middle; }

    .button-container {
      text-align: center;
      margin: 30px 0 0;
      padding: 0 20px 40px;
      .btn {
        font-size: 23px;
        padding: 12px 10px 15px;
        width: 100%;
        max-width: 600px;
      }
    }
  }
}

@media (max-width: 1016px) {
  .content { padding: 30px 10px 60px; }
  .content .body .left { margin-bottom: 30px; }
  .content .body .left, .content .body .right { max-width: 100%; }
}

@media (max-width: 375px) {
  .content .body .button-container { margin: 0 10px 80px; }
}
