<div class="vpn" *ngIf="!showWarning">
  <div class="privacy" *ngIf="showCredentials">
    <app-setup-credentials></app-setup-credentials>
  </div>

  <div class="location-select-container" [ngClass]="{'no-margin': !showCredentials}">
    <app-setup-hostname [(location)]="openvpnLocation" (update)="updateProfile()"></app-setup-hostname>
  </div>

  <div>
    <label for="cypherplay">Use CypherPlay?
      <input id="cypherplay" type="checkbox" [(ngModel)]="useCypherplay" (ngModelChange)="updateProfile()">
    </label>
  </div>

  <div>
    <label for="certs">View Certificate Separately?
      <input id="certs" type="checkbox" [(ngModel)]="splitTextFields" (ngModelChange)="updateProfile()">
    </label>
  </div>

  <div class="download-container">
    <button class="btn blue" (click)="downloadProfile()">
      Download
    </button>
  </div>

  <div *ngIf="!splitTextFields">
    <div class="profile-container">
      <label>Profile</label>
      <textarea id="profile-only" class="profile" [(ngModel)]="profile" readonly></textarea>
    </div>

    <div class="download-container">
      <button class="btn blue" (click)="downloadProfile()">
        Download
      </button>

      <button class="btn blue" (click)="copy('profile-only')">
        Copy
      </button>
    </div>
  </div>

  <div *ngIf="splitTextFields" class="split">
    <div class="profile-container">
      <label>Profile</label>
      <textarea id="profile-split" class="profile" [(ngModel)]="profilePartial" readonly></textarea>
    </div>

    <div class="profile-container">
      <label>Certificate</label>
      <textarea id="cert-split" class="profile" [(ngModel)]="profileCert" readonly></textarea>
    </div>

    <div class="download-container">
      <button class="btn blue" (click)="downloadProfile()">
        Download
      </button>

      <button class="btn blue" (click)="copy('profile-split')">
        Copy Profile
      </button>

      <button class="btn blue right" (click)="copy('cert-split')">
        Copy Cert
      </button>
    </div>
  </div>

</div>

<div class="warning" *ngIf="showWarning">
  Please sign in to view this content
</div>
