.vpn {
  .location-select-container {
    margin: 30px 0;
    &.no-margin { margin: 0; }
   }

  .download-container {
    overflow: auto;

    .half-left {
      width: 50%;
      float: left;
      padding-right: 10px;
      .btn { width: 100%; }
    }

    .half-right {
      width: 50%;
      float: right;
      padding-left: 10px;
      .btn { width: 100%; }
    }

    .btn {
      width: 120px;
      padding: 10px;
      margin: 15px 0 0;
      &.blue:hover { background-color: #27a5e2; }
      &.orange:hover { background-color: #ff8c71; }
      &.right { float: right; }
      &.full { width: 100%; }
    }
  }
}

.profile-container {
  padding: 10px 0 0;

  label { font-size: 16px; }
  textarea { margin: 10px 0 0; background-color: rgb(248, 248, 248); }

  .profile {
    white-space: pre;
    width: 100%;
    height: 340px;
    font-family: 'courier';
  }
}

.choice { margin-bottom: 20px; }

.split {
  font-size: 0;
  .profile {
    white-space: pre;
    width: 100%;
    height: 340px;
    font-family: 'courier';
    font-size: 11px;
  }

  .profile-container {
    display: inline-block;
    width: 50%;
  }
}
