<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Why Use a VPN?</h1>
  <div class="masthead-subheader">
    Cypherpunk Privacy protects your online activities, privacy, and freedom.
  </div>

  <div class="masthead-image">
    <img src="/assets/whyus/top-illustration@2x.png" srcset="/assets/whyus/top-illustration.png 500w, /assets/whyus/top-illustration@2x.png 1000w" alt="Why Use a VPN?">
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="image">
      <img src="/assets/whyus/unblock-content@2x.png" srcset="/assets/whyus/unblock-content.png 500w, /assets/whyus/unblock-content@2x.png 1000w" alt="Unblock Content from anywhere">
    </div>

    <div class="text left">
      <h2 class="header orange">Unblock Content from anywhere</h2>

      <p>
        Some websites restrict access to view their content based on your geographical location. Using Cypherpunk Privacy will enable you to unblock geo-restricted content from anywhere.
      </p>
    </div>
  </div>
</div>

<div class="content grey">
  <div class="row">
    <div class="mobile-image">
      <img src="/assets/whyus/bypass-censorship@2x.png" srcset="/assets/whyus/bypass-censorship.png 500w, /assets/whyus/bypass-censorship@2x.png 1000w" alt="Bypass Censorship">
    </div>

    <div class="text right">
      <h2 class="header orange">Bypass Censorship</h2>

      <p>
        Various countries engage in active internet censorship and restriction of online freedom. Using Cypherpunk Privacy allows you to bypass oppressive governments
      </p>
    </div>

    <div class="image hide-mobile">
      <img src="/assets/whyus/bypass-censorship@2x.png" srcset="/assets/whyus/bypass-censorship.png 500w, /assets/whyus/bypass-censorship@2x.png 1000w" alt="Bypass Censorship">
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="image">
      <img src="/assets/whyus/fight-mass-surveillance@2x.png" srcset="/assets/whyus/fight-mass-surveillance.png 500w, /assets/whyus/fight-mass-surveillance@2x.png 1000w" alt="Fight Mass Surveillance">
    </div>

    <div class="text left">
      <h2 class="header orange">Fight Mass Surveillance</h2>

      <p>
        Government operated mass surveillance programs, such as The Five Eyes intelligence alliance, have been described as a "supra-national intelligence organisation that doesn't answer to the known laws of its own countries" - using Cypherpunk Privacy protects your privacy online from these prying eyes.
      </p>
    </div>
  </div>
</div>

<div class="content grey">
  <div class="row">
    <div class="mobile-image">
      <img src="/assets/whyus/secure-untrusted-networks@2x.png" srcset="/assets/whyus/secure-untrusted-networks.png 500w, /assets/whyus/secure-untrusted-networks@2x.png 1000w" alt="Secure Untrusted Networks">
    </div>

    <div class="text right">
      <h2 class="header orange">Secure Untrusted Networks</h2>

      <p>
        While using public WiFi and other untrusted networks, nearby hackers, the operator of the WiFi hotspot, and other adversaries can monitor and manipulate your internet connectivity. Using Cypherpunk Privacy you can prevent yourself from becoming a victim of public WiFi hacking.

      </p>
    </div>

    <div class="image hide-mobile">
      <img class="width" src="/assets/whyus/secure-untrusted-networks@2x.png" srcset="/assets/whyus/secure-untrusted-networks.png 500w, /assets/whyus/secure-untrusted-networks@2x.png 1000w" alt="Secure Untrusted Networks">
    </div>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="image">
      <img src="/assets/whyus/block-private-data@2x.png" srcset="/assets/whyus/block-private-data.png 500w, /assets/whyus/block-private-data@2x.png 1000w" alt="Block Private Data Mining">
    </div>

    <div class="text left">
      <h2 class="header orange">Block Private Data Mining</h2>

      <p>
        Private companies and ISPs log your data and record what sites you visit, and use, share, or sell the collected private data for targeted advertising to make money from you. By using Cypherpunk Privacy's content blocking features, you can prevent being the target of this privacy invasion.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
