.masthead {
  border-bottom: 15px solid #efebeb;
  .masthead-header { margin: 45px auto 0; padding: 0 0 15px; }
  .masthead-subheader {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-bottom: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #74D5D4;
  }
  .masthead-image {
    text-align: center;
    position: relative;
    img {
      width: 100%;
      max-width: 1000px;
      position: relative;
      top: 27px;
    }
  }
}

.content {
  width: 100%;
  &.grey { background-color: #efeaea; }

  .row {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;

    .mobile-image {
      display: none;
      width: 100%;
      text-align: center;
      img { max-width: 400px; }
    }

    .text {
      width: 59%;
      display: inline-block;
      vertical-align: middle;
      color: #5e5a5a;

      .header {
        font-size: 24px;
        margin: 0 0 20px;
      }
    }

    .text.left {
      text-align: left;
      padding-left: 25px;
      .header { text-align: left; }
    }

    .text.right {
      text-align: right;
      padding-right: 25px;
      .header { text-align: right; }
    }

    .image {
      width: 40%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      img { height: 320px; }
      img.width { width: 100%; height: auto; }
    }
  }
}

@media (max-width: 1016px) {
  .content { padding: 30px 10px 60px; }

  .content .row {
    width: 100%;
    .hide-mobile { display: none; }
    .mobile-image { display: block; }
    .image {
      width: 100%;
      img { height: auto; max-width: 400px; }
    }

    .text { width: 100%; }
    .text.left {
      text-align: center;
      padding: 25px 0 0;
      .header { text-align: center; }
    }
    .text.right {
      text-align: center;
      padding: 25px 0 0;
      .header { text-align: center; }
    }
  }
}

@media (max-width: 375px) {
  .masthead .masthead-subheader { padding: 0 10px 20px; }
}
