<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Reset Password</div>
  <div class="masthead-image">
    <img src="/assets/web-hero-login.png" alt="Login">
  </div>
</div>

<form>
  <p>
    <label for="username">Username / Email</label><br>
    <input id="reset-username" type="text" name="username" [(ngModel)]="email" placeholder="Username / Email" autofocus>
  </p>

  <p class="center">
    <button class="btn blue" (click)="reset()" [disabled]="!validateReset() || resetButtonDisabled">
      Reset Password
    </button>
  </p>
</form>

<app-footer></app-footer>
