.masthead {
  border-bottom: 10px solid #efeaea;
  .masthead-header { margin: 40px auto 0; }
  .masthead-image {
    position: relative;
    top: 30px;
    width: 710px;
    height: 273px;
    margin: auto;
    text-align: center;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      left: 50%;
      margin-left: -360px;
    }

    .masthead-image-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      font-size: 26px;
      font-weight: bold;
      width: 230px;
      margin: auto;
      height: 70px;
      padding-top: 18px;
      cursor: pointer;
      z-index: 5;
      a { color: #fff; text-decoration: none; }
    }
  }
}

.download {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 0 50px;

  a { text-decoration: none; }

  .version {
    padding: 50px 0 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .prompt { text-align: center; font-size: 20px; }

  .screen { text-align: center; padding: 50px 0 0; }

  .learn {
    width: 240px;
    height: 60px;
    line-height: 60px;
    background-color: #5e5a5a;
    border-radius: 5px;
    color: #fff;
    margin: 30px auto 0;
    text-align: center;
    font-size: 22px;
  }
}

.choices {
  width: 100%;
  background-color: #efeaea;
  padding: 50px 0;

  .inner { width: 100%; max-width: 1000px; margin: auto; }

  .row {
    overflow: auto;

    .row-header {
      font-size: 23px;
      text-align: center;
      color: #ff7756;
      margin: 40px 0;
    }

    .half { float:left; width: 50%; }

    .platform {
      width: 250px;
      height: 350px;
      display: inline-block;
      vertical-align: middle;
      border: 2px solid #cccbcb;
      text-align: center;
      margin-right: -5px;

      &.long { width: 500px; }

      &:hover .normal { display: none; }
      .normal {
        padding: 15px;
        display: block;
      }

      &:hover .hover { display: block; }
      .hover {
        z-index: 5;
        width: 100%;
        height: 100%;
        padding: 80px 15px 15px;
        display: none;
        background-color: #fff;

        a { text-decoration: none; }

        .platform-download {
          width: 150px;
          height: 40px;
          line-height: 40px;
          background-color: #5e5a5a;
          border-radius: 5px;
          color: #fff;
          margin: 30px auto 0;
          text-align: center;
          font-size: 20px;
          cursor: pointer;
        }

        .platform-learn {
          width: 150px;
          height: 40px;
          line-height: 40px;
          background-color: #ff7756;
          border-radius: 5px;
          color: #fff;
          margin: 20px auto 0;
          text-align: center;
          font-size: 20px;
          cursor: pointer;
        }

        .platform-apk {
          width: 150px;
          height: 40px;
          line-height: 40px;
          background-color: #ff7756;
          border-radius: 5px;
          color: #fff;
          margin: 10px auto 0;
          text-align: center;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .platform-title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
      }

      .plaform-version { padding-bottom: 30px; }

      .image-container {
        width: 50%;
        margin: 30px auto;
        img { width: 100%; }
      }
      .ios-badge {
        margin: 25px 0 0;
        img { width: 150px; }
      }
      .android-badge {
        margin: 10px 0 0;
        img { width: 170px; }
      }
    }
  }
}

.different {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 0 80px;
  text-align: center;

  .header { margin: 40px 0; }

  .diff-images {
    margin-bottom: 60px;
    img { width: 100%; }
  }

  .btn {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
}

.btn {
  font-size: 24px;
  width: 341px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.modal .modal-content .modal-footer .btn { margin: 0; }

.desktop { display: inline-block; }
.mobile { display: none; }

@media (max-width: 1030px) {
  .choices .row .platform {
    display: block;
    margin: 0 auto 30px;
  }

  .mobile { display: block; }
  .desktop { display: none; }
  .choices .row .half:first-child { width: 100%; }
}

@media (max-width: 715px) {
  .masthead .masthead-image { width: auto; }
}

@media (max-width: 700px) {
  .content { padding: 0 10px; }
}

@media (max-width: 510px) {
  .choices .row .platform.long { width: 90%; }
}

@media (max-width: 375px) {
  .btn { width: 280px; }
  .different .btn { width: 280px; }
}
