<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!--
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	-->

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<!--
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>TRACE</param-value>
		</init-param>
		-->
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>AppAPI</servlet-name>
		<url-pattern>/api/v0/app/*</url-pattern>
		<url-pattern>/api/v1/app/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NetworkAPI</servlet-name>
		<url-pattern>/api/v0/network/*</url-pattern>
		<url-pattern>/api/v1/network/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BackendProxy</servlet-name>

		<!-- API v0 resources handled by backend -->
		<url-pattern>/api/v0/account/*</url-pattern>
		<url-pattern>/api/v0/location/*</url-pattern>
		<url-pattern>/api/v0/subscription/*</url-pattern>
		<url-pattern>/api/v0/vpn/*</url-pattern>

		<!-- API v1 resources handled by backend -->
		<url-pattern>/api/v1/account/*</url-pattern>
		<url-pattern>/api/v1/location/*</url-pattern>
		<url-pattern>/api/v1/subscription/*</url-pattern>
		<url-pattern>/api/v1/vpn/*</url-pattern>

	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BloggerProxy</servlet-name>

		<!-- API v0 resources handled by appengine -->
		<url-pattern>/api/v0/blog/*</url-pattern>

		<!-- API v1 resources handled by appengine -->
		<url-pattern>/api/v1/blog/*</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>BackendProxy</servlet-name>
		<servlet-class>com.cypherpunk.appengine.BackendProxy</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BloggerProxy</servlet-name>
		<servlet-class>com.cypherpunk.appengine.BloggerProxy</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NetworkAPI</servlet-name>
		<servlet-class>com.cypherpunk.appengine.NetworkAPI</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AppAPI</servlet-name>
		<servlet-class>com.cypherpunk.appengine.AppAPI</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>acme-challenge</servlet-name>
		<servlet-class>com.cypherpunk.appengine.AcmeChallenge</servlet-class>
	</servlet>

	<servlet-mapping>
	<url-pattern>/.well-known/acme-challenge/*</url-pattern>
		<servlet-name>acme-challenge</servlet-name>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>no-welcome-file</welcome-file>
	</welcome-file-list>

</web-app>
