<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">How Cypherpunk Privacy Works</div>
  <div class="masthead-subheader">
    Learn how Cypherpunk Privacy enables unrestricted access to the internet while protecting your online privacy and freedom.
  </div>
</div>

<div class="content">
  <div class="header">
    How Cypherpunk Protects Your Online Privacy
  </div>

  <div class="body">
    <div class="left">
      <div class="image"></div>

      <div class="text">
        <div class="text-header">
          Hide your IP Address & Location
        </div>

        <p>
          Cypherpunk Privacy hides your IP address and location, which helps prevent people from tracking and monitoring what you do on the internet.
        </p>
      </div>
    </div>

    <div class="right">
      <div class="image"></div>

      <div class="text">
        <div class="text-header">
          Encrypt your communications
        </div>

        <p>
          Cypherpunk Privacy encrypts your online communications, keeping it private from ISP’s, governments and hackers.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content gray">
  <div class="header">
    How Cypherpunk Protects Your Online Freedom
  </div>

  <div class="body">
    <div class="left">
      <div class="image"></div>

      <div class="text">
        <div class="text-header">
          View blocked websites from anywhere
        </div>

        <p>
          Cypherpunk Privacy unblocks websites and content, regardless of your location.
        </p>
      </div>
    </div>

    <div class="right">
      <div class="image"></div>

      <div class="text">
        <div class="text-header">
          Prevent surveillance and censorship
        </div>

        <p>
          Cypherpunk Privacy gives you private, unrestricted access to the internet.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content bottom">
  <div class="upper">
    Try Cypherpunk Privacy today for Free
  </div>

  <div class="cta-container">
    <div class="call-to-action">
      <button class="btn gold" routerLink="/download">
        START MY FREE PREVIEW
      </button>
    </div>
  </div>

  <div class="available">
    <div class="subheader">
      Available for
      <a routerLink="/download" fragment="desktop">Desktop</a>,
      <a routerLink="/download" fragment="browser">Browser</a>,
      <a routerLink="/download" fragment="android">Android</a>,
      <a routerLink="/download" fragment="ios">iOS</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
