<div class="masthead">
  <app-acc-nav></app-acc-nav>

  <h1 class="masthead-header header white">Setup</h1>
</div>

<div class="breadcrumb">
  <a routerLink="/account">Account</a> > Setup
</div>

<div class="content">

  <div class="header">Manual VPN/proxy Setup</div>

  <div class="vpn-select-container">
    <label for="vpnSelect">Choose a vpn client:</label>
    <select name="vpnSelect" id="vpn-select" [(ngModel)]="vpnSelect">
      <option value="openvpn2.3">OpenVPN 2.3</option>
      <option value="openvpn2.4">OpenVPN 2.4</option>
      <option value="ipsec">IPSec VPN</option>
      <option value="ike">IKEv2 VPN</option>
      <option value="proxy">Proxy Protocols</option>
    </select>
  </div>

  <hr>

  <div id="openvpn" class="vpn" [ngClass]="{'show': vpnSelect === 'openvpn2.3'}">
    <div class="subheader">OpenVPN 2.3</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
    </div>

    <div class="location-select-container">
      <label for="locations">Please choose a location: </label>
      <br>
      <select name="locations" id="ov-locations" [(ngModel)]="country23Select" (ngModelChange)="updateProfile('23')">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [attr.selected]="country.default" [disabled]="freeAccount && country.level !== 'free'">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>
    </div>

    <textarea class="profile" [(ngModel)]="profile23" readonly></textarea>

    <div class="download-container">
      <button class="btn blue" (click)="downloadProfile('23')" [disabled]="!download23ButtonEnabled || !country23Select">
        Download
      </button>
    </div>
  </div>

  <div id="openvpn" class="vpn" [ngClass]="{'show': vpnSelect === 'openvpn2.4'}">
    <div class="subheader">OpenVPN 2.4</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
    </div>

    <div class="location-select-container">
      <label for="locations">Please choose a location: </label>
      <br>
      <select name="locations" id="ov-locations" [(ngModel)]="country24Select" (ngModelChange)="updateProfile('24')">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [attr.selected]="country.default" [disabled]="freeAccount && country.level !== 'free'">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>
    </div>

    <textarea class="profile" [(ngModel)]="profile24" readonly></textarea>

    <div class="download-container">
      <button class="btn blue" (click)="downloadProfile('24')" [disabled]="!download24ButtonEnabled || !country24Select">
        Download
      </button>
    </div>
  </div>

  <div id="ipsec" class="vpn" [ngClass]="{'show': vpnSelect === 'ipsec'}">
    <div class="subheader">IPSec VPN</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
      <strong>Hostname for </strong>
      <select name="locations" id="ov-locations" [(ngModel)]="ipsecSelect">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [attr.selected]="country.default" [disabled]="freeAccount && country.level !== 'free'">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>:
      <br>
      {{ipsecSelect}}<br>
    </div>
  </div>

  <div id="ike" class="vpn" [ngClass]="{'show': vpnSelect === 'ike'}">
    <div class="subheader">IKEv2 VPN</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
      <strong>Hostname for </strong>
      <select name="locations" id="ov-locations" [(ngModel)]="ikeSelect">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [attr.selected]="country.default" [disabled]="freeAccount && country.level !== 'free'">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>:
      <br>
      {{ikeSelect}}<br>
    </div>
  </div>

  <div id="http" class="vpn" [ngClass]="{'show': vpnSelect === 'proxy'}">
    <div class="subheader">Proxy Protocols</div>

    <div class="privacy">
      <strong>Username: </strong><br>
      {{user.privacy.username}}
      <br><br>
      <strong>Password: </strong><br>
      {{user.privacy.password}}
      <br><br>
      <strong>Hostname for </strong>
      <select name="locations" id="ov-locations" [(ngModel)]="httpSelect">
        <optgroup *ngFor="let region of regionArray" [label]="region.name">
          <option *ngFor="let country of region.countries" [value]="country.ipsecHostname" [attr.selected]="country.default" [disabled]="freeAccount && country.level !== 'free'">
            {{country.name}} <span *ngIf="freeAccount && country.level !== 'free'">(premium)</span>
          </option>
        </optgroup>
      </select>:
      <br>
      {{httpSelect}}<br><br>

      <span>
        <strong>Ports to use:</strong> <br>
        http:// -> 80<br>
        https:// -> 3128<br>
        socks:// -> 1080
      </span>
    </div>
  </div>
</div>

<div class="return">
  <a routerLink="/account">Back to Account</a>
</div>

<app-footer></app-footer>

<app-loading [state]="loading"></app-loading>
