.footerContainer {
  width: 100%;
  background-color: #0e003f;
  overflow: auto;
}

.footer {
  max-width: 1000px;
  height: 367px;
  margin: auto;
}

.footer-column {
  height: 100%;
  padding-top: 50px;
  margin-left: 45px;
  float: left;
}

.footer-column.logo {
  padding-top: 45px;
  margin-left: 15px;
  width: 250px;
}

.footer-column.logo img {
  width: 227px;
  height: 40px;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.93;
  color: #7972c4;
}

.btn {
  margin-top: 45px;
  width: 115px;
  height: 39px;
  background-color: #1987bd;
  box-shadow: none;
  text-shadow: none;
}

.footer-header {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.footer-listing {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-listing li {
  font-weight: 500;
  line-height: 1.69;
  &.inline { display: inline; margin-right: 28px; }
  &.inline:last-child { margin-right: 0; }
}
.footer-listing li a {
  color: #655ab7;
  text-decoration: none;
  &:hover { color: #fff; }
}

.fa { font-size: 22px; line-height: 1.23; }
.fa-facebook-official { color: #3b5998; }
.fa-twitter { color: #4ba4eb; }
.fa-youtube-play { color: #ff0002; }
.fa-google-plus-official { color: #ff0002; }

.feedback {
  border: 1px solid #29147f;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.93;
  color: #655ab7;
  text-align: center;
  margin-top: 16px;
  width: 108px;
  &:hover { border-color: #fff; color: #fff; cursor: pointer; }
}

.safari-column-fix {
  display: none;
  height: 10px;
  width: 100%;
  overflow: auto;
}

@media (max-width: 1000px) {
  .footer { height: inherit; }
  .footer-column {
    width: 50%;
    margin: 0;
    padding: 50px 0 0 0;
    text-align: center
  }
  .footer-column.logo {
    width: 100%;
    margin-left: 0;
    padding-bottom: 25px;
  }
  .footer-column.social {
    width: 50%;
    margin: 0;
    text-align: center;
    padding: 50px 0 0 0;

    .footer-listing {
      .inline {
        display: block;
        margin: 0;
      }
    }
  }
  .feedback { margin: 16px auto; }
  .footer-column.logo .btn { width: 341px; height: 80px; font-size: 24px; }
}

@media (max-width: 375px) {
  .safari-column-fix { display: block; }
  .footer-column.logo .btn { width: 300px; }
}
