<div class="footerContainer">
  <div class="footer">

    <div class="footer-column logo">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo-bl.png" alt="CypherPunk">
        </a>
      </div>

      <div class="footer-copyright">
        Copyright @ 2016 Cypherpunk Partners
      </div>

      <button class="btn gold" routerLink="signup">start free</button>
    </div>

    <div class="footer-column">
      <div class="footer-header">Product</div>
      <ul class="footer-listing">
        <li><a routerLink="/download">Download</a></li>
        <li><a routerLink="/learn">Learn More</a></li>
        <li><a routerLink="/join">Get Cypherpunk Now</a></li>
        <li><a routerLink="/signup">Start Free</a></li>
        <li><a routerLink="/login">Log in</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-header">About Us</div>
      <ul class="footer-listing">
        <li><a routerLink="/download">Contact</a></li>
        <li><a routerLink="/download">Who We Are</a></li>
        <li><a routerLink="/download">Blog</a></li>
        <li><a routerLink="/download">Affiliate Program</a></li>
        <li><a routerLink="/download">Vulnerability program/bounty program</a></li>
        <li><a routerLink="/download">Privacy Policy</a></li>
        <li><a routerLink="/download">Terms of Service</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-header">Stay In Touch</div>
      <ul class="footer-listing">
        <li><a routerLink="/download">Facebook</a></li>
        <li><a routerLink="/download">Twitter</a></li>
        <li><a routerLink="/download">YouTube</a></li>
        <li><a routerLink="/download">RSS(Blog)</a></li>
      </ul>
    </div>

  </div>
</div>
