<div class="footerContainer">
  <div class="footer">

    <div class="footer-column logo">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo-gr@2x.png" alt="Cypherpunk Privacy">
        </a>
      </div>

      <div class="footer-copyright">
        Copyright @ 2016 Cypherpunk Partners
      </div>

      <button class="btn gold" routerLink="signup">start free</button>
    </div>

    <div class="footer-column">
      <div class="footer-header">Cyperpunk Privacy</div>
      <ul class="footer-listing">
        <li><a routerLink="/whyus">Why Cypherpunk?</a></li>
        <li><a routerLink="/howitworks">How it Works</a></li>
        <li><a routerLink="/locations">Locations</a></li>
        <li><a routerLink="/download">Download</a></li>
        <li><a routerLink="/premium">Premium</a></li>
        <li><a href="https://support.cypherpunk.com/hc">Help</a></li>
        <li><a routerLink="/user">My Account</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-header">Available On</div>
      <ul class="footer-listing">
        <li><a routerLink="/download" fragment="browser">Browser</a></li>
        <li><a routerLink="/download" fragment="mac">Mac</a></li>
        <li><a routerLink="/download" fragment="windows">Windows</a></li>
        <li><a routerLink="/download" fragment="ios">iPhone & iPad</a></li>
        <li><a routerLink="/download" fragment="android">Android</a></li>
        <li><a routerLink="/download" fragment="linux">Linux</a></li>
        <li><a routerLink="/download" fragment="routers">Routers</a></li>
      </ul>
    </div>

    <div class="safari-column-fix"></div>

    <div class="footer-column">
      <div class="footer-header">Company</div>
      <ul class="footer-listing">
        <li><a routerLink="/aboutus">About Us</a></li>
        <!-- <li><a routerLink="/press">Press</a></li> -->
        <!-- <li><a routerLink="/blog">Blog</a></li> -->
        <li><a routerLink="/privacy">Privacy Policy</a></li>
        <li><a routerLink="/tos">Terms of Service</a></li>
        <li><a routerLink="/bounty">Bounty Program</a></li>
      </ul>
    </div>

    <div class="footer-column social">
      <div class="footer-header">Stay In Touch</div>
      <ul class="footer-listing inline">
        <li class="inline">
          <a href="https://www.facebook.com/Cypherpunk-Privacy-1753643554959348/" target="_blank">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>
        <li class="inline">
          <a href="https://twitter.com/cypherpunkvpn" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="inline">
          <a href="https://www.youtube.com/channel/UC49dmab2TAxI7yj1TZ8QqmQ" target="_blank">
            <i class="fa fa-youtube-play"></i>
          </a>
        </li>
        <li class="inline">
          <a href="https://plus.google.com/u/3/107488558916493732044" target="_blank">
            <i class="fa fa-google-plus-official"></i>
          </a>
        </li>
      </ul>
      <div class="feedback">
        Leave Feedback
      </div>
    </div>

  </div>
</div>
