<div class="footerContainer">
  <div class="footer">

    <div class="footer-column logo">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo-gr.png" alt="CypherPunk">
        </a>
      </div>

      <div class="footer-copyright">
        Copyright @ 2016 Cypherpunk Partners
      </div>

      <button class="btn gold" routerLink="signup">start free</button>
    </div>

    <div class="footer-column">
      <div class="footer-header">Product</div>
      <ul class="footer-listing">
        <li><a routerLink="/download">Download</a></li>
        <li><a routerLink="/learn">Learn More</a></li>
        <li><a routerLink="/join">Get Cypherpunk Now</a></li>
        <li><a routerLink="/signup">Start Free</a></li>
        <li><a routerLink="/login">Log in</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-header">About Us</div>
      <ul class="footer-listing">
        <li><a routerLink="/download">Contact</a></li>
        <li><a routerLink="/download">Who We Are</a></li>
        <li><a routerLink="/download">Blog</a></li>
        <li><a routerLink="/download">Affiliate Program</a></li>
        <li><a routerLink="/download">Vulnerability program/bounty program</a></li>
        <li><a routerLink="/download">Privacy Policy</a></li>
        <li><a routerLink="/download">Terms of Service</a></li>
      </ul>
    </div>

    <div class="footer-column social">
      <div class="footer-header">Stay In Touch</div>
      <ul class="footer-listing inline">
        <li class="inline">
          <a routerLink="/download">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>
        <li class="inline">
          <a routerLink="/download">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="inline">
          <a routerLink="/download">
            <i class="fa fa-youtube-play"></i>
          </a>
        </li>
        <li class="inline">
          <a routerLink="/download">
            <i class="fa fa-rss"></i>
          </a>
        </li>
      </ul>
      <div class="feedback">
        Leave Feedback
      </div>
    </div>

  </div>
</div>
