<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Bug Bounty</div>
</div>

<div class="content">
  <p>
    This Privacy Policy describes how Cypherpunk Inc. ("Cypherpunk”) handles your personal information when you use our services (“Services”).
  </p>

  <br><br>

  <div class="header">1. Bug Bounty Header</div>

  <hr />

  <p>
    As a provider of an online privacy service, we ultimately strive to collect the minimal amount of information required to operate our service. This often means difficult trade-offs between the information we collect and the performance of our service.
  </p>

  <br><br>

  <div class="subheader">1.1 What is Personal Information?</div>

  <p>
    As described below, “Personal Information” means any information that identifies you and includes information provided by you while using our Services. If we use or store Personal Information with information that is non-personal, we will consider the combination as Personal Information.
  </p>

  <br><br>

  <table>
    <thead>
      <tr>
        <th>Account Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email address</td>
        <td>General communications, purchase receipts</td>
      </tr>
      <tr>
        <td>Email confirmed</td>
        <td>Confirmation that your email addres is valid</td>
      </tr>
      <tr>
        <td>Paid user</td>
        <td>Provide paid user with unlimited data</td>
      </tr>
      <tr>
        <td>Paid user expiry date</td>
        <td>Provide paid service until this date</td>
      </tr>
    </tbody>
  </table>

  <br><br>

</div>

<app-footer></app-footer>
