<div class="content">
  <div class="content-inner">
    <div class="content-header">
      Refer your friends!
    </div>

    <div class="content-subheader">
      For every friend who signs up, we’ll give you both XX days free.
    </div>

    <div class="refer">
      <div class="refer-input">
        <input type="text" name="name" placeholder="Your Full Name" [(ngModel)]="invitee.name">
      </div>

      <div class="refer-input">
        <input type="text" name="email" placeholder="Email" [(ngModel)]="invitee.email">
      </div>

      <div class="refer-submit">
        <button class="btn orange" (click)="invite()">Invite</button>
      </div>
    </div>

    <div class="line-container">
      <div class="line"></div>
    </div>

    <div class="share">
      <div class="social">
        <div class="platform">
          <a href="https://www.facebook.com/sharer/sharer.php?u=cypherpunk.com%3Fpk_campaign%3DTeaserShares%26pk_kwd%3DTeaserShareFB" target="_blank" rel="noopener noreferrer" onclick="_paq.push(['trackGoal', 3]);">
            <div class="facebook">
              <div class="logo">
                <img src="/assets/landing/facebook-hover@2x.png" alt="Facebook">
              </div>

              <div class="text">Share</div>
            </div>
          </a>
        </div>

        <div class="platform">
          <a href="https://twitter.com/intent/tweet?text=%23CypherpunkIsComing.%20Don%E2%80%99t%20miss%20out%2C%20secure%20your%20free%20preview%20now!&url=https%3A%2F%2Fcypherpunk.com%2F%3Fpk_campaign%3DTeaserShares%26pk_kwd%3DTeaserShareTwitter&hashtags=onlineprivacy&via=cypherpunkvpn" data-size="large" target="_blank" onclick="_paq.push(['trackGoal', 4]);">
            <div class="twitter">
              <div class="logo">
                <img src="/assets/landing/twitter-hover@2x.png" alt="Twitter">
              </div>

              <div class="text">Share</div>
            </div>
          </a>
        </div>
      </div>

      <div class="share-link">
        <button class="copy" (click)="copy()">Copy</button>

        <input id="cp-share" class="copy-input" type="text" value="https://cypherpunk.com">
      </div>
    </div>

  </div>
</div>

<modal [(show)]="showInvitationSent">
  <div modalHeader>Invitation(s) Sent!</div>
</modal>
