html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #163439;
}
*, *:before, *:after { box-sizing: inherit; }

.container { min-height: 100%; width: 100%; max-width: 1000px; margin: 0 auto -40px; }
.container:after { content: ''; display: block; }
.footer { text-align: center; padding: 10px; a { color: #fff; } }
.footer, .container:after { height: 40px;}

.navigation {
  height: 75px;
  overflow: auto;
  .nav-left {
    float: left;
    padding: 15px;
    img { height: 40px; }
  }
  .nav-right {
    color: #7ffffb;
    float: right;
    padding: 27px 15px 0;
  }
}

.image-con {
  height: 257px;
  position: absolute;
  left: -40px;
  top: 150px;
  img { height: 100%; }
}

.header {
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  padding: 0 20px 30px;
  span { color: #7ffffb; }
}

.countdown {
  text-align: center;
  .time {
    width: 110px;
    margin-right: 20px;
    display: inline-block;
    &:last-child { margin-right: 0; }
    .display {
      background-color: #101010;
      width: 100px;
      height: 100px;
      margin: auto;
      font-size: 45px;
      line-height: 95px;
      border-radius: 5px;
      border: 3px solid #19474c;
    }
    .type { font-size: 21px; padding: 15px 0 0; color: #7ffffb; }
  }
}

.subheader {
  font-size: 24px;
  text-align: center;
  padding: 25px 20px 0;
  margin-bottom: 0;
  span { color: #7ffffb; }
}

.subtext {
  color: #7ffffb;
  font-size: 18px;
  margin: 10px auto 40px;
  padding: 0 20px;
  text-align: center;
}

.email {
  text-align: center;
  margin: 0 auto 40px;
  input {
    color: #fedf89;
    height: 60px;
    width: 370px;
    padding: 0 15px;
    font-size: 18px;
    background-color: #010011;
    border: 2px solid #ff7857;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: middle;
  }
  button {
    height: 60px;
    width: 170px;
    margin-left: -5px;
    color: #fff;
    font-size: 24px;
    background-color: #ff7857;
    border: 2px solid #ff7857;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: middle;
  }
}

.social {
  text-align: center;
  font-weight: bold;
  padding: 0 20px;
  .proof { font-size: 18px; color: #7ffffb; }
  .outlet {
    display: inline-block;
    margin: 10px 15px 10px;
    &:last-child { margin-right: 0; }
    .fa { font-size: 45px; line-height: 1.23; }
    .fa-facebook-official { color: #3b5998; }
    .fa-twitter { color: #4ba4eb; }
    .fa-envelope { color: #fff; }
    .fa-google-plus-official { color: #ff0002; }
  }
}

@media (max-width: 1400px) {
  .image-con { position: relative; left: 0; top: 0; text-align: center; }
}

@media (max-width: 600px) {
  .navigation {
    text-align: center;
    height: auto;
    & > div { width: 100%; }
    .nav-right { padding: 0 0 27px;}
  }

  .email {
    input { width: 270px; }
    button { width: 100px; font-size: 20px; }
  }
}

@media (max-width: 575px) {
  .countdown .time { margin-bottom: 25px; }
  .countdown .time:last-child { margin-right: 20px; }
}

@media (max-width: 550px) {
  .image-con { display: none; }
}

@media (max-width: 400px) {
  .email {
    input { width: 200px; }
    button { width: 80px; font-size: 16px; }
  }
}
