.content {
  width: 100%;
  border-bottom: 10px solid #efeaea;

  .content-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;

    .content-header {
      color: #ff7857;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-align: center;
      margin-bottom: 50px;
    }

    .content-row {
      margin: 0 auto;
      padding: 15px;
      width: 90%;
      border-bottom: 1px solid #d8d8f6;
      overflow: auto;
      font-size: 20px;
      color: #483c91;
      font-size: 18px;
      a { text-decoration: underline; color: #483c91; cursor: pointer; }
      a:hover { color: #9c93d3; }
      .heading { padding-left: 25px; font-weight: bold; }
      .left { float: left; padding-left: 25px; }
      .right { float: right; padding-right: 25px; }
      .full { padding-left: 25px; }
      .email { color: #7972c4; }
      .uppercase { text-transform: uppercase; }
      &:last-child { margin-bottom: 25px; }
      &.clickable:hover { color: #9c93d3; }
    }
  }
}
