<div class="content">
  <div class="content-inner">
    <div class="content-header">Subscription</div>

    <section>
      <div class="content-row">
        <div class="full">Subscriber Since: </div>
      </div>

      <div class="content-row">
        <div class="left">Your subscription renews in/expire in:</div>
        <div class="right">Change Plan</div>
      </div>

      <div class="content-row">
        <div class="left">Payment method: Credit Card (ending in 3275) </div>
        <div class="right clickable" (click)="showPaymentDetails = !showPaymentDetails">
          View your Credit Card Info
        </div>
      </div>

      <account-payment [state]="state" [show]="showPaymentDetails"></account-payment>

      <div class="content-row">
        <div class="full">Next billing: January 08, 2018 - $39.95</div>
      </div>

      <div class="content-row">
        <div class="full">
          <a routerLink="/account/billing">
            Cancel My Subscription
          </a>
          <div class="cancelled" *ngIf="cancelled">
            Your automatic payments have be cancelled, but you will still be able to log in Cypherpunk Privacy until January 8, 2018.
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
