<div class="content">
  <div class="content-inner">
    <div class="content-header">Subscription</div>

    <section>
      <div class="content-row">
        Subscriber Since: <span class="info"></span>
      </div>

      <div class="content-row">
        <div class="left">
          Your subscription renews in/expire in: <span class="info"></span>
        </div>
        <div class="right">
          <a>Change Plan</a>
        </div>
      </div>

      <div class="content-row">
        <div class="left">
          Payment method: <span class="info">Credit Card (ending in 3275)</span>
          </div>
        <div class="right">
          <a (click)="showPaymentDetails = !showPaymentDetails">
            View your Credit Card Info
          </a>
        </div>

        <div class="payment">
          <account-payment [state]="state" [show]="showPaymentDetails"></account-payment>
        </div>
      </div>

      <div class="content-row">
        Next billing: <span class="info">January 08, 2018 - $39.95</span>
      </div>

      <div class="content-row">
        <a routerLink="/account/billing">
          Cancel My Subscription
        </a>
        <div class="cancelled" *ngIf="cancelled">
          Your automatic payments have be cancelled, but you will still be able to log in Cypherpunk Privacy until January 8, 2018.
        </div>
      </div>
    </section>
  </div>
</div>
