<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Privacy Policy</div>
</div>

<div class="content">
  <p>
    This Privacy Policy describes how Cypherpunk Inc. ("Cypherpunk”) handles your personal information when you use our services (“Services”).
  </p>

  <p>
    When using our Services, you agree to let us administer your data as we describe in this Privacy Policy.
  </p>

  <p>
    Cypherpunk is a global company, with headquarters in Japan. Although our physical servers are located in many different countries around the world, Cypherpunk does not store personally identifiable information outside of Japan's physical borders. By using our services, you authorize Cypherpunk to use your information according to Japan's laws, regardless of which country you are located in.
  </p>

  <p>
    If you have any questions or comments about this Privacy Policy, please contact us at: privacy (at) cypherpunk.com
  </p>

  <br><br>

  <div class="header">1. Personal Information Collection</div>

  <hr />

  <p>
    As a provider of an online privacy service, we ultimately strive to collect the minimal amount of information required to operate our service. This often means difficult trade-offs between the information we collect and the performance of our service.
  </p>

  <p>
    We believe that extraordinary openness and transparency around the data we collect, why we collect it and how we handle it can be a foundation of trust in our service. We welcome your thoughts and feedback on this evolving document.
  </p>

  <br><br>

  <div class="subheader">1.1 What is Personal Information?</div>

  <p>
    As described below, “Personal Information” means any information that identifies you and includes information provided by you while using our Services. If we use or store Personal Information with information that is non-personal, we will consider the combination as Personal Information.
  </p>

  <br><br>

  <div class="subheader">1.2 Account User Data</div>

  <p>
    When you create or update your Cypherpunk user account, we collect and store this “Account Data”. The Account Data stored is listed below in its entirety:
  </p>

  <table>
    <thead>
      <tr>
        <th>Account Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email address</td>
        <td>General communications, purchase receipts</td>
      </tr>
      <tr>
        <td>Email confirmed</td>
        <td>Confirmation that your email addres is valid</td>
      </tr>
      <tr>
        <td>Paid user</td>
        <td>Provide paid user with unlimited data</td>
      </tr>
      <tr>
        <td>Paid user expiry date</td>
        <td>Provide paid service until this date</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <div class="subheader">1.3 Operational Data</div>

  <p>
    Cypherpunk Privacy also collects and stores “Operational Data” required to operate our Services. This is data that we collect and store when you connect to our network. Operational data is listed below in its entirety:
  </p>

  <table>
    <thead>
      <tr>
        <th>Operational Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          OS Version
          <br>
          e.g. iOS 7
        </td>
        <td>User support, troubleshooting and product planning</td>
      </tr>
      <tr>
        <td>
          Cyperpunk Privacy App Version
          <br>
          e.g. PC version 2.1.1
        </td>
        <td>User support and troubleshooting</td>
      </tr>
      <tr>
        <td>
          Overall Lifetime Connections (No Timestamps)
          <br>
          e.g. 54356 times
        </td>
        <td>Customer satisfaction and support</td>
      </tr>
      <tr>
        <td>
          Active this month
          <br>
          e.g. 1 or 0
        </td>
        <td>
          Customer satisfaction, support, network deman planning
        </td>
      </tr>
      <tr>
        <td>
          Total data used this month
          <br>
          e.g. 22.34 GB
        </td>
        <td>
          Customer satisfaction, support, network demand planning, granting free user data
        </td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <div class="subheader">
    1.3.1 Additional Operational User Data if using Cypherpunk Privacy feature
  </div>

  <p>
    Cypherpunk’s optional privacy feature blocks ads, scripts, cookies, beacons and social buttons. In order to provide you with reporting about the source and quantity of trackers we blocked for you, we store the information below:
  </p>

  <table>
    <thead>
      <tr>
        <th>Operational Privacy Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Anonymized to Top Level Domain
          <br>
          e.g. doubleclick.com
        </td>
        <td>User support, troubleshooting and product planning</td>
      </tr>
      <tr>
        <td>
          Times Blocked
          <br>
          e.g. 3545
        </td>
        <td>
          Provide user information on quantity of trackers Cypherpunk Privacy blocked
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    Cypherpunk Privacy explicitly does not store the tracker subdomains or longer unique tracking urls, nor do we timestamp any blocked trackers.
  </p>

  <br><br>

  <div class="subheader">
    1.4 Personal and Financial Data Collected at Payment
  </div>

  <p>
    Making a purchase with a credit card on any service will result in personally identifiable information being exchanged with payment processors. For an anonymous purchase experience, Cypherpunk Privacy is pleased to offer payment through Bitcoin. No information is collected or stored from Bitcoin transactions.
  </p>

  <p>Credit Card Transactions</p>

  <p>
    Cyperpunk Privacy processes credit card payment information securely through Stripe and PayPal. Credit card processors store Personal Information associated with financial transactions outside of Canada's borders.
  </p>

  <p>
    When you pay with credit card, Cypherpunk Privacy stores the following information:
  </p>

  <table>
    <thead>
      <tr>
        <th>Payment Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Cardholder last name
          <br>
          e.g Smith
        </td>
        <td>
          For use in credit card fraud prevention
        </td>
      </tr>
      <tr>
        <td>
          Date of card use
          <br>
          e.g. 2014/01/01
        </td>
        <td>
          For use in credit card fraud prevention
        </td>
      </tr>
      <tr>
        <td>
          Last Four Numbers of Credit Card
          <br>
          e.g. 5555
        </td>
        <td>
          For use in credit card fraud prevention
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    Cypherpunk Privacy does not store, but can securely login and view the following information through our third party payment processors Stripe and PayPal:
  </p>

  <table>
    <thead>
      <tr>
        <th>Payment Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Card Billing Address</td>
        <td>For use in credit card fraud prevention</td>
      </tr>
      <tr>
        <td>Card Expiry</td>
        <td>For use in credit card fraud prevention</td>
      </tr>
      <tr>
        <td>Last Four Numbers of Credit Card</td>
        <td>For use in credit card fraud prevention</td>
      </tr>
    </tbody>
  </table>

  <p>
    Cypherpunk Privacy never stores your complete credit card number. To keep your payment information secure, we adopt all available security and multi-factor authentication measures available from these providers.
  </p>

  <p>
    Cypherpunk Privacy operates exclusively with PCI compliant payment processors. Only our payment processors have the ability to collect, use and access your full credit card information and other financial information. They can use this information solely for the purpose of charging and invoicing you for our (paid) Services.
  </p>

  <br><br>

  <div class="subheader">1.5 Other Data Cypherpunk Just does NOT Collect</div>

  <p>
    Cypherpunk explicitly does NOT collect, store or log the following data:
  </p>

  <ul>
    <li>IP addresses visiting our website</li>
    <li>IP addresses upon service connection</li>
    <li>Any information about the applications, services or websites our users use while connected to our Service</li>
  </ul>

  <p>No logging!</p>

  <br><br>

  <div class="header">2. Personal Information</div>

  <hr />

  <p>
    Any Personal Information you provide to Cypherpunk Privacy will be administered according to the following principles:
  </p>

  <div class="subheader">
    2.1 Other Data Cypherpunk Just does NOT Collect
  </div>

  <p>
    Should you have any concerns about how your information is handled or questions about our privacy policy, feel free to contact us at privacy (at) cypherpunk.com
  </p>

  <br><br>

  <div class="subheader">
    2.2 Disclosure of Information to Third Parties
  </div>

  <p>
    Except as described below, Cypherpunk Privacy will NOT disclose any information to other commercial parties under any circumstance.
  </p>

  <p>
    In the event Cypherpunk Privacy is required to comply with law enforcement where subpoenas, warrants or other legal documents have been provided, valid under Canadian jurisdiction, the extent of disclosure is limited to the “Personal Information” listed within this privacy policy.
  </p>

  <p>
    As noted above, Cypherpunk Privacy utilizes PCI-compliant third party payment processors to collect your credit card and other billing information.
  </p>

  <p>
    If our organization structure changes (i.e we undergo a restructuring or are acquired), we may need to migrate your Personal Information to a third party related to a business transaction, but, we will ensure that such a third party has entered into an agreement under which the use of your Personal Information is only related to purposes necessary for the transaction.
  </p>

  <p>
    Cypherpunk Privacy does NOT store users originating IP addresses when connected to our service and thus cannot identify users when provided IP addresses of our servers. Additionally, we cannot disclose information about the applications, services or websites our users consume while connected to our Services; as Cypherpunk Privacy does NOT store this information.
  </p>

  <br><br>

  <div class="subheader">2.3 Consent</div>

  <p>
    Unless otherwise required by law, we will obtain your consent whenever we collect your Personal Information or make changes to the Operational Information we store. Your consent may be expressed or implied. In certain circumstances your consent may be implied by your actions. For example, by providing us Personal Information to sign up for our Service, it is implied that we can use such information as we outlined in this privacy policy.
  </p>

  <p>
    The form of consent sought by Cypherpunk Privacy may vary depending on the nature of the information. In determining the appropriate form of consent, Cypherpunk Privacy will take into account the sensitivity of the information and your reasonable expectations. Implied consent will generally be appropriate where information is less sensitive.  You have the right to withhold your consent on any request to use your Personal Information. To exercise your choices, or ask questions about your Personal Information, please contact: privacy (at) cypherpunk.com
  </p>

  <br><br>

  <div class="subheader">2.4 Limiting Collection</div>

  <p>
    We take great care to not collect Personal Information indiscriminately and limit collection to the minimum necessary information required to operate our service. By limiting the collection of data, we help to protect the privacy and security of your Personal Information.
  </p>

  <br><br>

  <div class="subheader">
    2.5 Limiting Use, Disclosure, and Retention
  </div>

  <p>
    We will not use your Personal Information for any purpose that you have not consented to. Cypherpunk Privacy will NOT sell or trade Personal Information for commercial purposes.
  </p>

  <p>
    Only Cypherpunk Privacy’s employees with a business need to know or whose duties require, are granted access to our customers’ Personal Information. All such employees will be required as a condition of employment to respect the confidentiality of our customers’ Personal Information.
  </p>

  <p>
    We store your Personal Information only as long as it is necessary for the purposes for which it is collected. We erase or destroy the records containing Personal Information when they are no longer required; this will be done in ways that will ensure your continued privacy.
  </p>

  <br><br>

  <div class="subheader">2.6 Accuracy</div>

  <p>
    It is your responsibility to inform Cypherpunk Privacy of any relevant changes in your Personal Information by updating your account information.
  </p>

  <br><br>

  <div class="subheader">2.7 Safeguards</div>

  <p>
    Cypherpunk Privacy uses exceptionally strong safeguards to protect the privacy of all our records, including your Personal Information. We implement physical, business and technical security measures. These strong safeguards are designed to prevent unauthorized access, disclosure, loss, theft, copying, use or modification to your Personal Information.
  </p>

  <br><br>

  <div class="subheader">2.8 Openness and Transparency</div>

  <p>
    So that you can be confident that we are handling your Personal Information appropriately, we take extraordinary measures to document our policies and provide openness and transparency around the data we collect, why we collect it and how we handle it.
  </p>

  <br><br>

  <div class="subheader">2.9 Individual Access</div>

  <p>
    If at any time you have a question about our records containing your Personal Information, we will do our best to answer it. You have the right to be told about the kind of Personal Information we maintain and how it is used. Upon request, we will provide you with information regarding the existence, use and disclosure of your Personal Information.
  </p>

  <br><br>

  <div class="subheader">2.10 Addressing Comments and Concerns</div>

  <p>
    We believe in open dialog on and that is privacy policy is an evolving document. We welcome your thoughts and feedback on how we’re doing.
  </p>

  <br><br>

  <div class="subheader">2.11 Changes to Our Privacy Policy</div>

  <p>
    We may need to change our Privacy Policy from time-to-time and all updates will be posted online. Your continued use of our Services after the effective date of such changes constitutes your acceptance of such changes. We will post an effective date at the top of the page for your convenience.
  </p>

  <br><br>

</div>

<app-footer></app-footer>
