.masthead {
  width: 100%;
  background-color: #0e003f;

  .masthead-header { margin: 45px auto 0; padding: 0 0 96px; }
}

.content {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 60px 0 60px;
  color: #666;

  .header { text-align: left;  }

  .subheader {
    font-size: 22px;
    font-weight: 500;
    color: #1973af;
  }

  hr {
    height: 2px;
    border: solid 1px #1973af;
    margin-bottom: 25px;
  }

  table {
    color: #4a4a4d;
    line-height: 2.44;
    border-collapse: collapse;

    thead {
      color: #1973af;
      text-align: left;
      th:first-child { padding: 0 40px 0 20px; }
    }
    tr { border-bottom: 1px solid #ccc; }
    td:first-child { padding: 0 40px 0 20px; }
  }
}

@media (max-width: 1016px) {
  .content { padding: 30px 10px 60px; }
  .content {
    font-size: 14px;
    .header { font-size: 20px; }
    .subheader { font-size: 18px; }
    table thead th:first-child { padding: 0 15px 0 0; }
    table td:first-child { padding: 10px 15px 10px 0; }
    table td { padding: 10px 0 10px 0; line-height: 1.3; }
  }
}
