.masthead {
  border-bottom: 10px solid #efeaea;
  .masthead-header { margin: 30px auto; }
  .masthead-image {
    width: 100%;
    max-width: 345px;
    margin: auto;
    img { width: 100%; }
  }
}

.content {
  font-family: 'Roboto';
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 60px 0 60px;
  color: #4a4a4d;

  .line {
    width: 20px;
    height: 3px;
    background-color: #96d2d8;
  }

  .subheader {
    font-size: 22px;
    font-weight: 500;
  }

  .separator {
    width: 100%;
    max-width: 400px;
    height: 3px;
    background-color: #f3efef;
    padding: 0 10px;
    margin: 50px auto;
  }

  .last-updated { font-size: 18px; }
  .header { color: #19343b; font-size: 28px; text-align: left; margin-bottom: 20px; }
  .shift { padding-left: 15px; }
  .lead { color: #1973af; }
  .right { text-align: right; }

  .blue { color: #1973af; }
  .orange { color: #fc6146; }
}

@media (max-width: 1016px) {
  .content { padding: 30px 10px 60px; }
  .content {
    font-size: 14px;
    .header { font-size: 20px; }
    .subheader { font-size: 18px; }
  }
}
