.masthead {
  width: 100%;
  background-color: #0e003f;

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin: 40px auto 0;
    letter-spacing: 0.6px;
    span { color: #7972c4; }
  }

  .masthead-divider {
    max-width: 500px;
    border: 1px solid #220f6d;
    margin: 30px auto;
  }

  .masthead-subheader {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: 0.7px;
    color: #b4b4ef;
  }

  .masthead-banner {
    width: 1000px;
    margin: auto;
    overflow: hidden;

    .masthead-image {
      display: inline-block;
      float: left;
      height: 250px;
      width: 590px;
      img { padding-top: 46px; }
    }

    .masthead-cta {
      display: inline-block;
      float: left;
      padding: 90px 0 0 35px;

      button {
        width: 341.2px;
        height: 80px;
        color: #034698;
      }

      .subheader {
        color: #ccc;
        font-weight: 500;
        padding-top: 15px;
        text-align: center;

        a {
          color: #ccc;
          font-size: 19px;
        }
      }
    }
  }

}

.cta-container {
  position: relative;

  .call-to-action {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 344px;
    height: 90px;
    text-align: center;
    z-index: 2;

    button {
      width: 341.2px;
      height: 60px;
      color: #fff;
      background-color: #ff7857;
      box-shadow: none;
      text-shadow: none;
    }
  }
}

.available {
  height: 115px;
  width: 100%;
  background-color: #040026;
  position: relative;
  text-align: center;

  .subheader {
    color: #c6b080;
    font-weight: 500;
    position: absolute;
    margin: 0 auto;
    bottom: 45px;
    left: 0;
    right: 0;

    a {
      color: #fff;
      font-size: 19px;
    }
  }
}

.content.grey.mobile { display: none; }
.content.grey:after { border-top: 20px solid #efeaea; }
.content:after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.content {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 125px 0;
  &.grey { background-color: #efeaea; }

  .content-inner {
    max-width: 1000px;
    margin: auto;
    overflow: auto;
  }

  .content-header {
    margin-bottom: 100px;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #1987bd;
    &.orange { color: #fe7a5a; }
  }

  .row-divider {
    height: 3px;
    width: 100%;
    max-width: 340px;
    background-color: #ccc;
    margin: 120px auto;
  }

  .row {
    overflow: auto;
    width: 1000px;
    margin: auto;

    .cell {
      width: 300px;
      float: left;
      margin-right: 50px;
      &:last-child { margin-right: 0; }

      .cell-image {
        position: relative;
        margin: auto;
        height: 241px;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .cell-header {
        font-size: 28px;
        letter-spacing: 0.6px;
        color: #ff7857;
        margin: 45px auto;
      }
      .cell-text {
        font-size: 16px;
        color: #5c5c60;
        letter-spacing: 0.6px;
        margin-bottom: 10px;
      }
    }

    .cell-wrapper {
      display: inline-block;
      vertical-align: middle;
      width: 49.8%;

      .cell-image { margin: auto; }

      .cell-text {
        width: 350px;
        &.left {
          text-align: left;
          margin-left: 70px;
        }
        &.right {
          text-align: right;
          margin-right: 70px;
          float: right;
        }

        .cell-text-header {
          font-size: 32px;
          font-weight: 500;
          letter-spacing: 0.6px;
          color: #29157f;
        }
        .cell-text-divider {
          margin: 20px 0;
          height: 4px;
          width: 60px;
          background-color: #fb947b;
          display: inline-block;
        }
        .cell-text-content {
          letter-spacing: 0.6px;
          color: #302f2f;
        }
      }
    }
  }
}

.btn {
  font-size: 24px;
  width: 280px;
  height: 80px;
  &.blueText { color: #034698; }
}

.bottom-callout {
  padding: 90px 0 90px;
  text-align: center;

  .callout-header {
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #11041c;
  }

  .callout-link {
    padding: 40px 0 30px;
    font-size: 23px;
    font-weight: 500;
    color: #1987bd;
    a { text-decoration: none; }
  }

  .callout-last {
    font-size: 22px;
    font-weight: 500;
    color: #333;
  }
}

.mobile { display: none; }

@media (max-width: 1000px) {
  .masthead {
    .masthead-header { font-size: 20px; }
    .masthead-subheader { font-size: 14px; padding: 0 10px; }
    .masthead-banner {
      width: 100%;
      .masthead-image { width: 100%; }
      .masthead-image img {
        width: 100%;
        height: 250px;
        object-fit: scale-down;
      }
      .masthead-cta { display: none; }
    }
  }

  .mobile { display: block; }
}

@media (max-width: 1050px) {
  .content {
    .content-inner { width: 100%; }
    .content-header { padding: 0 10px; }
    .row { width: 100%; }
    .row .cell { width: 100%; margin-bottom: 100px; }
    .row .cell .cell-text { padding: 0 15px; }
    .row .cell:last-child { margin-bottom: 0px; }
  }

  .content.grey { display: none; }
  .content.grey.mobile { display: block; }

  .content.grey.mobile .row-divider { width: 90%; }
  .content.grey.mobile .row .cell-wrapper {
    width: 100%;
    padding: 0 10px;

    .cell-image img { width: 90%; }
    .cell-text { width: 100%; }
    .cell-text .cell-text-divider { width: 80%; }
  }
}

@media (max-width: 590px) {
  .masthead {
    .masthead-banner {
      .masthead-image {
        height: initial;
        img { height: initial; }
      }
    }
  }
}

@media (max-width: 375px) {
  .masthead { border-bottom: 0; }
  .content .content-inner .row .cell { width: 100%; margin-right: 0; }
  .cta-container .call-to-action { width: 100%; max-width: 300px; top: -25px; }
  .cta-container .call-to-action button { width: 280px; height: 58px; font-size: 20px; }
  .available .subheader { font-size: 12px; a { font-size: 14px; } }
}
