.masthead {
  width: 100%;
  background-image: linear-gradient(290deg, #034698, #548cd2);
  border-bottom: 16px solid #034698;

  .masthead-image {
    position: relative;
    width: 1200px;
    height: 264px;
    background: url('/assets/web-top.png') bottom no-repeat;
    margin: auto;
  }

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 40px auto 0;
  }
}

.cta-container { position: relative; }
.call-to-action {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 344px;
  height: 90px;
  text-align: center;
  z-index: 2;
}

.btn {
  font-size: 24px;
  width: 341px;
  height: 80px;
}

.grey-content {
  height: 117px;
  width: 100%;
  background-color: #f2f2f2;
  position: relative;
  text-align: center;
}

.subheader {
  color: #666666;
  font-weight: 500;
  position: absolute;
  margin: 0 auto;
  bottom: 35px;
  left: 0;
  right: 0;

  a {
    color: #666666;
    font-size: 19px;
  }
}

.content {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  &.grey { background-color: #f2f2f2; }

  .narrow {
    width: 980px;
    margin: auto;
    .column-image {
      width: 156px;
      height: 94px;
    }
    .center {
      text-align: center;
      .large-column {
        float: none;
        display: inline-block;
      }
    }
  }

  .content-header {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
    color: #034698;
  }

  .row {
    padding: 10px;
    overflow: auto;
    width: 100%;

    .large-column {
      width: 33.32%;
      float: left;
      padding: 10px;
    }
  }

  .column-header {
    font-size: 24px;
    color: #666666;
    margin-bottom: 10px;
  }
  .column-subheader {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
  }
  .column-image {
    margin: auto;
    height: 181px;
    width: 300px;
    background-color: #d8d8d8;
    margin-bottom: 10px;
  }
  .column-footer {
    text-align: right;
  }

  .content-subheader {
    color: #666666;
    font-weight: 500;
    margin-top: 20px;

    a {
      color: #666666;
      font-size: 19px;
    }
  }
}

.clear { clear: both; }
