<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header">
    Online Privacy <span>&</span> Freedom Made Easy
  </h1>

  <div class="masthead-divider"></div>

  <div class="masthead-subheader">
    Setting you free by bringing back the internet as it was meant to be
  </div>

  <div class="masthead-banner">
    <div class="masthead-image hang">
      <img src="/assets/header-mascot.png" alt="Cypherpunk Privacy" title="Cypherpunk Privacy is your guardian of online privacy and freedom.">
    </div>
    <div class="masthead-image">
      <img src="/assets/header-illustration.png" alt="Cypherpunk Privacy" title="Cypherpunk Privacy is your guardian of online privacy and freedom.">
    </div>

    <div class="clear" style="clear: both;"></div>
  </div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <button class="btn gold" routerLink="/download">
      START MY FREE PREVIEW
    </button>
  </div>
</div>

<div class="available">
  <div class="subheader">
    Available for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>
</div>

<div class="header-bottom-border"></div>

<div class="content">
  <div class="content-inner">
    <h2 class="content-header">What Cypherpunk Will Do For You</h2>

    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img src="/assets/blocked-content.png" alt="Access Blocked Content" title="Unrestricted access to all websites and apps.">
        </div>

        <h3 class="cell-header">Access Blocked Content</h3>

        <div class="cell-text">
          Experience the entire internet the way it was meant to be, free from censorship and blocking.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/online-privacy.png" alt="Online Privacy" title="Cypherpunk protects your privacy and identity on the internet.">
        </div>

        <h3 class="cell-header">Online Privacy</h3>

        <div class="cell-text">
          What you do online, is your business.  We help you keep it that way – free from surveillance, tracking, ID thieves and hackers.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/secure-wifi.png" alt="Secure Public WiFi" title="Turn a public WiFi network into a secure access point.">
        </div>

        <h3 class="cell-header">Secure Public WiFi</h3>

        <div class="cell-text">
          We keep you safe on the go, making every public Wi-Fi network a private and secure access point for you.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content grey">
  <div class="content-inner">
    <h2 class="content-header orange">Why Cypherpunk Is Right For You</h2>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/easy-to-use.png" alt="Cypherpunk Privacy is Easy To Use">
        </div>
      </div>

      <div class="cell-wrapper">
        <div class="cell-text left">
          <h4 class="cell-text-header">Easy to Use</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            You are just a few clicks away from being protected. Cypherpunk is your guardian of privacy and freedom online.
          </div>
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-text right">
          <h4 class="cell-text-header">Fast</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            No one likes waiting for a website or video to load. We use a highly robust network of powerful servers to maximize your speed.
          </div>
        </div>
      </div>

      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/fast.png" alt="Cypherpunk Privacy is Fast">
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/extremely-secure.png" alt="Cypherpunk Privacy is Extremely Secure">
        </div>
      </div>

      <div class="cell-wrapper">
        <div class="cell-text left">
          <h4 class="cell-text-header">Extreme Privacy</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            Dial in the perfect level of privacy all the way up to stealth mode, which even prevents your internet provider from detecting you're using protection.
          </div>
        </div>

      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-text right">
          <h4 class="cell-text-header">Expert 24/7 Support</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            We are always here and happy to help in any way we can.  We know your time is valuable, so we make it easy to get the help you need, when you need it.
          </div>
        </div>
      </div>

      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/expert.png" alt="Expert 24/7 Support">
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/we-are-cyperpunks.png" alt="We Are Cypherpunks">
        </div>
      </div>

      <div class="cell-wrapper">
        <div class="cell-text left">
          <h4 class="cell-text-header">We are Cypherpunks</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            This isn’t just our business, it’s our life. It is our personal mission to help people enjoy privacy and freedom online.
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content grey mobile">
  <div class="content-inner">
    <h2 class="content-header orange">Why Cypherpunk Is Right For You</h2>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/easy-to-use.png" alt="Cypherpunk Privacy is Easy To Use">
        </div>

        <div class="cell-text">
          <h4 class="cell-text-header">Easy to Use</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            You are just a few clicks away from being protected. Cypherpunk is your guardian of privacy and freedom online.
          </div>
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/fast.png" alt="Cypherpunk Privacy is Fast">
        </div>

        <div class="cell-text">
          <h4 class="cell-text-header">Fast</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            No one likes waiting for a website or video to load. We use a highly robust network of powerful servers to maximize your speed.
          </div>
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/extremely-secure.png" alt="Cypherpunk Privacy is Extremely Secure">
        </div>

        <div class="cell-text">
          <h4 class="cell-text-header">Extreme Privacy</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            Dial in the perfect level of privacy all the way up to stealth mode, which even prevents your internet provider from detecting you're using protection.
          </div>
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/expert.png" alt="Expert 24/7 Support">
        </div>

        <div class="cell-text">
          <h4 class="cell-text-header">Expert 24/7 Support</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            We are always here and happy to help in any way we can.  We know your time is valuable, so we make it easy to get the help you need, when you need it.
          </div>
        </div>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="cell-wrapper">
        <div class="cell-image">
          <img src="/assets/we-are-cyperpunks.png" alt="We Are Cypherpunks">
        </div>

        <div class="cell-text">
          <h4 class="cell-text-header">We are Cypherpunks</h4>

          <div class="cell-text-divider"></div>

          <div class="cell-text-content">
            This isn’t just our business, it’s our life. It is our personal mission to help people enjoy privacy and freedom online.
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom-callout">
  <div class="callout-header">
    Try Cypherpunk Privacy today for Free
  </div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <button class="btn gold blueText" routerLink="/download">
      START MY FREE PREVIEW
    </button>
  </div>
</div>

<div class="available">
  <div class="subheader">
    Availabe for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>
</div>

<app-footer></app-footer>
