<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Online Privacy & Freedom Made Easy</div>

  <div class="carousel"></div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <button routerLink="/signup">START FREE</button>
  </div>
</div>

<div class="grey-content">
  <div class="subheader">
    Available for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>
</div>

<div class="content">

  <div class="content-header">What Can Cypherpunk Do For You?</div>

  <div class="row">
    <div class="large-column">
      <div class="column-header">Access Blocked Content</div>

      <div class="column-subheader">Text about accessing blocked content & webistes, specific mention of big ones like Netflix, BBC, Hulu, etc.</div>

      <div class="column-image"></div>

      <div class="column-footer">
        Learn more about <a>Unrestricted Access</a>
      </div>
    </div>

    <div class="large-column">
      <div class="column-header">Internet Privacy</div>

      <div class="column-subheader">Text about how Cypherpunk protects your privacy online</div>

      <div class="column-image"></div>

      <div class="column-footer">
        Learn more about <a>Internet Privacy</a>
      </div>
    </div>

    <div class="large-column">
      <div class="column-header">Secure Public WiFi</div>

      <div class="column-subheader">Text about securing public WiFi with Cypherpunk</div>

      <div class="column-image"></div>

      <div class="column-footer">
        Learn more about <a>Wi-Fi Security</a>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div class="content grey">
  <div class="narrow">

    <div class="content-header">Why Use Cypherpunk?</div>

    <div class="row">
      <div class="large-column">
        <div class="column-header">Easy to Use</div>

        <div class="column-subheader">You are just a few clicks away from being protected, etc.</div>

        <div class="column-image"></div>
      </div>

      <div class="large-column">
        <div class="column-header">Fast</div>

        <div class="column-subheader">Why our setup is better, server locations?</div>

        <div class="column-image"></div>
      </div>

      <div class="large-column">
        <div class="column-header">Extremely Secure</div>

        <div class="column-subheader">How we are more secure, protocols offered, etc.</div>

        <div class="column-image"></div>
      </div>
    </div>

    <div class="row center">
      <div class="large-column">
        <div class="column-header">Expert 24/7 Support</div>

        <div class="column-subheader">Expert suppoer via tickets, live chat, etc</div>

        <div class="column-image"></div>
      </div>

      <div class="large-column">
        <div class="column-header">We are Cypherpunks</div>

        <div class="column-subheader">our philosophies - no logging, we support privacy orgs, etc.</div>

        <div class="column-image"></div>
      </div>
    </div>

  </div>
</div>

<div class="content">

  <div class="content-header">Try Cypherpunk VPN today, risk free <br>- no email required to start!</div>

  <button routerLink="/join">GET CYPHERPUNK NOW</button>

  <div class="content-subheader">
    Availabe for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>

</div>

<app-footer></app-footer>
