<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Online Privacy & Freedom Made Easy</div>
  <div class="masthead-image"></div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <button class="btn gold" routerLink="/download">START FREE</button>
  </div>
</div>

<div class="grey-content">
  <div class="subheader">
    Available for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>
</div>

<div class="content">

  <div class="content-header">Why YOU need Cypherpunk</div>

  <div class="row">
    <div class="large-column">
      <div class="column-header">Access Blocked Content</div>

      <div class="column-subheader">
        Experience the entire internet the way it was meant to be, free from censorship and blocking.
      </div>

      <div class="column-image"></div>

      <div class="column-footer">
        Learn more about <a>Unrestricted Access</a>
      </div>
    </div>

    <div class="large-column">
      <div class="column-header">Online Privacy</div>

      <div class="column-subheader">
        What you do online, is your business.  We help you keep it that way – free from surveillance, tracking, ID thieves and hackers.
      </div>

      <div class="column-image"></div>

      <div class="column-footer">
        Learn more about <a>Internet Privacy</a>
      </div>
    </div>

    <div class="large-column">
      <div class="column-header">Secure Public WiFi</div>

      <div class="column-subheader">
        We keep you safe on the go, making every public Wi-Fi network a private and secure access point for you.
      </div>

      <div class="column-image"></div>

      <div class="column-footer">
        Learn more about <a>Wi-Fi Security</a>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div class="content grey">
  <div class="narrow">

    <div class="content-header">Why Cypherpunk is the best</div>

    <div class="row">
      <div class="large-column">
        <div class="column-header">Easy to Use</div>

        <div class="column-subheader">
          You are just a few clicks away from being protected. Cypherpunk is your guardian of privacy and freedom online.
        </div>

        <div class="column-image"></div>
      </div>

      <div class="large-column">
        <div class="column-header">Fast</div>

        <div class="column-subheader">
          No one likes waiting for a website or video to load. We use a highly robust network of powerful servers to maximize your speed.
        </div>

        <div class="column-image"></div>
      </div>

      <div class="large-column">
        <div class="column-header">Extremely Secure</div>

        <div class="column-subheader">
          Dial in the perfect level of security all the way up to stealth mode, which even blocks your internet provider from doing deep packet inspection.
        </div>

        <div class="column-image"></div>
      </div>
    </div>

    <div class="row center">
      <div class="large-column">
        <div class="column-header">Expert 24/7 Support</div>

        <div class="column-subheader">
          We are always here and happy to help in any way we can.  We know your time is valuable, so we make it easy to get the help you need, when you need it.
        </div>

        <div class="column-image"></div>
      </div>

      <div class="large-column">
        <div class="column-header">We are Cypherpunks</div>

        <div class="column-subheader">
          This isn’t just our business, it’s our life. It is our personal mission to help people enjoy privacy and freedom online.
          <br><br>
        </div>

        <div class="column-image"></div>
      </div>
    </div>

  </div>
</div>

<div class="content">

  <div class="content-header">Try Cypherpunk VPN today, risk free <br>- no email required to start!</div>

  <button class="btn gold" routerLink="/join">GET CYPHERPUNK NOW</button>

  <div class="content-subheader">
    Availabe for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>

</div>

<app-footer></app-footer>
