<div class="content">
  <div class="content-inner">
    <div class="content-header">IP address registration</div>

    <h4 class="content-subheader">
      In order to use DNS services, you must register your IP address with us so that we can recoginize you.
    </h4>

    <div class="dns">
      <div class="title">My IP Address</div>

      <div class="ip">127.0.0.1</div>

      <div class="register">
        <button class="btn orange">Register My IP</button>
      </div>
    </div>
  </div>
</div>
