<div class="credentials" *ngIf="!showWarning">
  <div class="row">
    <strong>Username: </strong>
    <input id="cred-username" type="text" [value]="user.privacy.username" readonly>
    <button class="btn" (click)="copy('cred-username')">
      <i class="fa fa-clone"></i>
    </button>
  </div>

  <div class="row">
    <strong>Password: </strong>
    <input id="cred-password" type="text" [value]="user.privacy.password" readonly>
    <button class="btn" (click)="copy('cred-password')">
      <i class="fa fa-clone"></i>
    </button>
  </div>
</div>

<div class="warning" *ngIf="showWarning">
  Please sign in to view this content
</div>
