<div class="credentials" *ngIf="!showWarning">
  <div class="row">
    <div class="title">
      <strong>Username: </strong>
    </div>

    <div class="copy">
      <button class="btn" (click)="copy('cred-username')">
        <i class="fa fa-clone"></i>
      </button>
    </div>

    <div class="input">
      <input id="cred-username" type="text" [value]="user.privacy.username" readonly>
    </div>
  </div>

  <div class="row">
    <div class="title">
      <strong>Password: </strong>
    </div>
    
    <div class="copy">
      <button class="btn" (click)="copy('cred-password')">
        <i class="fa fa-clone"></i>
      </button>
    </div>

    <div class="input">
      <input id="cred-password" type="text" [value]="user.privacy.password" readonly>
    </div>
  </div>
</div>

<div class="warning" *ngIf="showWarning">
  Please sign in to view this content
</div>
