.credentials {
  margin-bottom: 30px;

  .row {
    .title {
      float: left;
      width: 90px;
      padding-top: 21px;
    }

    .input {
      overflow: hidden;

      input {
        margin: 5px 0 15px;
        display: inline-block;
        padding: 10px;
        width: 100%;
        background-color: rgb(248, 248, 248);
        border: 2px solid #ddd;
        border-radius: 5px;
        height: 50px;
        font-size: 16px;
      }
    }

    .copy {
      float: right;
      width: 60px;
      padding-top: 5px;

      .btn {
        float: right;
        border: 0;
        color: #fff;
        background-color: #1987bd;
        height: 50px;
        width: 50px;
        &:hover { background-color: #27a5e2; }
      }
    }
  }
}
