.masthead {
  width: 100%;
  background-image: linear-gradient(286deg, #034698, #0c4d9e 10%, #0c4d9e 10%, #0d4e9f 11%, #548cd2);

  .masthead-image {
    position: relative;
    top: -18px;
    width: 1200px;
    height: 242px;
    background: url('/assets/header__image--login.png') center no-repeat;
    margin: auto;
  }

  .masthead-header {
    position:relative;
    top: 45px;
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: auto;
  }
}

.btn {
  width: 321px;
  height: 60px;
  margin: 110px auto 25px;
  font-size: 24px;
  text-transform: none;
}

form {
  display: table;
  margin: 50px auto 50px;
  text-align: center;

  .page-header {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.86;
    color: #666;
  }

  p { display: table-row;  text-align: left; }
  p.center { text-align: center; }
}

.login-link { color: #034698; }
