.content {
  width: 100%;
  &.download { background-color: #efeaea; }

  .content-inner {
    max-width: 1000px;
    margin: auto;
    padding: 50px 10px;
    &.splitter { font-size: 0; }
  }

  .content-header {
    color: #666;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 50px;
    &.orange { color: #ff7857; }
  }

  .account-section {
    text-align: center;
    .profile {
      width: 100%;
      max-width: 300px;
      padding: 0 10px;
      display: inline-block;
      vertical-align: middle;

      .image {
        img { width: 150px; }
        margin-bottom: 30px;
      }
    }

    .description {
      width: 100%;
      max-width: 680px;
      padding: 0 10px 0 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .content-row {
    margin: 0 auto;
    padding: 15px 0;
    overflow: auto;
    color: #666;
    font-size: 18px;
    & + .content-row { border-top: 2px solid #ddd; }

    a {
      color: #ff7857;
      cursor: pointer;
      text-decoration: underline;
      &:hover {
        color: #ffb5a4;
        .refresh { background-color: #ffb5a4; }
      }

      .refresh {
        color: #fff;
        display: inline-block;
        background-color: #ff7857;
        padding: 0 10px;
        margin-left: 10px;
        border-radius: 5px;
      }
    }

    .expired { color: #a94442; }
    .info { color: #1b87bb; }
    .left { float: left; min-height: 31px; line-height: 31px; }
    .right { float: right; min-height: 31px; line-height: 31px; }
    .capitalize { text-transform: capitalize; }
  }
}

.platforms {
  padding: 0 0 50px;

  .platforms-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }

  .platform {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #ff7857;
      .display { display: none; }
      .hover { display: block; }
    }

    .display {
      .image {
        height: 60px;
        padding: 10px 0 0;
        img { height: 50px; }
        img.width { width: 100%; height: auto; }
      }

      .title {
        padding: 20px 0 0;
        font-size: 18px;
        text-align: center;
      }
    }

    .hover {
      display: none;
      height: 101px;

      a { text-decoration: none; }

      .center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
      }

      .download-icon {
        height: 100px;
        img { height: 40px; }
        .type {
          font-size: 14px;
          color: #fff;
          padding: 10px 0 0;
        }
      }

      .link {
        color: #fff;
        font-size: 18px;
        padding: 10px 0 0;
        text-align: center;
      }
    }
  }
}

.clickable { cursor: pointer; }

.row.spaced { padding: 0 0 20px; }

input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: solid 2px #e0dede;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 18px;
  padding: 10px;
  color: #000;
  &.error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
  }
  &.success {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #67b168;
  }
}

.error-message {
  color: #a94442;
  margin: -15px 0 0;
  text-align: left;
  font-size: 12px;
}

.btn {
  width: 130px;
  height: 41px;
}

@media (max-width: 1000px) {
  .content .account-section .description .content-row .left {
    width: 100%;
    text-align: center;
    padding: 0 0 10px;
  }
  .content .account-section .description .content-row .right {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .content .account-section .profile { margin: 0 0 20px; }
  .content .account-section .description { padding: 0 10px; }
}
