<div class="content down-arrow white">
  <div class="content-inner splitter">
    <div class="content-header">Account Settings</div>

    <div class="account-section">
      <div class="profile">
        <div class="image">
          <img src="/assets/ccp/free.png" srcset="/assets/ccp/free.png 500w, /assets/ccp/free@2x.png 1000w" alt="Free Account" *ngIf="state.user.account.type === 'free'">
          <img src="/assets/ccp/premium.png" srcset="/assets/ccp/premium.png 500w, /assets/ccp/premium@2x.png 1000w" alt="Premium Account" *ngIf="state.user.account.type !== 'free'">
        </div>
      </div>

      <div class="description">
        <div class="content-row">
          <div class="left">Account Type: </div>
          <div class="right">
            <span class="info capitalize">{{ state.user.account.type }}</span>
          </div>
        </div>

        <!-- Renews Expiration -->
        <div class="content-row" *ngIf="handleExpirationType() === 'renews'">
          <div class="left">Renews on: </div>
          <div class="right">
            <span class="info">{{ state.user.subscription.expiration | date:'mediumDate' }}</span>
          </div>
        </div>

        <!-- Expires in Expiration -->
        <div class="content-row" *ngIf="handleExpirationType() === 'expires'">
          <div class="left">Expires in: </div>
          <div class="right">
            <span class="info">{{ handleExpirationOutput() }}</span>
          </div>
        </div>

        <!-- Expired Expiration -->
        <div class="content-row" *ngIf="handleExpirationType() === 'expired'">
          <div class="left expired">Expired On: </div>
          <div class="right">
            <span class="expired">{{ state.user.subscription.expiration | date:'mediumDate' }}</span>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            Email: <span class="info">{{state.user.account.email}}</span>
          </div>
          <div class="right">
            <a (click)="openEmailModal()">
              Update<div class="refresh"><i class="fa fa-refresh"></i></div>
            </a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            Password: <span class="info">*******</span>
          </div>
          <div class="right">
            <a (click)="openPasswordModal()">
              Update<div class="refresh"><i class="fa fa-refresh"></i></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content down-arrow white" *ngIf="showPriceBoxes() && !state.loading && env !== 'PROD'">
  <div class="content-inner">
    <h2 class="content-header" *ngIf="!state.showPPWarning">Upgrade Now!</h2>
    <h2 class="content-header" *ngIf="state.showPPWarning">Upgrading!</h2>

    <app-price-boxes #priceBoxes [upgrade]="upgrade"></app-price-boxes>
  </div>
</div>

<div class="content download">
  <div class="content-inner">
    <h2 class="content-header orange">Download Cypherpunk Privacy for All Platforms</h2>

    <div class="platforms">
      <div class="platforms-inner">

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/windows@2x.png" srcset="/assets/download/windows.png 500w, /assets/download/windows@2x.png 1000w" alt="Windows">
            </div>

            <div class="title">Windows</div>
          </div>

          <div class="hover">
            <a href="{{ windowsDownloadLink }}" (click)="pageRedirect(windowsRedirectLink)">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Windows">
                <div class="type">Windows 7+ <br>64-bit</div>
              </div>
            </a>
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/mac@2x.png" srcset="/assets/download/mac.png 500w, /assets/download/mac@2x.png 1000w" alt="MacOS">
            </div>

            <div class="title">MacOS</div>
          </div>

          <div class="hover">
            <a href="{{ macosDownloadLink }}" (click)="pageRedirect(macosRedirectLink)">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Mac">
                <div class="type"><br>MacOS</div>
              </div>
            </a>
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/linux@2x.png" srcset="/assets/download/linux.png 500w, /assets/download/linux@2x.png 1000w" alt="Linux">
            </div>

            <div class="title">Linux</div>
          </div>

          <div class="hover">
            <a href="{{ linuxDownloadLink }}" (click)="pageRedirect(linuxRedirectLink)">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Linux">
                <div class="type">Debian x86_64</div>
              </div>
            </a>
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/ios@2x.png" srcset="/assets/download/ios.png 500w, /assets/download/ios@2x.png" alt="iOS">
            </div>

            <div class="title">iOS</div>
          </div>

          <div class="hover">
            <div class="center">Coming Soon</div>
            <!-- <a href="{{ iosDownloadLink }}">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download iOS">
                <div class="type"><br>iOS</div>
              </div>
            </a> -->
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/android@2x.png" srcset="/assets/download/android.png 500w, /assets/download/android@2x.png" alt="Android">
            </div>

            <div class="title">Android</div>
          </div>

          <div class="hover">
            <a href="{{ androidDownloadLink }}">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Android">
                <div class="type"><br>Android</div>
              </div>
            </a>
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/chrome@2x.png" srcset="/assets/download/chrome.png 500w, /assets/download/chrome@2x.png" alt="Chrome App Store">
            </div>

            <div class="title">Chrome</div>
          </div>

          <div class="hover">
            <div class="center">Coming Soon</div>
            <!-- <a href="{{ chromeDownloadLink }}">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Chrome">
                <div class="type"><br>Chrome</div>
              </div>
            </a> -->
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/firefox@2x.png" srcset="/assets/download/firefox.png 500w, /assets/download/firefox@2x.png" alt="Firefox">
            </div>

            <div class="title">Firefox</div>
          </div>

          <div class="hover">
            <div class="center">Coming Soon</div>
            <!-- <a href="{{ firefoxDownloadLink }}">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Firefox">
                <div class="type"><br>Firefox</div>
              </div>
            </a> -->
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/opera@2x.png" srcset="/assets/download/opera.png 500w, /assets/download/opera@2x.png" alt="Opera">
            </div>

            <div class="title">Opera</div>
          </div>

          <div class="hover">
            <div class="center">Coming Soon</div>
            <!-- <a href="{{ chromeDownloadLink }}">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Opera">
                <div class="type"><br>Opera</div>
              </div>
            </a> -->
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img src="/assets/download/vivaldi@2x.png" srcset="/assets/download/vivaldi.png 500w, /assets/download/vivaldi@2x.png" alt="Vivaldi">
            </div>

            <div class="title">Vivaldi</div>
          </div>

          <div class="hover">
            <div class="center">Coming Soon</div>
            <!-- <a href="{{ chromeDownloadLink }}">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Download Vivaldi">
                <div class="type"><br>Vivaldi</div>
              </div>
            </a> -->
          </div>
        </div>

        <div class="platform">
          <div class="display">
            <div class="image">
              <img class="width" src="/assets/download/router@2x.png" srcset="/assets/download/router.png 500w, /assets/download/router@2x.png" alt="Router">
            </div>

            <div class="title">Router</div>
          </div>

          <div class="hover">
            <div class="center">Coming Soon</div>
            <!-- <a routerLink="/apps/routers">
              <div class="download-icon">
                <img src="/assets/download/download@2x.png" srcset="/assets/download/download.png 500w, /assets/download/download@2x.png 1000w" alt="Setup Guide for Router">
                <div class="type"><br>Routers</div>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': showEmailModal}">
  <div class="background" (click)="showEmailModal = false" [ngClass]="{'open': showEmailModal}"></div>
  <div class="modal-content" [ngClass]="{'open': showEmailModal}">
    <div class="modal-header">Change Email</div>

    <div class="modal-body">
      <div class="row spaced">
        <label>Current Email: {{state.user.account.email}}</label>
      </div>

      <div class="row">
        <input id="dashboardEmail" type="email" name="newEmail" placeholder="New Email" [(ngModel)]="changeEmailUser.email" (blur)="this.changeEmailErrors.email.touched = true; checkEmailExists(); validateEmail()" [ngClass]="{'error': (this.changeEmailErrors.email.touched && this.changeEmailErrors.email.message)}">
        <div class="error-message" [hidden]="!this.changeEmailErrors.email.touched">
          {{this.changeEmailErrors.email.message}}
        </div>
      </div>

      <div class="row">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="changeEmailUser.password" [ngClass]="{'error': (this.changeEmailErrors.password.touched && this.changeEmailErrors.password.message)}" (ngModelChange)="validateChangeEmailPassword()" (keyup.enter)="changeEmail()" (blur)="this.changeEmailErrors.password.touched = true; validateChangeEmailPassword()">
        <div class="error-message" [hidden]="!this.changeEmailErrors.password.touched">
          {{this.changeEmailErrors.password.message}}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="showEmailModal = false">Cancel</button>
      <button class="btn blue" (click)="changeEmail()">Change</button>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': showPasswordModal}">
  <div class="background" (click)="showPasswordModal = false" [ngClass]="{'open': showPasswordModal}"></div>
  <div class="modal-content" [ngClass]="{'open': showPasswordModal}">
    <div class="modal-header">Change Password</div>

    <div class="modal-body">
      <div class="row">
        <input id="dashboardPassword" type="password" name="passwordOld" placeholder="Confirm Password" [(ngModel)]="changePasswordUser.passwordOld" [ngClass]="{'errors': (this.changePasswordErrors.passwordOld.touched && this.changePasswordErrors.passwordOld.message)}" (ngModelChange)="validateChangePasswordOld()" (blur)="this.changePasswordErrors.passwordOld.touched = true; validateChangePasswordOld()">
        <div class="error-message" [hidden]="!this.changePasswordErrors.passwordOld.touched">
          {{this.changePasswordErrors.passwordOld.message}}
        </div>
      </div>

      <div class="row">
        <input type="password" name="passwordNew" placeholder="New Password" [(ngModel)]="changePasswordUser.passwordNew" [ngClass]="{'error': (this.changePasswordErrors.passwordNew.touched && this.changePasswordErrors.passwordNew.message)}" (ngModelChange)="validateChangePasswordNew()" (keyup.enter)="changePassword()" (blur)="this.changePasswordErrors.passwordNew.touched = true; validateChangePasswordNew()">
        <div class="error-message" [hidden]="!this.changePasswordErrors.passwordNew.touched">
          {{this.changePasswordErrors.passwordNew.message}}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="showPasswordModal = false">Cancel</button>
      <button class="btn blue" (click)="changePassword()">Change</button>
    </div>
  </div>
</div>
