//form { overflow: hidden; }
form::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

/*
input[type="text"], input[type="email"], input[type="password"], select {
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
  margin: 5px 0;
  color: #000;
  border: 2px solid #e0dede;
  &.error {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
  }
  &.success {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #67b168;
  }
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder { color: #7f7979; }
}
*/

.row {
  width: 50%;
  margin: 0;
  float: left;
  padding: 10px 5px 0;
}

input[type=password].with-confirm {
  position: relative;
  z-index: 2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  + input[type=password] {
    position: relative;
    z-index: 1;
    margin-top: -7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    //transition: 0.3s 0.2s transform, 0.5s opacity ease-out;
    //opacity: 0;
    //transform: translateY(-48px);
  }
  /*
  &:focus + input[type=password], + input[type=password]:focus, &:active + input[type=password], + input[type=password]:active {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2s transform, 0.3s opacity ease-in;
    ~ .error-message {
      transform: translateY(0px);
      transition: 0.2s transform;
    }
  }
  ~ .error-message {
    transform: translateY(-48px);
    transition: 0.3s 0.2s transform;
  }
  */
}

.info-message {
  color: #7f7979 !important;
}
.password-strength {
  color: #7f7979 !important;
  span {
    display: inline-block;
    width: 40px;
    height: 12px;
    border: 1px solid #9f9999;
    border-radius: 5px;
    padding: 1px;
    text-align: left;
    position: relative;
    margin: 1px 0 -2px 0;
    &::before {
      content: '';
      display: block;
      height: 100%;
      border-radius: 3px;
    }
  }
  .strength-0 { border-color: orangered;   &::before { background-color: orangered;   width:  25%; } }
  .strength-1 { border-color: orange;      &::before { background-color: orange;      width:  50%; } }
  .strength-2 { border-color: yellowgreen; &::before { background-color: yellowgreen; width:  75%; } }
  .strength-3 { border-color: limegreen;   &::before { background-color: limegreen;   width: 100%; } }
}


@media (max-width: 550px) {
  .row { width: 100%; }
}
