<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    Cypherpunk Privacy for Browsers
  </h1>
</div>

<div class="navigation">
  <ul>
    <a routerLink="/apps">
      <li>
        <img class="d desktop-inline" src="/assets/apps/desktop-icon@2x.png" srcset="/assets/apps/desktop-icon.png 500w, /assets/apps/desktop-icon@2x.png 1000w" alt="Desktop">
        Desktop
      </li>
    </a>
    <li class="active">
      <img class="b desktop-inline" src="/assets/apps/browser-icon-hover@2x.png" srcset="/assets/apps/browser-icon-hover.png 500w, /assets/apps/browser-icon-hover@2x.png 1000w" alt="Browser">
      Browser
    </li>
    <a routerLink="/apps/android">
      <li>
        <img class="a desktop-inline" src="/assets/apps/android-icon@2x.png" srcset="/assets/apps/android-icon.png 500w, /assets/apps/android-icon@2x.png 1000w" alt="Android">
        Android
      </li>
    </a>
    <a routerLink="/apps/ios">
      <li>
        <img class="i desktop-inline" src="/assets/apps/ios-icon@2x.png" srcset="/assets/apps/ios-icon.png 500w, /assets/apps/ios-icon@2x.png 1000w" alt="iOS">
        iOS
      </li>
    </a>
  </ul>
</div>

<div class="subnav down-arrow">
  <div class="subnav-inner">
    <div class="row">
      <div class="cell">
        <div class="header black">Chrome</div>
        <div class="cell-image">
          <a href="https://chrome.google.com/webstore/detail/cypherpunk-privacy/hecalkgndmedooonidcodmcamedkpgaj">
            <img class="d" src="/assets/apps/browser/ChromeWebStore_BadgeWBorder_v2_206x58.png" alt="Chrome App Store" >
          </a>
        </div>
      </div>

      <div class="cell">
        <div class="header black">Firefox</div>
        <div class="cell-image">
          <a href="#">
            <div class="firefox">
              Download From Firefox Add-ons
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="split">
      <img src="/assets/apps/desktop-app.png" alt="Screenshot">
    </div>
  </div>
</div>

<div class="page-header">
  <div class="header">Features</div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/cypherplay@2x.png" srcset="/assets/apps/images/cypherplay.png 500w, /assets/apps/images/cypherplay@2x.png 1000w" alt="Cypherplay">
      </div>

      <div class="text">
        <div class="text-header">CypherPlay™</div>

        <p>
          Automatically connect to the fastest server near you, or choose any one of our servers around the world in just seconds.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/play-from-anywhere@2x.png" srcset="/assets/apps/images/play-from-anywhere 500w, /assets/apps/images/play-from-anywhere@2x.png" alt="Play From Anywhere">
      </div>

      <div class="cell-header">Play from anywhere</div>

      <div class="cell-text">
        Freedom to watch any streaming content online
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/apps/images/automatic-regional-routing@2x.png" srcset="/assets/apps/images/automatic-regional-routing 500w, /assets/apps/images/automatic-regional-routing@2x.png" alt="Automatic Regional Routing">
      </div>

      <div class="cell-header">Automatic regional routing</div>

      <div class="cell-text">
        We route you through the necessary locations to access your geo-blocked content
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/privacy-firewall@2x.png" srcset="/assets/apps/images/privacy-firewall.png 500w, /assets/apps/images/privacy-firewall@2x.png 1000w" alt="Privacy Protection">
      </div>

      <div class="text">
        <div class="text-header">Privacy Protection</div>

        <p>
          Choose the perfect balance between speed and privacy for your needs with our easy to use encryption modes.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/privacy-filter_1@2x.png" srcset="/assets/apps/images/privacy-filter_1.png 500w, /assets/apps/images/privacy-filter_1@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="cell-header">Privacy Filter</div>

      <div class="cell-text">
        Block ads, trackers, and malware with our advanced filtering system. Malicious sites blocked at the server level to protect you
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/max-security-mode@2x.png" srcset="/assets/apps/images/max-security-mode.png 500w, /assets/apps/images/max-security-mode@2x.png 1000w" alt="Max Security Mode">
      </div>

      <div class="cell-header">Max Security mode</div>

      <div class="cell-text">
        Scramble your encrypted traffic to make it less detectable to governments and harder to detect and block.
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">WebRTC Protection</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">User-Agent</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img class="p" src="/assets/apps/images/one-click-connect@2x.png" srcset="/assets/apps/images/one-click-connect.png 500w, /assets/apps/images/one-click-connect@2x.png 1000w" alt="One Click Connect">
      </div>

      <div class="text">
        <div class="text-header">One Click Connect</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">Easy to Use</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="bottom">
  <div class="subnav">
    <div class="subnav-inner">
      <div class="row">
        <div class="cell">
          <div class="header green">Chrome</div>
          <div class="cell-image">
            <a href="https://chrome.google.com/webstore/detail/cypherpunk-privacy/hecalkgndmedooonidcodmcamedkpgaj">
              <img class="d" src="/assets/apps/browser/ChromeWebStore_BadgeWBorder_v2_206x58.png" alt="Chrome App Store" >
            </a>
          </div>
        </div>

        <div class="cell">
          <div class="header green">Firefox</div>
          <div class="cell-image">
            <a href="#">
              <div class="firefox">
                Download From Firefox Add-ons
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
