<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    This is not the web page you are looking for ...
  </h1>
  <div class="masthead-image">
    <img src="/assets/web-404.png" alt="Not Found">
  </div>
</div>

<div class="content">
  <h2 class="header blue">Find out more about Cypherpunk Privacy</h2>

  <div class="body">
    <div class="column">
      <!-- <div class="image"></div> -->

      <div class="text">
        <h3 class="text-header">Features</h3>

        <p>
          Unique networking technology to play any type of geo-restricted content from anywhere without experiencing speed deterioration.
        </p>
      </div>

      <a class="jump" routerLink="/features">
        <div class="link">Features</div>
      </a>
    </div>

    <div class="column">
      <!-- <div class="image"></div> -->

      <div class="text">
        <h3 class="text-header">Pricing</h3>

        <p>
          Experience a complete Privacy Suite for all your devices. 100% Money-Back Guarantee in your first 30 days of service.
        </p>

      </div>

      <a class="jump" routerLink="/pricing">
        <div class="link">GET CYPHERPUNK NOW</div>
      </a>
    </div>

    <div class="column">
      <!-- <div class="image"></div> -->

      <div class="text">
        <h3 class="text-header">Why Cypherpunk?</h3>

        <p>
          Cypherpunk encrypts your internet activity, protecting your online privacy and freedom, and prevents surveillance and censorship.
        </p>
      </div>

      <a class="jump" routerLink="/why-use-a-vpn">
        <div class="link">Why Cypherpunk?</div>
      </a>
    </div>
  </div>
</div>


<app-footer></app-footer>
