.masthead {
  .masthead-header { margin: 20px auto 0; padding: 0 0 10px; }

  .masthead-subheader {
    text-align: center;
    font-size: 18px;
    color: #74D5D4;
    padding: 0 0 40px;
  }

  .masthead-image {
    text-align: center;
    padding: 0 0 40px;
    img { width: 100%; max-width: 1000px; }
  }
}

.navigation {
  background-color: #163138;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 0;

    li {
      color: #8DFFFB;
      font-size: 16px;
      padding: 20px;
      display: inline-block;
      cursor: pointer;
      &.active {
        color: #163238;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
}

.blue { color: #1b87bb; }

.feature {
  width: 100%;
  padding: 60px 0;
  .inner { max-width: 1000px; margin: auto; }
}

.descriptions {
  width: 100%;
  padding: 60px 0;
  background-color: #efebeb;
}

.row {
  overflow: auto;

  .image {
    width: 39.6%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    .e { width: 249px; }
    .d { width: 242px; }
    .p { width: 277px; }
    .s { width: 224px; }
  }

  .mobile { display: none; }
  .desktop { display: inline-block; }

  .text {
    width: 60%;
    display: inline-block;
    color: #726e6e;
    vertical-align: middle;
    font-size: 18px;
    .text-header { font-size: 28px; }
  }

  .learn-more {
    display: none;
    color: #1b87bb;
    cursor: pointer;
    font-size: 20px;
    &.right { float: right; }
    div {
      img { width: 25px; vertical-align: middle; margin-right: 7px; }
      .learn-more-text { vertical-align: middle; display: inline-block; }
      border: 2px solid #1b87bb;
      width: 170px;
      border-radius: 50px;
      padding: 7px 0 12px;
      text-align: center;
    }
  }
}

.more {
  width: 100%;
  max-width: 1000px;
  color: #000;
  margin: 0 auto;
  text-align: center;
  // overflow: hidden;
  // transition: all 0.5s;
  // max-height: 0;
  // opacity: 0;

  // &.open { max-height: 340px; opacity: 1; }
  // &.open.double { max-height: 680px; }
  // &.open.triple { max-height: 900px; }
  // &.open.quad { max-height: 1200px; }
  // &.open.quin { max-height: 1500px; }

  .section-header {
    font-size: 20px;
    color: #fc6146;
    padding: 80px 0 0;
  }

  .cell {
    width: 330px;
    margin: 60px 0 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;

    &.small {
      width: 150px;
      height: auto;
      margin: 60px 0 0;
      .cell-header { font-size: 20px; }
      .cell-image { height: 100px; }
      i { font-size: 35px; }
    }

    &.wide { width: 500px; }

    .cell-image {
      width: 100%;
      height: 225px;
      margin: auto;
      img {
        height: 100%;
        max-width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      img.width { width: 100%; height: auto; }
    }

    .cell-header {
      font-size: 20px;
      color: #fc6146;
      padding: 10px 0;
    }

    .cell-text {
      color: #4a4a4d;
      padding: 0 20px;
    }
  }
}

.bottom-callout {
  background-color: #010010;
  .bottom-header { padding-top: 40px; }
  .bottom-buttons {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0 40px;
    overflow: auto;
    text-align: center;

    .middle {
      display: inline-block;
      padding: 20px 0 0;
      text-align: center;
      color: #fff;
    }
    .btn.left { float: left; }
    .btn.right {
      float: right;
      background-color: #fff;
      color: #ff7857;
      border: 2px solid #ff7857;
    }
  }
}

.mobile { display: none; }
.gold { color: #ffe49a; }
.desktop { display: block; }
.desktop-inline { display: inline-block; }

.btn {
  font-size: 22px;
  width: 280px;
  height: 60px;
}

@media (max-width: 1016px) {
  .bottom-callout .bottom-buttons { padding: 40px; }
  .row .mobile { display: block ; }
  .row .desktop { display: none; }
}

@media (max-width: 850px) {
  .row .image, .row .text { width: 100%; text-align: center; }
}

@media (max-width: 700px) {
  .bottom-callout .bottom-buttons {
    .middle { padding: 20px 0 20px; display: block; }
    .btn.left { float: none; }
    .btn.right { float: none; }
  }
}

@media (max-width: 600px) {
  .more .cell.width { width: 300px; }
  .more .cell.wide { width: 400px; }
}

@media (max-width: 500px) {
  .more .cell.wide { width: 300px; }
  .feature, .descriptions { padding: 60px 20px; }
}

@media (max-width: 400px) {
  .more .cell { width: 100%; }
  .more .cell.small { width: 100%; }
  .more .cell.wide { width: 100%; }
}
