<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Features</h1>

  <div class="masthead-subheader">
    Here's what we use to protect your Online Privacy and Freedom.
  </div>

  <div class="masthead-image">
    <img src="/assets/features/masthead@2x.png" srcset="/assets/features/masthead.png 500w, /assets/features/masthead@2x.png 1000w" alt="Features">
  </div>
</div>

<div class="navigation">
  <ul>
    <a routerLink="/features" fragment="privacy">
      <li [ngClass]="{'active': currentTab === 'privacy'}">
        <img src="/assets/features/nav/privacy@2x.png" srcset="/assets/features/nav/privacy.png 500w, /assets/features/nav/privacy@2x.png 1000w" alt="Privacy">
        Privacy
      </li>
    </a>
    <a routerLink="/features" fragment="access">
      <li [ngClass]="{'active': currentTab === 'access'}">
        <img src="/assets/features/nav/access@2x.png" srcset="/assets/features/nav/access.png 500w, /assets/features/nav/access@2x.png 1000w" alt="Access">
        Access
      </li>
    </a>
    <a routerLink="/features" fragment="network">
      <li [ngClass]="{'active': currentTab === 'network'}">
        <img src="/assets/features/nav/network@2x.png" srcset="/assets/features/nav/network.png 500w, /assets/features/nav/network@2x.png 1000w" alt="Network">
        Network
      </li>
    </a>
    <a routerLink="/features" fragment="freedom">
      <li [ngClass]="{'active': currentTab === 'freedom'}">
        <img src="/assets/features/nav/freedom@2x.png" srcset="/assets/features/nav/freedom.png 500w, /assets/features/nav/freedom@2x.png 1000w" alt="Access">
        Freedom
      </li>
    </a>
    <a routerLink="/features" fragment="security">
      <li [ngClass]="{'active': currentTab === 'security'}">
        <img src="/assets/features/nav/security@2x.png" srcset="/assets/features/nav/security.png 500w, /assets/features/nav/security@2x.png 1000w" alt="Security">
        Security
      </li>
    </a>
    <a routerLink="/features" fragment="support">
      <li [ngClass]="{'active': currentTab === 'support'}">
        <img src="/assets/features/nav/support@2x.png" srcset="/assets/features/nav/support.png 500w, /assets/features/nav/support@2x.png 1000w" alt="Support">
        Support
      </li>
    </a>
  </ul>
</div>

<!-- Privacy Section -->

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="privacy" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/privacy-suite@2x.png" srcset="/assets/features/privacy-suite.png 500w, /assets/features/privacy-suite@2x.png 1000w" alt="Cypherpunk Privacy Suite">
      </div>

      <div class="text">
        <div class="text-header blue">Cypherpunk Privacy Suite™</div>

        <p>
          Full protection no matter what platform or device you use
        </p>

        <p>
          Simple friendly to use apps. One click connect to protect your privacy online.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': psSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/protect-all-your-devices@2x.png" srcset="/assets/features/protect-all-your-devices.png 500w, /assets/features/protect-all-your-devices@2x.png 1000w" alt="Protect all your devices">
      </div>

      <div class="cell-header">Protect all your devices</div>

      <div class="cell-text">
        We support all major platforms and operating systems
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/multiple-connections@2x.png" srcset="/assets/features/multiple-connections.png 500w, /assets/features/multiple-connections@2x.png 1000w" alt="Multiple Simultaneous Connections">
      </div>

      <div class="cell-header">Multiple simultaneous connections</div>

      <div class="cell-text">
        Continuous protection for up to 5 of your devices
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy-filter@2x.png" srcset="/assets/features/privacy-filter.png 500w, /assets/features/privacy-filter@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="cell-header">Privacy Filter</div>

      <div class="cell-text">
        Block ads, trackers, and malware with our advanced filtering system
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy-firewall@2x.png" srcset="/assets/features/privacy-firewall.png 500w, /assets/features/privacy-firewall@2x.png 1000w" alt="Privacy Firewall">
      </div>

      <div class="cell-header">Privacy Firewall</div>

      <div class="cell-text">
        Internet killswitch to prevent leakage if your network connection drops
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/dns-leak-protection@2x.png" srcset="/assets/features/dns-leak-protection.png 500w, /assets/features/dns-leak-protection@2x.png 1000w" alt="DNS Leak Protection">
      </div>

      <div class="cell-header">DNS Leak Protection</div>

      <div class="cell-text">
        We operate our own DNS servers to protect your privacy
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/ipv6-leak-protection@2x.png" srcset="/assets/features/ipv6-leak-protection.png 500w, /assets/features/ipv6-leak-protection@2x.png 1000w" alt="IPv6 Leak Protection">
      </div>

      <div class="cell-header">IPv6 Leak Protection</div>

      <div class="cell-text">
        Our apps will disable IPv6 to prevent potential privacy leaks.
      </div>
    </div>
  </div>
</div>


<!-- Access Section -->

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="access" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/cypherplay@2x.png" srcset="/assets/features/cypherplay.png 500w, /assets/features/cypherplay@2x.png 1000w" alt="CypherPlay">
      </div>

      <div class="text">
        <div class="text-header blue">CypherPlay&trade;</div>

        <p>
          Freedom to watch, listen, and stream your content from anywhere.
        </p>

        <p>
          Unique networking technology to play any type of geo-restricted content from anywhere without slowing down your experience.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more triple" [ngClass]="{'open': cpSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/play-from-anywhere@2x.png" srcset="/assets/features/play-from-anywhere.png 500w, /assets/features/play-from-anywhere@2x.png 1000w" alt="Play From Anywhere">
      </div>

      <div class="cell-header">Play from anywhere</div>

      <div class="cell-text">
        Freedom to watch any streaming content online
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/automatic-regional-routing@2x.png" srcset="/assets/features/automatic-regional-routing.png 500w, /assets/features/automatic-regional-routing@2x.png 1000w" alt="Automatic Regional Routing">
      </div>

      <div class="cell-header">Automatic regional routing</div>

      <div class="cell-text">
        We route you through the necessary locations to access your geo-blocked content
      </div>
    </div>

    <div class="section-header">Access your favorite streaming services, such as: </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/netflix@2x.png" srcset="/assets/features/icons/netflix.png 500w, /assets/features/icons/netflix@2x.png 1000w" alt="Netflix">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/hulu@2x.png" srcset="/assets/features/icons/hulu.png 500w, /assets/features/icons/hulu@2x.png 1000w" alt="Hulu">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/bbc-iplayer@2x.png" srcset="/assets/features/icons/bbc-iplayer.png 500w, /assets/features/icons/bbc-iplayer@2x.png 1000w" alt="BBC iPlayer">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/kodi@2x.png" srcset="/assets/features/icons/kodi.png 500w, /assets/features/icons/kodi@2x.png 1000w" alt="Kodi">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/espn@2x.png" srcset="/assets/features/icons/espn.png 500w, /assets/features/icons/espn@2x.png 1000w" alt="ESPN">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/dazn@2x.png" srcset="/assets/features/icons/dazn.png 500w, /assets/features/icons/dazn@2x.png 1000w" alt="Dazn">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/youtube@2x.png" srcset="/assets/features/icons/youtube.png 500w, /assets/features/icons/youtube@2x.png 1000w" alt="YouTube">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/pandora@2x.png" srcset="/assets/features/icons/pandora.png 500w, /assets/features/icons/pandora@2x.png 1000w" alt="Pandora">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/spotify@2x.png" srcset="/assets/features/icons/spotify.png 500w, /assets/features/icons/spotify@2x.png 1000w" alt="Spotify">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/playstation@2x.png" srcset="/assets/features/icons/playstation.png 500w, /assets/features/icons/playstation@2x.png 1000w" alt="Playstation Vue">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/amazon-prime@2x.png" srcset="/assets/features/icons/amazon-prime.png 500w, /assets/features/icons/amazon-prime@2x.png 1000w" alt="Amazon Prime Video">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/hbo@2x.png" srcset="/assets/features/icons/hbo.png 500w, /assets/features/icons/hbo@2x.png 1000w" alt="HBO Go">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/showtime@2x.png" srcset="/assets/features/icons/showtime.png 500w, /assets/features/icons/showtime@2x.png 1000w" alt="Showtime">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/starz@2x.png" srcset="/assets/features/icons/starz.png 500w, /assets/features/icons/starz@2x.png 1000w" alt="Starz">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/sling@2x.png" srcset="/assets/features/icons/sling.png 500w, /assets/features/icons/sling@2x.png 1000w" alt="Sling">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/skygo@2x.png" srcset="/assets/features/icons/skygo.png 500w, /assets/features/icons/skygo@2x.png 1000w" alt="SkyGo">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/icons/nbc@2x.png" srcset="/assets/features/icons/nbc.png 500w, /assets/features/icons/nbc@2x.png 1000w" alt="NBC">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/facebook@2x.png" srcset="/assets/features/icons/facebook.png 500w, /assets/features/icons/facebook@2x.png 1000w" alt="Facebook">
      </div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/icons/zatto@2x.png" srcset="/assets/features/icons/zatto.png 500w, /assets/features/icons/zatto@2x.png 1000w" alt="Zattoo">
      </div>
    </div>

    <div class="section-header">
      CypherPlay works with over 300+ services and adding more all the time!
    </div>
  </div>
</div>


<!-- Network Section -->

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="network" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/privacy-network@2x.png" srcset="/assets/features/privacy-network.png 500w, /assets/features/privacy-network@2x.png 1000w" alt="Cypherpunk Privacy Network">
      </div>

      <div class="text">
        <div class="text-header blue">Cypherpunk Privacy Network&trade;</div>

        <p>
          Strict no-logging policy. We respect and defend the privacy of your online activities.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': pnSwitch}">

    <div class="cell wide">
      <div class="cell-image">
        <img class="width" src="/assets/features/blazing-fast-speeds@2x.png" srcset="/assets/features/blazing-fast-speeds.png 500w, /assets/features/blazing-fast-speeds@2x.png 1000w" alt="Blazing Fast Speed">
      </div>
    </div>

    <div></div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/shared-ip-system@2x.png" srcset="/assets/features/shared-ip-system.png 500w, /assets/features/shared-ip-system@2x.png 1000w" alt="Shared IP System">
      </div>

      <div class="cell-header">Shared IP system</div>

      <div class="cell-text">
        Anonymize your online activity by mixing it with everyone's traffic
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/ultra-fast-servers@2x.png" srcset="/assets/features/ultra-fast-servers.png 500w, /assets/features/ultra-fast-servers@2x.png 1000w" alt="Ultra fast servers">
      </div>

      <div class="cell-header">Ultra-fast servers</div>

      <div class="cell-text">
        Powerful servers with 1 gbit ports direct to Tier 1 providers
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/worldwide-locations@2x.png" srcset="/assets/features/worldwide-locations.png 500w, /assets/features/worldwide-locations@2x.png 1000w" alt="Worldwide Locations">
      </div>

      <div class="cell-header">Worldwide Locations</div>

      <div class="cell-text">
        Tunnel around the world in more than 20+ countries
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/fast-network@2x.png" srcset="/assets/features/fast-network.png 500w, /assets/features/fast-network@2x.png 1000w" alt="Fast Network for Streaming">
      </div>

      <div class="cell-header">Fast Network for streaming video</div>

      <div class="cell-text">
        Ultra-fast servers in more than 20+ countries.
        <br>
        Unlimited bandwidth, speed, and server switching
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/p2p-friendly@2x.png" srcset="/assets/features/p2p-friendly.png 500w, /assets/features/p2p-friendly@2x.png 1000w" alt="P2P Friendly">
      </div>

      <div class="cell-header">P2P Friendly</div>

      <div class="cell-text">
        Bittorrent and other sharing protocols
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/ddos-protection@2x.png" srcset="/assets/features/ddos-protection.png 500w, /assets/features/ddos-protection@2x.png 1000w" alt="DDoS Protection">
      </div>

      <div class="cell-header">DDoS Protection</div>

      <div class="cell-text">
        Don't let attackers kick you offline
      </div>
    </div>
  </div>
</div>


<!-- Freedom Section -->

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="freedom" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="full-width" src="/assets/features/cypherpunk-vpn@2x.png" srcset="/assets/features/cypherpunk-vpn.png 500w, /assets/features/cypherpunk-vpn@2x.png 1000w" alt="CypherVPN">
      </div>

      <div class="text">
        <div class="text-header blue">CypherVPN&trade;</div>

        <p>
          Freedom to access the full open internet. Access censored blocked websites from anywhere.
        </p>

        <p>
          Proprietary VPN technology to bypass the most restrictive network firewalls put in place by governments (even Chinese GFW), corporations and ISPs to achieve an open internet experience.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more triple" [ngClass]="{'open': mfSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/bypass-government@2x.png" srcset="/assets/features/bypass-government.png 500w, /assets/features/bypass-government@2x.png 1000w" alt="Bypass Any Censorship">
      </div>

      <div class="cell-header">
        Bypass any censorship
      </div>

      <div class="cell-text">
        Break through government censored or enterprise restricted networks
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/disguise-your-vpn-traffic@2x.png" srcset="/assets/features/disguise-your-vpn-traffic.png 500w, /assets/features/disguise-your-vpn-traffic@2x.png 1000w" alt="Avoid Deep Packet Inspection">
      </div>

      <div class="cell-header">
        Avoid deep packet inspection
      </div>

      <div class="cell-text">
        Make your VPN data appear like normal web browsing traffic
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/optimized-traffic-flow@2x.png" srcset="/assets/features/optimized-traffic-flow.png 500w, /assets/features/optimized-traffic-flow@2x.png 1000w" alt="Optimized Traffic Flow">
      </div>

      <div class="cell-header">Optimized traffic flow</div>

      <div class="cell-text">
        Unblock any restricted websites and geo-blocked content. <br>
        No matter where you are, it just works
      </div>
    </div>

    <div></div>

    <div class="cell x-wide">
      <div class="cell-image">
        <img class="width" src="/assets/features/free-open-internet@2x.png" srcset="/assets/features/free-open-internet.png 500w, /assets/features/free-open-internet@2x.png 1000w" alt="Facebook">
      </div>
    </div>

    <div class="section-header">and the entire free open internet</div>
  </div>
</div>


<!-- Security Section -->

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="security" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/online-security@2x.png" srcset="/assets/features/online-security.png 500w, /assets/features/online-security@2x.png 1000w" alt="Online Security">
      </div>

      <div class="text">
        <div class="text-header blue">Online security</div>

        <p>
          Utilizing encryption to prevent ISPs and adversaries from injecting malicious traffic into your web browsing activity.
        </p>

        <p>
          Blocks malware from entering your VPN to protect your network and devices.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more" [ngClass]="{'open': mepSwitch}">

    <div class="cell wide">
      <div class="cell-image">
        <img src="/assets/features/automatic-wifi-security@2x.png" srcset="/assets/features/automatic-wifi-security.png 500w, /assets/features/automatic-wifi-security@2x.png 1000w" alt="Automatic WiFi Security">
      </div>

      <div class="cell-header">Automatic WiFi Security</div>

      <div class="cell-text">
        Secure your data and internet traffic while using untrusted networks or public WiFi.
      </div>
    </div>
  </div>
</div>

<div class="feature down-arrow gray">
  <div class="inner">
    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/multiple-protocols@2x.png" srcset="/assets/features/multiple-protocols.png 500w, /assets/features/multiple-protocols@2x.png 1000w" alt="Multiple Protocols">
      </div>

      <div class="text">
        <div class="text-header blue">Multiple Protocols</div>

        <p>
          Support for all modern VPN and Proxy protocols
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': svSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/openvpn@2x.png" srcset="/assets/features/openvpn.png 500w, /assets/features/openvpn@2x.png 1000w" alt="OpenVPN">
      </div>

      <div class="cell-header">OpenVPN</div>

      <div class="cell-text">
        The most trusted open-source VPN backend
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/cypherpunk-vpn-proc@2x.png" srcset="/assets/features/cypherpunk-vpn-proc.png 500w, /assets/features/cypherpunk-vpn-proc@2x.png 1000w" alt="CypherVPN">
      </div>

      <div class="cell-header">CypherVPN&trade;</div>

      <div class="cell-text">
        Proprietary VPN technology to bypass the most restrictive network firewalls
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/ipsec@2x.png" srcset="/assets/features/ipsec.png 500w, /assets/features/ipsec@2x.png 1000w" alt="IPSec">
      </div>

      <div class="cell-header">IPSec</div>

      <div class="cell-text">
        Compatibility with all your platforms
      </div>
    </div>

    <div></div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/ikev2@2x.png" srcset="/assets/features/ikev2.png 500w, /assets/features/ikev2@2x.png 1000w" alt="IKEv2">
      </div>

      <div class="cell-header">IKEv2</div>

      <div class="cell-text">
        Fast connecting for mobile devices
      </div>
    </div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/http-proxy@2x.png" srcset="/assets/features/http-proxy.png 500w, /assets/features/http-proxy@2x.png 1000w" alt="HTTP Proxy">
      </div>

      <div class="cell-header">HTTP proxy</div>

      <div class="cell-text">
        Change your web browser's public location without impacting speed, ideal for content streaming
      </div>
    </div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/socks-proxy@2x.png" srcset="/assets/features/socks-proxy.png 500w, /assets/features/socks-proxy@2x.png 1000w" alt="SOCKS Proxy">
      </div>

      <div class="cell-header">SOCKS proxy</div>

      <div class="cell-text">
        For safer torrenting and file sharing
      </div>
    </div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/https-tls-proxy@2x.png" srcset="/assets/features/https-tls-proxy.png 500w, /assets/features/https-tls-proxy@2x.png 1000w" alt="HTTPS / TLS Proxy">
      </div>

      <div class="cell-header">HTTPS / TLS proxy</div>

      <div class="cell-text">
        For the most secure and private web browsing experience
      </div>
    </div>
  </div>
</div>

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="security" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/multiple-encryption-modes@2x.png" srcset="/assets/features/multiple-encryption-modes.png 500w, /assets/features/multiple-encryption-modes@2x.png 1000w" alt="Multiple Encryption Modes">
      </div>

      <div class="text">
        <div class="text-header blue">Multiple Encryption Modes</div>

        <p>
          Optimize your online experience based on your needs for security, privacy, or speed.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more" [ngClass]="{'open': mepSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/recommended-default@2x.png" srcset="/assets/features/recommended-default.png 500w, /assets/features/recommended-default@2x.png 1000w" alt="Recommended Default">
      </div>

      <div class="cell-header">Recommended Default</div>

      <div class="cell-text">
        Balance of speed, security, and privacy
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/max-security@2x.png" srcset="/assets/features/max-security.png 500w, /assets/features/max-security@2x.png 1000w" alt="Max Security Mode">
      </div>

      <div class="cell-header">Max Security mode</div>

      <div class="cell-text">
        Extra strong RSA-4096 + AES-256 cryptography
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/max-privacy@2x.png" srcset="/assets/features/max-privacy.png 500w, /assets/features/max-privacy@2x.png 1000w" alt="Max Privacy Mode">
      </div>

      <div class="cell-header">Max Privacy mode</div>

      <div class="cell-text">
        Scramble your encrypted traffic to make it less detectable to governments and harder to detect and block.
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/max-speed@2x.png" srcset="/assets/features/max-speed.png 500w, /assets/features/max-speed@2x.png 1000w" alt="Max Speed Mode">
      </div>

      <div class="cell-header">Max Speed mode</div>

      <div class="cell-text">
        When your content doesn't require additional encryption and you want the fastest experience
      </div>
    </div>
  </div>
</div>


<!-- Support Section -->

<div class="feature down-arrow gray">
  <div class="inner">
    <span id="support" class="features-anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="padded-width" src="/assets/features/expert@2x.png" srcset="/assets/features/expert.png 500w, /assets/features/expert@2x.png 1000w" alt="Expert 24/7/365 Support">
      </div>

      <div class="text">
        <div class="text-header blue">Expert 24/7/365 Support</div>

        <p>
          Your satisfaction is our priority. We're here to answer your questions, give assistance with setting up and using our service, or helping you in any way possible.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': esSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/always-available@2x.png" srcset="/assets/features/always-available.png 500w, /assets/features/always-available@2x.png 1000w" alt="We're Always Available">
      </div>

      <div class="cell-header">We're always available</div>

      <div class="cell-text">
        Contact us at any time to help your privacy needs
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/premium-support@2x.png" srcset="/assets/features/premium-support.png 500w, /assets/features/premium-support@2x.png 1000w" alt="Premium Support">
      </div>

      <div class="cell-header">Premium support</div>

      <div class="cell-text">
        USA based native english speaking support staff
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/live-chat@2x.png" srcset="/assets/features/live-chat.png 500w, /assets/features/live-chat@2x.png 1000w" alt="Instant Live Chat">
      </div>

      <div class="cell-header">Instant live chat</div>

      <div class="cell-text">
        Experts are just a click away to start chatting
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/email-us@2x.png" srcset="/assets/features/email-us.png 500w, /assets/features/email-us@2x.png 1000w" alt="Email Us Anytime">
      </div>

      <div class="cell-header">Email us anytime</div>

      <div class="cell-text">
        Just shoot us an email anytime and we'll get right back to you
      </div>
    </div>
  </div>
</div>


<!-- Bottom Callout -->

<div class="cta-container">
  <div class="call-to-action">
    <a routerLink="/download">
      <button class="btn orange">START MY FREE PREVIEW</button>
    </a>
  </div>
</div>


<app-footer></app-footer>
