<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Features</h1>

  <div class="masthead-subheader">
    Here's what we use to protect your Online Privacy and Freedom.
  </div>

  <div class="masthead-image">
    <img src="/assets/features/masthead@2x.png" srcset="/assets/features/masthead.png 500w, /assets/features/masthead@2x.png 1000w" alt="">
  </div>
</div>

<div class="navigation">
  <ul>
    <a href="/features#privacy">
      <li [ngClass]="{'active': currentTab === 'privacy'}">
        Privacy
      </li>
    </a>
    <a href="/features#content">
      <li [ngClass]="{'active': currentTab === 'access'}">
        Access
      </li>
    </a>
    <a href="/features#network">
      <li [ngClass]="{'active': currentTab === 'network'}">
        Network
      </li>
    </a>
    <a href="/features#freedom">
      <li [ngClass]="{'active': currentTab === 'freedom'}">
        Freedom
      </li>
    </a>
    <a href="/features#security">
      <li [ngClass]="{'active': currentTab === 'security'}">
        Security
      </li>
    </a>
    <a href="/features#support">
      <li [ngClass]="{'active': currentTab === 'support'}">
        Support
      </li>
    </a>
  </ul>
</div>

<!-- Privacy Section -->

<div class="feature down-arrow white">
  <div class="inner">
    <span id="privacy" class="anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="e" src="/assets/features/privacy/cypherpunk-privacy-suite@2x.png" srcset="/assets/features/privacy/cypherpunk-privacy-suite.png 500w, /assets/features/privacy/cypherpunk-privacy-suite@2x.png 1000w" alt="Cypherpunk Privacy Suite">
      </div>

      <div class="text">
        <div class="text-header blue">Cypherpunk Privacy Suite™</div>

        <p>
          Full protection no matter what platform or device you use
        </p>

        <p>
          Simple friendly to use apps. One click connect to protect your privacy online.
        </p>

        <a class="learn-more right" (click)="psSwitch = !psSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!psSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="psSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': psSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/protect-all-your-devices@2x.png" srcset="/assets/features/online-privacy/protect-all-your-devices.png 500w, /assets/features/online-privacy/protect-all-your-devices@2x.png 1000w" alt="Protect all your devices">
      </div>

      <div class="cell-header">Protect all your devices</div>

      <div class="cell-text">
        We support all major platforms and operating systems
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/online-privacy/multiple-connections@2x.png" srcset="/assets/features/online-privacy/multiple-connections.png 500w, /assets/features/online-privacy/multiple-connections@2x.png 1000w" alt="Multiple Connections">
      </div>

      <div class="cell-header">Multiple simultaneous connections</div>

      <div class="cell-text">
        Continuous protection for up to 5 of your devices
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/privacy-filter@2x.png" srcset="/assets/features/online-privacy/privacy-filter.png 500w, /assets/features/online-privacy/privacy-filter@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="cell-header">Privacy Filter</div>

      <div class="cell-text">
        Block ads, trackers, and malware with our advanced filtering system
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/privacy-firewall@2x.png" srcset="/assets/features/online-privacy/privacy-firewall.png 500w, /assets/features/online-privacy/privacy-firewall@2x.png 1000w" alt="Privacy Firewall">
      </div>

      <div class="cell-header">Privacy Firewall</div>

      <div class="cell-text">
        Internet killswitch to prevent leakage if your network connection drops
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/online-privacy/dns-leak-protection@2x.png" srcset="/assets/features/online-privacy/dns-leak-protection.png 500w, /assets/features/online-privacy/dns-leak-protection@2x.png 1000w" alt="DNS Leak Protection">
      </div>

      <div class="cell-header">DNS Leak Protection</div>

      <div class="cell-text">
        We operate our own DNS servers to protect your privacy
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/ipv6-leak-protection@2x.png" srcset="/assets/features/online-privacy/ipv6-leak-protection.png 500w, /assets/features/online-privacy/ipv6-leak-protection@2x.png 1000w" alt="IPv6 Leak Protection">
      </div>

      <div class="cell-header">IPv6 Leak Protection</div>

      <div class="cell-text">
        Our apps will disable IPv6 to prevent potential privacy leaks.
      </div>
    </div>
  </div>
</div>


<!-- Access Section -->

<div class="feature down-arrow white">
  <div class="inner">
    <span id="access" class="anchor-target"></span>

    <div class="row">
      <div class="image mobile">
        <img class="e" src="/assets/features/freedom/cypherplay@2x.png" srcset="/assets/features/freedom/cypherplay.png 500w, /assets/features/freedom/cypherplay@2x.png 1000w" alt="CypherPlay">
      </div>

      <div class="text">
        <div class="text-header blue">CypherPlay&trade;</div>

        <p>
          Freedom to watch, listen, and stream your content from anywhere.
        </p>

        <p>
          Unique networking technology to play any type of geo-restricted content from anywhere without slowing down your experience.
        </p>

        <a class="learn-more" (click)="cpSwitch = !cpSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!cpSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="cpSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>

      <div class="image desktop">
        <img class="e" src="/assets/features/freedom/cypherplay@2x.png" srcset="/assets/features/freedom/cypherplay.png 500w, /assets/features/freedom/cypherplay@2x.png 1000w" alt="CypherPlay">
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more triple" [ngClass]="{'open': cpSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/freedom/play-from-anywhere@2x.png" srcset="/assets/features/freedom/play-from-anywhere.png 500w, /assets/features/freedom/play-from-anywhere@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Play from anywhere</div>

      <div class="cell-text">
        Freedom to watch any streaming content online
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/automatic-regional-routing@2x.png" srcset="/assets/features/freedom/automatic-regional-routing.png 500w, /assets/features/freedom/automatic-regional-routing@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Automatic regional routing</div>

      <div class="cell-text">
        We route you through the necessary locations to access your geo-blocked content
      </div>
    </div>

    <div class="section-header">Access your favorite streaming services, such as: </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/netflix@2x.png" srcset="/assets/features/freedom/netflix.png 500w, /assets/features/freedom/netflix@2x.png 1000w" alt="">
        <span></span>
      </div>

      <div class="cell-header">Netflix</div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/hulu@2x.png" srcset="/assets/features/freedom/hulu.png 500w, /assets/features/freedom/hulu@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Hulu</div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/bbcplayer@2x.png" srcset="/assets/features/freedom/bbcplayer.png 500w, /assets/features/freedom/bbcplayer@2x.png 1000w" alt="BBC Player">
      </div>

      <div class="cell-header">BBC iPlayer</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Kodi</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">ESPN</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Dazn</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/youtube@2x.png" srcset="/assets/features/freedom/youtube.png 500w, /assets/features/freedom/youtube@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">YouTube</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Pandora</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/spotify@2x.png" srcset="/assets/features/freedom/spotify.png 500w, /assets/features/freedom/spotify@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Spotify</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Playstation Vue</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/amazon-prime-video@2x.png" srcset="/assets/features/freedom/amazon-prime-video.png 500w, /assets/features/freedom/amazon-prime-video@2x.png 1000w" alt="Amazon Prime Video">
      </div>

      <div class="cell-header">Amazon Prime Video</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/hbogo@2x.png" srcset="/assets/features/freedom/hbogo.png 500w, /assets/features/freedom/hbogo@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">HBO Go</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Showtime</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Starz</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Sling</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">SkyGo</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/nbc@2x.png" srcset="/assets/features/freedom/nbc.png 500w, /assets/features/freedom/nbc@2x.png 1000w" alt="NBC">
      </div>

      <div class="cell-header">NBC</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Facebook</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Zattoo</div>

      <div class="cell-text"></div>
    </div>

    <div class="section-header">
      CypherPlay works with over 300+ services and adding more all the time!
    </div>
  </div>
</div>


<!-- Network Section -->

<div class="feature down-arrow white">
  <div class="inner">
    <span id="network" class="anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="d" src="/assets/features/privacy/cypherpunk-privacy-network@2x.png" srcset="/assets/features/privacy/cypherpunk-privacy-network.png 500w, /assets/features/privacy/cypherpunk-privacy-network@2x.png 1000w" alt="">
      </div>

      <div class="text">
        <div class="text-header blue">Cypherpunk Privacy Network&trade;</div>

        <p>
          Strict no-logging policy. We respect and defend the privacy of your online activities.
        </p>

        <a class="learn-more right" (click)="pnSwitch = !pnSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!pnSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="pnSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': pnSwitch}">

    <div class="cell wide">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/blazing-fast-speeds@2x.png" srcset="/assets/features/freedom/blazing-fast-speeds.png 500w, /assets/features/freedom/blazing-fast-speeds@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Blazing fast speeds</div>

      <div class="cell-text"></div>
    </div>

    <div></div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/shared-ip-system@2x.png" srcset="/assets/features/online-privacy/shared-ip-system.png 500w, /assets/features/online-privacy/shared-ip-system@2x.png 1000w" alt="Shared IP System">
      </div>

      <div class="cell-header">Shared IP system</div>

      <div class="cell-text">
        Anonymize your online activity by mixing it with everyone's traffic
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/ultra-fast-servers@2x.png" srcset="/assets/features/online-privacy/ultra-fast-servers.png 500w, /assets/features/online-privacy/ultra-fast-servers@2x.png 1000w" alt="Ultra fast servers">
      </div>

      <div class="cell-header">Ultra-fast servers</div>

      <div class="cell-text">
        Powerful servers with 1 gbit ports direct to Tier 1 providers
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/worldwide-locations@2x.png" srcset="/assets/features/online-privacy/worldwide-locations.png 500w, /assets/features/online-privacy/worldwide-locations@2x.png 1000w" alt="Worldwide Locations">
      </div>

      <div class="cell-header">Worldwide Locations</div>

      <div class="cell-text">
        Tunnel around the world in more than 20+ countries
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy/fast-network-for-streaming@2x.png" srcset="/assets/features/privacy/fast-network-for-streaming.png 500w, /assets/features/privacy/fast-network-for-streaming@2x.png 1000w" alt="Fast Network for Streaming">
      </div>

      <div class="cell-header">Fast Network for streaming video</div>

      <div class="cell-text">
        Ultra-fast servers in more than 20+ countries.
        <br>
        Unlimited bandwidth, speed, and server switching
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/p2p-friendly@2x.png" srcset="/assets/features/online-privacy/p2p-friendly.png 500w, /assets/features/online-privacy/p2p-friendly@2x.png 1000w" alt="P2P Friendly">
      </div>

      <div class="cell-header">P2P Friendly</div>

      <div class="cell-text">
        Bittorrent and other sharing protocols
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/ddos-protection@2x.png" srcset="/assets/features/online-privacy/ddos-protection.png 500w, /assets/features/online-privacy/ddos-protection@2x.png 1000w" alt="DDoS Protection">
      </div>

      <div class="cell-header">DDoS Protection</div>

      <div class="cell-text">
        Don't let attackers kick you offline
      </div>
    </div>
  </div>
</div>


<!-- Freedom Section -->

<div class="feature down-arrow white">
  <div class="inner">
    <span id="freedom" class="anchor-target"></span>

    <div class="row">
      <div class="image mobile">
        <img class="d" src="/assets/features/freedom/Cypherpunk-VPN@2x.png" srcset="/assets/features/freedom/Cypherpunk-VPN.png 500w, /assets/features/freedom/Cypherpunk-VPN@2x.png 1000w" alt="">
      </div>

      <div class="text">
        <div class="text-header blue">CypherVPN&trade;</div>

        <p>
          Freedom to access the full open internet. Access censored blocked websites from anywhere.
        </p>

        <p>
          Proprietary VPN technology to bypass the most restrictive network firewalls put in place by governments (even Chinese GFW), corporations and ISPs to achieve an open internet experience.
        </p>

        <a class="learn-more right" (click)="mfSwitch = !mfSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!mfSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="mfSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>

      <div class="image desktop">
        <img class="d" src="/assets/features/freedom/Cypherpunk-VPN@2x.png" srcset="/assets/features/freedom/Cypherpunk-VPN.png 500w, /assets/features/freedom/Cypherpunk-VPN@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more triple" [ngClass]="{'open': mfSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/freedom/bypass-any-gouvernment@2x.png" srcset="/assets/features/freedom/bypass-any-gouvernment.png 500w, /assets/features/freedom/bypass-any-gouvernment@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">
        Bypass any censorship
      </div>

      <div class="cell-text">
        Break through government censored or enterprise restricted networks
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/freedom/disguise-your-vpntraffic@2x.png" srcset="/assets/features/freedom/disguise-your-vpntraffic.png 500w, /assets/features/freedom/disguise-your-vpntraffic@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">
        Avoid deep packet inspection
      </div>

      <div class="cell-text">
        Make your VPN data appear like normal web browsing traffic
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/freedom/optimized-traffic@2x.png" srcset="/assets/features/freedom/optimized-traffic.png 500w, /assets/features/freedom/optimized-traffic@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Optimized traffic flow</div>

      <div class="cell-text">
        Unblock any restricted websites and geo-blocked content. <br>
        No matter where you are, it just works
      </div>
    </div>

    <div></div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/facebook@2x.png" srcset="/assets/features/freedom/facebook.png 500w, /assets/features/freedom/facebook@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Facebook</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Gmail</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/google@2x.png" srcset="/assets/features/freedom/google.png 500w, /assets/features/freedom/google@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Google</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Skype</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Snapchat</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Tinder</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/twitter@2x.png" srcset="/assets/features/freedom/twitter.png 500w, /assets/features/freedom/twitter@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Twitter</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Whatsapp</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image"></div>

      <div class="cell-header">Viber</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell small">
      <div class="cell-image">
        <img src="/assets/features/freedom/wikipedia@2x.png" srcset="/assets/features/freedom/wikipedia.png 500w, /assets/features/freedom/wikipedia@2x.png 1000w" alt="">
      </div>

      <div class="cell-header">Wikipedia</div>

      <div class="cell-text"></div>
    </div>

    <div class="section-header">and the entire free open internet</div>
  </div>
</div>


<!-- Security Section -->

<div class="feature down-arrow white">
  <div class="inner">
    <span id="security" class="anchor-target"></span>

    <div class="row">
      <div class="image">
        <img class="s" src="/assets/features/security/online-security@2x.png" srcset="/assets/features/security/online-security.png 500w, /assets/features/security/online-security@2x.png 1000w" alt="">
      </div>

      <div class="text">
        <div class="text-header blue">Online security</div>

        <p>
          Utilizing encryption to prevent ISPs and adversaries from injecting malicious traffic into your web browsing activity.
        </p>

        <p>
          Blocks malware from entering your VPN to protect your network and devices.
        </p>

        <a class="learn-more right" (click)="mepSwitch = !mepSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!mepSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="mepSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more" [ngClass]="{'open': mepSwitch}">

    <div class="cell wide">
      <div class="cell-image">
      </div>

      <div class="cell-header">Automatic WiFi Security</div>

      <div class="cell-text">
        Secure your data and internet traffic while using untrusted networks or public WiFi.
      </div>
    </div>
  </div>
</div>

<div class="feature down-arrow white">
  <div class="inner">
    <div class="row">
      <div class="image mobile">
        <img class="e" src="/assets/features/security/support-for-modern-vpn@2x.png" srcset="/assets/features/security/support-for-modern-vpn.png 500w, /assets/features/security/support-for-modern-vpn@2x.png 1000w" alt="Modern VPN">
      </div>

      <div class="text">
        <div class="text-header blue">Multiple Protocols</div>

        <p>
          Support for all modern VPN and Proxy protocols
        </p>

        <a class="learn-more" (click)="svSwitch = !svSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!svSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="svSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>

      <div class="image desktop">
        <img class="e" src="/assets/features/security/support-for-modern-vpn@2x.png" srcset="/assets/features/security/support-for-modern-vpn.png 500w, /assets/features/security/support-for-modern-vpn@2x.png 1000w" alt="Modern VPN">
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': svSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/openvpn@2x.png" srcset="/assets/features/online-privacy/openvpn.png 500w, /assets/features/online-privacy/openvpn@2x.png 1000w" alt="OpenVPN">
      </div>

      <div class="cell-header">OpenVPN</div>

      <div class="cell-text">
        The most trusted open-source VPN backend
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/freedom/Cypherpunk-VPN@2x.png" srcset="/assets/features/freedom/Cypherpunk-VPN.png 500w, /assets/features/freedom/Cypherpunk-VPN@2x.png 1000w" alt="CypherVPN">
      </div>

      <div class="cell-header">CypherVPN&trade;</div>

      <div class="cell-text">
        Proprietary VPN technology to bypass the most restrictive network firewalls
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/ipsec@2x.png" srcset="/assets/features/online-privacy/ipsec.png 500w, /assets/features/online-privacy/ipsec@2x.png 1000w" alt="IPSec">
      </div>

      <div class="cell-header">IPSec</div>

      <div class="cell-text">
        Compatibility with all your platforms
      </div>
    </div>

    <div></div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/online-privacy/ikev2@2x.png" srcset="/assets/features/online-privacy/ikev2.png 500w, /assets/features/online-privacy/ikev2@2x.png 1000w" alt="IKEv2">
      </div>

      <div class="cell-header">IKEv2</div>

      <div class="cell-text">
        Fast connecting for mobile devices
      </div>
    </div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/online-privacy/http-proxy@2x.png" srcset="/assets/features/online-privacy/http-proxy.png 500w, /assets/features/online-privacy/http-proxy@2x.png 1000w" alt="HTTP Proxy">
      </div>

      <div class="cell-header">HTTP proxy</div>

      <div class="cell-text">
        Change your web browser's public location without impacting speed, ideal for content streaming
      </div>
    </div>

    <div class="cell medium">
      <div class="cell-image">
        <img class="width" src="/assets/features/online-privacy/socks-proxy@2x.png" srcset="/assets/features/online-privacy/socks-proxy.png 500w, /assets/features/online-privacy/socks-proxy@2x.png 1000w" alt="SOCKS Proxy">
      </div>

      <div class="cell-header">SOCKS proxy</div>

      <div class="cell-text">
        For safer torrenting and file sharing
      </div>
    </div>

    <div class="cell medium">
      <div class="cell-image"></div>

      <div class="cell-header">HTTPS / TLS proxy</div>

      <div class="cell-text">
        For the most secure and private web browsing experience
      </div>
    </div>
  </div>
</div>

<div class="feature">
  <div class="inner">
    <span id="security" class="anchor-target"></span>

    <div class="row">
      <div class="image">
      </div>

      <div class="text">
        <div class="text-header blue">Multiple Encryption Modes</div>

        <p>
          Optimize your online experience based on your needs for security, privacy, or speed.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more" [ngClass]="{'open': mepSwitch}">
    <div class="cell">
      <div class="cell-image"></div>

      <div class="cell-header">Recommended Default</div>

      <div class="cell-text">
        Balance of speed, security, and privacy
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/max-privacy-mode@2x.png" srcset="/assets/features/online-privacy/max-privacy-mode.png 500w, /assets/features/online-privacy/max-privacy-mode@2x.png 1000w" alt="Max Privacy Mode">
      </div>

      <div class="cell-header">Max Security mode</div>

      <div class="cell-text">
        Extra strong RSA-4096 + AES-256 cryptography
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/max-freedom-mode@2x.png" srcset="/assets/features/online-privacy/max-freedom-mode.png 500w, /assets/features/online-privacy/max-freedom-mode@2x.png 1000w" alt="Max Freedom Mode">
      </div>

      <div class="cell-header">Max Privacy mode</div>

      <div class="cell-text">
        Scramble your encrypted traffic to make it less detectable to governments and harder to detect and block.
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/max-speed-mode@2x.png" srcset="/assets/features/online-privacy/max-speed-mode.png 500w, /assets/features/online-privacy/max-speed-mode@2x.png 1000w" alt="Max Speed Mode">
      </div>

      <div class="cell-header">Max Speed mode</div>

      <div class="cell-text">
        When your content doesn't require additional encryption and you want the fastest experience
      </div>
    </div>
  </div>
</div>


<!-- Support Section -->

<div class="feature down-arrow white">
  <div class="inner">
    <span id="support" class="anchor-target"></span>

    <div class="row">
      <div class="image mobile">
        <img class="p" src="/assets/features/support/expert@2x.png" srcset="/assets/features/support/expert.png 500w, /assets/features/support/expert@2x.png 1000w" alt="Expert Support">
      </div>

      <div class="text">
        <div class="text-header blue">Expert 24/7/365 Support</div>

        <p>
          Your satisfaction is our priority. We're here to answer your questions, give assistance with setting up and using our service, or helping you in any way possible.
        </p>

        <a class="learn-more" (click)="esSwitch = !esSwitch">
          <div>
            <img src="/assets/features/online-privacy/learn-more-blue.png" *ngIf="!esSwitch">
            <img src="/assets/features/online-privacy/learn-more-blue-closed.png" *ngIf="esSwitch">
            <section class="learn-more-text">Learn More</section>
          </div>
        </a>
      </div>

      <div class="image desktop">
        <img class="p" src="/assets/features/support/expert@2x.png" srcset="/assets/features/support/expert.png 500w, /assets/features/support/expert@2x.png 1000w" alt="Expert Support">
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more double" [ngClass]="{'open': esSwitch}">
    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/features/online-privacy/always-available@2x.png" srcset="/assets/features/online-privacy/always-available.png 500w, /assets/features/online-privacy/always-available@2x.png 1000w" alt="Always Available">
      </div>

      <div class="cell-header">We're always available</div>

      <div class="cell-text">
        Contact us at any time to help your privacy needs
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/premium-support@2x.png" srcset="/assets/features/online-privacy/premium-support.png 500w, /assets/features/online-privacy/premium-support@2x.png 1000w" alt="Premium Support">
      </div>

      <div class="cell-header">Premium support</div>

      <div class="cell-text">
        USA based native english speaking support staff
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/instant-live-chat@2x.png" srcset="/assets/features/online-privacy/instant-live-chat.png 500w, /assets/features/online-privacy/instant-live-chat@2x.png 1000w" alt="Instant Live Chat">
      </div>

      <div class="cell-header">Instant live chat</div>

      <div class="cell-text">
        Experts are just a click away to start chatting
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/online-privacy/email-us-anytime@2x.png" srcset="/assets/features/online-privacy/email-us-anytime.png 500w, /assets/features/online-privacy/email-us-anytime@2x.png 1000w" alt="Email Us Anytime">
      </div>

      <div class="cell-header">Email us anytime</div>

      <div class="cell-text">
        Just shoot us an email anytime and we'll get right back to you
      </div>
    </div>
  </div>
</div>


<!-- Bottom Callout -->

<div class="bottom-callout">
  <div class="bottom-header header white">Join Us!</div>

  <div class="bottom-buttons">
    <a routerLink="/pricing">
      <button class="btn orange left">
        GET CYPHERPUNK NOW
      </button>
    </a>

    <div class="middle"><span>Or</span></div>

    <a routerLink="/download">
      <button class="btn orange right">
        START MY FREE PREVIEW
      </button>
    </a>
  </div>
</div>


<app-footer></app-footer>
