<div class="masthead">
  <app-acc-nav></app-acc-nav>

  <h1 class="masthead-header header white">What kind of Cypherpunk are you?</h1>
  <div class="masthead-image"></div>
</div>

<div class="page">

  <div class="page-divider"></div>

  <app-price-boxes [btc]="showBTC"></app-price-boxes>

  <div class="page-divider bottom"></div>

  <div class="payment-selection">
    <div class="payment-bg">
      <div class="type-container" (click)="selectOption('cc')" [ngClass]="{'active': selectedOption === 'cc'}">
        <div class="icon-container">
          <img src="/assets/payment/credit-card.png">
        </div>
        <div class="type-title desktop">Credit Card</div>
        <div class="type-title mobile">CC</div>
      </div>

      <div class="type-container" (click)="selectOption('a')" [ngClass]="{'active': selectedOption === 'a'}">
        <div class="icon-container">
          <img src="/assets/payment/amazon.png">
        </div>
        <div class="type-title">Amazon</div>
      </div>

      <div class="type-container" (click)="selectOption('pp')" [ngClass]="{'active': selectedOption === 'pp'}">
        <div class="icon-container">
          <img src="/assets/payment/paypal.png">
        </div>
        <div class="type-title">PayPal</div>
      </div>

      <div class="type-container" (click)="selectOption('bc')" [ngClass]="{'active': selectedOption === 'bc'}">
        <div class="icon-container">
          <img src="/assets/payment/bitcoin.png">
        </div>
        <div class="type-title">Bitcoin</div>
      </div>
    </div>
  </div>

  <div class="payment-info">

    <div class="credit-card" *ngIf="selectedOption === 'cc'">
      <div class="info">
        <p>
          <label>Email</label><br>
          <input type="email" [(ngModel)]="email" disabled>
        </p>
      </div>

      <div class="separator">Card Details</div>
      <div class="line"></div>

      <div class="info">
        <p>
          <label>Name</label><br>
          <input type="text" placeholder="John Smith" [(ngModel)]="name" (ngModelChange)="validateCCName()" (blur)="validateCCName()" [ngClass]="{'error': !validCCName && ccNameTouched, 'success': validCCName && ccNameTouched}">
        </p>
      </div>

      <div class="info">
        <p>
          <label>Card Number</label><br>
          <input type="text" [(ngModel)]="cardNumber" (ngModelChange)="validateCCNumber()" (blur)="validateCCNumber()" [ngClass]="{'error': !validCCNumber && ccNumberTouched, 'success': validCCNumber && ccNumberTouched}">
        </p>
      </div>

      <div class="info">
        <p class="half">
          <label>Expiration Date</label><br>
          <input id="ccexpiry" type="text" placeholder="mm/yy" [(ngModel)]="expiryDate" (ngModelChange)="validateCCExpiry()" (blur)="validateCCExpiry()" [ngClass]="{'error': !validCCExpiry && ccExpiryTouched, 'success': validCCExpiry && ccExpiryTouched}" maxlength="5">
        </p>

        <p class="half">
          <label>CVV/CSC Code</label><br>
          <input id="cccvc" type="text" [(ngModel)]="cvc" (ngModelChange)="validateCCcvc()" (blur)="validateCCcvc()" [ngClass]="{'error': !validCCcvc && ccCVCTouched, 'success': validCCcvc && ccCVCTouched}" maxlength="4">
        </p>
      </div>

      <div class="info">
        <p>
          <label>Country</label><br>
          <select name="country" id="country" [(ngModel)]="country" (ngModelChange)="changeCountry()" (blur)="validateCountry()" [ngClass]="{'error': !validCountry && countryTouched, 'success': validCountry && countryTouched}">
            <option *ngFor="let country of countries" [value]="country.name">
              {{country.name}}
            </option>
          </select>
        </p>
      </div>

      <div class="info" *ngIf="showZip">
        <p>
          <label>Zip Code</label><br>
          <input type="text" [(ngModel)]="zipCode" (ngModelChange)="validateZipCode()" (blur)="validateZipCode()" [ngClass]="{'error': !validZipCode && zipCodeTouched, 'success': validZipCode && zipCodeTouched}">
        </p>
      </div>

      <div class="total">
        <img src="/assets/payment/total.png" alt="Total">
        TOTAL: <span class="total-price">{{ plansService.selectedPlan.total }}</span>
      </div>

      <div class="total-line"></div>

      <div class="pay">
        <button class="btn blue" [disabled]="!validateCC() || ccButtonDisabled" (click)="getToken()">
          Upgrade Now
        </button>
      </div>
    </div>

    <div class="amazon" *ngIf="selectedOption === 'a'">
      <div class="info">
        <p>
          <label>Email</label><br>
          <input type="email" disabled [(ngModel)]="email">
        </p>
      </div>

      <div class="total">
        <img src="/assets/payment/total.png" alt="Total">
        TOTAL: <span class="total-price">{{ plansService.selectedPlan.total }}</span>
      </div>

      <div class="total-line"></div>

      <div class="pay">
        <div id="AmazonPayButton"></div>

        <div id="walletWidgetDiv"></div>

        <div id="consentWidgetDiv"></div>
      </div>

      <div class="pay">
        <button id="payWithAmazon" class="btn blue" (click)="amazonButton()" [style.display]="'none'" [disabled]="amButtonDisabled">
          Upgrade Now
        </button>
      </div>
    </div>

    <div class="paypal" *ngIf="selectedOption === 'pp'">
      <div class="info">
        <p>
          <label>Email</label><br>
          <input type="email" disabled [(ngModel)]="email">
        </p>
      </div>

      <div class="total">
        <img src="/assets/payment/total.png" alt="Total">
        TOTAL: <span class="total-price">{{ plansService.selectedPlan.total }}</span>
      </div>

      <div class="total-line"></div>

      <div class="pay">
        <button class="btn blue" (click)="payWithPaypal()" [disabled]="ppButtonDisabled">
          Upgrade Now
        </button>
      </div>

      <form ngNoForm action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" [style.display]="'none'">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="XKNN842WGTDFS">
        <input type="hidden" name="item_number" value="monthly999">
        <input type="hidden" name="custom" [(ngModel)]="email">
        <input type="hidden" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <button id="paypalMonthly" class="btn blue" name="submit">
          Monthly
        </button>
      </form>

      <form ngNoForm action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" [style.display]="'none'">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HMGW328J6EN7N">
        <input type="hidden" name="item_number" value="annually8004">
        <input type="hidden" name="custom" [(ngModel)]="email">
        <input type="hidden" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <button id="paypalAnnual" class="btn blue" name="submit">
          Annually
        </button>
      </form>

      <form ngNoForm action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" [style.display]="'none'">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KBUPJRS6WGBA2">
        <input type="hidden" name="item_number" value="semiannually4998">
        <input type="hidden" name="custom" [(ngModel)]="email">
        <input type="hidden" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <button id="paypalSemiannual" class="btn blue" name="submit">
          Semiannually
        </button>
      </form>
    </div>

    <div class="bitcoin" *ngIf="selectedOption === 'bc'">
      <div class="info">
        <p>
          <label>Email</label><br>
          <input type="email" disabled [(ngModel)]="email">
        </p>
      </div>

      <div class="total">
        <img src="/assets/payment/total.png" alt="Total">
        TOTAL:
        <span class="total-price">
          {{ '₿ ~' + plansService.selectedPlan.bcTotal + ' BTC' }}
        </span>
      </div>

      <div class="total-line"></div>

      <div class="pay">
        <button class="btn blue" (click)="payWithBitpay()" [disabled]="bpButtonDisabled">
          Upgrade Now
        </button>
      </div>

      <!-- Monthly -->
      <form ngNoForm action="https://bitpay.com/checkout" method="post" [style.display]="'none'">
        <input type="hidden" name="action" value="checkout" />
        <input type="hidden" name="posData" [(ngModel)]="posData" />
        <input type="hidden" name="data" value="rDNH1y1QGetIGfRuWqjAKXLfg/M+yFmdEmL6jDfljpyiMifqDnitepwtuBM1XWsMRUc7yOUSx1ElNUn3xyxrT3D2rYTuuplzEAdkItJidtIb7wb4luy0U7WDwGH1XxBSKE5K7f4WjNxgL+AOqA+wF9E1deSxsDF4FAG+3GtBMiuP/TOWEx1I2Y7L+WlhkIWWOiXtcPpE19hPuYWAMl60z5zdGHrRE0d2e1ck/47exUPuvxU8g/uqL8J6GY+QpoAf0l/zXNX/yg9bYEz7+BUb2RE0COE6n1WbKa0x71/sA+fusVb3nsOtSUL8b6VQAI25" />
        <input id="bitpayMonthly" type="image" src="https://bitpay.com/img/button-large.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
      </form>

      <!-- annually -->
      <form ngNoForm action="https://bitpay.com/checkout" method="post" [style.display]="'none'">
        <input type="hidden" name="action" value="checkout" />
        <input type="hidden" name="posData" [(ngModel)]="posData" />
        <input type="hidden" name="data" value="rDNH1y1QGetIGfRuWqjAKXLfg/M+yFmdEmL6jDfljpyiMifqDnitepwtuBM1XWsMZ/kJeyyyXNkHvrQUP2eQHEwvzbTfZu9W1hNSIvJn4DOWpKE7UzhLakast2ZFmmP4NEpy9hV6R274szNAnhaG33Xykr3n6NWqpzHA7oRdjgVoe5HQ2NqxaPKaEs9VQnCOD893HL0kE7q1w4+9jEB/4a6XH4O7VBS5e172+cVwxOaL0eklfqZsxQ9XM+f51Dy5tWIcPd8YmQdxrvY+p9ThTuirqrypNYoFql6PfkzPVKpEjbXA3wXBuBncHmcRpt3p" />
        <input id="bitpayAnnual" type="image" src="https://bitpay.com/img/button-large.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
      </form>

      <!-- semiannually -->
      <form ngNoForm action="https://bitpay.com/checkout" method="post" [style.display]="'none'">
        <input type="hidden" name="action" value="checkout" />
        <input type="hidden" name="posData" [(ngModel)]="posData" />
        <input type="hidden" name="data" value="rDNH1y1QGetIGfRuWqjAKXLfg/M+yFmdEmL6jDfljpyiMifqDnitepwtuBM1XWsMd/v2j12vOCxOGYazza4oIRhG1Z0U4/jJ8RJoI31h3WoLx7o9lb9P0gfto4FcZMI+w1EqtmMt7u/0QHCaGoqpjTfucs8wq3m8ijTGoHEKm4JLWmpscj0Qk2GsbvRWnKJokY20etjCmGASjSTQd+EbnSxrLyCxgHQ5Mu9v8Bp0EiSDIqzjIrwVfs6DCBJIvo8HsEwCrNhfYOB5PAlu6KKmqELoji2VABeu/dlRzeU2oY31VWHQ1MIWh5LsM6XDas6f" />
        <input id="bitpaySemiAnnual" type="image" src="https://bitpay.com/img/button-large.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="modal" [ngClass]="{'open': modal.show}">
  <div class="background" (click)="modal.show = false" [ngClass]="{'open': modal.show}"></div>
  <div class="modal-content">
    <div class="modal-header">{{ modal.header}}</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <p>
        {{ modal.body}}
      </p>

      <a routerLink="/account" *ngIf="modal.link">My Account</a>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="modal.show = false">Close</button>
    </div>
  </div>
</div>

<app-loading [state]="loading"></app-loading>
