<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Features</h1>
</div>

<div class="features">
  <div class="features-inner">
    <div class="header gold">Online Privacy</div>

    <div class="row">
      <div class="image">
        <img class="e" src="/assets/apps/windows/easy-server-selection@2x.png" srcset="/assets/apps/easy-server-selection.png 500w, /assets/apps/easy-server-selection@2x.png 1000w" alt="">
      </div>

      <div class="text right">
        <div class="text-header gold">Cypherpunk Privacy Network™</div>

        <p>
          Automatically connect to the fastest server near you, or choose any one of our servers around the world in just seconds. Lorem Ipsum
        </p>

        <a (click)="pnSwitch = !pnSwitch">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': pnSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Strict no-logging policy</div>

    <div class="cell-text">
      We respect and defend the privacy of your online activities
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Shared IP system</div>

    <div class="cell-text">
      Anonymize your online activity by mixing it with everyone else's traffic
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Ultra-fast servers</div>

    <div class="cell-text">
      Powerful servers with 1gbit ports direct to Tier 1 providers
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Worldwide Locations</div>

    <div class="cell-text">
      Tunnel around the world in more than 20+ countries
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="d" src="/assets/apps/windows/different-modes@2x.png" srcset="/assets/apps/different-modes.png 500w, /assets/apps/different-modes@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Cypherpunk Privacy Suite™</div>

        <p>
          Choose the perfect balance between speed and privacy for your needs with our easy to use encryption modes. Lorem Ipsum
        </p>

        <a (click)="psSwitch = !psSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="d" src="/assets/apps/windows/different-modes@2x.png" srcset="/assets/apps/different-modes.png 500w, /assets/apps/different-modes@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': psSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Super simple, friendly to use apps</div>

    <div class="cell-text">
      One click connect to protect your privacy online
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Protect all your devices</div>

    <div class="cell-text">
      We support all major platforms and operating systems (Logos: Windows logo, Apple logo, iPad icon, Android robot, Blackberry logo, Router icon, Linux penguin, Chrome logo, Firefox logo, Vivaldi logo, Xbox logo, TV icon)
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Multiple simultaneous connections</div>

    <div class="cell-text">
      Continuous protection for up to 5 of your devices
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img class="p" src="/assets/apps/windows/privacy-firewall@2x.png" srcset="/assets/apps/privacy-firewall.png 500w, /assets/apps/privacy-firewall@2x.png 1000w" alt="">
      </div>

      <div class="text right">
        <div class="text-header gold">Expert 24/7/365 Support</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe. Lorem Ipsum
        </p>

        <a (click)="esSwitch = !esSwitch">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': esSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">We're always available</div>

    <div class="cell-text">
      Contact us at any time to help your privacy needs
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Premium support</div>

    <div class="cell-text">
      USA based native english speaking support staff
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Instant live chat</div>

    <div class="cell-text">
      Experts are just a click away to start chatting
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Email us anytime</div>

    <div class="cell-text">
      Just shoot us an email anytime and we'll get right back to you
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Extreme Privacy Protection</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose. Lorem Ipsum
        </p>

        <a (click)="eppSwitch = !eppSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more double" [ngClass]="{'open': eppSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Privacy Filter</div>

    <div class="cell-text">
      Block ads, trackers, and malware with our advanced filtering system
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Privacy Firewall</div>

    <div class="cell-text">
      Internet killswitch to prevent leakage if your network connection drops
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">DNS Leak Protection</div>

    <div class="cell-text">
      We operate our own DNS servers to protect your privacy
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">IPv6 Leak Protection</div>

    <div class="cell-text">
      Our apps will disable IPv6 to prevent potential privacy leaks. Soon we will add full IPv6 support to our entire privacy network.
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">DDoS Protection</div>

    <div class="cell-text">
      Don't let attackers kick you offline
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">P2P Friendly</div>

    <div class="cell-text">
      Bittorrent and other sharing protocols
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Secure all your WiFi and untrusted networks</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose. Lorem Ipsum
        </p>

        <a (click)="snSwitch = !snSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': snSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Automatic Protection</div>

    <div class="cell-text">
      Auto-connect feature for untrusted networks
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Multiple encryption profiles</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose. Lorem Ipsum
        </p>

        <a (click)="mepSwitch = !mepSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': mepSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Max Privacy mode</div>

    <div class="cell-text">
      Extra strong RSA-4096 + AES-256 cryptography
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Max Freedom mode</div>

    <div class="cell-text">
      Scramble your encrypted traffic to make it less detectable to governments and harder to detect and block.
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Max Speed mode</div>

    <div class="cell-text">
      When your content doesn't require additional encryption and you want the fastest experience
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Support for all modern VPN and Proxy protocols</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose. Lorem Ipsum
        </p>

        <a (click)="svSwitch = !svSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more double" [ngClass]="{'open': svSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">OpenVPN</div>

    <div class="cell-text">
      The most trusted open-source VPN backend
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">IPSec</div>

    <div class="cell-text">
      Compatibility with all your platforms
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">IKEv2</div>

    <div class="cell-text">
      Fast connecting for mobile devices
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">HTTP proxy</div>

    <div class="cell-text">
      For browsing privacy and streaming content
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">SOCKS proxy</div>

    <div class="cell-text">
      For safer torrenting and file sharing
    </div>
  </div>
</div>



<div class="features">
  <div class="features-inner">
    <div class="header gold">Online Freedom</div>

    <div class="row">
      <div class="image">
        <img class="e" src="/assets/apps/windows/easy-server-selection@2x.png" srcset="/assets/apps/easy-server-selection.png 500w, /assets/apps/easy-server-selection@2x.png 1000w" alt="">
      </div>

      <div class="text right">
        <div class="text-header gold">CypherPlay™</div>

        <p>
          Automatically connect to the fastest server near you, or choose any one of our servers around the world in just seconds. Lorem Ipsum
        </p>

        <a (click)="cpSwitch = !cpSwitch">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': cpSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Play from anywhere</div>

    <div class="cell-text">
      Freedom to watch any streaming content online
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Automatic regional routing</div>

    <div class="cell-text">
      We route you through the necessary locations to access your geo-blocked content
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="d" src="/assets/apps/windows/different-modes@2x.png" srcset="/assets/apps/different-modes.png 500w, /assets/apps/different-modes@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Max Freedom</div>

        <p>
          Choose the perfect balance between speed and privacy for your needs with our easy to use encryption modes. Lorem Ipsum
        </p>

        <a (click)="mfSwitch = !mfSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="d" src="/assets/apps/windows/different-modes@2x.png" srcset="/assets/apps/different-modes.png 500w, /assets/apps/different-modes@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': mfSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Break out of any censored network</div>

    <div class="cell-text">
      Unblock any restricted websites and geo-blocked content
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Optimized traffic flow</div>

    <div class="cell-text">
      No matter where you are, it just works
    </div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Blazing fast speeds</div>

    <div class="cell-text">
      Fast like a rocket
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img class="p" src="/assets/apps/windows/privacy-firewall@2x.png" srcset="/assets/apps/privacy-firewall.png 500w, /assets/apps/privacy-firewall@2x.png 1000w" alt="">
      </div>

      <div class="text right">
        <div class="text-header gold">Freedom to access censored and blocked websites from anywhere</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe. Lorem Ipsum
        </p>

        <a (click)="faSwitch = !faSwitch">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': faSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Wikipedia</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Google</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Facebook</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Twitter</div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Freedom to watch, listen, and stream your content from anywhere</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose. Lorem Ipsum
        </p>

        <a (click)="fwSwitch = !fwSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more triple" [ngClass]="{'open': fwSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Netflix</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Hulu</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Youtube</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Spotify</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">BBC iPlayer</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Seeso</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Amazon Prime Video</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">HBO Go</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">CBC</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">NBC</div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Fast Network for streaming video</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose. Lorem Ipsum
        </p>

        <a (click)="fnSwitch = !fnSwitch">Learn More</a>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="more" [ngClass]="{'open': fnSwitch}">
  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Ultra-fast servers in more than 20+ countries</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Unlimited bandwidth</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Unlimited speed</div>
  </div>

  <div class="cell">
    <div class="cell-image">
    </div>

    <div class="cell-header">Unlimited servers switches</div>
  </div>
</div>

<app-footer></app-footer>
