<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <div>
    <form>
      <div class="row">
        <input id="email" type="email" name="username" placeholder="Email" autofocus [(ngModel)]="user.email" [ngClass]="{'error': this.errors.email.message && this.errors.email.touched}" (blur)="this.errors.email.touched = true; validateEmail()">
        <div class="error-message" [hidden]="!this.errors.email.touched">
          {{this.errors.email.message}}
        </div>
      </div>

      <div class="row">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" [ngClass]="{'error': this.errors.password.message && this.errors.password.touched}" (keyup.enter)="signin()" (ngModelChange)="validatePassword()" (blur)="this.errors.password.touched = true; validatePassword()">
        <div class="error-message" [hidden]="!this.errors.password.touched">
          {{this.errors.password.message}}
        </div>
      </div>

      <div class="row center">
        <button class="btn orange" type="button" (click)="signin()">
          Sign In
        </button>
      </div>

      <div class="row center">
        <a class="signin-link" routerLink="/recover">Forgot Password?</a>
      </div>

      <hr>

      <div class="row center">
        <a class="signin-link" routerLink="/signup">
          Don't have an account? Sign Up Now.
        </a>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
