.masthead {
  .masthead-header { padding: 45px 0; }
}

.breadcrumb {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 50px;
  padding-left: 20px;
  font-weight: 500;
  color: #666;
  a { color: #034698; }
}

.content {
  width: 100%;
  max-width: 1000px;
  margin: auto;

  .content-header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  table {
    text-align: center;
    width: 90%;
    margin: 0 auto 50px;
  }

  thead tr {
    font-weight: 500;
    line-height: 3.13;
    color: #999;
  }

  tbody tr {
    font-size: 18px;
    line-height: 2.78;
    color: #666;
  }

  tbody tr:nth-child(odd) { background-color: #f8f9fb; }

  tfoot tr {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.78;
  }

  .overdue { color: #d0021b; }

  .pagination-container {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 35px;
    overflow: auto;
    padding-right: 25px;

    .pagination {
      float: right;
      max-width: 300px;
      & > div { display: inline-block; }
      .btn { padding: 10px; min-width: 30px; }
    }
  }
}

.return {
  text-align: center;
  margin-bottom: 60px;
  a {
    font-size: 18px;
    font-weight: 500;
    color: #034698;
  }
}

@media (max-width: 1060px) {
  .method { display: none; }
  .return {
    a { font-size: 14px; }
  }
}
