.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  visibility: hidden;
  &.open { visibility: visible; }

  .background {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &.open { visibility: visible; opacity: 1; }
  }

  .content {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: auto;
  }

  .modal-content {
    width: 100%;
    padding: 20px;
    color: #eee;
    background-color: #0d1e26;
    border-radius: 5px;
    border: 4px solid #19474c;
    box-shadow: -5px 5px 2px #163138;
    opacity: 0;
    transform: scale(2);
    transition: all 0.3s;
    &.open { opacity: 1; transform: scale(1); }

    .modal-header {
      color: #fff;
      font-size: 20px;
      letter-spacing: 0.6px;
      padding: 0 0 20px;
    }

    .modal-body {
      a { color: #8DFFFB; }
    }

    .modal-footer {
      margin: 25px 0 0 ;
      text-align: right;
      .btn { width: 130px; height: 41px; }
    }
  }
}
