.alerts-container {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px 0 0;
  z-index: 49;
}

.alert {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 5px;
  font-size: 18px;
  padding: 10px 0;
  overflow: auto;
}

.message {
  padding-left: 15px;
  float: left;
  width: 95%;
}

.cancel {
  width: 5%;
  padding-right: 15px;
  float: right;
  cursor: pointer;
  text-align: right;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 5px;
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 5px;
}

@media (max-width: 1250px) {
  .alerts-container { padding: 10px 15px; }
}
