<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">Cypherpunk Privacy for Desktop Legal</h1>
  </div>

  <div class="content">
    <h1 class="header blue">Open Source & Third Party Components</h1>

    <hr />

    <div>
      <pre>
        <code>
Cypherpunk Partners, Slf. bundles computer software supplied by third-parties, including (but not limited to) those set forth below (the "Third-Party Software"), with its Cypherpunk Privacy for Desktop® software product. Cypherpunk Partners, Slf. is providing the Third-Party Software to you by permission of the respective licensors and/or copyright holders on the terms provided by such parties, including those terms required to be provided to you that are set forth below, and subject also to the Terms of Service and Privacy Policy applicable to the Cypherpunk Privacy service. Without limiting the terms in the Terms of Service and Privacy Policy, Cypherpunk Partners, Slf. expressly disclaims any warranty or other assurance to you regarding the Third-Party Software. The following terms relate only to the Third-Party Software identified below and not to the Cypherpunk Privacy for Desktop software product, or the Cypherpunk Privacy service.

OpenVPN -- A Secure tunneling daemon
Copyright (c) 2002-2010 OpenVPN Technologies, Inc.
Licensed under the GNU General Public License, Version 2
Web: https://openvpn.net
Git: https://github.com/openvpn/openvpn

OpenSSL, a Cryptography and SSL/TLS Toolkit
Copyright (c) 1998-2017 The OpenSSL Project
Copyright (c) 1995-1998 Eric Young
Licensed under the OpenSSL License
Web: https://www.openssl.org/
Git: https://github.com/openssl/openssl
Acknowledgement: This product includes software developed by the OpenSSL Project for use in the OpenSSL Toolkit (http://www.openssl.org/). This product includes cryptographic software written by Eric Young (eay@cryptsoft.com).

RapidJSON, a fast JSON parser/generator for C++
Copyright (c) 2011 Milo Yip
Licensed under the MIT License
Web: http://rapidjson.org/
Git: https://github.com/miloyip/rapidjson

jsonrpc-lean, a c++11 JSON-RPC client/server library
Copyright (C) 2015 Adriano Maia (tony@stark.im)
Licensed under the GNU Lesser General Public License v2.1
Git: https://github.com/uskr/jsonrpc-lean

ELECTRON

Copyright (c) 2013-2017 GitHub Inc.

Permission is hereby granted, free of charge, to any person obtaining
a copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



CHROMIUM

Copyright © 2008, The Chromium Authors. All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

Neither the name of the Google Inc. nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Chromium includes a variety of additional third party software. Cypherpunk Parters does not modify any of those component software items, and only uses them in the manner that they are provided by Google. The itemization and license terms for such additional third party software may be found here: http://code.google.com/chromium/terms.html




WEBKIT

Copyright © 1998-2003 Daniel Veillard. All Rights Reserved.

Webkit is included in the Chromium bundle.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

Neither the name of the Google Inc. nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

        </code>
      </pre>
    </div>

    <br><br>

    <p class="right">
      © Cypherpunk Partners, Slf.<br>
      2017 All Rights Reserved
    </p>
  </div>
</div>

<app-footer></app-footer>
