<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">Cypherpunk Privacy for Desktop Legal</h1>
  </div>

  <div class="content">
    <h1 class="header blue">Open Source & Third Party Components</h1>

    <hr />

    <div>
      <pre>
        <code>
Cypherpunk Partners, Slf. bundles computer software supplied by third-parties, including (but not limited to) those set forth below (the "Third-Party Software"), with its Cypherpunk Privacy for Desktop® software product. Cypherpunk Partners, Slf. is providing the Third-Party Software to you by permission of the respective licensors and/or copyright holders on the terms provided by such parties, including those terms required to be provided to you that are set forth below, and subject also to the Terms of Service and Privacy Policy applicable to the Cypherpunk Privacy service. Without limiting the terms in the Terms of Service and Privacy Policy, Cypherpunk Partners, Slf. expressly disclaims any warranty or other assurance to you regarding the Third-Party Software. The following terms relate only to the Third-Party Software identified below and not to the Cypherpunk Privacy for Desktop software product, or the Cypherpunk Privacy service.

OpenVPN -- A Secure tunneling daemon
Copyright (c) 2002-2010 OpenVPN Technologies, Inc.
Licensed for use under the GNU General Public License, Version 2
Web: https://openvpn.net
Git: https://github.com/openvpn/openvpn

OpenSSL, a Cryptography and SSL/TLS Toolkit
Copyright (C) 1998-2017 The OpenSSL Project
Copyright (C) 1995-1998 Eric Young
Licensed for use under the OpenSSL License
Web: https://www.openssl.org/
Git: https://github.com/openssl/openssl
Acknowledgement: This product includes software developed by the OpenSSL Project for use in the OpenSSL Toolkit (http://www.openssl.org/). This product includes cryptographic software written by Eric Young (eay@cryptsoft.com).

        </code>
      </pre>
    </div>

    <br><br>

    <p class="right">
      © Cypherpunk Partners, Slf.<br>
      2017 All Rights Reserved
    </p>
  </div>
</div>

<app-footer></app-footer>
