<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <div class="masthead-banner">
      <div class="masthead-image">
        <img src="/assets/aboutus/cypherpunk-partners@2x.png" srcset="/assets/aboutus/cypherpunk-partners.png 500w, /assets/aboutus/cypherpunk-partners@2x.png 1000w" alt="Cypherpunk Partners">
      </div>
    </div>
  </div>

  <aboutus-navigation></aboutus-navigation>

  <div class="canary">
    <h1 class="header">Manifesto</h1>

    <div class="subheader">
      Privacy is the power to selectively reveal oneself to the world. Privacy isn’t about hiding, it means sharing <strong>your</strong> data on <strong>your</strong> terms.
    </div>

    <div class="text">
      <p>
        Cypherpunk Privacy&trade; is online freedom, privacy, security and unrestricted access. We fight for fundamental human rights: freedom of speech, free information and right to privacy.
      </p>

      <p>
        Online privacy should be available to everyone from tech-savvy users to everyday web-surfers which is why we strive to create the most user friendly, advanced VPN software on the internet.
      </p>

      <div class="subheader">
        Our Company’s fundamental values:
      </div>

      <p class="value">
        <strong>Trust:</strong> The very basis of our values. We trust in each other’s potential and together we will accomplish wonderful things.
      </p>

      <p class="value">
        <strong>Sincerity:</strong> What we build, what we fight for, and what we provide is authentic, genuine and true.
      </p>

      <p class="value">
        <strong>Constant Learning:</strong> We are constantly learning and becoming better at what we do and at who we are.
      </p>

      <p class="value">
        <strong>100% Focus:</strong> We set our goals and our focus is unshakable.
      </p>

      <p class="value">
        <strong>Power of Proof:</strong> everything we build, and every decision we make has proven to be all encompassing of our values.
      </p>

      <br>

      <p>
        We carry these values through our entire company, from our daily lives to every line we code. We live and breath privacy and security and strive to bring this to everyone who uses our service. We are Cypherpunk Partners, and we invite you to join the Cypherpunk Privacy Movement: a more free internet for everyone.
      </p>

      <p>
        “To encrypt is to indicate the desire for privacy, and to encrypt with weak cryptography is to indicate not too much desire for privacy.” - Eric Hughes, <i>A Cypherpunk’s Manifesto</i>
      </p>
    </div>
  </div>

  <div class="cta-container bottom">
    <div class="call-to-action">
      <a routerLink="/signup">
        <button class="btn orange">GET MY FREE PREVIEW</button>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>
