<div class="wrapper">

  <app-acc-nav></app-acc-nav>

  <div class="masthead">
    <div class="masthead-header header white">
      My Cypherpunk Privacy Account
    </div>
  </div>

  <div class="navigation">
    <ul>
      <a routerLink="/account/overview" (click)="changePage('overview')">
        <li [ngClass]="{'active': currentTab === 'overview'}">
          <span>Overview</span>
        </li>
      </a>
      <a routerLink="/account/subscription" (click)="changePage('subscription')">
        <li [ngClass]="{'active': currentTab === 'subscription'}">
          <span>Subscription</span>
        </li>
      </a>
      <a routerLink="/account/billing" (click)="changePage('billing')">
        <li [ngClass]="{'active': currentTab === 'billing'}">
          <span>Billing</span>
        </li>
      </a>
      <a routerLink="/account/refer" (click)="changePage('refer')">
        <li [ngClass]="{'active': currentTab === 'refer'}">
          <span>Refer Friends</span>
        </li>
      </a>
      <a routerLink="/account/configs" (click)="changePage('configs')" *ngIf="env === 'DEV'">
        <li [ngClass]="{'active': currentTab === 'configs'}">
          <span>Manual Configs</span>
        </li>
      </a>
    </ul>
  </div>

  <div class="page" *ngIf="currentTab === 'overview'">
    <account-overview [(state)]="state"></account-overview>
  </div>

  <div class="page" *ngIf="currentTab === 'subscription'">
    <account-subscription [(state)]="state"></account-subscription>
  </div>

  <div class="page billing" *ngIf="currentTab === 'billing'">
    <account-billing></account-billing>
  </div>

  <div class="page" *ngIf="currentTab === 'refer'">
    <account-refer></account-refer>
  </div>

  <div class="page" *ngIf="currentTab === 'configs'">
    <account-configs></account-configs>
  </div>
</div>

<app-footer></app-footer>

<app-loading [(state)]="state.loading"></app-loading>

<div class="modal" [ngClass]="{'open': showGettingStarted}">
  <div class="background" (click)="hideGettingStarted()" [ngClass]="{'open': showGettingStarted}"></div>
  <div class="modal-content" [ngClass]="{'open': showGettingStarted}">
    <div class="pp-warning" *ngIf="state.showPPWarning">
      Thank you for your payment. Your transaction has is being processed, and a receipt of your purchase wil be emailed to you. You may log into your account at <a href="www.paypal.com" target="blank" rel="noopener noreferrer">www.paypal.com</a> to view details of this transaction. Please visit our download page in the meantime: <a routerLink="/download">Download</a>
    </div>

    <div class="pp-warning" *ngIf="state.showBPWarning">
      Thank you for your payment. Your transaction has is being processed, and a receipt of your purchase wil be emailed to you. You may log into your account at <a href="www.bitpay.com" target="blank" rel="noopener noreferrer">www.bitpay.com</a> to view details of this transaction. Please visit our download page in the meantime: <a routerLink="/download">Download</a>
    </div>

    <div class="modal-header">Getting Started</div>

    <div class="modal-body">
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="hideGettingStarted()">Close</button>
    </div>
  </div>
</div>
