.wrapper {
  .masthead .masthead-header {
    text-align: center;
    font-size: 28px;
    padding: 0 10px 40px;
  }

  .navigation {
    background-color: #163138;
    margin-bottom: -3px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      font-size: 0;
      background-color: #0d1e26;

      li {
        color: #8DFFFB;
        font-size: 18px;
        padding: 20px;
        display: inline-block;
        cursor: pointer;

        img {
          width: 24px;
          vertical-align: middle;
          margin: 0 10px 0 0;
          &.height { height: 24px; width: 30px; }
          &.display { display: inline; }
          &.active { display: none; }
          &.hover { display: none; }
        }

        &.active {
          color: #163238 !important;
          background-color: #efebeb;
          img.active { display: inline; }
          img.display { display: none; }
          img.hover { display: none !important; }
        }

        &:hover { color: #fff; }
        &:hover img.display { display: none; }
        &:hover img.hover { display: inline; }
      }
    }
  }

  .warnings {
    .pp-warning {
      width: 100%;
      max-width: 600px;
      text-align: center;
      padding: 40px 0;
      margin: 0 auto;
    }

    .bp-warning {

    }
  }

  .page {

  }

  .content {
    width: 100%;
    border-bottom: 10px solid #efeaea;

    .content-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 50px 0;

      .content-header {
        color: #ff7857;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-align: center;
        margin-bottom: 50px;
      }

      .content-row {
        margin: 0 auto;
        padding: 15px;
        width: 90%;
        border-bottom: 1px solid #d8d8f6;
        overflow: auto;
        font-size: 20px;
        color: #483c91;
        font-size: 18px;
        a { text-decoration: underline; color: #483c91; cursor: pointer; }
        a:hover { color: #9c93d3; }
        .heading { padding-left: 25px; font-weight: bold; }
        .left { float: left; padding-left: 25px; }
        .right { float: right; padding-right: 25px; }
        .full { padding-left: 25px; }
        .email { color: #7972c4; }
        .uppercase { text-transform: uppercase; }
        &:last-child { margin-bottom: 25px; }
        &.clickable:hover { color: #9c93d3; }
      }
    }
  }
}

.clickable { cursor: pointer; }

@media (max-width: 1060px) {
  .wrapper {
    .content .content-inner .content-row .full { padding: 0; }
    .content .content-inner .content-row .heading {
      width: 100%;
      text-align: left;
      padding: 0;
    }
    .content .content-inner .content-row .left {
      width: 50%;
      text-align: left;
      padding: 0;
    }
    .content .content-inner .content-row .right {
      width: 50%;
      text-align: right;
      padding: 0;
    }
  }
}
