.wrapper { min-height: 100%; margin-bottom: -162px; background-color: rgba(245, 245, 245, 1); }
.wrapper:after { content: ''; display: block; }
.footer, .wrapper:after { height: 162px;}

.page {
  width: 100%;
  max-width: 1000px;
  padding: 20px 15px 35px;
  margin: auto;
}

.page-header {
  text-align: left;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px auto;
    color: #000;
  }

  .text {
    font-size: 14px;
    line-height: 14px;
    color: #7f7979;
    margin: auto;
    .highlight { font-weight: bold; color: #000; }
  }
}

.page-number {
  text-align: left;
  margin: 50px 0 30px;
  font-size: 20px;
  color: #163238;
  padding: 0 0 0 10px;

  &.one { margin: 50px auto 20px; }
  &.two { margin: 60px auto 30px; }

  .highlight {
    font-weight: bold;
    color: #00d630;
  }

  .number {
    display: inline-block;
    background-color: #ff7857;
    border-radius: 50px;
    margin: 0 5px 0 0;
    color: #fff;
    width: 25px;
    text-align: center;
  }
}

.payment-selection { width: 100%; margin: auto; }

.payment-container-single {
  opacity: 0;
  max-height: 0px;
  overflow: hidden;

  &.show {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.5s linear;
  }
  &.show-tall {
    opacity: 1;
    max-height: 1000px;
    transition: opacity 0.5s linear;
  }
}

.payment-info {
  width: 100%;
  border: 2px solid #d9dfe2;
  border-radius: 5px;
  margin: 50px auto 10px;
  padding: 30px 35px 40px;
  background-color: #fff;

  .list-cards {
    .tabs {
      overflow: auto;
      margin: 15px 0 0;
      font-size: 24px;
      color: #28434E;
      font-weight: 600;
      .tab {
        width: 50%;
        cursor: pointer;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .active { background-color: #FF775A; }
      .left { float: left; padding-left: 20px; }
      .right { float: right; padding-right: 20px; text-align: right; }
    }

    .privacy { font-size: small; text-align: center; padding: 20px 0 10px; }
    .no-cards {
      text-align: center;
      font-weight: bold;
      div {
        padding: 20px 0 40px;
        a { cursor: pointer; text-decoration: underline; }
      }
    }

    .card {
      display: inline-block;
      width: 32%;

      &.hide { display: none; }
      &:first-child > .card-info { margin: 20px 10px 10px; }

      .card-info {
        padding: 10px 5px;
        margin: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        &.active { background-color: RGBA(235, 131, 81, 0.58); }
      }
      .logo { width: 24%; display: inline-block; vertical-align: middle; }
      .text { width: 73%; display: inline-block; vertical-align: middle; text-align: right; }
    }
  }

  .create-card {
    overflow: hidden;
    transition: all 0.5s;
    max-height: 0;
    opacity: 0;
    &.open { max-height: 660px; opacity: 1; }
    .info:last-child p { margin: 10px 0 20px; }
  }

  .account {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0 5px 0;
    font-size: 24px;
    text-align: center;
    p { margin: 10px 0 20px; }
  }

  .pre-text { font-size: 14px; padding: 10px 0 40px; }

  .leave-warning { margin: 20px 0 40px; }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #163238;
    &.tall { padding: 15px 0 0; }
    .total-price { color: #67b23f; }
    .billing-rate {
      margin: 10px 0 0;
      font-size: 14px;
      color: #7f7979;
      text-transform: capitalize;
    }
  }

  .pay {
    padding: 20px 0 0;
    .btn { width: 280px; margin: 0; }
    .btn:hover { background-color: #82c65e; }
    .secure {
      .fa-lock { color: #ffe49a; }
      padding: 10px 0 0;
      color: #7f7979;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .amazon-pay {
    .btn { width: 280px; margin: 0; }
    .btn:hover { background-color: #82c65e; }
  }

  .agree {
    font-size: 14px;
    padding: 20px 0 0;

    a { color: #00d630; }
  }
}

.includes {
  width: 100%;

  .includes-inner {
    width: 100%;
    padding: 20px 10px 10px;
    margin: 10px auto 40px;
    max-width: 1000px;
    border: 2px solid #d9dfe2;
    background-color: #fff;
  }

  .includes-header {
    font-size: 26px;
    font-weight: bold;
    margin: 10px auto;
    color: #000;
    text-align: center;
  }

  .columns {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        color: #666;
        padding: 10px 0 10px 25px;

        &:before {
          content: '\f00c';
          font-family: FontAwesome;
          color: #00d630;
          display: inline-block;
          margin-left: -25px;
          width: 25px;
        }

        img { vertical-align: middle; height: 14px; }
      }
    }

    .column {
      width: 100%;
      max-width: 320px;
      display: inline-block;
      text-align: left;
      vertical-align: top;
    }
  }
}

.footer {
  width: 100%;
  background-color: #163138;
  padding: 30px 0 50px;

  .footer-inner { width: 100%; max-width: 1000px; margin: auto; }
  .copy { width: 250px; text-align: center; color: #8DFFFB; }
  .footer-copyright { font-size: 14px; }
}

.btn {
  width: 341px;
  height: 60px;
  margin: 25px auto 25px;
  font-size: 24px;
}

@media (max-width: 1020px) {
  .includes {
    padding: 0 10px 0;
  }
}

@media (max-width: 1000px) {
  .page { padding: 25px 10px 35px; }
  .page-header { padding: 0 10px; }

  .includes .columns .column {
    display: block;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .payment-info .total {
    padding: 20px 20px;

    .price { width: 100%; text-align: center; }
    .pay { width: 100%; margin: 25px 0 0; .btn { width: 100%; } }
  }
}

@media (max-width: 375px) {
  .fake-nav .nav-left { width: 100%; text-align: center; padding: 15px; }
  .payment-info { padding: 10px 10px 20px; }
  .payment-info .list-cards .tabs { font-size: 20px; }
  .payment-info .list-cards .card .logo { width: 100%; }
  .payment-info .list-cards .card .text { width: 100%; }
  .payment-info .account { font-size: 20px; }
  .payment-info .account label { display: none; }
  .payment-selection .payment-options .type-container { width: 100%; margin: 0 0 25px; }
  .btn { width: 100%; }
}
