.page {
  width: 100%;
  max-width: 1000px;
  padding: 20px 15px 35px;
  margin: auto;
}

.fake-nav {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: auto;

  .nav-left {
    float: left;
    padding: 15px 0 15px 15px;

    img {
      width: 227px;
      height: 40px;
    }
  }
}

.page-header {
  text-align: center;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin: 30px auto 30px;
    color: #4a991c;
  }

  .text {
    font-size: 21px;
    line-height: 1.57;
    color: #7f7979;
    margin: auto;
    .highlight { color: #ff7857; }
  }
}

.page-divider {
  height: 3px;
  width: 90%;
  background-color: #f0ecec;
  margin: 50px auto;
}

.page-number {
  text-align: center;
  margin: 0 0 50px;

  .number {
    display: inline-block;
    font-size: 30px;
    background-color: #4a991c;
    border-radius: 50px;
    margin: 0 10px 0 0;
    color: #fff;
    width: 36px;
  }

  .text {
    font-size: 30px;
    color: #163238;
    display: inline-block;
  }
}

.payment-selection { width: 90%; margin: auto; }

.payment-info {
  width: 90%;
  border: 2px solid #f0ecec;
  border-radius: 5px;
  margin: 50px auto 70px;
  padding: 30px 35px 40px;

  .upgrade { padding: 20px 0; }

  .list-cards {
    .tabs {
      overflow: auto;
      margin: 15px 0 0;
      font-size: 24px;
      color: #28434E;
      font-weight: 600;
      .tab {
        width: 50%;
        cursor: pointer;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .active { background-color: #FF775A; }
      .left { float: left; padding-left: 20px; }
      .right { float: right; padding-right: 20px; text-align: right; }
    }

    .privacy { font-size: small; text-align: center; padding: 20px 0 10px; }
    .no-cards {
      text-align: center;
      font-weight: bold;
      div {
        padding: 20px 0 40px;
        a { cursor: pointer; text-decoration: underline; }
      }
    }

    .card {
      display: inline-block;
      width: 32%;

      &.hide { display: none; }
      &:first-child > .card-info { margin: 20px 10px 10px; }

      .card-info {
        padding: 10px 5px;
        margin: 10px;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 5px;
        &.active { background-color: RGBA(235, 131, 81, 0.58); }
      }
      .logo { width: 24%; display: inline-block; vertical-align: middle; }
      .text { width: 73%; display: inline-block; vertical-align: middle; text-align: right; }
    }
  }

  .create-card {
    overflow: hidden;
    transition: all 0.5s;
    max-height: 0;
    opacity: 0;
    &.open { max-height: 660px; opacity: 1; }
    .info:last-child p { margin: 10px 0 20px; }
  }

  .account {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0 5px 0;
    font-size: 24px;
    text-align: center;
    p { margin: 10px 0 20px; }
  }

  p { margin: 10px 5px; }

  .total {
    font-size: 21px;
    color: #163238;
    overflow: auto;
    border: dashed 2px #67b23f;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px 40px;

    .price {
      float: left;
      color: #163238;
      img { width: 33px; margin: 0 10px -5px 0; }
      .total-price { color: #67b23f; }
      .billing-rate {
        margin: 10px 0 0;
        font-size: 14px;
        color: #7f7979;
        text-transform: capitalize;
      }
    }

    .pay {
      float: right;
      text-align: center;
      .btn { width: 240px; margin: 0; }
    }
  }
}

.features {
  width: 90%;
  margin: 0 auto 80px;
  text-align: center;

  .feature {
    text-align: center;
    display: inline-table;
    width: 205px;
    margin: 0 10px 30px 0;
  }
}

.countries {
  width: 100%;
  background-color: #0d1e26;
  overflow: auto;
  padding: 0 0 80px;

  .inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .countries-header {
    font-size: 30px;
    color: #8dfffc;
    margin: 60px 0 40px 10px;
  }

  .half {
    width: 50%;
    float: left;
    img.flags { width: 100%; }
    img.sitting { height: 100%; }
  }
}

.btn {
  width: 341px;
  height: 60px;
  margin: 25px auto 25px;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .page { padding: 25px 10px 0; }
  .countries .half { width: 100%; }
}

@media (max-width: 700px) {
  .payment-info .total {
    padding: 20px 20px;

    .price { width: 100%; text-align: center; }
    .pay { width: 100%; margin: 25px 0 0; .btn { width: 100%; } }
  }
}

@media (max-width: 375px) {
  .fake-nav .nav-left { width: 100%; text-align: center; padding: 15px; }
  .payment-info { padding: 10px 10px; }
  .payment-info .list-cards .tabs { font-size: 20px; }
  .payment-info .list-cards .card .logo { width: 100%; }
  .payment-info .list-cards .card .text { width: 100%; }
  .payment-info .account { font-size: 20px; }
  .payment-info .account label { display: none; }
  .payment-selection .payment-options .type-container { width: 100%; margin: 0 0 25px; }
  .btn { width: 100%; }
}
