.masthead {
  position: relative;
  height: 400px;
  margin: 0 0 150px 0;
  border-bottom: 10px solid #ccc;

  .masthead-header { margin: 0px auto 30px; }

  .masthead-image {
    width: 100%;
    height: 403px;
    background-image: url('/assets/payment/pay-header@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.page {
  width: 100%;
  max-width: 1000px;
  padding: 20px 15px 35px;
  margin: auto;
  .page-divider {
    height: 1px;
    width: 100%;
    border: 1px #87CCD3 solid;
    margin: 5px 0 30px;
    &.bottom { margin: 45px 0 50px;}
  }
}

.payment-selection {
  width: 100%;
  max-width: 450px;
  margin: 40px auto 20px;
  padding: 0 0 30px;
  text-align: center;
  border-bottom: 1px solid #87CCD3;

  .payment-bg {
    .type-container {
      display: inline-block;
      width: 100px;
      color: #666;
      cursor: pointer;
      margin: 0 10px 0 0;
      opacity: 0.5;
      transition: all 0.5s;
      &:last-child { margin-right: 0; }
      &.active { color: #2A4150; opacity: 1; }
    }
    .type-title {
      font-size: 18px;
      font-weight: 500;
      &.mobile { display: none; }
    }
    .icon-container {
      font-size: 32px;
      margin-top: 15px;
    }
  }
}

.payment-info {
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  margin: 50px auto 0;

  .separator {
    margin: 15px 0;
    font-size: 28px;
    color: #28434E;
    font-weight: 600;
    padding: 0 0 0 5px;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: #87CBD4;
    margin: 0 0 0 5px;
  }

  .info {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0 5px 0;

    p.half {
      width: 50%;
      float: left;
      padding-right: 5px;
      & input { width: 100%; }
      &:last-child { padding: 0 0 0 5px; }
    }
  }

  label { font-size: 18px; color: #61BBC3; }
  input, select {
    display: table-cell;
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 18px;
    padding: 10px;
    color: #61BBC3;
    border: 2px solid #87CBD4;
    &.error {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
    }
    &.success {
      border-color: #3c763d;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #67b168;
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder { color: #61BBC3; }
  }

  .total {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.78;
    color: #000;
    margin: 15px 0 25px;
    .total-price {
      color: #1986BE;
      margin-left: 25px;
    }
    img { width: 54px; padding: 0 10px 0; margin: 0 0 -8px; }
  }

  .total-line {
    width: 25px;
    height: 2px;
    margin: 0 auto 25px;
    background-color: #61BBC4;
  }

  .pay { text-align: center; }

  #AmazonPayButton { margin: 40px 0 25px; }
}

.upgrade {
  padding: 20px;
  text-align: center;
}

.btn {
  width: 341px;
  height: 60px;
  margin: 25px auto 25px;
  font-size: 24px;
}

#walletWidgetDiv { width: 350px; height: 228px; margin: 20px auto; display: none; }
#consentWidgetDiv { width: 350px; height: 140px; margin: 20px auto; display: none; }

@media (max-width: 1060px) {
  .masthead .masthead-image { height: 350px; background-size: cover; }
  .masthead .masthead-header { padding: 0 10px; }
  .page { padding: 25px 10px 0; }
}

@media (max-width: 399px) {
  .payment-selection .payment-bg .type-title.desktop { display: none; }
  .payment-selection .payment-bg .type-title.mobile { display: block; }
}

@media (max-width: 375px) {
  .btn { width: 300px; }
}
