<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">About Cypherpunk</h1>

    <div class="masthead-banner">
      <div class="masthead-image">
        <img src="/assets/aboutus/cypherpunk-partners@2x.png" srcset="/assets/aboutus/cypherpunk-partners.png 500w, /assets/aboutus/cypherpunk-partners@2x.png 1000w" alt="Cypherpunk Partners">
      </div>
    </div>
  </div>

  <aboutus-navigation></aboutus-navigation>

  <div class="canary">
    <div class="header blue">Cypherpunk Partners, Slf. Warrant Canary</div>

    <div class="illustration">
      <img src="/assets/aboutus/canary/warrant-canary@2x.png" srcset="/assets/aboutus/canary/warrant-canary.png 500w, /assets/aboutus/canary/warrant-canary@2x.png 1000w" alt="Warrant Canary">
    </div>

    <div class="subheader">Under Icelandic law:</div>

    <div class="text">
      <p>
        - We are not obligated or required to save connection logs(data retention).<br>
        - Gag orders have no legal bearing.<br>
        - we do not need to comply with any requests(such as warrants, gag orders, search and seizsures) from foreign governments and law enforcement agencies.<br>
        - We do not need to respond or comply with Digital Millennium Copyright Act(“DMCA”) or any similar copyright infringement notices.<br>
      </p>

      <p>
        Furthermore, we adhere to a strict no-logs policy. Therefore, we are unable to comply with requests for any user connection logs, and this even if they were legally binding.
      </p>

      <p>
        Nevertheless, we want to give you extra assurance by publishing daily this warrant canary:
      </p>

    </div>

    <div class="subheader orange">As of June 21th, 2017:</div>

    <div class="text">

      <p>
        * no warrants from any government organization have ever been served.<br>
        * no gag orders from any government organization have ever been served.<br>
        * no searches or seizures of any kind have ever been performed.<br>
        * no connections logs or any informations of our users have ever been disclosed.<br>
        * no request to implement a backdoors in our servers or network have ever been received.<br>
      </p>
    </div>
  </div>

  <div class="cta-container bottom">
    <div class="call-to-action">
      <a routerLink="/signup">
        <button class="btn orange">START MY FREE PREVIEW</button>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>
