.price-boxes {
  text-align: center;

  .price-box {
    display: inline-block;
    margin: 0 15px 0 0;
    cursor: pointer;
    color: #1987bd;
    vertical-align: middle;
    &:last-child { margin: 0; }
    &.active {
      .box { border-color: #00d630; }
      .box .box-inner { border-color: #00d630;}
    }

    .best-value {
      width: 135px;
      margin: 0 0 5px auto;
      padding: 5px;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #00d630;
    }

    .box {
      width: 275px;
      position: relative;
      border: 3px solid #d9dfe2;
      color: #333;

      .box-inner { height: 100%; border: 2px solid transparent; }

      &.buff {
        height: 300px;
        margin-bottom: 30px;
        .period { margin: 40px 0 15px; }
      }

      .period {
        margin: 25px 0 15px;
        font-size: 29px;
        font-weight: 500;
        color: #008ace;
      }

      .price-area {
        color: #333;
        .price { font-size: 50px; font-weight: bold; }
        .price-time { font-size: 16px; }
      }

      .separator {
        width: 170px;
        height: 2px;
        margin: 20px auto 15px;
        background-color: #d9dfe2;
        opacity: 0.5;
      }

      .yearly { font-size: 14px; }

      .savings {
        height: 30px;
        margin: 0 auto 20px;
        .saves {
          color: #00d630;
          font-size: 16px;
          padding: 10px;
          margin: auto;
          width: 120px;
          &.larger { font-size: 20px; margin: 0 auto 0; }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .price-boxes .price-box { margin: 0 0 25px; width: 100%; }
  .price-boxes .price-box:last-child { margin: 25px 0 25px; }
  .price-boxes .price-box .box { margin: auto;}
}
