<div class="price-boxes">
  <div class="price-box" (click)="selectPlan(plans[0])" [ngClass]="{ 'active': plansSrv?.selectedPlan?.id === plans[0].id, 'hover': !showOverride }" *ngIf="plans[0] && plans[0].viewable">

    <div class="box">
      <div class="checkmark"><i class="fa fa-check"></i></div>
      <div class="period">Monthly</div>

      <div>
        <div class="price-area">
          <span class="price-time">$ </span>
          <span class="price">{{plans[0].price | number: '.2-2'}}</span>
          <br>
          <span class="price-time">per month</span>
        </div>
        <div class="separator"></div>
        <div class="yearly">
          Billed ${{plans[0].price}} every month
          <br>
          30 day money-back guarantee
        </div>
      </div>

      <div class="savings">
        <div class="saves"></div>
      </div>
    </div>
  </div>

  <div class="price-box" (click)="selectPlan(plans[1])" [ngClass]="{ 'active': plansSrv?.selectedPlan?.id === plans[1].id, 'hover': !showOverride }" *ngIf="plans[1] && plans[1].viewable">

    <div class="box buff">
      <div class="checkmark"><i class="fa fa-check"></i></div>
      <div class="period">Yearly</div>
      <div class="best-value">
        <div class="text">Best Value</div>
      </div>

      <div>
        <div class="price-area">
          <span class="price-time green">$ </span>
          <span class="price green">{{plans[1].price / 12 | number:'.2-2'}}</span>
          <br>
          <span class="price-time green">per month</span>
        </div>
        <div class="separator"></div>
        <div class="yearly">
          Billed <span class="strike">{{ '$' + ((plans[0].price * 12) | number:'.2-2') }}</span> ${{plans[1].price | number:'.2-2'}} every 12 months
          <br>
          30 day money-back guarantee
        </div>
      </div>

      <div class="savings">
        <div class="saves larger">Save {{ 100 - ((plans[1].price / (plans[0].price * 12)) * 100) | number:'.0-0' }}%</div>
      </div>
    </div>
  </div>

  <div class="price-box" (click)="selectPlan(plans[2])" [ngClass]="{ 'active': plansSrv?.selectedPlan?.id === plans[2].id, 'hover': !showOverride }" *ngIf="plans[2] && plans[2].viewable">

    <div class="box">
      <div class="checkmark"><i class="fa fa-check"></i></div>
      <div class="period">6 Monthly</div>

      <div>
        <div class="price-area">
          <span class="price-time">$ </span>
          <span class="price">{{plans[2].price / 6 | number:'.2-2'}}</span>
          <br>
          <span class="price-time">per month</span>
        </div>
        <div class="separator"></div>
        <div class="yearly">
          Billed <span class="strike">{{ '$' + ((plans[0].price * 6) | number:'.2-2') }}</span> ${{plans[2].price | number:'.2-2'}} every 6 months
          <br>
          30 day money-back guarantee
        </div>
      </div>

      <div class="savings">
        <div class="saves">Save {{ 100 - ((plans[2].price / (plans[0].price * 6)) * 100) | number:'.0-0' }}%</div>
      </div>
    </div>
  </div>
</div>

<div class="info">All amounts shown are in USD.</div>
