.user-plan {
  text-align: center;
  font-size: 20px;
  margin: 0 0 30px;
}

.price-boxes {
  text-align: center;

  .price-box {
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: #1987bd;
    vertical-align: middle;
    position: relative;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    &.hover:hover .box {
      opacity: 1;
      border-color: #90d6a0;
      transition: border-color 0.1s, box-shadow 0.5s, opacity 0.1s;
    }
    &.active .box {
      opacity: 1;
      border-color: #00d630 !important;
      box-shadow: 0 0 15px rgba(0,100,30,0.25);
      transition: border-color 0.1s, box-shadow 0.5s, opacity 0.1s;
    }
    &.active .box .checkmark {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.4s ease-in, visibility 0.4s step-start, transform 0.4s cubic-bezier(0.5,0,0.5,2.5);
    }


    &.grey { cursor: default; }
    &.grey .box { background-color: #eee; }

    .best-value {
      width: 115px;
      height: 80px;
      overflow: hidden;
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 5;

      .text {
        padding: 5px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #ff7857;
        width: 155px;
        transform: rotate(35deg);
        position: relative;
        right: 5px;
        top: 20px;
      }
    }

    .box {
      width: 300px;
      position: relative;
      border: 5px solid #d9dfe2;
      color: #aaa;
      background-color: #fff;
      opacity: 0.9;
      transition: border-color 0.5s, box-shadow 0.5s, opacity 0.5s;
      height: 290px;

      &.buff {
        height: 310px;
        .checkmark { top: 10px; }
        .period { margin-top: 35px; }
        .savings { font-size: 22px; line-height: 50px; }
      }

      .checkmark {
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.1);
        width: 80px;
        height: 80px;
        position: absolute;
        text-align: center;
        font-size: 50px;
        color: #00d630;
        font-family: FontAwesome;
        transition: opacity 0.2s ease-out, visibility 0.3s step-end, transform 0.5s cubic-bezier(0.5,0,1,0.5);

        i {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .period {
        margin: 25px 0 15px;
        font-size: 29px;
        font-weight: 500;
        color: #000;
      }

      .price-area {
        color: #888;
        .price { font-size: 50px; font-weight: bold; }
        .price-time { font-size: 20px; }
        .green { color: #00d630; }
      }

      .separator {
        width: 170px;
        height: 2px;
        margin: 20px auto 15px;
        background-color: #d9dfe2;
        opacity: 0.5;
      }

      .yearly {
        font-size: 14px;
        .strike { color: #ccc; text-decoration: line-through; }
        .new { color: #00d630; }
      }

      .savings {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        padding-bottom: 8px;
        box-sizing: content-box;
        line-height: 40px;
        color: #00d630;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.info {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  color: #888;
}

@media (max-width: 975px) {
  .price-boxes .price-box { margin: 0 0 25px; width: 100%; }
  .price-boxes .price-box.active { width: 100%; }
  .price-boxes .price-box .box { margin: auto;}
  .info { text-align: center; margin-bottom: 30px; }
}
