.price-boxes {
  text-align: center;

  .price-box {
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: #1987bd;
    vertical-align: middle;
    position: relative;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    &.hover:hover, &.active { .box { border-color: #00d630; } }
    &.active .box .checkmark { display: block; }

    .best-value {
      width: 115px;
      height: 80px;
      overflow: hidden;
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 5;

      .text {
        padding: 5px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #ff7857;
        width: 155px;
        transform: rotate(35deg);
        position: relative;
        right: 5px;
        top: 20px;
      }
    }

    .box {
      width: 300px;
      position: relative;
      border: 5px solid #d9dfe2;
      color: #aaa;
      background-color: #fff;

      &.buff {
        height: 300px;
        .period { margin: 40px 0 15px; }
      }

      .checkmark {
        display: none;
        width: 80px;
        height: 80px;
        position: absolute;
        text-align: center;
        font-size: 50px;
        color: #00d630;
        font-family: FontAwesome;

        i {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .period {
        margin: 25px 0 15px;
        font-size: 29px;
        font-weight: 500;
        color: #000;
      }

      .price-area {
        color: #888;
        .price { font-size: 50px; font-weight: bold; }
        .price-time { font-size: 20px; }
        .green { color: #00d630; }
      }

      .separator {
        width: 170px;
        height: 2px;
        margin: 20px auto 15px;
        background-color: #d9dfe2;
        opacity: 0.5;
      }

      .yearly {
        font-size: 14px;
        .strike { color: red; text-decoration: line-through; }
      }

      .savings {
        height: 30px;
        margin: 0 auto 20px;
        .saves {
          color: #00d630;
          font-size: 16px;
          padding: 10px;
          margin: auto;
          width: 120px;
          &.larger { font-size: 20px; margin: 0 auto 0; }
        }
      }
    }
  }
}

.info {
  font-size: 14px;
  text-align: left;
  margin: 0 0 0 50px;
}

@media (max-width: 975px) {
  .price-boxes .price-box { margin: 0 0 25px; width: 100%; }
  .price-boxes .price-box.active { width: 100%; }
  .price-boxes .price-box .box { margin: auto;}
  .info { text-align: center; margin: 0 0 30px; }
}
