.price-boxes {
  text-align: center;

  .price-box {
    display: inline-block;
    width: 250px;
    margin: 0 50px 0 0;
    cursor: pointer;
    color: #1987bd;
    &:last-child { margin: 0; }
    &.active {
      color: #4a991c;
      .box {
        border-color: #4a991c;
        .separator { background-color: #4a991c; }
        .savings .saves { border-color: #4a991c; }
        .select .btn { background-color: #4a991c; }
      }
    }

    .best-value {
      width: 225px;
      margin: auto;
      padding: 10px;
      color: #fff;
      font-size: 21px;
      background-color: #ff7857;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .box {
      position: relative;
      border: solid 2px #1987bd;
      border-radius: 5px;
      padding: 10px 0 20px;
      width: 250px;

      &.buff { border-width: 5px; }

      .period {
        margin: 10px 0;
        font-size: 23px;
        font-weight: 500;
      }

      .price-area {
        .price { font-size: 50px; font-weight: bold; }
        .price-time { font-size: 23px; }
      }

      .separator {
        width: 90%;
        height: 2px;
        margin: 20px auto 15px;
        background-color: #1987bd;
        opacity: 0.5;
      }

      .savings {
        height: 30px;
        margin: 20px auto 30px;
        .saves {
          font-size: 16px;
          border: 2px dashed #1987bd;
          border-radius: 10px;
          padding: 10px;
          margin: auto;
          width: 100px;
        }
      }

      .select .btn {
        padding: 10px;
        font-size: 18px;
        background-color: #1987bd;
        border-radius: 30px;
        width: 130px;
      }

    }
  }
}

@media (max-width: 900px) {
  .price-boxes .price-box { margin: 0 0 25px; width: 100%; }
  .price-boxes .price-box:last-child { margin: 25px 0 25px; }
  .price-boxes .price-box .box { margin: auto;}
}
