<!doctype html>
<html 🆖>
<head>
  <meta charset="UTF-8">
  <title>Cypherpunk Privacy Apps & VPN Service</title>
  <base href="/">
  <meta id="meta-desc" name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Protect your online privacy and freedom with easy to use apps for every device.   Try it free for 7 days!  24/7/365 customer support.">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicons/favicon-64x64.png" sizes="64x64">
  <link rel="icon" type="image/png" href="/favicons/favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/favicon-24x24.png" sizes="24x24">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/favicons/manifest.json">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">

  <!-- facebook open graph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <!-- twitter cards tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="cypherpunk.com" />
  <meta name="twitter:title" value="" />
  <meta name="twitter:description" value="" />
  <meta name="twitter:url" value="" />
  <meta name="twitter:image" content="" />

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
  <style>
    @font-face {
      font-family: 'GothamRounded';
      src: url('/assets/fonts/gotham/GothamRnd-Book.otf') format('opentype');
    }

    @font-face {
      font-family: 'GothamRoundedBold';
      src: url('/assets/fonts/gotham/GothamRnd-Medium.otf') format('opentype');
    }
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      box-sizing: border-box;
      font-family: GothamRounded, Arial, sans-serif;
      font-size: 16px;
      -webkit-font-smoothing: subpixel-antialiased;
      text-rendering: optimizeLegibility;
    }
    *, *:before, *:after { box-sizing: inherit; }
    .wrapper { min-height: 100%; margin-bottom: -389px; }
    .wrapper:after { content: ''; display: block; }
    .footerContainer, .wrapper:after { height: 389px;}

    .scrolled-nav-container, .acc-nav, .footerContainer { background-color: #163138; }
    .masthead, .mobile-nav { width: 100%; background-color: #163138; }

    .header {
      width: 100%;
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      color: #243e43;
    }
    .header.blue { color: #1973af; }
    .header.orange { color: #fc6146; }
    .header.purple { color: #1e016c; }
    .header.white { color: #fff; }
    .header.teal { color: #163439; }
    .header.gold { color: #ffe49a; }

    button { font-family: GothamRounded; font-size: 16px; }
    .btn {
      color: #fff;
      font-weight: bold;
      text-align: center;
      border: 0px;
      border-radius: 5px;
      cursor: pointer;
    }
    .btn.green { background-color: #67b23f; }
    .btn.gold { background-color: #ffc933; }
    .btn.blue { background-color: #1987bd; }
    .btn.teal { background-color: #163138; }
    .btn.orange { background-color: #ff7857; }
    .btn:disabled { cursor: default; background-color: #ccc; }
    input:disabled { background-color: #eee !important; }

    .down-arrow { position: relative; }
    .down-arrow.green:after { border-top: 20px solid #163238; }
    .down-arrow.beige:after { border-top: 20px solid #efeaea; }
    .down-arrow.gray:after { border-top: 20px solid #efebeb; }
    .down-arrow:after {
      content: ' ';
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #fff;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
    }

    .anchor-target {
      padding-top: 80px;
      margin-top: -80px;
      width: 1px;
      display: inline-block;
    }

    .features-anchor-target {
      padding-top: 150px;
      margin-top: -150px;
      width: 1px;
      display: inline-block;
    }

    .jeff img { display: none; }

    .article .separator { padding: 20px 0; }
    .blog.content img { width: 100%; height: 100%; max-width: 100%; }

    .support.content { line-height: 1.5; }
    .support.content b { font-family: GothamRoundedBold; }
    .support.content strong { font-family: GothamRoundedBold; }
    .support.content h3 { padding: 0 0 20px; }
    .support.content ul { padding: 0; }
    .support.content ol { counter-reset: item; padding: 0; margin: 1.6em 0; }
    .support.content ol li {
      padding: 0;
      margin-left: 2.8em;
      margin-bottom: 1.6em;
      list-style-type: none;
      counter-increment: item;
    }
    .support.content ol li:before {
      margin-right: 0.7em;
      margin-left: -2.3em;
      content: counter(item);
      background: #ff7857;
      border-radius: 100%;
      color: #fff;
      width: 1.6em;
      text-align: center;
      display: inline-block;
      line-height: 1.6;
    }

    #AmazonPayButton img { display: none; }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      overflow: auto;
      z-index: 500;
      transition: opacity 0.5s;
    }
    .modal.open { visibility: visible; opacity: 1; }

    .modal .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.35);
    }
    .modal .background.open { display: block; }

    .modal .modal-content {
      position: relative;
      width: 100%;
      max-width: 500px;
      padding: 25px;
      margin: 10% auto;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: -5px 5px 2px #163138;
    }

    .modal .modal-content .modal-header {
      width: 100%;
      padding: 15px 0 0;
      color: #28434E;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.6px
    }

    .modal .modal-content .modal-line {
      width: 25px;
      height: 2px;
      margin: 10px 0 15px 0;
      background-color: #61BBC3;
    }

    .modal .modal-content .modal-body .row { text-align: left; margin: 0 0 15px; }

    .modal .modal-content .modal-body .row .countdown {
      color: #61BBC3;
      text-align: center;
      font-size: 40px;
    }

    .modal .modal-content .modal-body .row label {
      font-size: 18px;
      font-weight: 500;
      color: #61BBC3;
    }

    .modal .modal-content .modal-body .row input {
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: solid 1px #61BBC3;
      color: #163439;
      font-size: 18px;
      font-weight: 500;
      padding: 10px;
      margin: 5px 0 0;
    }
    .modal .modal-content .modal-body .row input.error {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
    }

    .modal .modal-content .modal-body .row textarea { width: 100%; height: 75px; }
    .modal .modal-content .modal-body .row textarea.error {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
    }

    .modal .modal-content .modal-footer {
      margin: 25px 0 0;
      text-align: right;
    }

    .modal .modal-content .modal-footer .btn { width: 130px; height: 41px; }

    @media (max-width: 1110px) {
      .wrapper { margin-bottom: -519px; }
      .footerContainer, .wrapper:after { height: 519px; }
    }

    @media (max-width: 1000px) {
      .wrapper { margin-bottom: -998px; }
      .footerContainer, .wrapper:after { height: 998px; }
    }

    @media (max-width: 1060px) {
      .modal .modal-content { width: 90%; }
      .modal .modal-content .modal-footer .btn { width: 49%; }
    }

    @media (max-width: 595px) {
      .wrapper { margin-bottom: -1128px; }
      .footerContainer, .wrapper:after { height: 1128px; }
    }

    @media (max-width: 475px) {
      .wrapper { margin-bottom: -1258px; }
      .footerContainer, .wrapper:after { height: 1258px; }
    }

    @media (max-width: 365px) {
      .wrapper { margin-bottom: -1388px; }
      .footerContainer, .wrapper:after { height: 1388px; }
    }
  </style>
</head>
<body>

  <app-root>
    Loading Universal ...
  </app-root>

  <!-- begin SnapEngage code -->
  <!-- <script type="text/javascript" async>
    (function() {
      var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
      se.src = '//storage.googleapis.com/code.snapengage.com/js/c87a1134-565f-4670-96f7-0a45cce50e19.js';
      var done = false;
      se.onload = se.onreadystatechange = function() {
        if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
          done = true;
          /* Place your SnapEngage JS API code below */
          /* SnapEngage.allowChatSound(true); Example JS API: Enable sounds for Visitors. */
          if (SnapEngageEmail) { SnapEngage.setUserEmail(SnapEngageEmail); }
        }
      };
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
    })();
  </script> -->
  <!-- end SnapEngage code -->

  <!-- begin piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.cypherpunk.com/";
      _paq.push(['setTrackerUrl', u+'cypherpunk.php']);
      _paq.push(['setSiteId', '1']);
	  /*
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src='/p.js'; s.parentNode.insertBefore(g,s);
	  */
    })();
  </script>
  <!-- end piwik -->

</body>
</html>
