.masthead {
  width: 100%;
  background-color: #0e003f;

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    margin: 45px auto 0;
    padding-bottom: 96px;
  }
}

.cta-container {
  position: relative;

  .call-to-action {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    text-align: center;
  }
}

.btn {
  font-size: 24px;
  width: 341px;
  height: 60px;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 50px;
  &.gold { background-color: #ffc933; }
}

.subheader-content {
  height: 148px;
  width: 100%;
  background-color: #cad8eb;
  text-align: center;
  padding: 0;

  .subheader-version {
    color: #d19e12;
    font-size: 18px;
    padding-top: 55px
  }

  .subheader-slogan {
    color: #666666;
    font-size: 18px;
    margin-top: 15px;
  }
}

.content {
  width: 100%;
  border-bottom: 11px #f2f2f2 solid;
  text-align: center;
  padding: 25px 0;

  .content-header {
    margin: 30px 0;
    font-size: 32px;
    font-weight: 500;
    color: #1973af;
  }

  .grouping {
    text-align: center;
    margin: 0 auto 30px;
    overflow: auto;
    width: 665px;
    &.mobile-devices { width: 430px; }

    .group {
      position: relative;
      float: left;
      text-align: center;
      margin: 0 50px 0 0;
      width: 188px;
      &:last-child { margin-right: 0; }
      &.empty { width: 144px; min-height: 1px; }
      &:hover > a > .download {
        display: block;
        position: absolute;
        top: 30%;
        left: 10%;
        right: 10%;
        margin: auto;
        padding: 10px;
        font-size: 16px;
      }
      .badge {
        padding: 10px;
        .google { width: 155px; }
        .apple { padding: 10px 0; }
      }

      .download {
        display: none;
        &.btn.blue {
          width: auto;
          height: auto;
        }
      }

      a { text-decoration: none; }

      .group-header {
        color: #333333;
        font-size: 22px;
        font-weight: 500
      }
      .group-subheader {
        color: #999999;
        font-size: 14px;
      }
    }
  }
}

.content.no-border { border: 0; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  z-index: 500;
  transition: opacity 0.5s;
  &.open {
    visibility: visible;
    opacity: 1;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.35);
    &.open {
      display: block;
    }
  }

  .modal-content {
    position: relative;
    width: 100%;
    max-width: 80%;
    padding: 25px;
    margin: 10% auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: -5px 5px 2px #28147f;

    .modal-header {
      width: 100%;
      padding: 15px 0 0 0;
      color: #7972c4;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.6px
    }

    .modal-line {
      width: 25px;
      height: 2px;
      margin: 10px 0 15px 0;
      background-color: #d6d6f6;
    }

    .modal-body {
      .row {
        text-align: left;
        margin-bottom: 15px;

        .countdown {
          color: #b4b4ef;
          text-align: center;
          font-size: 40px;
        }
      }

      label {
        font-size: 18px;
        font-weight: 500;
        color: #b4b4ef;
      }
    }

    .modal-footer {
      margin-top: 25px;
      text-align: right;
      .btn.blue {
        width: 130px;
        height: 41px;
        background-color: #29157f;
        &.cancel { background-color: #7972c4; }
      }
      .btn.blue:disabled {
        background-color: #ccc;
      }
    }
  }
}

@media (max-width: 1060px) {
  .modal .modal-content { width: 90%; }
  .modal .modal-content .modal-footer .btn.blue { width: 49%; }
}

@media (max-width: 700px) {
  .content .grouping { width: 100%; }
  .content .grouping.mobile-devices { width: 100%; }
  .content .grouping .group {
    width: 100%;
    margin: 0 0 50px;
  }
  .content { padding: 0 10px; }
  .grey-content { padding: 0 10px; }
}

@media (max-width: 375px) {
  .btn { width: 280px; }
  .cta-container .call-to-action { width: 100%; max-width: 300px; }
}
