<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Download</div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <button class="btn gold" routerLink="/signup">Download for Mac OSX</button>
  </div>
</div>

<div class="grey-content">
  <div class="grey-version">10.8 - 10.11</div>

  <div class="grey-slogan">
    protect your computer from xxxx and xxxxxx something
  </div>
</div>

<div id="desktop" class="content">
  <div class="content-header">Download Cypherpunk for your Computer</div>

  <div class="grouping">
    <div id="windows" class="group">
      <img src="/assets/icon-desktop--windows.png"><br>
      <div class="group-header">Windows</div>
      <div class="group-subheader">XP, Vista, 7, 8, 10</div>
    </div>

    <div id="mac" class="group">
      <img src="/assets/icon-desktop--mac.png"><br>
      <div class="group-header">Mac</div>
      <div class="group-subheader">10.8 - 10.11</div>
    </div>

    <div id="linux" class="group">
      <img src="/assets/icon-desktop--mac.png"><br>
      <div class="group-header">Linux</div>
      <div class="group-subheader">xx - xx</div>
    </div>
  </div>
</div>

<div id="browser" class="content">
  <div class="content-header">Download Cypherpunk for your Browser</div>

  <div class="grouping">
    <div id="chrome" class="group">
      <img src="/assets/icon-desktop--windows.png"><br>
      <div class="group-header">Chrome</div>
      <div class="group-subheader">xx - xx</div>
    </div>

    <div id="firefox" class="group">
      <img src="/assets/icon-desktop--mac.png"><br>
      <div class="group-header">Firefox</div>
      <div class="group-subheader">xx - xx</div>
    </div>

    <div id="opera" class="group">
      <img src="/assets/icon-desktop--mac.png"><br>
      <div class="group-header">Opera</div>
      <div class="group-subheader">xx - xx</div>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-header">Download Cypherpunk for your Mobile Device</div>

  <div class="grouping">
    <div id="ios" class="group">
      <img src="/assets/icon-mobile--ios.png"><br>
      <div class="group-header">iOS</div>
      <div class="group-subheader">iOS 8+</div>
    </div>

    <div id="android" class="group">
      <img src="/assets/icon-mobile--android.png"><br>
      <div class="group-header">Andriod</div>
      <div class="group-subheader">4.0.3+</div>
    </div>
  </div>
</div>

<div class="content no-border">
  <div class="content-header">Download then START CYPHERPUNK</div>

  <div class="button-group">
    <button class="btn gold start" routerLink="/signup">START FREE</button>
    <br>
    or
    <br>
    <button class="btn gold get" routerLink="/join">GET CYPHERPUNK NOW</button>
  </div>

</div>

<app-footer></app-footer>
