<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Download Cypherpunk Privacy</h1>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <a (click)="launchDownloadModal(headerBuild)">
      <button class="btn gold">
        Download for {{ headerBuild.name }}
      </button>
    </a>
  </div>
</div>

<div class="subheader-content">
  <div class="subheader-version">{{ headerBuild.versions }}</div>

  <div class="subheader-slogan">
    Are you a cypherpunk?
  </div>
</div>

<div id="desktop" class="content">
  <h2 class="header blue">Download Cypherpunk for your Computer</h2>

  <div class="grouping">
    <div id="windows" class="group">
      <a (click)="launchDownloadModal(builds.windows)">
        <img src="/assets/icon-desktop--windows.png"><br>
        <h3 class="group-header">{{ builds.windows.name }}</h3>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="mac" class="group">
      <a (click)="launchDownloadModal(builds.mac)">
        <img src="/assets/icon-desktop--mac.png"><br>
        <h3 class="group-header">{{ builds.mac.name }}</h3>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="linux" class="group">
      <a (click)="launchDownloadModal(builds.linux)">
        <img src="/assets/icon-desktop--linux.png"><br>
        <h3 class="group-header">{{ builds.linux.name }}</h3>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
      <select name="linux-download" id="linux-download" [(ngModel)]="currentLinuxBuild">
        <option *ngFor="let version of linuxVersions" value="{{version}}">
          {{version.os}} {{version.version}}
        </option>
      </select>
    </div>
  </div>
</div>

<div id="browser" class="content">
  <h2 class="header blue">Download Cypherpunk for your Browser</h2>

  <div class="grouping">
    <div id="chrome" class="group">
      <a (click)="launchDownloadModal(builds.chrome)">
        <img src="/assets/icon-browser--chrome.png"><br>
        <h3 class="group-header">{{ builds.chrome.name }}</h3>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="firefox" class="group">
      <a (click)="launchDownloadModal(builds.firefox)">
        <img src="/assets/icon-browser--ff.png"><br>
        <h3 class="group-header">{{ builds.firefox.name }}</h3>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="opera" class="group">
      <a (click)="launchDownloadModal(builds.opera)">
        <img src="/assets/icon-browser--opera.png"><br>
        <h3 class="group-header">{{ builds.opera.name }}</h3>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>
  </div>
</div>

<div class="content">
  <h2 class="header blue">Download Cypherpunk for your Mobile Device</h2>

  <div class="grouping mobile-devices">
    <div id="ios" class="group">
      <a href="{{ builds.ios.link }}">
        <img src="/assets/icon-mobile--ios.png"><br>
        <h3 class="group-header">{{ builds.ios.name }}</h3>
        <div class="group-subheader">{{ builds.ios.versions }}</div>
        <div class="badge">
          <img class="apple" src="/assets/apple-appstore-badge.svg" alt="Apple App Store">
        </div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="android" class="group">
      <a href="{{ builds.android.link }}">
        <img src="/assets/icon-mobile--android.png"><br>
        <h3 class="group-header">{{ builds.android.name }}</h3>
        <div class="group-subheader">{{ builds.android.versions }}</div>
        <div class="badge">
          <img class="google" src="/assets/google-play-badge.png" alt="Google Play">
        </div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>
  </div>
</div>

<div class="content no-border">
  <div class="header blue">UPGRADE to Cypherpunk Premium</div>

  <div class="button-group">
    <button class="btn gold" routerLink="/premium">Cypherpunk Premium</button>
  </div>

</div>

<app-footer></app-footer>

<div class="modal" [ngClass]="{'open': showDownloadModal}">
  <div class="background" (click)="showDownloadModal = false" [ngClass]="{'open': showDownloadModal}"></div>
  <div class="modal-content">
    <div class="modal-header">
      Downloading Cypherpunk Privacy for {{ downloadBuildName }}
    </div>

    <div class="modal-line"></div>

    <div class="modal-body">
      <div class="row">
        <label>
          Your download will begin shortly...
          <span *ngIf="countdown === 0"> download started. </span>
          <br>
          Or click here to download now:
          <a href="{{downloadBuildLink}}" target="_top"> download</a>
        </label>
      </div>

      <div class="row">
        <label>{{ thanks }}</label>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn cancel" (click)="showDownloadModal = false">Close</button>
    </div>
  </div>
</div>
