<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Download Cypherpunk Privacy</div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <a href="{{headerBuild.link}}">
      <button class="btn gold">
        Download for {{ headerBuild.name }}
      </button>
    </a>
  </div>
</div>

<div class="subheader-content">
  <div class="subheader-version">{{ headerBuild.versions }}</div>

  <div class="subheader-slogan">
    Are you a cypherpunk?
  </div>
</div>

<div id="desktop" class="content">
  <div class="content-header">Download Cypherpunk for your Computer</div>

  <div class="grouping">
    <div id="windows" class="group">
      <a href="{{ builds.windows.link }}">
        <img src="/assets/icon-desktop--windows.png"><br>
        <div class="group-header">{{ builds.windows.name }}</div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="mac" class="group">
      <a href="{{ builds.mac.link }}">
        <img src="/assets/icon-desktop--mac.png"><br>
        <div class="group-header">{{ builds.mac.name }}</div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="linux" class="group">
      <a href="{{ builds.linux.link }}">
        <img src="/assets/icon-desktop--linux.png"><br>
        <div class="group-header">{{ builds.linux.name }}</div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>
  </div>
</div>

<div id="browser" class="content">
  <div class="content-header">Download Cypherpunk for your Browser</div>

  <div class="grouping">
    <div id="chrome" class="group">
      <a href="{{ builds.chrome.link }}">
        <img src="/assets/icon-browser--chrome.png"><br>
        <div class="group-header">{{ builds.chrome.name }}</div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="firefox" class="group">
      <a href="{{ builds.firefox.link }}">
        <img src="/assets/icon-browser--ff.png"><br>
        <div class="group-header">{{ builds.firefox.name }}</div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="opera" class="group">
      <a href="{{ builds.opera.link }}">
        <img src="/assets/icon-browser--opera.png"><br>
        <div class="group-header">{{ builds.opera.name }}</div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content-header">Download Cypherpunk for your Mobile Device</div>

  <div class="grouping">
    <div id="ios" class="group">
      <a href="{{ builds.ios.link }}">
        <img src="/assets/icon-mobile--ios.png"><br>
        <div class="group-header">{{ builds.ios.name }}</div>
        <div class="group-subheader">{{ builds.ios.versions }}</div>
        <div class="badge">
          <img class="apple" src="/assets/apple-appstore-badge.svg" alt="Apple App Store">
        </div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>

    <div id="android" class="group">
      <a href="{{ builds.android.link }}">
        <img src="/assets/icon-mobile--android.png"><br>
        <div class="group-header">{{ builds.android.name }}</div>
        <div class="group-subheader">{{ builds.android.versions }}</div>
        <div class="badge">
          <img class="google" src="/assets/google-play-badge.png" alt="Google Play">
        </div>
        <div class="download btn blue">
          <i class="fa fa-download"></i>&nbsp;Download
        </div>
      </a>
    </div>
  </div>
</div>

<div class="content no-border">
  <div class="content-header">UPGRADE to Cypherpunk Premium</div>

  <div class="button-group">
    <button class="btn gold" routerLink="/premium">Cypherpunk Premium</button>
  </div>

</div>

<app-footer></app-footer>
