<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    Linux
  </h1>

  <div class="masthead-divider"></div>

  <div class="masthead-subheader">
    Setting you free by bringing back the internet as it was meant to be
  </div>
</div>

<div class="header-bottom-border"></div>

<div class="content">
  <div class="content-inner">
    <h2 class="header blue">What Cypherpunk Will Do For You</h2>

    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img src="/assets/blocked-content.png" alt="Access Blocked Content" title="Unrestricted access to all websites and apps.">
        </div>

        <h3 class="cell-header">Access Blocked Content</h3>

        <div class="cell-text">
          Experience the entire internet the way it was meant to be, free from censorship and blocking.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/online-privacy.png" alt="Online Privacy" title="Cypherpunk protects your privacy and identity on the internet.">
        </div>

        <h3 class="cell-header">Online Privacy</h3>

        <div class="cell-text">
          What you do online, is your business.  We help you keep it that way – free from surveillance, tracking, ID thieves and hackers.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/secure-wifi.png" alt="Secure Public WiFi" title="Turn a public WiFi network into a secure access point.">
        </div>

        <h3 class="cell-header">Secure Public WiFi</h3>

        <div class="cell-text">
          We keep you safe on the go, making every public Wi-Fi network a private and secure access point for you.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content grey">
  <div class="content-inner">
    <h2 class="header blue">What Cypherpunk Will Do For You</h2>

    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img src="/assets/blocked-content.png" alt="Access Blocked Content" title="Unrestricted access to all websites and apps.">
        </div>

        <h3 class="cell-header">Access Blocked Content</h3>

        <div class="cell-text">
          Experience the entire internet the way it was meant to be, free from censorship and blocking.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/online-privacy.png" alt="Online Privacy" title="Cypherpunk protects your privacy and identity on the internet.">
        </div>

        <h3 class="cell-header">Online Privacy</h3>

        <div class="cell-text">
          What you do online, is your business.  We help you keep it that way – free from surveillance, tracking, ID thieves and hackers.
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img src="/assets/secure-wifi.png" alt="Secure Public WiFi" title="Turn a public WiFi network into a secure access point.">
        </div>

        <h3 class="cell-header">Secure Public WiFi</h3>

        <div class="cell-text">
          We keep you safe on the go, making every public Wi-Fi network a private and secure access point for you.
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
