<form [formGroup]="stripeForm">
  <p>
    <label>Name on Card</label><br>
    <input name="name" type="text" required formControlName="name" [(ngModel)]="stripeFormData.name" [ngClass]="{'error': name.touched && !name.valid, 'success': name.touched && name.valid}"/>
  </p>

  <p>
    <label>Card Number</label><br>
    <input name="cardNumber" type="text" required formControlName="cardNumber" [(ngModel)]="stripeFormData.cardNumber" [ngClass]="{'error': cardNumber.touched && !cardNumber.valid, 'success': cardNumber.touched && cardNumber.valid}"/>
  </p>

  <div class="info">
    <div class="half" [ngClass]="{'dashboard': small}">
      <div class="half">
        <label>Exp. Month</label><br />
        <select id="ccexpirymonth" name="expiryMonth" required formControlName="expiryMonth" [(ngModel)]="stripeFormData.month" [ngClass]="{'error': expiryMonth.touched && !expiryMonth.valid, 'success': expiryMonth.touched && expiryMonth.valid}">
          <option *ngFor="let month of monthArray" [value]="month">{{month}}</option>
        </select>
      </div>

      <div class="half">
        <label>Exp. Year</label><br />
        <select id="ccexpiryyear" name="expiryYear" required formControlName="expiryYear" [(ngModel)]="stripeFormData.year" [ngClass]="{'error': expiryYear.touched && !expiryYear.valid, 'success': expiryYear.touched && expiryYear.valid}">
          <option *ngFor="let year of yearArray" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>

    <div class="half" [ngClass]="{'dashboard': small}">
      <label>Security Code</label><br>
      <img class="first" src="/assets/payment/security-code-01.png" alt="CVC">
      <img src="/assets/payment/security-code-02.png" alt="CVC">
      <span>
        <input id="cccvc" name="cvc" type="text" required maxlength="4" formControlName="cvc" [(ngModel)]="stripeFormData.cvc" [ngClass]="{'error': cvc.touched && !cvc.valid, 'success': cvc.touched && cvc.valid}" placeholder="3 on back, Amex: 4 on front">
      </span>
    </div>
  </div>

  <p>
    <label>Country</label><br>
    <select id="country" name="country" required formControlName="country" [(ngModel)]="stripeFormData.country" [ngClass]="{'error': country.touched && !country.valid, 'success': country.touched && country.valid}">
      <option *ngFor="let country of countries" [value]="country.name">
        {{country.name}}
      </option>
    </select>
  </p>

  <p [hidden]="stripeFormData.country !== 'United States' && stripeFormData.country !== 'United Kingdom' && stripeFormData.country !== 'Canada'">
    <label>Zip Code</label><br>
    <input name="zipCode" type="text" formControlName="zipCode" [(ngModel)]="stripeFormData.zipCode" [ngClass]="{'error': zipCode.touched && !zipCode.valid, 'success': zipCode.touched && zipCode.valid}">
  </p>
</form>
