//label { font-size: 18px; color: #7f7979; }

.field {
  position: relative;
  margin-bottom: 15px;

  label {
    display: block;
    font-size: 16px;
    color: #9f9999;
    overflow-x: visible;
  }

  /*
  .error-message {
    color: #a94442;
    text-align: right;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 100%;
    //&.cvc { margin-left: 5px; }
  }
  */

  .half {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    input { width: 100%; }
    img { margin: 0 10px 0; float: right; height: 50px; padding: 10px 0 0; }
    img + img { margin: 0; }
    span { display: block; overflow: hidden; padding: 0 5px; }
    #cccvc { width: 100%; }

    .half {
      float: left;
      width: 50%;
      padding: 0 5px;
    }
  }

  &.name, &.card, &.country, &.zip {
    float: left;
    width: 100%;
    clear: both;
  }
  &.month {
    clear: both;
  }
  &.month, &.year {
    float: left;
    width: 25%;
    padding-right: 15px;
  }
  &.cvc {
    float: left;
    width: 50%;
    img {
      float: right;
      height: 50px;
      margin: 5px 0 5px 10px;
      padding: 5px 0;
    }
    .align {
      position: relative;
      margin-right: 75px;
    }
  }
}

@media (max-width: 600px) {
  .field.month, .field.year { width: 50%; }
  .field.year { padding-right: 0; }
  .field.cvc { width: 100%; clear: both; }
}
