.payment-options {
  text-align: center;

  .type-container {
    display: inline-block;
    cursor: pointer;
    margin: 0 20px 0;
    opacity: 1;
    &.fade { opacity: 0.5; }
    img { display: none; margin: auto; width: 185px; }
    img.show { display: block; }
  }

  .text {
    text-align: center;
    input { display: none; }
    input, label { cursor: pointer; }
    label { color: #163238; vertical-align: middle; }

    .circle {
      width: 20px;
      height: 20px;
      border: 2px solid #7f7979;
      border-radius: 40px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      .circle-inner {
        display: none;
        width: 10px;
        height: 10px;
        background-color: #00d630;
        border-radius: 25px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &.checked { border-color: #00d630; }
      &.checked .circle-inner { display: block; }
    }
  }
}

@media (max-width: 935px) {
  .payment-options .type-container { margin: 0 20px 25px; }
}
