<div class="wrapper">

<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Feedback</h1>
</div>

<div class="navigation">
  <ul>
    <li (click)="updateLocation('survey')" [ngClass]="{'active': currentTab === 'survey'}">Survey</li>
    <li (click)="updateLocation('feedback')" [ngClass]="{'active': currentTab === 'feedback'}">Feedback</li>
    <li (click)="updateLocation('vote')" [ngClass]="{'active': currentTab === 'vote'}">Feature Request</li>
  </ul>
</div>

<div class="content survey" *ngIf="currentTab === 'survey'">
  <div class="body">
    <h2 class="header orange">Take a moment and fill out our survey</h2>

    <p>
      We are seeking feedback from our users – as your guidance gives us a better insight into the Cypherpunk Privacy community. Your feedback will help up focus our efforts in a specific direction guided by you!
    </p>

    <div class="button-container">
      <button id="survey-button" class="btn orange" (click)="showSurvey()">Start Survey</button>
    </div>

    <iframe id="survey" frameborder="0" width="100%" height="2750" scrolling="auto" allowtransparency="true" src="//slickaged.polldaddy.com/s/test-survey?iframe=1"><a href="//slickaged.polldaddy.com/s/test-survey">View Survey</a></iframe>
  </div>
</div>

<div class="content feedback" *ngIf="currentTab === 'feedback'">
  <div class="body">
    <button class="btn orange" (click)="openFeedback()">
      Click here to Leave Feedback
    </button>
  </div>
</div>

<div class="content suggest" *ngIf="currentTab === 'vote'">
  <div class="body">
    <h2 class="header orange">Vote for a Feature</h2>

    <p>
      We are seeking features from our users – vote on a feature for us to work on next. Your feedback will help up focus our efforts in a specific direction guided by you!
    </p>

    <div class="button-container">
      <button id="vote-button" class="btn orange" (click)="showVote()">Vote for a Feature</button>
    </div>

    <iframe id="vote" frameborder="0" width="100%" height="600" scrolling="auto" allowtransparency="true" src="//slickaged.polldaddy.com/s/feature-request?iframe=1"><a href="//slickaged.polldaddy.com/s/feature-request">View Poll</a></iframe>
  </div>
</div>

</div>

<app-footer></app-footer>
