.masthead {
  .masthead-header { margin: 45px auto 0; padding: 0 0 95px; }
}

.navigation {
  background-color: #163138;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

    li {
      color: #fff;
      padding: 20px;
      display: inline-block;
      cursor: pointer;
      &.active {
        background-color: #fff;
        color: #163439;
      }
    }
  }
}

.content {
  width: 100%;
  padding: 30px 0 60px;

  .body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  &.feedback { padding: 60px 0; text-align: center; }
  &.survey {
    padding: 0;
    .survey-button {
      text-align: center;
      .btn { margin: 0 0 40px; }
    }
  }
  &.bounty {
    color: #4a4a4d;
    .header { text-align: left; margin: 0.67em 0; }
    hr {
      height: 2px;
      border: solid 1px #1973af;
      margin-bottom: 25px;
    }
  }
}

.btn {
  font-size: 24px;
  width: 320px;
  height: 60px;
}

#survey { display: none; }

@media (max-width: 1016px) {
  .content { padding: 30px 10px 60px; }
  .content .body .text { text-align: center; }
  .content .body .left { margin-bottom: 30px; }
  .content .body .left, .content .body .right {
    max-width: 100%;
    .text { margin: auto; }
  }
}

@media (max-width: 375px) {
  .content .body .image { width: 260px; }
  .btn { width: 280px; font-size: 22px; }
}
