.masthead {
  width: 100%;
  height: 101px;
  background-color: #cad8eb;
  margin-bottom: 50px;
  text-align: center;

  .masthead-subheader {
    padding: 15px 0 0;
    font-size: 18px;
    font-weight: 500;
    color: #666666;
  }

  .masthead-header {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }
}

.btn {
  width: 90%;
  max-width: 341px;
  height: 60px;
  font-size: 24px;
}

.content {
  .row {
    padding: 10px 25px;
    margin: 0 auto 25px;
    max-width: 450px;
    text-align: left;
  }

  .currentEmail {
    font-size: 20px;
    font-weight: 500;
    color: #034698;
  }

  .center { text-align: center; }
  .border { border-bottom: 1px solid #ccc; padding: 0; }

  input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #999;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
  }
  label {
    font-size: 18px;
    font-weight: 500;
    color: #666;
  }
}
