<app-acc-nav></app-acc-nav>

<div class="masthead">
  <div class="masthead-subheader">Account Info</div>
  <div class="masthead-header">Change Email</div>
</div>

<div class="content">

  <div class="row">
    <label>Current Email</label><br>
    <span class="currentEmail">{{user.email}}</span>
  </div>

  <div class="row">
    <label for="newEmail">New Email</label><br>
    <input type="email" name="newEmail">
  </div>

  <div class="row border"></div>

  <div class="row center">
    <button class="btn blue">Change</button>
  </div>

  <div class="row center">
    <a routerLink="/account">Cancel</a>
  </div>

</div>

<app-footer></app-footer>
