<div id="nav" class="nav">
  <div class="nav-left">
    <a routerLink="/">
      <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>
  </div>

  <nav class="nav-right" *ngIf="enableLinks">
    <ul>
      <li>
        <a class="nav-link" routerLink="/why-use-a-vpn" routerLinkActive="active">How It Works</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/features" routerLinkActive="active">Features</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/apps" routerLinkActive="active">Apps</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/pricing" routerLinkActive="active" *ngIf="!isLoggedIn()">
          Pricing
        </a>
      </li>
      <li>
        <a class="nav-link last" routerLink="/support" routerLinkActive="active">Support</a>
      </li>
      <li>
        <a href="{{link}}" (click)="redirect()" target="_self" *ngIf="isLoggedIn()">
          <button class="btn border">DOWNLOAD</button>
        </a>
      </li>
      <li>
        <a routerLink="/signup" *ngIf="!isLoggedIn()">
          <button class="btn orange">START FREE</button>
        </a>
      </li>
      <li>
        <a routerLink="/account/upgrade" *ngIf="env === 'DEV' && isLoggedIn() && getAccountType() === 'free'">
          <button class="btn orange">UPGRADE</button>
        </a>
      </li>
      <li class="nav-link no-margin" *ngIf="!isLoggedIn()">
        <a routerLink="/login">
          <button class="btn border no-margin">SIGN IN</button>
        </a>
      </li>
      <li class="nav-link no-margin" *ngIf="isLoggedIn()">
        <a routerLink="/account">
          <button class="btn no-margin" [ngClass]="{'orange': getAccountType() !== 'free', 'border': getAccountType() === 'free'}">MY ACCOUNT</button>
        </a>
      </li>
    </ul>
  </nav>
  <div class="clear"></div>
</div>

<div id="scrolled-nav" class="scrolled-nav-container">
  <div class="nav">
    <div class="nav-left">
      <a routerLink="/">
        <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
      </a>
    </div>

    <nav class="nav-right" *ngIf="enableLinks">
      <ul>
        <li>
          <a class="nav-link" routerLink="/why-use-a-vpn" routerLinkActive="active">How It Works</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/features" routerLinkActive="active">Features</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/apps" routerLinkActive="active">Apps</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/pricing" routerLinkActive="active" *ngIf="!isLoggedIn()">
            Pricing
          </a>
        </li>
        <li>
          <a class="nav-link last" routerLink="/support" routerLinkActive="active">Support</a>
        </li>
        <li>
          <a href="{{link}}" (click)="redirect()" target="_self" *ngIf="isLoggedIn()">
            <button class="btn border">DOWNLOAD</button>
          </a>
        </li>
        <li>
          <a routerLink="/signup" *ngIf="!isLoggedIn()">
            <button class="btn orange">START FREE</button>
          </a>
        </li>
        <li>
          <a routerLink="/account/upgrade" *ngIf="env === 'DEV' && isLoggedIn() && getAccountType() === 'free'">
            <button class="btn orange">UPGRADE</button>
          </a>
        </li>
        <li class="nav-link no-margin" *ngIf="!isLoggedIn()">
          <a routerLink="/login">
            <button class="btn border no-margin">SIGN IN</button>
          </a>
        </li>
        <li class="nav-link no-margin" *ngIf="isLoggedIn()">
          <a routerLink="/account">
            <button class="btn orange no-margin" [ngClass]="{'orange': getAccountType() !== 'free', 'border': getAccountType() === 'free'}">MY ACCOUNT</button>
          </a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>

  <features-navigation [inNavigation]="true"></features-navigation>
  <apps-navigation [inNavigation]="true"></apps-navigation>
  <support-navigation [inNavigation]="true"></support-navigation>
  <aboutus-navigation [inNavigation]="true"></aboutus-navigation>
</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/">
      <img src="/assets/logo@2x.png" class="mobile-logo" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown" *ngIf="enableLinks">
      <img src="/assets/icon-menu.png" alt="Menu Button" title="Click to Open Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }">
    <div class="mobile-dd-item" routerLink="/why-use-a-vpn" routerLinkActive="active">
      How It Works
    </div>
    <div class="mobile-dd-item" routerLink="/features" routerLinkActive="active">
      Features
    </div>
    <div class="mobile-dd-item" routerLink="/apps" routerLinkActive="active">
      Apps
    </div>
    <div class="mobile-dd-item" routerLink="/pricing" routerLinkActive="active" *ngIf="!isLoggedIn()">
      Pricing
    </div>
    <a routerLink="/support" routerLinkActive="active">
      <div class="mobile-dd-item">Support</div>
    </a>
    <div class="mobile-dd-item">
      <a href="{{link}}" (click)="redirect()" target="_self" *ngIf="isLoggedIn()">Download</a>
    </div>
    <a routerLink="/signup" routerLinkActive="active" *ngIf="!isLoggedIn()">
      <div class="mobile-dd-item orange">START FREE</div>
    </a>
    <a routerLink="/account/upgrade" *ngIf="env === 'DEV' && isLoggedIn() && getAccountType() === 'free'">
      <div class="mobile-dd-item">UPGRADE</div>
    </a>
    <div class="mobile-dd-item" *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">
      SIGN IN
    </div>
    <div class="mobile-dd-item" *ngIf="isLoggedIn()" routerLink="/account">
      MY ACCOUNT
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="scrolled-mobile-nav" class="scrolled-mobile-nav" *ngIf="bannerModel && enableLinks">
  <div style="overflow:auto;" *ngIf="bannerModal?.type === 'android'">
    <a href="{{bannerModel.link}}">
      <div class="left">
        <div class="heading">
          {{ bannerModel.heading }}
        </div>

        <div class="subheading">
          {{ bannerModel.subheading }}
        </div>
      </div>

      <div class="right">
        <img class="ios" src="/assets/apple-appstore-badge.svg" alt="Apple App Store" *ngIf="bannerModel.type === 'ios'">
        <img class="android" src="/assets/google-play-badge.png" alt="Google Play" *ngIf="bannerModel.type === 'android'">
      </div>
    </a>
  </div>

  <features-navigation [inNavigationMobile]="true"></features-navigation>
  <apps-navigation [inNavigationMobile]="true"></apps-navigation>
  <support-navigation [inNavigationMobile]="true"></support-navigation>
  <aboutus-navigation [inNavigationMobile]="true"></aboutus-navigation>
</div>

<app-alerts></app-alerts>
