.wrapper {
  .masthead .masthead-header {
    font-size: 28px;
    margin: 0 auto 0;
    padding: 0 10px 40px;
  }

  .quickstart {
    background-color: #efeaea;
    padding: 50px 0 0;

    .quickstart-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      text-align: center;

      .header { margin: 0 0 40px; }

      .platform {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 60px;
        color: #1a74b0;

        a { color: #1a74b0; text-decoration: none; }
        img { width: 100%; }
        .text { padding: 10px 0 0; font-weight: bold; }
      }
    }
  }

  .page {
    width: 100%;
    padding: 50px 0;
    border-bottom: 5px solid #efeaea;

    .page-inner {
      margin: auto;
      max-width: 1000px;

      $left-margin: 40px;

      .header {
        width: auto;
        margin: 0 0 30px $left-margin;
        text-align: left;
        color: #366;
      }

      .collapsible {
        cursor: pointer;
        &:before {
          margin-left: -$left-margin;
          width: $left-margin;
          display: block;
          font-family: 'FontAwesome';
          font-size: 75%;
          opacity: 0.33;
          text-align: right;
          padding-right: 10px;
          float: left;
          box-sizing: border-box;
          line-height: 175%;
          transition: opacity 0.3s;
        }
        &:before { content: '\f147'; } // [-]
        &.open:before { content: '\f147'; } // [-]
        &.closed:before { content: '\f196'; } // [+]
        &:hover:before {
          opacity: 1;
        }
      }

      section {
        margin: 30px 0 60px;

        b {
          letter-spacing: -0.05em;
        }
        li + li {
          margin-top: 10px;
        }

        .question {
          display: block;
          font-size: 19px;
          margin: 20px 0 10px $left-margin;
          color: #5aa;
        }

        .answer {
          font-size: 16px;
          line-height: 1.3;
          margin: 0 0 50px $left-margin;
          transition: all 0.5s ease-out;

          p:first-child {
            margin-top: 0;
          }
          p:last-child {
            margin-bottom: 0;
          }
        }

        .open.collapsible.question + .answer {
          display: block;
        }
        .closed.collapsible.question + .answer {
          display: none;
        }

        .closed.collapsible.header {
          margin-bottom: -30px;
        }
        .closed.collapsible.header ~ * {
          display: none;
        }
      }



      .row {
        max-width: 1000px;
        font-size: 0;

        section {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding: 0 10px 25px;

          .section-header {
            cursor: pointer;
            font-size: 20px;
          }

          .links {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: all 0.5s ease-out;

            ul {
              margin: 0;
              padding: 0 0 0 10px;
              list-style-type: none;

              li {
                font-size: 14px;
                padding-top: 10px;
                a { text-decoration: none; }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .wrapper .page .page-inner .row section { width: 100%; }
}

@media (max-width: 380px) {
  .wrapper .contact .options .option { margin: 0 auto; }
}
