<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">Cypherpunk Privacy Support</h1>

    <search-contact></search-contact>
  </div>

  <support-navigation></support-navigation>

  <div class="page">
    <div class="page-inner">

      <section>
        <div class="collapsible header" id="category-privacy" (click)="toggle('category-privacy')">Privacy Protection and Features</div>

        <!--
        <div class="collapsible question" id="" (click)="toggle('')">

        </div>
        <div class="answer">

        </div>
        -->


        <div class="collapsible question" id="privacy-how-cypherpunk-helps" (click)="toggle('privacy-how-cypherpunk-helps')">
          How does Cypherpunk Privacy protect my online privacy?
        </div>
        <div class="answer">
          <p>The Cypherpunk Privacy Suite&trade; of apps will reroute your internet traffice into an encrypted VPN or proxy tunnel, which prevents your internet service provider and other untrusted third parties from inspecting, monitoring or manipulating your internet connection.</p>
          <p>At the other end of this tunnel is the Cypherpunk Privacy Network&trade;, through which your and other users' traffic is routed until it exits back onto the Internet again. Our strict no-logging policy means that we never store any records of your online activities, and other users will only see you as coming from our network.</p>
          <p>Our apps also help secure your devices to prevent accidentally leaking your real location, and for additional protection, you can enable the content filtering features in our apps, which block ads, trackers and malware sites, making it harder for you to be tracked or attacked.</p>
        </div>

        <div class="collapsible question" id="privacy-leaks" (click)="toggle('privacy-leaks')">
          How does Cypherpunk Privacy protect against privacy leaks?
        </div>
        <div class="answer">
          <p>Even when you are connected through our secure network, your computer or device is still aware of the physical network it is directly connected to as well, and may include information about that network <b>in</b> your communication to websites, which can compromise your privacy. Cypherpunk Privacy protects against the following kinds of leaks:</p>
          <ul>
            <li><b>DNS requests:</b> In order to connect to any website, your computer first needs to look up the site's address. These lookups are unencrypted and reveal a lot of information about which sites you visit. To protect your privacy, our apps instead route all DNS requests via our secure DNS server through the VPN tunnel itself, preventing anyone from listening in.</li>
            <li><b>IPv6 traffic:</b> Our apps safely block IPv6 traffic which might otherwise escape onto the Internet directly.</li>
            <li><b>WebRTC IP leak:</b> Our browser extension disables WebRTC, which can otherwise tell websites and other computers about your real IP address.</li>
          </ul>
        </div>

        <div class="collapsible question" id="privacy-what-is-cypherplay" (click)="toggle('privacy-what-is-cypherplay')">
          What is CypherPlay&trade; and when should I use it?
        </div>
        <div class="answer">
          <b>CypherPlay&trade;</b> is our proprietary technology which intelligently reroutes your traffic to the correct destination, allowing you to access your favorite content from all over the world without ever needing to switch servers. With CypherPlay&trade; you no longer need to think about the details!
        </div>

        <div class="collapsible question" id="privacy-browser-extension" (click)="toggle('privacy-browser-extension')">
          Should I use the Cypherpunk browser extension in addition to the Cypherpunk desktop VPN app?
        </div>
        <div class="answer">
          While our browser extension offers a lightweight option to proxy only your web traffic through our Cypherpunk Privacy Network&trade;, it also complements the desktop app by offering specific features such as WebRTC leak protection and better blocking of ads &amp; trackers.
        </div>
        
        <div class="collapsible question" id="privacy-simultaneous-connections" (click)="toggle('privacy-simultaneous-connections')">
          How many devices can I connect to Cypherpunk Privacy at one time?
        </div>
        <div class="answer">
          You are allowed to have up to five (5) devices connected to the Cypherpunk Privacy Network&trade; simultaneously. Running the browser extension counts as one device.
        </div>

        <div class="collapsible question" id="privacy-proxy-vs-vpn" (click)="toggle('privacy-proxy-vs-vpn')">
          What is the difference between a proxy and a VPN?
        </div>
        <div class="answer">
          A proxy is an application-level tunnel which lets apps route their traffic via a proxy server rather than directly to its destination, but the app must be intentionally written to be able to use a proxy. A VPN is a network-level tunnel which redirects <b>all</b> traffic on your entire machine. Apps don't need to know about or explicitly support VPNs in order to have their traffic tunneled.
        </div>
        
        <div class="collapsible question" id="privacy-speed" (click)="toggle('privacy-speed')">
          How does using a VPN or proxy affect my connection speed?
        </div>
        <div class="answer">
          <p>As tunneling your traffic involves a bit of extra work to wrap and encrypt your traffic, as well as sending it on a (usually) longer route through the Internet, your connection speed is often a little slower while using a VPN, however usually only marginally so. Your latency (ping time) is usually also longer for the same reason.</p>
          <p>You can minimize this loss by always connecting to the closest available server, and if you are more concerned with speed than privacy you can also connect via an unencrypted tunnel.</p>
        </div>

        <div class="collapsible question" id="privacy-encryption-profiles" (click)="toggle('privacy-encryption-profiles')">
          What encryption settings do you support?
        </div>
        <div class="answer">
          <p>The default encryption in our main VPN apps uses the AES-128 cipher, SHA-256 authentication and RSA-4096 keys. You can also tweak these settings depending on your priorities by choosing a different encryption profile in the settings:</p>
          <ul>
            <li><b>Max Speed:</b> Use the null cipher (i.e. no encryption), lowering the CPU overhead and maximizing speed.</li>
            <li><b>Max Privacy:</b> Use the strongest AES-256 cipher, for your most sensitive traffic.</li>
            <li><b>Max Stealth:</b> Anti-censorship technology for restrictive or hostile networks. In addition to being encrypted, your traffic is scrambled and masquerades as HTTPS traffic. Use this if nothing else works.</li>
          </ul>
          <p>We will also support a wide range of other protocols and encryptions for people who prefer to connect to the Cypherpunk Privacy Network&trade; using third-party software or devices.</p>
        </div>

        <div class="collapsible question" id="privacy-anonymity" (click)="toggle('privacy-anonymity')">
          How anonymous am I when using Cypherpunk Privacy?
        </div>
        <div class="answer">
          While there is no such thing as perfect privacy and anonymity, Cypherpunk Privacy provides you with a good level of additional protection compared to using the Internet directly. Once your traffic reaches the Cypherpunk Privacy Network&trade; it gets mixed up with other users' traffic, making it hard to profile anyone even if the exit node is monitored. Further, our strict no-logging policy means we are not keeping any data that would allow you to be traced back through our network.
        </div>

        <div class="collapsible question" id="privacy-google" (click)="toggle('privacy-google')">
          Why does the Cypherpunk Privacy app make connections to Google?
        </div>
        <div class="answer">
          <p>Cypherpunk Privacy uses Google's cloud platfrom as a caching reverse proxy to shield our servers from DDoS attacks. However, no account data is stored on Google systems.</p>
          <p>We also optionally collect usage statistics for our desktop app via Google Analytics, but only if the user gives their explicit consent.</p>
        </div>

        <div class="collapsible question" id="privacy-ads-free" (click)="toggle('privacy-ads-free')">
          Do you serve ads or offer a free ads based version?
        </div>
        <div class="answer">
          We offer a single, uncompromising vision 
          As cypherpunks we do not believe your privacy is something that can or should ever be compromised with. We do not serve ads, and we do not offer a free version as this would force us to make trade-offs somewhere.
        </div>
      </section>
      
      <section>
        <div class="collapsible header">Desktop (Windows / Mac / Linux)</div>

      </section>











      <!--
        <div class="collapsible question">
          How does Cypherpunk Privacy protect my online privacy?
        </div>

        <div class="answer">
          The Cypherpunk Privacy Suite(tm) of apps will re-route your internet traffic into an encrypted VPN or proxy tunnel, which prevents your internet service provider and any other untrusted third parties from inspecting, monitoring, or manipulating your internet connection. At the other end of this encrypted tunnel is the Cypherpunk Privacy Network(tm). When your traffic arrives at our anonymizing servers, it gets mixed together with other internet traffic from hundreds of other users. Our strict no-logging policy means that we never store any records of your online activities. For additional protection, you can enable the content filtering features in our apps, which block ads, trackers, and malware, to prevents third parties from tracking you with cookies or other means.
        </div>

        <div class="question">
          What forms of Leak Protection are supported in Cypherpunk Privacy Suite(tm) apps?
        </div>

        <div class="answer">
          Our VPN apps feature an Internet Killswitch, DNS Leak Protection, and IPv6 Leak Protection.
        </div>

        <div class="question">
          What is CypherPlay(tm)?
        </div>

        <div class="answer">
          CypherPlay(tm) is our proprietary technology that automatically routes your traffic to the correct destination to allow you to access your favorite content.  
        </div>

        <div class="question">
          What types of encryption do you support?
        </div>

        <div class="answer">
          We 
        </div>
      </section>

      <section>
        <div class="header">Frequently Asked Questions (FAQ)</div>

        <div class="question">
          What types of encryption do you use?
        </div>

        <div class="answer">
          We are a new VPN Company
        </div>
      </section>

      <section>
        <div class="header">Frequently Asked Questions (FAQ)</div>

        <div class="question">
          What is Cypherpunk?
        </div>

        <div class="answer">
          We are a new VPN Company
        </div>
      </section>

      <!--
      <div class="row">
        <section>
          <div class="section-header" (click)="showSection('privacy-security')">
            Privacy &amp; Security
          </div>

          <div id="privacy-security" class="links">
            <ul>
              <li>
                <a href="#">
                  How Cypherpunk Privacy helps securing my Wi-Fi connections?
                </a>
              </li>
              <li>
                <a href="#">
                  Do you log my data?
                </a>
              </li>
              <li>
                <a href="#">
                  What measures do you take to protect my data?
                </a>
              </li>
              <li>
                <a href="#">
                  Anonimity on the Internet?
                </a>
              </li>
              <li>
                <a href="#">
                  Can you see what I do online when I use Cypherpunk Privacy?
                </a>
              </li>
              <li>
                <a href="#">
                  Why using Cypherpunk Privacy DNS servers?
                </a>
              </li>
              <li>
                <a href="#">
                  What does my ISP see when I am connected to VPN?
                </a>
              </li>
              <li>
                <a href="#">
                  What Encryption and protocol do you support?
                </a>
              </li>
              <li>
                <a href="#">
                  Does Cypherpunk Privacy have implemented Perfect Forward Secrecy?
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section>
          <div class="section-header" (click)="showSection('account-billing')">
            Account &amp; Billing
          </div>

          <div id="account-billing" class="links">
            <ul>
              <li>
                <a href="#">
                  How do I change my payment information?
                </a>
              </li>
              <li>
                <a href="#">
                  If I sign up for a free trial, can I upgrade it later?
                </a>
              </li>
              <li>
                <a href="#">
                  What are the differences between the free trial and a purchased account ?
                </a>
              </li>
              <li>
                <a href="#">
                  Can I change my subscription type?
                </a>
              </li>
              <li>
                <a href="#">
                  Can I get a refund for my Cypherpunk Privacy purchase?
                </a>
              </li>
              <li>
                <a href="#">
                  How does the 30-day money-back guarantee work?
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section>
          <div class="section-header" (click)="showSection('cypherpunk-privacy-features')">
            Cypherpunk Privacy Features
          </div>

          <div id="cypherpunk-privacy-features" class="links">
            <ul>
              <li>
                <a href="#">
                  What is the Privacy firewall and Ad Blocker?
                </a>
              </li>
              <li>
                <a href="#">
                  What are the Privacy Modes?
                </a>
              </li>
              <li>
                <a href="#">
                  Why should I choose Cypherpunk Privacy over other VPN providers?
                </a>
              </li>
              <li>
                <a href="#">
                  What is CypherPlay and when should I use it?
                </a>
              </li>
              <li>
                <a href="#">
                  Difference between a Proxy and VPN
                </a>
              </li>
              <li>
                <a href="#">
                  Why should I use a Browser Add on as well as the Desktop Application?
                </a>
              </li>
              <li>
                <a href="#">
                  A website that used to work now doesn't, why?
                </a>
              </li>
              <li>
                <a href="#">
                  Which Port Should I Use For Cypherpunk Privacy?
                </a>
              </li>
              <li>
                <a href="#">
                  What does the ''Always On'' feature do on my Mobile device?
                </a>
              </li>
              <li>
                <a href="#">
                  How many devices can i connect to cypherpunk at one time?
                </a>
              </li>
              <li>
                <a href="#">
                  Untrusted Networks, How does it work?
                </a>
              </li>
              <li>
                <a href="#">
                  Route Internet Traffic via VPN? Can't I Just Disconnect From The Network?
                </a>
              </li>
              <li>
                <a href="#">
                  What Is Split Tunneling and How is It Useful?
                </a>
              </li>
              <li>
                <a href="#">
                  How does a VPN affect Internet speed?
                </a>
              </li>
              <li>
                <a href="#">
                  Why does the Cypherpunk Privacy app make connections to Google's network?
                </a>
              </li>
              <li>
                <a href="#">
                  Does Cypherpunk Protect My DNS Traffic
                </a>
              </li>
              <li>
                <a href="#">
                  Do you have IPv6 and DNS leak protection?
                </a>
              </li>
              <li>
                <a href="#">
                  What is DNS and Why Does it Need to be Protected?
                </a>
              </li>
              <li>
                <a href="#">
                  Anonymity on the Internet (shared IP System)
                </a>
              </li>
              <li>
                <a href="#">
                  Do you serve ads or offer a free ads based version?
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section>
          <div class="section-header" (click)="showSection('desktop-features')">
            Desktop Features
          </div>

          <div id="desktop-features" class="links">
            <ul>
              <li>
                <a href="#">
                  How does the killswitch work?
                </a>
              </li>
              <li>
                <a href="#">
                  (Link to /features page section explaining this feature)
                </a>
              </li>
              <li>
                <a href="#">
                  Can I Peer 2 Peer download with Cypherpunk Privacy?
                </a>
              </li>
              <li>
                <a href="#">
                  What does the desktop application do?
                </a>
              </li>
              <li>
                <a href="#">
                  Will Cypherpunk Privacy slow my internet connection?
                </a>
              </li>
              <li>
                <a href="#">
                  Do you offer a free trial?
                </a>
              </li>
              <li>
                <a href="#">
                  What is CypherPlay? and when shall i use it
                </a>
              </li>
              <li>
                <a href="#">
                  What are the privacy modes?
                </a>
              </li>
              <li>
                <a href="#">
                  What is the Privacy firewall?
                </a>
              </li>
              <li>
                <a href="#">
                  What are the firewall modes?
                </a>
              </li>
              <li>
                <a href="#">
                  Do you have IPv6 and DNS leak protection?
                </a>
              </li>
              <li>
                <a href="#">
                  What encryption parameters do you use?
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section>
          <div class="section-header" (click)="showSection('android-features')">
            Android Features
          </div>

          <div id="android-features" class="links">
            <ul>
              <li>
                <a href="#">
                  What are the privacy modes?
                </a>
              </li>
              <li>
                <a href="">
                  What is the Privacy firewall?
                </a>
              </li>
              <li>
                <a href="#">
                  What are the firewall modes?
                </a>
              </li>
              <li>
                <a href="#">
                  Do you have IPv6 and DNS leak protection?
                </a>
              </li>
              <li>
                <a href="#">
                  What encryption parameters do you use?
                </a>
              </li>
              <li>
                <a href="#">
                  What does the mobile application do?
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section>
          <div class="section-header" (click)="showSection('ios-features')">
            iOS Features
          </div>

          <div id="ios-features" class="links">
            <ul>
              <li>
                <a href="#">
                  What are the privacy modes?
                </a>
              </li>
              <li>
                <a href="#">
                  What is the Privacy firewall?
                </a>
              </li>
              <li>
                <a href="#">
                  What are the firewall modes?
                </a>
              </li>
              <li>
                <a href="#">
                  Do you have IPv6 and DNS leak protection?
                </a>
              </li>
              <li>
                <a href="#">
                  What encryption parameters do you use?
                </a>
              </li>
              <li>
                <a href="#">
                  What does the mobile application do?
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="row">
        <section>
          <div class="section-header" (click)="showSection('browser-extension-features')">
            Browser Extension Features
          </div>

          <div id="browser-extension-features" class="links">
            <ul>
              <li>
                <a href="#">
                  What does the browser extension do?
                </a>
              </li>
              <li>
                <a href="#">
                  What are Privacy Filters?
                </a>
              </li>
              <li>
                <a href="#">
                  A website that used to work now doesn't, what's up?
                </a>
              </li>
              <li>
                <a href="#">
                  Does Cypherpunk Privacy for browsers encrypts all my traffic?
                </a>
              </li>
              <li>
                <a href="#">
                  How to stop WebRTC leaks
                </a>
              </li>
              <li>
                <a href="#">
                  What encryption parameters do you use?
                </a>
              </li>
              <li>
                <a href="#">
                  Changing The User Agent
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section>
          <div class="section-header" (click)="showSection('streaming-services-cypherplay')">
            Streaming services with CypherPlay
          </div>

          <div id="streaming-services-cypherplay" class="links">
            <ul>
              <li>
                <a href="#">
                  How to securely watch other streaming services with CypherPlay
                </a>
              </li>
              <li>
                <a href="#">
                  How to securely watch Netflix with CypherPlay
                </a>
              </li>
              <li>
                <a href="#">
                  How to securely watch BBC with CypherPlay
                </a>
              </li>
              <li>
                <a href="#">
                  How to securely watch Amazon Prime with CypherPlay
                </a>
              </li>
              <li>
                <a href="#">
                  How to securely watch Hulu with CypherPlay
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
      -->
    </div>
  </div>

  <!-- <div class="quickstart">
    <div class="quickstart-inner">
      <div class="header orange">Quick Start</div>

      <div class="platform">
        <a routerLink="windows">
          <img src="/assets/support/windows@2x.png" srcset="/assets/support/windows.png 500w, /assets/support/windows@2x.png 1000w" alt="Windows">

          <div class="text">Windows</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="macos">
          <img src="/assets/support/mac@2x.png" srcset="/assets/support/mac.png 500w, /assets/support/mac@2x.png 1000w" alt="Mac">

          <div class="text">Mac</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="linux">
          <img src="/assets/support/linux@2x.png" srcset="/assets/support/linux.png 500w, /assets/support/linux@2x.png 1000w" alt="Linux">

          <div class="text">Linux</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="android">
          <img src="/assets/support/android@2x.png" srcset="/assets/support/android.png 500w, /assets/support/android@2x.png 1000w" alt="Android">

          <div class="text">Android</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="ios">
          <img src="/assets/support/ios@2x.png" srcset="/assets/support/ios.png 500w, /assets/support/ios@2x.png 1000w" alt="iOS">

          <div class="text">iOS</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/chrome@2x.png" srcset="/assets/support/chrome.png 500w, /assets/support/chrome@2x.png 1000w" alt="Chrome">

          <div class="text">Chrome</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/firefox@2x.png" srcset="/assets/support/firefox.png 500w, /assets/support/firefox@2x.png 1000w" alt="Firefox">

          <div class="text">Firefox</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/opera@2x.png" srcset="/assets/support/opera.png 500w, /assets/support/opera@2x.png 1000w" alt="Opera">

          <div class="text">Opera</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/vivaldi@2x.png" srcset="/assets/support/vivaldi.png 500w, /assets/support/vivaldi@2x.png 1000w" alt="Vivaldi">

          <div class="text">Vivaldi</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/e-books@2x.png" srcset="/assets/support/e-books.png 500w, /assets/support/e-books@2x.png 1000w" alt="e-Books">

          <div class="text">e-Books</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/other-phones@2x.png" srcset="/assets/support/other-phones.png 500w, /assets/support/other-phones@2x.png 1000w" alt="Other Phone">

          <div class="text">Other Phone</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/streaming-media@2x.png" srcset="/assets/support/streaming-media.png 500w, /assets/support/streaming-media@2x.png 1000w" alt="Streaming Media">

          <div class="text">Streaming Media</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/router@2x.png" srcset="/assets/support/router.png 500w, /assets/support/router@2x.png 1000w" alt="Router">

          <div class="text">Router</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/nas@2x.png" srcset="/assets/support/nas.png 500w, /assets/support/nas@2x.png 1000w" alt="NAS">

          <div class="text">NAS</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/share-vpn@2x.png" srcset="/assets/support/share-vpn.png 500w, /assets/support/share-vpn@2x.png 1000w" alt="Share VPN">

          <div class="text">Share VPN</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/smart-tv@2x.png" srcset="/assets/support/smart-tv.png 500w, /assets/support/smart-tv@2x.png 1000w" alt="Smart TV">

          <div class="text">Smart TV</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/https-proxy@2x.png" srcset="/assets/support/https-proxy.png 500w, /assets/support/https-proxy@2x.png 1000w" alt="HTTPS Proxy">

          <div class="text">HTTPS Proxy</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/socks5-proxy@2x.png" srcset="/assets/support/socks5-proxy.png 500w, /assets/support/socks5-proxy@2x.png 1000w" alt="SOCKS5 Proxy">

          <div class="text">SOCKS5 Proxy</div>
        </a>
      </div>
    </div>
  </div> -->
</div>

<app-footer></app-footer>
