<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">
      Cypherpunk Privacy Support
    </h1>
  </div>

  <div class="contact">
    <div class="contact-inner">
      <div class="header">Contact Us</div>

      <div class="options">
        <a (click)="contactForm()">
          <div class="option">
            <img src="/assets/support/contact-form@2x.png" srcset="/assets/support/contact-form.png 500w, /assets/support/contact-form@2x.png 1000w" alt="Contact Form">
            <div class="text">Contact Form</div>
          </div>
        </a>

        <a href="mailto:support@cypherpunk.com">
          <div class="option">
            <img src="/assets/support/email-us@2x.png" srcset="/assets/support/email-us.png 500w, /assets/support/email-us@2x.png 1000w" alt="Contact Us">
            <div class="text">Email Us</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="quickstart">
    <div class="quickstart-inner">
      <div class="header orange">Quick Start</div>

      <div class="platform">
        <a routerLink="windows">
          <img src="/assets/support/windows@2x.png" srcset="/assets/support/windows.png 500w, /assets/support/windows@2x.png 1000w" alt="Windows">

          <div class="text">Windows</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="macos">
          <img src="/assets/support/mac@2x.png" srcset="/assets/support/mac.png 500w, /assets/support/mac@2x.png 1000w" alt="Mac">

          <div class="text">Mac</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="linux">
          <img src="/assets/support/linux@2x.png" srcset="/assets/support/linux.png 500w, /assets/support/linux@2x.png 1000w" alt="Linux">

          <div class="text">Linux</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="android">
          <img src="/assets/support/android@2x.png" srcset="/assets/support/android.png 500w, /assets/support/android@2x.png 1000w" alt="Android">

          <div class="text">Android</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/ios@2x.png" srcset="/assets/support/ios.png 500w, /assets/support/ios@2x.png 1000w" alt="iOS">

          <div class="text">iOS</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/chrome@2x.png" srcset="/assets/support/chrome.png 500w, /assets/support/chrome@2x.png 1000w" alt="Chrome">

          <div class="text">Chrome</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/firefox@2x.png" srcset="/assets/support/firefox.png 500w, /assets/support/firefox@2x.png 1000w" alt="Firefox">

          <div class="text">Firefox</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/opera@2x.png" srcset="/assets/support/opera.png 500w, /assets/support/opera@2x.png 1000w" alt="Opera">

          <div class="text">Opera</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/vivaldi@2x.png" srcset="/assets/support/vivaldi.png 500w, /assets/support/vivaldi@2x.png 1000w" alt="Vivaldi">

          <div class="text">Vivaldi</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/e-books@2x.png" srcset="/assets/support/e-books.png 500w, /assets/support/e-books@2x.png 1000w" alt="e-Books">

          <div class="text">e-Books</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/other-phones@2x.png" srcset="/assets/support/other-phones.png 500w, /assets/support/other-phones@2x.png 1000w" alt="Other Phone">

          <div class="text">Other Phone</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/streaming-media@2x.png" srcset="/assets/support/streaming-media.png 500w, /assets/support/streaming-media@2x.png 1000w" alt="Streaming Media">

          <div class="text">Streaming Media</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/router@2x.png" srcset="/assets/support/router.png 500w, /assets/support/router@2x.png 1000w" alt="Router">

          <div class="text">Router</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/nas@2x.png" srcset="/assets/support/nas.png 500w, /assets/support/nas@2x.png 1000w" alt="NAS">

          <div class="text">NAS</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/share-vpn@2x.png" srcset="/assets/support/share-vpn.png 500w, /assets/support/share-vpn@2x.png 1000w" alt="Share VPN">

          <div class="text">Share VPN</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/smart-tv@2x.png" srcset="/assets/support/smart-tv.png 500w, /assets/support/smart-tv@2x.png 1000w" alt="Smart TV">

          <div class="text">Smart TV</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/https-proxy@2x.png" srcset="/assets/support/https-proxy.png 500w, /assets/support/https-proxy@2x.png 1000w" alt="HTTPS Proxy">

          <div class="text">HTTPS Proxy</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/socks5-proxy@2x.png" srcset="/assets/support/socks5-proxy.png 500w, /assets/support/socks5-proxy@2x.png 1000w" alt="SOCKS5 Proxy">

          <div class="text">SOCKS5 Proxy</div>
        </a>
      </div>
    </div>
  </div>

  <div class="page">
    <div class="page-inner">
      <div class="header green">Recent Articles</div>

      <div class="articles">
        <ng-template ngFor let-post [ngForOf]="posts" let-i="index">
          <div class="half">
            <a [routerLink]="['/support/articles', post.id]">
            <div class="image">
                <div class="read-more">
                    <button class="btn">Read More...</button>
                </div>
              </div>
            </a>

            <div class="text">
              {{post.title}}
              <div class="date">{{ post.published | date: "MM/dd/yyyy" }}</div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="floating" [ngClass]="{'show': showContactForm.show}">
  <app-contact-form [(show)]="showContactForm"></app-contact-form>
</div>

<app-footer></app-footer>
