.wrapper {
  .masthead {
    .masthead-header {
      margin: 40px auto 0;
      padding: 0 0 50px;
      span { color: #7972c4; }
    }

    .search {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      overflow: auto;
      padding: 0 10px 30px;

      input {
        width: 100%;
        padding: 10px 60px 10px 10px;
        font-size: 16px;
        border: 0;
        margin: 0 -60px 0 0;
        float: left;
        border-radius: 5px;
      }

      button {
        float: right;
        height: 38px;
        padding: 0 15px;
        color: #fff;
        border: 0;
        background-color: #ff7857;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .contact {
      max-width: 1000px;
      margin: auto;
      padding: 0 0 30px;
      text-align: center;

      .option {
        display: inline-block;
        margin: 0 20px;
        button {
          border: 0;
          border-radius: 5px;
          padding: 10px;
          min-width: 200px;
          background-color: #efeaea;
          cursor: pointer;

          i { margin-right: 10px; }
        }
      }
    }
  }

  .quickstart {
    background-color: #efeaea;
    padding: 50px 0 0;

    .quickstart-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      text-align: center;

      .header { margin: 0 0 40px; }

      .platform {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 60px;
        color: #1a74b0;

        a { color: #1a74b0; text-decoration: none; }
        img { width: 100%; }
        .text { padding: 10px 0 0; font-weight: bold; }
      }
    }
  }

  .page {
    width: 100%;
    padding: 50px 0;
    border-bottom: 5px solid #efeaea;

    .page-inner {
      margin: auto;
      overflow: auto;
      max-width: 1000px;

      .header { margin: 0 0 40px; }

      .row {
        max-width: 1000px;
        font-size: 0;

        section {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding: 0 10px 25px;

          .section-header {
            cursor: pointer;
            font-size: 20px;
          }

          .links {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: all 0.5s ease-out;

            ul {
              margin: 0;
              padding: 0 0 0 10px;
              list-style-type: none;

              li {
                font-size: 14px;
                padding-top: 10px;
                a { text-decoration: none; }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .wrapper .page .page-inner .row section { width: 100%; }
}

@media (max-width: 380px) {
  .wrapper .contact .options .option { margin: 0 auto; }
}
