.wrapper {
  .masthead .masthead-header {
    font-size: 28px;
    margin: 0 auto 0;
    padding: 0 10px 40px;
  }

  .quickstart {
    background-color: #efeaea;
    padding: 50px 0 0;

    .quickstart-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      text-align: center;

      .header { margin: 0 0 40px; }

      .platform {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px 60px;
        color: #1a74b0;

        a { color: #1a74b0; text-decoration: none; }
        img { width: 100%; }
        .text { padding: 10px 0 0; font-weight: bold; }
      }
    }
  }

  .page {
    width: 100%;
    padding: 50px 0;
    border-bottom: 5px solid #efeaea;

    .page-inner {
      margin: auto;
      overflow: auto;
      max-width: 1000px;

      .header { margin: 0 0 30px; text-align: left; }

      section {
        margin: 0 0 60px;

        .question {
          font-size: 18px;
          margin: 20px 0 10px;
        }

        .answer {
          font-size: 16px;
          line-height: 1.3;
          margin: 0 0 50px;
        }
      }



      .row {
        max-width: 1000px;
        font-size: 0;

        section {
          width: 50%;
          display: inline-block;
          vertical-align: top;
          padding: 0 10px 25px;

          .section-header {
            cursor: pointer;
            font-size: 20px;
          }

          .links {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: all 0.5s ease-out;

            ul {
              margin: 0;
              padding: 0 0 0 10px;
              list-style-type: none;

              li {
                font-size: 14px;
                padding-top: 10px;
                a { text-decoration: none; }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .wrapper .page .page-inner .row section { width: 100%; }
}

@media (max-width: 380px) {
  .wrapper .contact .options .option { margin: 0 auto; }
}
