<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">Cypherpunk Privacy Support</h1>

    <search-contact></search-contact>
  </div>

  <support-navigation></support-navigation>

  <div class="page">
    <div class="page-inner">

      <section>
        <div class="collapsible header" id="category-privacy" (click)="toggle('category-privacy')">Privacy Protection and Features</div>

        <!--
        <div class="collapsible closed question" id="" (click)="toggle('')">

        </div>
        <div class="answer">

        </div>
        -->


        <div class="collapsible closed question" id="privacy-how-cypherpunk-helps" (click)="toggle('privacy-how-cypherpunk-helps')">
          How does Cypherpunk Privacy protect my online privacy?
        </div>
        <div class="answer">
          <p>The Cypherpunk Privacy Suite&trade; of apps will reroute your internet traffic into an encrypted VPN or proxy tunnel, which prevents your internet service provider and other untrusted third parties from inspecting, monitoring or manipulating your internet connection.</p>
          <p>At the other end of this tunnel is the Cypherpunk Privacy Network&trade;, through which your and other users' traffic is routed until it exits back onto the Internet again. Our strict no-logging policy means that we never store any records of your online activities, and other users will only see you as coming from our network.</p>
          <p>Our apps also help secure your devices to prevent accidentally leaking your real location, and for additional protection, you can enable the content filtering features in our apps, which block ads, trackers and malware sites, making it harder for you to be tracked or attacked.</p>
        </div>

        <div class="collapsible closed question" id="privacy-leaks" (click)="toggle('privacy-leaks')">
          How does Cypherpunk Privacy protect against privacy leaks?
        </div>
        <div class="answer">
          <p>Even when you are connected through our secure network, your computer or device is still aware of the physical network it is directly connected to as well, and may include information about that network in your communication to websites, which can compromise your privacy. Cypherpunk Privacy protects against the following kinds of leaks:</p>
          <ul>
            <li><b>DNS requests:</b> In order to connect to any website, your computer first needs to look up the site's address. These lookups are unencrypted and reveal a lot of information about which sites you visit. To protect your privacy, our apps instead route all DNS requests via our secure DNS server through the VPN tunnel itself, preventing anyone from listening in.</li>
            <li><b>IPv6 traffic:</b> Our apps safely block IPv6 traffic which might otherwise escape onto the Internet directly.</li>
            <li><b>WebRTC IP leak:</b> Our browser extension disables WebRTC, which can otherwise tell websites and other computers about your real IP address.</li>
            <li><b>Disconnects:</b> If your VPN connection temporarily drops, your computer's default behavior is to send your traffic directly to the Internet instead. To prevent this our <b>Internet Killswitch</b> blocks all non-VPN traffic, protecting you during that time.</li>
          </ul>
        </div>

        <div class="collapsible closed question" id="privacy-anonymity" (click)="toggle('privacy-anonymity')">
          How anonymous am I when using Cypherpunk Privacy?
        </div>
        <div class="answer">
          <p>While there is no such thing as perfect privacy and anonymity, Cypherpunk Privacy provides you with a good level of additional protection compared to using the Internet directly.</p>
          <p>By routing your traffic through the Cypherpunk Privacy Network&trade;, your real IP address is obscured behind our public IPs, and your traffic is mixed up with traffic from other users, making it hard to profile anyone even if our servers were to be monitored.</p>
          <p>Further, our strict no-logging policy means we are not keeping any data that would allow anyone to trace you back through our network.</p>
        </div>

        <div class="collapsible closed question" id="privacy-what-is-cypherplay" (click)="toggle('privacy-what-is-cypherplay')">
          What is CypherPlay&trade; and when should I use it?
        </div>
        <div class="answer">
          <b>CypherPlay&trade;</b> is our proprietary technology which intelligently reroutes your traffic to the correct destination, allowing you to access your favorite content from all over the world without ever needing to switch servers. With CypherPlay&trade; you no longer need to think about the details!
        </div>

        <div class="collapsible closed question" id="privacy-browser-extension" (click)="toggle('privacy-browser-extension')">
          Should I use the browser extension in addition to the desktop VPN app?
        </div>
        <div class="answer">
          While our browser extension offers a lightweight option to proxy only your web traffic through our Cypherpunk Privacy Network&trade;, it also complements the desktop app by offering specific features such as WebRTC leak protection and better blocking of ads &amp; trackers.
        </div>

        <div class="collapsible closed question" id="privacy-simultaneous-connections" (click)="toggle('privacy-simultaneous-connections')">
          How many devices can I connect to Cypherpunk Privacy at one time?
        </div>
        <div class="answer">
          You are allowed to have up to five (5) devices connected to the Cypherpunk Privacy Network&trade; simultaneously. Running the browser extension counts as one device.
        </div>

        <div class="collapsible closed question" id="privacy-proxy-vs-vpn" (click)="toggle('privacy-proxy-vs-vpn')">
          What is the difference between a proxy and a VPN?
        </div>
        <div class="answer">
          A proxy is an application-level tunnel which lets apps route their traffic via a proxy server rather than directly to its destination, but the app must be intentionally written to be able to use a proxy. A VPN is a network-level tunnel which redirects <b>all</b> traffic on your entire machine. Apps don't need to know about or explicitly support VPNs in order to have their traffic tunneled.
        </div>

        <div class="collapsible closed question" id="privacy-speed" (click)="toggle('privacy-speed')">
          How does using a VPN or proxy affect my connection speed?
        </div>
        <div class="answer">
          <p>As tunneling your traffic involves a bit of extra work to wrap and encrypt your traffic, as well as sending it on a longer route through the Internet, your connection speed is often a little slower while using a VPN. Your latency (ping time) also becomes longer for the same reason.</p>
          <p>You can minimize this loss by always connecting to the closest available server, and if you are more concerned with speed than privacy you can also connect via an unencrypted tunnel.</p>
        </div>

        <div class="collapsible closed question" id="privacy-encryption-profiles" (click)="toggle('privacy-encryption-profiles')">
          What encryption settings do you support?
        </div>
        <div class="answer">
          <p>The default encryption in our main VPN apps uses the AES-128 cipher, SHA-256 authentication and RSA-4096 keys. You can also tweak these settings depending on your priorities by choosing a different encryption profile in the settings:</p>
          <ul>
            <li><b>Max Speed:</b> Use the null cipher (i.e. no encryption), lowering the CPU overhead and maximizing speed.</li>
            <li><b>Max Privacy:</b> Use the strongest AES-256 cipher, for your most sensitive traffic.</li>
            <li><b>Max Stealth:</b> Anti-censorship technology for restrictive or hostile networks. In addition to being encrypted, your traffic is scrambled and masquerades as HTTPS traffic. Use this if nothing else works.</li>
          </ul>
          <p>We will also support a wide range of other protocols and encryptions for people who prefer to connect to the Cypherpunk Privacy Network&trade; using third-party software or devices.</p>
        </div>

        <div class="collapsible closed question" id="privacy-killswitch" (click)="toggle('privacy-killswitch')">
          What do the different options for the Internet Killswitch mean?
        </div>
        <div class="answer">
          <p>The Internet Killswitch is a privacy safeguard that prevents your traffic from unexpectedly being routed directly to the Internet. In its default setting, the killswitch is active whenever you are connecting to the Cypherpunk Privacy Network&trade;, and will block traffic if the VPN connection unexpectedly drops. Other apps will see this as a temporary loss of Internet connectivity.</p>
          <p>For more cautious users the killswitch can also be set to <b>Always On</b>, in which case you will <b>only</b> be able to access the Internet while you are connected to the VPN. Use this mode if it is crucial that other apps never access the Internet directly. If you are experiencing any trouble with this feature, or prioritize connectivity over privacy, the killswitch can also be turned off entirely.</p>
          <p>You can choose whether LAN traffic (e.g. network-attached storage, screen casting, printers) should be allowed through the killswitch or not with the <b>Always Allow LAN Traffic</b> advanced setting.</p>
        </div>

        <div class="collapsible closed question" id="privacy-ports" (click)="toggle('privacy-ports')">
          What port numbers can I use for Cypherpunk Privacy?
        </div>
        <div class="answer">
          <p>For our VPN apps, we support connecting to our network over UDP or TCP, on ports 7933, 5060 or 53. We recommend using <b>UDP</b> as this is usually faster, but also offer TCP as this is less likely to be blocked on restrictive networks.</p>
          <p>In our desktop app you can also lock in the local port number used, in case you need to open/forward the port in your router.</p>
        </div>

        <div class="collapsible closed question" id="privacy-google" (click)="toggle('privacy-google')">
          Why does the Cypherpunk Privacy app make connections to Google?
        </div>
        <div class="answer">
          <p>Cypherpunk Privacy uses Google's cloud platfrom as a caching reverse proxy to shield our servers from DDoS attacks. However, no account data is stored on Google systems, nor is any of your VPN traffic routed through them.</p>
          <p>We also optionally collect usage statistics for our desktop app via Google Analytics, but only if the user gives their explicit consent.</p>
        </div>

        <div class="collapsible closed question" id="privacy-ads-free" (click)="toggle('privacy-ads-free')">
          Do you serve ads or offer a free ads based version?
        </div>
        <div class="answer">
          As cypherpunks we do not believe your privacy is something that can or should ever be compromised with. We do not serve ads, and we do not offer a free version as this would necessarily require us to make trade-offs somewhere.
        </div>

      </section>

      <section>
        <div class="collapsible header" id="category-desktop" (click)="toggle('category-desktop')">Desktop (Windows / Mac / Linux)</div>

        <div class="collapsible closed question" id="desktop-administrator" (click)="toggle('desktop-administrator')">
          Do I need a root/administrator password to install Cypherpunk Privacy?
        </div>
        <div class="answer">
          Yes. Rerouting your traffic and making other necessary reconfigurations of your computer requires root/administrator privileges. You will only need to provide the password once, when you install or update Cypherpunk Privacy.
        </div>

        <div class="collapsible closed question" id="desktop-driver" (click)="toggle('desktop-driver')">
          Why does Cypherpunk Privacy need to install a driver? (Windows)
        </div>
        <div class="answer">
          In order to reroute your Internet traffic through a tunnel on Windows, we need to install a virtual network adapter. Don't worry, if you uninstall Cypherpunk Privacy we'll remove this driver too.
        </div>

        <div class="collapsible closed question" id="desktop-p2p" (click)="toggle('desktop-p2p')">
          Can I use P2P software with Cypherpunk Privacy?
        </div>
        <div class="answer">
          As long as you comply with our <a href="/terms-of-service">Terms of Service</a>, we have no restrictions regarding the software you run, but we do reserve the right to perform traffic management to prevent users with a lot of traffic from negatively impacting the experience of others on our network.
        </div>

      </section>

      <section>
        <div class="collapsible header" id="category-trouble" (click)="toggle('category-trouble')">Troubleshooting</div>

        <div class="collapsible closed question" id="trouble-blocked-site" (click)="toggle('trouble-blocked-site')">
          I can't access a site that used to work fine!
        </div>
        <div class="answer">
          <p>Sometimes the tracker blocking may cause certain sites to break. We do our best to eliminate these false positives, but some sites rely on trackers to function.</p>
          <p>If you are using the browser extenstion, you can whitelist sites having this problem by clicking the "whitelist it" button at the bottom of the screen. If you are using the apps, try disabling the "Block Ads &amp; Trackers" setting.</p>
        </div>

        <div class="collapsible closed question" id="trouble-cypherplay" (click)="toggle('trouble-cypherplay')">
          My favorite streaming site doesn't work!
        </div>
        <div class="answer">
          <p>While we do our best to keep as much of the Internet accessible through our service at all times, sometimes sites make changes we need to adapt to, or your site may be a new one we haven't tuned our network to yet.</p>
          <p>If you are connecting with CypherPlay&trade;, try connecting directly to a location close to the site instead.</p>
        </div>

        <div class="collapsible closed question" id="trouble-dns" (click)="toggle('trouble-dns')">
          I can't access my intranet or ISP site!
        </div>
        <div class="answer">
          <p>Your site may be require your existing local DNS server to be used to look it up. Since Cypherpunk Privacy by default secures your DNS requests by securely routing them to our server instead, this may have broken your site.</p>
          <p>As a workaround, you can force the use of your existing DNS server instead (in the Configuration screen, enable <b>Show Advanced Settings</b> and then under <b>Internet Settings</b> enable <b>Use Existing DNS</b>). Note however that since several Cypherpunk Privacy features rely on our proprietary DNS server, some functionality will be disabled when this workaround is active.</p>
        </div>

        <div class="collapsible closed question" id="trouble-apple" (click)="toggle('trouble-apple')">
          I can't connect to Apple Messages or FaceTime!
        </div>
        <div class="answer">
          Sometimes Apple apps don't work well when connecting through a VPN. As a workaround, it is possible to let Apple traffic bypass the VPN and go directly to the Internet (in the Configuration screen, enable <b>Show Advanced Settings</b> and then under <b>Internet Settings</b> and enable <b>Exempt Apple Services</b>), but note that in that case your Apple traffic won't be protected by the VPN, either.
        </div>

        <div class="collapsible closed question" id="trouble-bricked" (click)="toggle('trouble-bricked')">
          I can't access the Internet at all!
        </div>
        <div class="answer">
          <p>Please try the following steps:</p>
          <ol>
            <li>Check that the <b>Internet Killswitch</b> isn't set to <b>Always On</b> (if it is, set it to <b>Automatic</b> or <b>Off</b>).</li>
            <li>Try rebooting your computer or device.</li>
            <li>Try quitting the Cypherpunk Privacy app and restarting it.</li>
            <li>Try uninstalling the Cypherpunk Privacy app and reinstalling it.</li>
          </ol>
        </div>

      </section>

    </div>
  </div>

  <!-- <div class="quickstart">
    <div class="quickstart-inner">
      <div class="header orange">Quick Start</div>

      <div class="platform">
        <a routerLink="windows">
          <img src="/assets/support/windows@2x.png" srcset="/assets/support/windows.png 500w, /assets/support/windows@2x.png 1000w" alt="Windows">

          <div class="text">Windows</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="macos">
          <img src="/assets/support/mac@2x.png" srcset="/assets/support/mac.png 500w, /assets/support/mac@2x.png 1000w" alt="Mac">

          <div class="text">Mac</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="linux">
          <img src="/assets/support/linux@2x.png" srcset="/assets/support/linux.png 500w, /assets/support/linux@2x.png 1000w" alt="Linux">

          <div class="text">Linux</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="android">
          <img src="/assets/support/android@2x.png" srcset="/assets/support/android.png 500w, /assets/support/android@2x.png 1000w" alt="Android">

          <div class="text">Android</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="ios">
          <img src="/assets/support/ios@2x.png" srcset="/assets/support/ios.png 500w, /assets/support/ios@2x.png 1000w" alt="iOS">

          <div class="text">iOS</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/chrome@2x.png" srcset="/assets/support/chrome.png 500w, /assets/support/chrome@2x.png 1000w" alt="Chrome">

          <div class="text">Chrome</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/firefox@2x.png" srcset="/assets/support/firefox.png 500w, /assets/support/firefox@2x.png 1000w" alt="Firefox">

          <div class="text">Firefox</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/opera@2x.png" srcset="/assets/support/opera.png 500w, /assets/support/opera@2x.png 1000w" alt="Opera">

          <div class="text">Opera</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/vivaldi@2x.png" srcset="/assets/support/vivaldi.png 500w, /assets/support/vivaldi@2x.png 1000w" alt="Vivaldi">

          <div class="text">Vivaldi</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/e-books@2x.png" srcset="/assets/support/e-books.png 500w, /assets/support/e-books@2x.png 1000w" alt="e-Books">

          <div class="text">e-Books</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/other-phones@2x.png" srcset="/assets/support/other-phones.png 500w, /assets/support/other-phones@2x.png 1000w" alt="Other Phone">

          <div class="text">Other Phone</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/streaming-media@2x.png" srcset="/assets/support/streaming-media.png 500w, /assets/support/streaming-media@2x.png 1000w" alt="Streaming Media">

          <div class="text">Streaming Media</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/router@2x.png" srcset="/assets/support/router.png 500w, /assets/support/router@2x.png 1000w" alt="Router">

          <div class="text">Router</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/nas@2x.png" srcset="/assets/support/nas.png 500w, /assets/support/nas@2x.png 1000w" alt="NAS">

          <div class="text">NAS</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/share-vpn@2x.png" srcset="/assets/support/share-vpn.png 500w, /assets/support/share-vpn@2x.png 1000w" alt="Share VPN">

          <div class="text">Share VPN</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/smart-tv@2x.png" srcset="/assets/support/smart-tv.png 500w, /assets/support/smart-tv@2x.png 1000w" alt="Smart TV">

          <div class="text">Smart TV</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/https-proxy@2x.png" srcset="/assets/support/https-proxy.png 500w, /assets/support/https-proxy@2x.png 1000w" alt="HTTPS Proxy">

          <div class="text">HTTPS Proxy</div>
        </a>
      </div>

      <div class="platform">
        <a routerLink="">
          <img src="/assets/support/socks5-proxy@2x.png" srcset="/assets/support/socks5-proxy.png 500w, /assets/support/socks5-proxy@2x.png 1000w" alt="SOCKS5 Proxy">

          <div class="text">SOCKS5 Proxy</div>
        </a>
      </div>
    </div>
  </div> -->
</div>

<app-footer></app-footer>
