<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">About Cypherpunk</h1>
  </div>

  <div class="sub-masthead">
    <div class="content">
      <h2 class="header blue">
        We are the guadians of your xxxxx
      </h2>

      <p>
        explain of guardian or something hogehogehoge explain of guardian or something hogehogehogeexplain of guardian or something hogehogehogeexplain of guardian or something hogehogehogeexplain of guardian or something hogehogehogeexplain of guardian or something
      </p>
    </div>
  </div>

  <div class="content">
    <h2 class="header blue">Our Team</h2>

    <div class="grouping">
      <div class="teammate">
        <div class="image"></div>
        <div class="name">Phillip Price</div>
        <div class="role">role of person</div>
      </div>

      <div class="teammate">
        <div class="image"></div>
        <div class="name">Nicholas Robertson</div>
        <div class="role">role of person</div>
      </div>

      <div class="teammate">
        <div class="image"></div>
        <div class="name">Eric Cunningham</div>
        <div class="role">role of person</div>
      </div>

      <div class="teammate">
        <div class="image"></div>
        <div class="name">Andrew Synder</div>
        <div class="role">role of person</div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
