.wrapper {
  .masthead {
    width: 100%;
    background-color: #0e003f;

    .masthead-header { margin: 45px auto 0; padding: 0 0 96px; }
  }

  .sub-masthead {
    width: 100%;
    background-color: rgba(202, 216, 235, 0.3);
    color: #666;

    .content { max-width: 650px; text-align: center; }
  }

  .content {
    width: 100%;
    margin: auto;
    padding: 50px 0 60px;
    color: #4a4a4d;

    .header { margin-bottom: 45px; }

    .grouping {
      max-width: 900px;
      margin: auto;

      .teammate {
        display: inline-block;
        width: 150px;
        margin: 0 95px 50px 0;
        max-width: 150px;
        text-align: center;
        &:last-child { margin-right: 0; }

        .image {
          width: 120px;
          height: 120px;
          margin: auto;
          border-radius: 65px;
          background-color: #ccc;
        }

        .name {
          font-size: 20px;
          font-weight: 500;
          color: #000;
        }

        .role {
          font-weight: 500;
          color: #666;
        }
      }
    }
  }
}

@media (max-width: 1016px) {
  .wrapper .content {
    padding: 30px 10px 60px;
    .grouping .teammate { width: 48%; max-width: 48%; margin: 0 0 50px 0; }
  }
}

@media (max-width: 375px) {
  .wrapper .content .grouping {
    .teammate {
      display: block;
      width: 100%;
      margin: 25px auto;
    }
    .teammate:last-child { margin: 25px auto; }
  }
}
