<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    Cypherpunk for Windows
  </h1>
</div>

<div class="navigation">
  <ul>
    <li class="active">
      <img class="d desktop-inline" src="/assets/apps/desktop-icon-hover@2x.png" srcset="/assets/apps/desktop-icon-hover.png 500w, /assets/apps/desktop-icon-hover@2x.png 1000w" alt="Desktop">
      Desktop
    </li>
    <li>
      <img class="b desktop-inline" src="/assets/apps/browser-icon@2x.png" srcset="/assets/apps/browser-icon.png 500w, /assets/apps/browser-icon@2x.png 1000w" alt="Browser">
      Browser
    </li>
    <li>
      <img class="a desktop-inline" src="/assets/apps/android-icon@2x.png" srcset="/assets/apps/android-icon.png 500w, /assets/apps/android-icon@2x.png 1000w" alt="Android">
      Android
    </li>
    <li>
      <img class="i desktop-inline" src="/assets/apps/ios-icon@2x.png" srcset="/assets/apps/ios-icon.png 500w, /assets/apps/ios-icon@2x.png 1000w" alt="iOS">
      iOS
    </li>
  </ul>
</div>

<div class="content">
  <div class="content-inner">
    <h2 class="header blue">Protect your Online Privacy & Freedom</h2>

    <div class="button-container">
      <button class="btn blue">
        Download Cypherpunk for Windows Free
      </button>
    </div>

    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img class="d" src="/assets/apps/desktop-hover@2x.png" srcset="/assets/apps/desktop-hover.png 500w, /assets/apps/desktop-hover@2x.png 1000w" alt="Windows" >
          <img class="w logo" src="/assets/apps/windows-hover@2x.png" srcset="/assets/apps/windows-hover.png 500w, /assets/apps/windows-hover@2x.png 1000w" alt="Windows">
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img class="d" src="/assets/apps/desktop@2x.png" srcset="/assets/apps/desktop.png 500w, /assets/apps/desktop@2x.png 1000w" alt="Apple">
          <img class="a logo" src="/assets/apps/apple@2x.png" srcset="/assets/apps/apple.png 500w, /assets/apps/apple@2x.png 1000w" alt="Apple">
        </div>
      </div>

      <div class="cell">
        <div class="cell-image">
          <img class="d" src="/assets/apps/desktop@2x.png" srcset="/assets/apps/desktop.png 500w, /assets/apps/desktop@2x.png 1000w" alt="Linux">
          <img class="l logo" src="/assets/apps/linux@2x.png" srcset="/assets/apps/linux.png 500w, /assets/apps/linux@2x.png 1000w" alt="Linux">
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="split">
      <div class="left">

      </div>

      <div class="right">
        <div class="header">Cypherpunk Privacy for Windows PC's</div>

        <p>
          Any time your Windows device is connected to the internet, you could be at risk, especially when using public WiFi.  Cypherpunk Privacy for Windows hides your real location and encrypts your data, so you cannot be tracked or have sensitive data logged or stolen.
        </p>

        <div class="tag">> Anonymous Web Browsing</div>
        <div class="tag">> Unblock websites and content</div>
        <div class="tag">> Secure connection on public WiFi</div>

        <button class="btn blue">Download Cypherpunk for Windows Free</button>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="header gold">Features</div>

    <div class="row">
      <div class="image">
        <img class="e" src="/assets/apps/windows/easy-server-selection@2x.png" srcset="/assets/apps/easy-server-selection.png 500w, /assets/apps/easy-server-selection@2x.png 1000w" alt="">
      </div>

      <div class="text right">
        <div class="text-header gold">Easy server selection</div>

        <p>
          Automatically connect to the fastest server near you, or choose any one of our servers around the world in just seconds.
        </p>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="image mobile">
        <img class="d" src="/assets/apps/windows/different-modes@2x.png" srcset="/assets/apps/different-modes.png 500w, /assets/apps/different-modes@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Different Modes for different reasons</div>

        <p>
          Choose the perfect balance between speed and privacy for your needs with our easy to use encryption modes.
        </p>
      </div>

      <div class="image desktop">
        <img class="d" src="/assets/apps/windows/different-modes@2x.png" srcset="/assets/apps/different-modes.png 500w, /assets/apps/different-modes@2x.png 1000w" alt="">
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="image">
        <img class="p" src="/assets/apps/windows/privacy-firewall@2x.png" srcset="/assets/apps/privacy-firewall.png 500w, /assets/apps/privacy-firewall@2x.png 1000w" alt="">
      </div>

      <div class="text right">
        <div class="text-header gold">Privacy Firewall</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>
      </div>
    </div>

    <div class="row-divider"></div>

    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>

      <div class="text left">
        <div class="text-header gold">Per App Settings</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose.
        </p>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/windows/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="">
      </div>
    </div>
  </div>
</div>

<div class="bottom">
  <button class="btn orange">Download Cypherpunk for Windows Free</button>
</div>

<app-footer></app-footer>
