<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">About Cypherpunk</h1>

    <div class="masthead-image">
      <img src="/assets/aboutus/masthead@2x.png" srcset="/assets/aboutus/masthead.png 500w, /assets/aboutus/masthead@2x.png 1000w" alt="">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/jon@2x.png" srcset="/assets/aboutus/jon.png w500, /assets/aboutus/jon@2x.png w1000">
    </div>

    <div class="text">
      <div class="name">Jon</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/satoshi@2x.png" srcset="/assets/aboutus/satoshi.png w500, /assets/aboutus/satoshi@2x.png w1000">
    </div>

    <div class="text right">
      <div class="name">Satoshi</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/satoshi@2x.png" srcset="/assets/aboutus/satoshi.png w500, /assets/aboutus/satoshi@2x.png w1000">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/kim@2x.png" srcset="/assets/aboutus/kim.png w500, /assets/aboutus/kim@2x.png w1000">
    </div>

    <div class="text">
      <div class="name">Kim</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/matt@2x.png" srcset="/assets/aboutus/matt.png w500, /assets/aboutus/matt@2x.png w1000">
    </div>

    <div class="text right">
      <div class="name">Matt</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/matt@2x.png" srcset="/assets/aboutus/matt.png w500, /assets/aboutus/matt@2x.png w1000">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/aurel@2x.png" srcset="/assets/aboutus/aurel.png w500, /assets/aboutus/aurel@2x.png w1000">
    </div>

    <div class="text">
      <div class="name">Aurel</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/ed@2x.png" srcset="/assets/aboutus/ed.png w500, /assets/aboutus/ed@2x.png w1000">
    </div>

    <div class="text right">
      <div class="name">Ed</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/ed@2x.png" srcset="/assets/aboutus/ed.png w500, /assets/aboutus/ed@2x.png w1000">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/andrei@2x.png" srcset="/assets/aboutus/andrei.png w500, /assets/aboutus/andrei@2x.png w1000">
    </div>

    <div class="text">
      <div class="name">Andrei</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/reg@2x.png" srcset="/assets/aboutus/reg.png w500, /assets/aboutus/reg@2x.png w1000">
    </div>

    <div class="text right">
      <div class="name">Reg</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/reg@2x.png" srcset="/assets/aboutus/reg.png w500, /assets/aboutus/reg@2x.png w1000">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/mike@2x.png" srcset="/assets/aboutus/mike.png w500, /assets/aboutus/mike@2x.png w1000">
    </div>

    <div class="text">
      <div class="name">Mike</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="bottom-callout">
    <div class="bottom-header header white">Join Us!</div>

    <div class="bottom-buttons">
      <a routerLink="/pricing">
        <button class="btn orange left">
          GET CYPHERPUNK NOW
        </button>
      </a>

      <div class="middle"><span>Or</span></div>

      <a routerLink="/download">
        <button class="btn orange right">
          START MY FREE PREVIEW
        </button>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>
