<div id="nav" class="nav">
  <div class="nav-inner">
    <div class="nav-left">
      <a routerLink="/">
        <img src="/assets/logo-wh@2x.png" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
      </a>
    </div>

    <nav class="nav-right">
      <ul>
        <li>
          <a class="nav-link" routerLink="/account" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">ACCOUNT</a>
        </li>
        <li *ngIf="showPriceBoxes()">
          <button class="btn blue" routerLink="/account/upgrade">UPGRADE</button>
        </li>
        <li class="border" (click)="logout()">
          <a class="nav-link">LOG OUT</a>
        </li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>

<div id="scrolled-nav" class="scrolled-nav-container">
  <div class="nav">
    <div class="nav-inner">
      <div class="nav-left">
        <a routerLink="/">
          <img src="/assets/logo-wh@2x.png" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        </a>
      </div>

      <nav class="nav-right">
        <ul>
          <li>
            <a class="nav-link" routerLink="/account" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">ACCOUNT</a>
          </li>
          <li *ngIf="showPriceBoxes()">
            <button class="btn blue" routerLink="/account/upgrade">UPGRADE</button>
          </li>
          <li class="border" (click)="logout()">
            <a class="nav-link">LOG OUT</a>
          </li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/">
      <img src="/assets/logo-wh@2x.png" class="mobile-logo" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown">
      <img src="/assets/icon-menu.png" alt="Menu Button" title="Click to Open Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }">
    <div class="mobile-dd-item" routerLink="/account" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">
      ACCOUNT
    </div>
    <div class="mobile-dd-item" routerLink="/account/upgrade" *ngIf="showPriceBoxes()">
      <button class="btn blue">UPGRADE</button>
    </div>
    <div class="mobile-dd-item" (click)="logout()">
      LOG OUT
    </div>
  </div>
  <div class="clear"></div>
</div>

<app-alerts></app-alerts>
