<div class="nav">
  <div class="nav-left">
    <a routerLink="/">
      <img src="/assets/logo-bl@2x.png" alt="Cypherpunk Privacy">
    </a>
  </div>

  <nav class="nav-right">
    <ul>
      <li>
        <a class="nav-link" routerLink="/user">Account</a>
      </li>
      <li>
        <button class="btn gold" routerLink="/user/upgrade">Upgrade</button>
      </li>
      <li class="border" (click)="logOff()">
        <a class="nav-link">Log out</a>
      </li>
    </ul>
  </nav>
  <div class="clear"></div>

</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/">
      <img src="/assets/logo-bl.png" alt="Cypherpunk Privacy">
    </a>

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown">
      <img src="/assets/icon-menu.png" alt="Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }">
    <div class="mobile-dd-item" routerLink="/user">
      Account
    </div>
    <div class="mobile-dd-item" routerLink="/user/upgrade">
      <button class="btn gold">Upgrade</button>
    </div>
    <div class="mobile-dd-item" (click)="logOff()">
      log out
    </div>
  </div>
  <div class="clear"></div>
</div>

<app-alerts></app-alerts>
