<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    This is not the web page you are looking for ...
  </h1>
  <div class="masthead-subheader">404</div>
  <div class="masthead-image">
    <img src="/assets/web-404.png" alt="Not Found">
  </div>
</div>

<div class="content">
  <h2 class="header blue">
    What do you want to know about?
  </h2>

  <div class="body">
    <div class="column">
      <div class="image"></div>

      <div class="text">
        <h3 class="text-header">
          How to Use?
        </h3>

        <p>
          Experience the entire internet the way it was meant to be, free from censorship and blocking.
        </p>
      </div>

      <a class="jump" routerLink="/howitworks">
        <h3 class="link">
          How it Works
        </h3>
      </a>
    </div>

    <div class="column">
      <div class="image"></div>

      <div class="text">
        <h3 class="text-header">
          How Much Does it Cost?
        </h3>

        <p>
          What you do online, is your business. We help you keep it that way – free from surveillance, tracking, ID thieves and hackers.
        </p>

      </div>

      <a class="jump" routerLink="/download">
        <div class="link">
          GET CYPHERPUNK NOW
        </div>
      </a>
    </div>

    <div class="column">
      <div class="image"></div>

      <div class="text">
        <div class="text-header">
          How xxxxx?
        </div>

        <p>
          We keep you safe on the go, making every public Wi-Fi network a private and secure access point for you.
        </p>
      </div>

      <a class="jump" routerLink="/">
        <div class="link">
          XXXXXXX
        </div>
      </a>
    </div>
  </div>
</div>


<app-footer></app-footer>
