.masthead {
  width: 100%;
  background-image: linear-gradient(290deg, #034698, #548cd2);

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 45px auto 0;
    padding-bottom: 96px;
  }
}

.page {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px 0;
  margin: auto;

  .page-left {
    float: left;
    width: 75%;
    margin-top: 30px;
  }
  .page-right {
    float: left;
    width: 25%;
    text-align: center;
    background-color: #f2f2f2;
  }
}

.mobile-header {
  display: none;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.blimp-container, .mobile-blimp-container {
  position: relative;
  .blimp {
    position: relative;
    width: 97.2px;
    height: 30.9px;
    background-image: linear-gradient(to bottom, #ffc933, #d19e12);
    border-radius: 43px;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    margin: auto;
    top: -10px;
    &:after {
      top: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	position: absolute;
    	border-top-color: #d19e12;
    	border-width: 9px;
    	margin-left: -9px;
    }
  }
}

.mobile-blimp-container { display: none; }

.pricing {
  text-align: center;

  .price-box {
    display: inline-block;
    width: 234px;
    height: 170px;
    margin-right: 25px;
    border: solid 8px #ccc;
    cursor: pointer;
    &:last-child { margin-right: 0; }
    &.active { border: solid 8px #61bb00; }

    .checkmark {
      position: relative;
      .check {
        display: none;
        position: absolute;
        background-color: #61bb00;
        width: 54px;
        height: 54px;
        top: -20px;
        right: -20px;
        border-radius: 50px;
        color: #fff;
        padding-top: 8px;
        font-size: 26px;
        &.active { display: block; }
      }
    }

    .period {
      margin-top: 15px;
      font-size: 26px;
      font-weight: 500;
      color: #666;
      &.active { color: #034698; }
    }

    .price-area {
      color: #666;
      .price {
        font-size: 40px;
        font-weight: bold;
        &.active { color: #034698; }
      }
      .price-time { color: #666; }
    }

    .yearly {
      color: #666;
      &.active { color: #76a8e7; }
    }
  }
}

.payment-selection {
  width: 100%;
  height: 96.6px;
  margin: 40px 0 20px;
  padding: 0 50px 0;
  text-align: center;

  .payment-bg {
    background-color: #e5edf8;
    width: 100%;
    height: 100%;

    .type-container {
      display: inline-block;
      width: 22%;
      color: #666;
      cursor: pointer;
      &:last-child { margin-right: 0; }
      &.active { color: #034698; }
      .short { margin-bottom: 7px; }
      .other-icon { padding-top: 25px; }
    }
    .type-title {
      font-size: 18px;
      font-weight: 500;
    }
    .icon-container {
      font-size: 32px;
      margin-top: 15px;
    }
  }
}

.payment-info {
  margin: 0 auto 0;
  padding: 0 50px 0;
  text-align: center;

  .info {
    text-align: center;
    p {
      display: inline-block;
      text-align: left;
      &.half input {
        width: 178px;
      }
    }
  }

  .separator {
    position: relative;
    margin: 15px 100px;
    float: left;
    font-size: 24px;
    color: #000;
    font-weight: 600;
  }
  .separator:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    top: 15px;
    width: 71px;
    right: 100%;
    margin-right: 15px;
  }

  .clear { clear: both; }

  label { font-size: 18px; color: #666; }
  input {
    display: table-cell;
    width: 356px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #999;
    margin-top: 5px;
    font-size: 18px;
    padding: 10px;
    color: #666;
  }

  .total {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.78;
    color: #000;
    margin-top: 15px;
    .total-price {
      color: #61bb00;
      margin-left: 25px;
    }
  }

  .stripe-message {
    margin-top: 15px;
    margin-bottom: 75px;
    font-weight: bold;
    text-align: center;
    &.error { color: red; }
  }
}

.clear { clear: both; }

.btn {
  width: 341px;
  height: 60px;
  margin: 25px 0 25px;
  font-size: 24px;
  text-transform: none;
}

.featured-item {
  margin-top: 40px;
  display: inline-block;
  width: 96px;
  height: 96px;
  border-radius: 50px;
  background-color: #d8d8d8;
}
.featured-text {
  color: #666;
  font-size: 18px;
  font-weight: 500;
}

.server-locations {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;

  .server-header {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .server-item-container {
    width: 60%;
    margin: auto;
    text-align: center;
  }

  .server-item {
    display: inline;
    float: left;
    width: 37px;
    height: 26px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    margin-left: 5px;
    margin-top: 5px;
  }
}

#walletWidgetDiv { width: 350px; height: 228px; margin: 20px auto; display: none; }
#consentWidgetDiv { width: 350px; height: 140px; margin: 20px auto; display: none; }

@media (max-width: 1060px) {
  .page {
    padding: 0;
    .page-right { display: none; }
    .page-left { width: 100%; float: none; }
  }
  .mobile-header { display: block; }

  .pricing .price-box {
    margin: 0 0 25px;
    width: 90%;
  }

  .blimp-container { display: none; }
  .mobile-blimp-container { display: block; }

  .payment-selection { padding: 0; }
  .payment-info {
    padding: 0;
    .separator {
      margin: 15px auto;
      float: none;
      &:before { display: none; }
    }
  }
}
