<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">
      Cypherpunk Privacy Support
    </h1>
  </div>

  <support-navigation [page]="'linux'"></support-navigation>

  <div class="page">
    <div class="page-inner">

      <div class="page-top">
        <img src="/assets/support/linux@2x.png" srcset="/assets/support/linux.png 500w, /assets/support/linux@2x.png 1000w" alt="Linux">
        <div class="header green">Linux</div>

        <div class="btn-container">
          <a routerLink="/apps/linux">
            <button class="btn orange">Learn More</button>
          </a>
        </div>

        <div class="btn-container">
          <a routerLink="/download/linux/autostart">
            <button class="btn gray">Download</button>
          </a>
        </div>
      </div>

      <div class="section">
        <div class="header green">Setup Guides</div>

        <div class="setup">
          <a routerLink="/support/linux/9198082235324007995/setup-guide-for-cypherpunk-privacy-for-linux">
            Setup Guide for Cypherpunk Privacy for Linux
          </a>
        </div>
      </div>

      <div class="section">
        <div class="header green">Manual Configuration Tutorials for Linux</div>

        <div class="link">
          <a routerLink="/support/linux/8612652696584935347/manually-configure-openvpn-on-linux">
            <img src="/assets/features/openvpn@2x.png" srcset="/assets/features/openvpn.png 500w, /assets/features/openvpn@2x.png 1000w" alt="How to manually configure OpenVPN for Linux">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/linux/3389655930805699145/manually-configure-ikev2-on-linux">
            <img src="/assets/features/ikev2@2x.png" srcset="/assets/features/ikev2.png 500w, /assets/features/ikev2@2x.png 1000w" alt="How to manually configure IKEv2 for Linux">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/linux/manually-configure-ipsec-on-linux">
            <img src="/assets/features/ipsec@2x.png" srcset="/assets/features/ipsec.png 500w, /assets/features/ipsec@2x.png 1000w" alt="How to manually configure IPSec for Linux">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/linux/manually-configure-http-proxy-on-linux">
            <img src="/assets/features/http-proxy@2x.png" srcset="/assets/features/http-proxy.png 500w, /assets/features/http-proxy@2x.png 1000w" alt="How to manually configure HTTP Proxy for Linux">
          </a>
        </div>

        <div class="link">
          <a routerLink="/support/linux/manually-configure-cypherplay-on-linux">
            <img src="/assets/features/cypherpunk-vpn@2x.png" srcset="/assets/features/cypherpunk-vpn.png 500w, /assets/features/cypherpunk-vpn@2x.png 1000w" alt="How to manually configure CypherPlay for Linux">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
