.wrapper {
  .masthead .masthead-header {
    font-size: 28px;
    margin: 0 auto 0;
    padding: 0 10px 40px;
  }

  .page {
    padding: 40px 0;

    .page-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 0 10px;
    }

    .breadcrumbs {
      margin: 0 0 15px;

      .breadcrumb {
        display: inline-block;
        a, span { margin-right: 10px; text-decoration: none; }
      }
    }

    .page-top {
      text-align: center;
      img { width: 100px; }
      .header { margin: 10px 0 0; }

      .btn {
        min-width: 240px;
        height: 60px;
        border-radius: 5px;
        color: #fff;
        margin: 20px auto 0;
        text-align: center;
        font-size: 22px;
        &.gray {
          background-color: #5e5a5a;
          &:hover { background-color: #787373; }
        }
        &.orange {
          background-color: #ff7756;
          &:hover { background-color: #ff8c71; }
        }
      }
    }

    .section {
      text-align: center;
      font-size: 0;

      .header { margin: 40px 0 40px; text-align: left; }

      .setup {
        text-align: left;
        a { font-size: 16px; }
      }

      .link {
        width: 175px;
        margin: 0 10px 20px;
        display: inline-block;
        vertical-align: top;

        img { width: 100%; }
      }
    }
  }
}
