<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Cypherpunk Privacy for Mac</h1>
</div>

<apps-navigation [page]="'mac'"></apps-navigation>

<div class="content down-arrow white">
  <div class="content-inner">
    <div class="split">
      <img src="/assets/apps/main/cp-for-mac@2x.png" srcset="/assets/apps/main/cp-for-mac.png 500w, /assets/apps/main/cp-for-mac@2x.png 1000w" alt="Cypherpunk Privacy for Mac">
    </div>

    <div class="button-container">
      <a href="{{ downloadLink }}" (click)="startDownload()">
        <button class="btn orange">Download Now</button>
      </a>

      <div class="downloading" *ngIf="showDownloading">
        Your download is starting...
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="header">Features</div>

    <div class="columns">
      <!-- Left Column -->
      <div class="column">
        <div class="column-header">
          <img src="/assets/apps/holding/alex-holding-mac@2x.png" srcset="/assets/apps/holding/alex-holding-mac.png 500w, /assets/apps/holding/alex-holding-mac@2x.png 1000w" alt="Cypherpunk Privacy">
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/multiple-encryption-profiles@2x.png" srcset="/assets/apps/multiple-encryption-profiles.png 500w, /assets/apps/multiple-encryption-profiles@2x.png 1000w" alt="Multiple Encryption Profiles">
          </div>

          <div class="cell-content">
            <div class="cell-header">Multiple Encryption Profiles</div>
            <div class="cell-text">Optimize your connection for Privacy, Freedom, or Speed</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/leak-protection@2x.png" srcset="/assets/apps/leak-protection.png 500w, /assets/apps/leak-protection@2x.png 1000w" alt="Leak Protection">
          </div>

          <div class="cell-content">
            <div class="cell-header">Leak Protection</div>
            <div class="cell-text">Internet Killswitch, DNS Leak Protection, IPv6 Leak Protection</div>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="column">
        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/one-click-connect@2x.png" srcset="/assets/apps/one-click-connect.png 500w, /assets/apps/one-click-connect@2x.png 1000w" alt="One Click Connect">
          </div>

          <div class="cell-content">
            <div class="cell-header">One Click Connect</div>
            <div class="cell-text">For everyone, novice users to advanced power users</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/cypher-play@2x.png" srcset="/assets/apps/cypher-play.png 500w, /assets/apps/cypher-play@2x.png 1000w" alt="CypherPlay&trade;">
          </div>

          <div class="cell-content">
            <div class="cell-header">CypherPlay&trade;</div>
            <div class="cell-text">Freedom to watch any streaming content online</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/cypher-vpn@2x.png" srcset="/assets/apps/cypher-vpn.png 500w, /assets/apps/cypher-vpn@2x.png 1000w" alt="MaxStealth">
          </div>

          <div class="cell-content">
            <div class="cell-header">MaxStealth</div>
            <div class="cell-text">Break out of any censored network</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/privacy-filter@2x.png" srcset="/assets/apps/privacy-filter.png 500w, /assets/apps/privacy-filter@2x.png 1000w" alt="Privacy Filter">
          </div>

          <div class="cell-content">
            <div class="cell-header">Privacy Filter</div>
            <div class="cell-text">Block ads, trackers, and malware with our advanced filtering system</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/exempt-apple@2x.png" srcset="/assets/apps/exempt-apple.png 500w, /assets/apps/exempt-apple@2x.png 1000w" alt="Exempt Apple">
          </div>

          <div class="cell-content">
            <div class="cell-header">Compatible with Apple Services</div>
            <div class="cell-text">Special exemption setting to ensure Facetime, iMessage, and other Apple Services work properly</div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <a href="{{ downloadLink}}" (click)="startDownload()">
        <button class="btn orange">Download Now</button>
      </a>

      <div class="downloading white" *ngIf="showDownloading">
        Your download is starting...
      </div>
    </div>
  </div>
</div>

<apps-network [platform]="'mac'" [link]="downloadLink"></apps-network>

<app-footer></app-footer>
