<div class="navigation">
  <ul>
    <a routerLink="/apps">
      <li [ngClass]="{ 'active': page === 'apps'}">
        <img class="display" src="/assets/apps/icons/overview@2x.png" srcset="/assets/apps/icons/overview.png 500w, /assets/apps/icons/overview@2x.png 1000w" alt="Overview">
        <img class="hover" src="/assets/apps/icons/overview-hover@2x.png" srcset="/assets/apps/icons/overview-hover.png 500w, /assets/apps/icons/overview-hover@2x.png 1000w" alt="Overview">
        <img class="active" src="/assets/apps/icons/overview@2x.png" srcset="/assets/apps/icons/overview.png 500w, /assets/apps/icons/overview@2x.png 1000w" alt="Overview">
        <span>Overview</span>
      </li>
    </a>
    <a routerLink="/apps/windows">
      <li [ngClass]="{ 'active': page === 'windows'}">
        <img class="display" src="/assets/apps/icons/windows@2x.png" srcset="/assets/apps/icons/windows.png 500w, /assets/apps/icons/windows@2x.png 1000w" alt="Windows">
        <img class="hover" src="/assets/apps/icons/windows-hover@2x.png" srcset="/assets/apps/icons/windows-hover.png 500w, /assets/apps/icons/windows-hover@2x.png 1000w" alt="Windows">
        <img class="active" src="/assets/apps/icons/windows@2x.png" srcset="/assets/apps/icons/windows.png 500w, /assets/apps/icons/windows@2x.png 1000w" alt="Windows">
        <span>Windows</span>
      </li>
    </a>
    <a routerLink="/apps/mac">
      <li [ngClass]="{ 'active': page === 'mac'}">
        <img class="display" src="/assets/apps/icons/mac@2x.png" srcset="/assets/apps/icons/mac.png 500w, /assets/apps/icons/mac@2x.png 1000w" alt="Mac">
        <img class="hover" src="/assets/apps/icons/mac@2x.png" srcset="/assets/apps/icons/mac.png 500w, /assets/apps/icons/mac@2x.png 1000w" alt="Mac">
        <img class="active" src="/assets/apps/icons/mac-hover@2x.png" srcset="/assets/apps/icons/mac-hover.png 500w, /assets/apps/icons/mac-hover@2x.png 1000w" alt="Mac">
        <span>Mac</span>
      </li>
    </a>
    <a routerLink="/apps/linux">
      <li [ngClass]="{ 'active': page === 'linux'}">
        <img class="display" src="/assets/apps/icons/linux@2x.png" srcset="/assets/apps/icons/linux.png 500w, /assets/apps/icons/linux@2x.png 1000w" alt="Linux">
        <img class="hover" src="/assets/apps/icons/linux-hover@2x.png" srcset="/assets/apps/icons/linux-hover.png 500w, /assets/apps/icons/linux-hover@2x.png 1000w" alt="Linux">
        <img class="active" src="/assets/apps/icons/linux@2x.png" srcset="/assets/apps/icons/linux.png 500w, /assets/apps/icons/linux@2x.png 1000w" alt="Linux">
        <span>Linux</span>
      </li>
    </a>
    <a routerLink="/apps/ios">
      <li [ngClass]="{ 'active': page === 'ios'}">
        <img class="display" src="/assets/apps/icons/ios@2x.png" srcset="/assets/apps/icons/ios.png 500w, /assets/apps/icons/ios@2x.png 1000w" alt="iOS">
        <img class="hover" src="/assets/apps/icons/ios-hover@2x.png" srcset="/assets/apps/icons/ios-hover.png 500w, /assets/apps/icons/ios-hover@2x.png 1000w" alt="iOS">
        <img class="active" src="/assets/apps/icons/ios@2x.png" srcset="/assets/apps/icons/ios.png 500w, /assets/apps/icons/ios@2x.png 1000w" alt="iOS">
        <span>iOS</span>
      </li>
    </a>
    <a routerLink="/apps/android">
      <li [ngClass]="{ 'active': page === 'android'}">
        <img class="display" src="/assets/apps/icons/android@2x.png" srcset="/assets/apps/icons/android.png 500w, /assets/apps/icons/android@2x.png 1000w" alt="Android">
        <img class="hover" src="/assets/apps/icons/android-hover@2x.png" srcset="/assets/apps/icons/android-hover.png 500w, /assets/apps/icons/android@2x.png 1000w" alt="Android">
        <img class="active" src="/assets/apps/icons/android@2x.png" srcset="/assets/apps/icons/android.png 500w, /assets/apps/icons/android@2x.png 1000w" alt="Android">
        <span>Android</span>
      </li>
    </a>
    <a routerLink="/apps/browser">
      <li [ngClass]="{ 'active': page === 'browser'}">
        <img class="display" src="/assets/apps/icons/browser@2x.png" srcset="/assets/apps/icons/browser.png 500w, /assets/apps/icons/browser@2x.png 1000w" alt="Browsers">
        <img class="hover" src="/assets/apps/icons/browser-hover@2x.png" srcset="/assets/apps/icons/browser-hover.png 500w, /assets/apps/icons/browser-hover@2x.png 1000w" alt="Browsers">
        <img class="active" src="/assets/apps/icons/browser@2x.png" srcset="/assets/apps/icons/browser.png 500w, /assets/apps/icons/browser@2x.png 1000w" alt="Browsers">
        <span>Browsers</span>
      </li>
    </a>
    <a routerLink="/apps/routers">
      <li [ngClass]="{ 'active': page === 'routers'}">
        <img class="display" src="/assets/apps/icons/router@2x.png" srcset="/assets/apps/icons/router.png 500w, /assets/apps/icons/router@2x.png 1000w" alt="Routers">
        <img class="hover" src="/assets/apps/icons/router-hover@2x.png" srcset="/assets/apps/icons/router-hover.png 500w, /assets/apps/icons/router-hover@2x.png 1000w" alt="Routers">
        <img class="active" src="/assets/apps/icons/router@2x.png" srcset="/assets/apps/icons/router.png 500w, /assets/apps/icons/router@2x.png 1000w" alt="Routers">
        <span>Routers</span>
      </li>
    </a>
  </ul>
</div>
