<div class="navigation">
  <ul>
    <a routerLink="/support/windows">
      <li [ngClass]="{'active': page === 'windows'}">
        <span>Windows</span>
      </li>
    </a>
    <a routerLink="/support/macos">
      <li [ngClass]="{'active': page === 'macos' || page === 'mac'}">
        <span>Mac</span>
      </li>
    </a>
    <a routerLink="/support/android">
      <li [ngClass]="{'active': page === 'android'}">
        <span>Android</span>
      </li>
    </a>
    <a routerLink="/support/ios">
      <li [ngClass]="{'active': page === 'ios'}">
        <span>iOS</span>
      </li>
    </a>
    <a routerLink="/support/browsers">
      <li [ngClass]="{'active': page === 'browsers'}">
        <span>Browsers</span>
      </li>
    </a>
    <a routerLink="/support/linux">
      <li [ngClass]="{'active': page === 'linux'}">
        <span>Linux</span>
      </li>
    </a>
    <a routerLink="/support/windows-phone">
      <li [ngClass]="{'active': page === 'window-phone'}">
        <span>Windows Phone</span>
      </li>
    </a>
    <a routerLink="/support/routers">
      <li [ngClass]="{'active': page === 'routers'}">
        <span>Routers</span>
      </li>
    </a>
    <a routerLink="/support/others">
      <li [ngClass]="{'active': page === 'others'}">
        <span>Others</span>
      </li>
    </a>
  </ul>
</div>
