<div class="navigation">
  <ul>
    <a routerLink="/support/windows">
      <li [ngClass]="{'active': page === 'windows'}">
        <img src="/assets/apps/icons/windows@2x.png" srcset="/assets/apps/icons/windows.png 500w, /assets/apps/icons/windows@2x.png 1000w" alt="Windows">
        <span>Windows</span>
      </li>
    </a>
    <a routerLink="/support/macos">
      <li [ngClass]="{'active': page === 'macos' || page === 'mac'}">
        <img class="display" src="/assets/apps/icons/mac@2x.png" srcset="/assets/apps/icons/mac.png 500w, /assets/apps/icons/mac@2x.png 1000w" alt="Mac">
        <img class="active" src="/assets/apps/icons/mac-hover@2x.png" srcset="/assets/apps/icons/mac-hover.png 500w, /assets/apps/icons/mac-hover@2x.png 1000w" alt="Mac">
        <span>Mac</span>
      </li>
    </a>
    <a routerLink="/support/android">
      <li [ngClass]="{'active': page === 'android'}">
        <img src="/assets/apps/icons/android@2x.png" srcset="/assets/apps/icons/android.png 500w, /assets/apps/icons/android@2x.png 1000w" alt="Android">
        <span>Android</span>
      </li>
    </a>
    <a routerLink="/support/ios">
      <li [ngClass]="{'active': page === 'ios'}">
        <img src="/assets/apps/icons/ios@2x.png" srcset="/assets/apps/icons/ios.png 500w, /assets/apps/icons/ios@2x.png 1000w" alt="iOS">
        <span>iOS</span>
      </li>
    </a>
    <a routerLink="/support/browser-extension">
      <li [ngClass]="{'active': page === 'browser-extension'}">
        <img src="/assets/apps/icons/browser@2x.png" srcset="/assets/apps/icons/browser.png 500w, /assets/apps/icons/browser@2x.png 1000w" alt="Browsers">
        <span>Browsers</span>
      </li>
    </a>
    <a routerLink="/support/linux">
      <li [ngClass]="{'active': page === 'linux'}">
        <img src="/assets/apps/icons/linux@2x.png" srcset="/assets/apps/icons/linux.png 500w, /assets/apps/icons/linux@2x.png 1000w" alt="Linux">
        <span>Linux</span>
      </li>
    </a>
    <a routerLink="/support/windows-phone">
      <li [ngClass]="{'active': page === 'window-phone'}">
        <span>Windows Phone</span>
      </li>
    </a>
    <a routerLink="/support/routers">
      <li [ngClass]="{'active': page === 'routers'}">
        <img src="/assets/apps/icons/router@2x.png" srcset="/assets/apps/icons/router.png 500w, /assets/apps/icons/router@2x.png 1000w" alt="Routers">
        <span>Routers</span>
      </li>
    </a>
    <a routerLink="/support/others">
      <li [ngClass]="{'active': page === 'others'}">
        <span>Others</span>
      </li>
    </a>
  </ul>
</div>
