<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Create Account</div>
  <div class="masthead-image">
    <img src="/assets/web-hero-login.png" alt="Signup">
  </div>
</div>

<form>
  <p>
    <label for="username">Username</label><br>
    <input id="signup-username" type="text" name="username" placeholder="Username" autofocus>
  </p>

  <p>
    <label for="email">Email</label><br>
    <input type="email" name="email" placeholder="User@example.com">
  </p>

  <p>
    <label for="password">Password</label><br>
    <input type="password" name="password">
  </p>

  <p class="center">
    <button class="btn blue">Create Account</button>
  </p>

  <p class="center">
    <a class="login-link" routerLink="/login">Have an account already?</a>
  </p>
</form>

<app-footer></app-footer>
