.loading-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: radial-gradient(#222922, #000500);
}

#word {
  bottom: 0;
  color: #fff;
  font-size: 1.5em;
  height: 2.5em;
  left: 0;
  line-height: 2em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  top: 0;
  width: 240px;
  overflow: hidden;
  padding: 0 20px;
  letter-spacing: -1px;
}

#word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
  color: #8dfffc;
}

#word .done {
  transform: translateX(0) scale(1);
}

.overlay {
  background-image: linear-gradient(transparent 0%, rgba(22, 50, 56, 0.5) 50%);
  background-size: 1000px 2px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
