<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Download Cypherpunk Privacy</h1>
</div>

<div class="download">
  <div class="inner">
    <div class="left">
      <img class="d" src="/assets/apps/desktop-hover@2x.png" srcset="/assets/apps/desktop-hover.png 500w, /assets/apps/desktop-hover@2x.png 1000w" alt="Download">
      <img class="w" src="/assets/apps/windows-hover@2x.png" alt="Windows" *ngIf="headerBuild.name === 'Windows' ">
      <img class="m" src="/assets/apps/apple-hover@2x.png" alt="Mac" *ngIf="headerBuild.name === 'Mac' ">
      <img class="m" src="/assets/apps/linux-hover@2x.png" alt="Linux" *ngIf="headerBuild.name === 'Linux' ">
    </div>

    <div class="right">
      <a (click)="launchDownloadModal(headerBuild)">
        <button class="btn blue">
          Download for {{ headerBuild.name }}
        </button>
      </a>
    </div>
  </div>
</div>

<div class="choices">
  <div class="inner">
    <div class="row">
      <div class="half">
        <div class="half-header">Desktop</div>

        <div class="half" *ngIf="headerBuild.name !== 'Windows'">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
            <img src="/assets/apps/windows@2x.png" alt="">
          </div>

          <p>Windows</p>

          <button class="btn orange" (click)="launchDownloadModal(builds.windows)">
            Download
          </button>

          <p>Windows Vista 64-bit and later</p>

          <a href="/apps/windows">Learn More</a>
        </div>

        <div class="half" *ngIf="headerBuild.name !== 'Mac'">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
            <img src="/assets/apps/apple@2x.png" alt="">
          </div>

          <p>MacOS</p>

          <button class="btn orange" (click)="launchDownloadModal(builds.mac)">
            Download
          </button>

          <p>MacOS Version 10.10 64-bit and later</p>

          <a href="/apps/linux">Learn More</a>
        </div>

        <div class="half" *ngIf="headerBuild.name !== 'Linux'">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
            <img src="/assets/apps/linux@2x.png" alt="">
          </div>

          <p>Linux</p>

          <button class="btn orange" (click)="launchDownloadModal(builds.linux)">
            Download
          </button>

          <p>Linux Version x and later</p>

          <a href="/apps/linux">Learn More</a>
        </div>
      </div>

      <div class="half">
        <div class="half-header">Mobile</div>

        <div class="half">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
          </div>

          <p>iOS</p>

          <div class="ios-badge">
            <a href="{{ builds.ios.link }}">
              <img class="apple" src="/assets/apple-appstore-badge.svg" alt="Apple App Store">
            </a>
          </div>

          <p>iOS 7 and later</p>

          <a href="/apps/ios">Learn More</a>
        </div>

        <div class="half">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
          </div>

          <p>Android</p>

          <div class="android-badge">
            <a href="{{ builds.android.link }}">
              <img class="google" src="/assets/google-play-badge.png" alt="Google Play">
            </a>
          </div>

          <p>Android 4.01 and later</p>

          <a href="/apps/android">Download APK</a><br>
          <a href="/apps/android">Learn More</a>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="row">
      <div class="half">
        <div class="half-header">Browsers</div>

        <div class="half">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
          </div>

          <p>Chrome/Opera/Vivaldi</p>

          <button class="btn orange" (click)="launchDownloadModal(builds.chrome)">
            Download
          </button>

          <p>For Chrome/Opera/Vivaldi Browser 22+</p>

          <a href="/apps/browser">Learn More</a>
        </div>

        <div class="half">
          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
          </div>

          <p>Firefox</p>

          <button class="btn orange" (click)="launchDownloadModal(builds.firefox)">
            Download
          </button>

          <p>Firefox Version 5+</p>

          <a href="/apps/browser">Learn More</a>
        </div>
      </div>

      <div class="half"></div>
    </div>

    <div class="separator"></div>

    <div class="row">
      <div class="row-header">Routers</div>

      <div class="half">
        <div class="half">
          <p>DD-WRT</p>

          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
          </div>

          <button class="btn orange">
            Setup Guide
          </button>
        </div>

        <div class="half">
          <p>Tomato</p>

          <div class="image-container">
            <img class="d" src="/assets/apps/desktop@2x.png" alt="">
          </div>

          <button class="btn orange">
            Setup Guide
          </button>
        </div>
      </div>

      <div class="half">
        <p>VPN Routers</p>

        <div class="image-container">
          <img class="d" src="/assets/apps/desktop@2x.png" alt="">
        </div>

        <div>
          <button class="btn orange">
            Setup Guide
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="different">
  <div class="header black">Want to use it on a different device?</div>

  <button class="btn blue">Check out the Setup Guide</button>
</div>

<app-footer></app-footer>

<div class="modal" [ngClass]="{'open': showDownloadModal}">
  <div class="background" (click)="showDownloadModal = false" [ngClass]="{'open': showDownloadModal}"></div>
  <div class="modal-content">
    <div class="modal-header">
      Downloading Cypherpunk Privacy for {{ downloadBuildName }}
    </div>

    <div class="modal-line"></div>

    <div class="modal-body">
      <div class="row">
        <label>
          Your download will begin shortly...
          <br>
          Or click here to download now:
          <a href="{{downloadBuildLink}}" target="_top"> download</a>
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="showDownloadModal = false">Close</button>
    </div>
  </div>
</div>
