.masthead {
  .masthead-header { margin: 45px auto 0; padding: 0 0 50px; }
}

.download {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 80px 0 50px;

  .inner { overflow: auto;}

  .left {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    img.d { width: 250px; }
    img.w { position: absolute; top: 32px; left: 0; right: 0; margin: auto; }
    img.m { position: absolute; top: 25px; left: 0; right: 0; margin: auto; }
  }
  .right {
    width: 50%;
    float: left;
    text-align: center;
  }
}

.choices {
  width: 100%;
  background-color: #efeaea;
  padding: 50px 0;

  .inner { width: 100%; max-width: 1000px; margin: auto; }

  .separator { width: 90%; border-bottom: 3px dashed #cac5c5; margin: auto; }

  .row {
    overflow: auto;

    .row-header {
      font-size: 23px;
      margin: 40px 0 0;
      text-align: center;
    }

    .half {
      width: 50%;
      float: left;
      text-align: center;
      padding: 0 0 40px;

      .half-header {
        font-size: 23px;
        text-align: center;
        color: #163238;
        margin: 40px 0;
      }

      a { color: #fc6146; }

      .btn { font-size: 16px; margin: 10px 0 20px; width: 135px; height: 40px; }

      .image-container {
        position: relative;
        img:nth-child(2) {
          position: absolute;
          top: 15px;
          left: 0;
          right: 0;
          margin: auto;
          width: 55px;
        }
        img.d { width: 150px; }
      }

      .ios-badge {
        margin: 25px 0 30px;
        img { width: 150px; }
      }
      .android-badge {
        margin: 10px 0 18px;
        img { width: 170px; }
      }
    }
  }
}

.different {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 0 80px;
  text-align: center;

  .header { margin: 40px 0; }

  .btn {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
}

.btn {
  font-size: 24px;
  width: 341px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.modal .modal-content .modal-footer .btn { margin: 0; }

@media (max-width: 700px) {
  .content { padding: 0 10px; }
}

@media (max-width: 375px) {
  .btn { width: 280px; }
  .different .btn { width: 280px; }
}
