.masthead {
  overflow: hidden;

  .masthead-header { margin: 45px auto 0; padding: 0 0 15px; }

  .masthead-image {
    position: relative;

    .world {
      width: 1000px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      img { width: 100%; }

      .marker {
        position: absolute;
        left: 250px;
        width: 10px;
        height: 10px;
        top: 100px;
        background-color: #fff;
      }
      .point {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        transform: translate(-50%,-50%);
        background: #088;
        border: 2px solid #044;
        transition: box-shadow 1.2s, background 1.2s, border-color 1.2s;
        &.selected {
          z-index: 5;
          box-shadow: 0 0 20px 5px #0ff;
          background: rgba(0,255,255,0.75);
          border-color: #0ff;
        }
      }
    }
  }
}

.content {
  width: 100%;
  background-color: #163138;
  color: #fff;

  .content-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 45px 0 60px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    li {
      padding: 10px 0 0 10px;

      .flag { padding: 0 5px 0 0; vertical-align: middle; width: 50px; }
      .name { vertical-align: middle; }
      .premium {
        background: linear-gradient(329deg, #f8cf1c, #f8e71c, #f8cf1c);
        border-radius: 5px 0 5px 0;
        padding: 1px 3px;
        color: darken(#f8cf1c, 40%) !important;
        font-weight: 800;
        position: relative;
        top: 2px;
      }
    }
  }
}

.feature {
  width: 100%;
  padding: 60px 0px;
  background-color: #efebeb;
  .inner { max-width: 1000px; margin: auto; }
  &.green {
    background-color: #163138;
    .row .text .text-header { color: #FFE399; }
    .row .text { color: #8DFFFB; }
  }
}

.row {
  overflow: auto;

  .image {
    width: 39.5%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    .padded-width { width: 80%; max-width: 400px; padding: 0 20px; }
    .full-width { width: 100%; max-width: 400px; }
    .e { width: 249px; }
    .d { width: 242px; }
    .p { width: 277px; }
    .s { width: 224px; }
  }

  .mobile { display: none; }
  .desktop { display: inline-block; }

  .text {
    width: 60%;
    display: inline-block;
    color: #726e6e;
    vertical-align: middle;
    font-size: 18px;
    .text-header { font-family: GothamRoundedBold; font-size: 22px; color: #323131; }
  }
}


@media (max-width: 1016px) {
  .row .mobile { display: block ; }
  .row .desktop { display: none; }
}

@media (max-width: 999px) {
  .masthead .masthead-image .world { display: none; }
}

@media (max-width: 975px) {
  .row .image,
  .row .text { width: 100%; text-align: center; }
  .row .text { padding: 20px 10px; }
  .row .image .padded-width { width: 100%; }
}

@media (max-width: 850px) {
  .content ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .content { padding: 30px 10px 60px; }
}

@media (max-width: 580px) {
  .content ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (max-width: 500px) {
  .feature, .descriptions { padding: 60px 20px; }
}
