<app-acc-nav></app-acc-nav>

<div class="masthead">
  <div class="masthead-subheader">Account Info</div>
  <div class="masthead-header">Change Password</div>
</div>

<div class="content">

  <div class="row">
    <label for="currentEmail">Current Password</label><br>
    <input type="text">
  </div>

  <div class="row">
    <label for="newPassword">New Password</label><br>
    <input type="text" name="newPassword">
  </div>

  <div class="row">
    <label for="newPassword">Confirm Password</label><br>
    <input type="text" name="newPassword">
  </div>

  <div class="row border"></div>

  <div class="row center">
    <button>Change</button>
  </div>

  <div class="row center">
    <a routerLink="/account">Cancel</a>
  </div>

</div>

<app-footer></app-footer>
