.alert {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(128,128,128,0.5);
  padding: 0 15px;

  .alert-inner {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #eee;
    background-color: #0d1e26;
    border-radius: 5px;
    border: 4px solid #19474c;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    .alert-header {
      font-size: 20px;
      padding: 0 0 20px;
    }
    .button-container {
      overflow: auto;
      padding: 20px 0 0;
      .close {
        width: 90px;
        height: 45px;
        color: #fff;
        font-size: 18px;
        border: 0;
        border-radius: 5px;
        background-color: #163439;
        float: right;
        cursor: pointer;
      }
    }
  }
}
