.masthead {
  width: 100%;
  background-color: #0e003f;

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    margin: 45px auto 0;
    padding-bottom: 15px;
  }
  .masthead-subheader {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-bottom: 59px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #a5a2eb;
  }
}

.content {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding: 45px 0 60px;

  .header {
    font-size: 32px;
    font-weight: 500;
    color: #1973af;
    text-align: center;
    margin-bottom: 45px;
  }

  table {
    margin: auto;
    width: 100%;
    max-width: 725px;
    text-align: center;
    color: #666;
    line-height: 2.41;
    border-collapse: collapse;

    thead {
      color: #034698;
      border-bottom: 1px solid #ccc;
    }
    td { border-bottom: 1px solid #ccc; }
    .area { text-align: left; padding-left: 10px; }
    .flag { padding: 0 5px 5px 0; vertical-align: middle; }
    .city { text-align: left; padding-left: 20px; }
    .premium {
      background: linear-gradient(329deg, #f8cf1c, #f8e71c, #f8cf1c);
      border-radius: 5px 0 5px 0;
      padding: 1px 3px;
      color: darken(#f8cf1c, 40%) !important;
      font-weight: 800;
      position: relative;
      top: -1px;
    }

    .desktop { display: block; }
    .mobile { display: none; }
    .table-row { display: none; }
    .mobile-region { background-color: rgba(202, 216, 235, 0.5); }
  }
}

.content.bottom {
  padding: 0;
  max-width: 100%;

  .cta-container {
    position: relative;

    .call-to-action {
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      margin: auto;
      width: 341px;
      z-index: 25;

      .btn {
        width: 341px;
        height: 60px;
        color: #fff;
        font-size: 24px;
        background-color: #ff7857;
        box-shadow: none;
        text-shadow: none;
      }
    }
  }

  .available {
    height: 115px;
    width: 100%;
    background-color: #040026;
    position: relative;
    text-align: center;

    .subheader {
      padding-top: 46px;
      color: #fff;
      font-weight: 500;
      margin: 0 auto;

      a {
        color: #fff;
        font-size: 19px;
        &:hover { color: #fedf89; }
      }
    }
  }

  .upper {
    height: 140px;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: #333;
    background-color: rgba(242, 242, 242, 0.3);
    padding-top: 35px;
  }

  .subheader-content {
    background-color: rgba(202, 216, 235, 0.5);
  }
}

@media (max-width: 800px) {
  .content { padding: 30px 10px 60px; }
  .content table { font-size: 14px; line-height: 2.14; }

  .content.bottom {
    .upper { padding: 35px 10px 0; }
    .subheader-content { padding: 0 10px 0; }
  }
}

@media (max-width: 500px) {
  .area { display: none; }
  .content table .mobile { display: block; }
  .content table .mobile.table-row { display: table-row; }
  .content table .desktop { display: none; }
  .content table .premium { font-size: 12px; }
}

@media (max-width: 375px) {
  .content.bottom .cta-container .call-to-action { width: 100%; max-width: 280px; top: -25px; }
  .content.bottom .cta-container .call-to-action .btn { width: 280px; }
}
