<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Server Locations for Cypherpunk Privacy</div>
  <div class="masthead-subheader">
    Cypherpunk Privacy has a whole network of servers in different locations around the world.
  </div>
</div>

<div class="content">
  <div class="header">
    Cypherpunk Privacy Server Locations
  </div>

  <table>
    <thead>
      <tr>
        <th class="desktop" colspan="2">Locations</th>
        <th class="mobile">Locations</th>
        <th>Servers</th>
      </tr>
    </thead>

    <tbody>

      <tr class="mobile table-row" *ngIf="regions.NA.countries.length">
        <td class="mobile-region" colspan="2">North America</td>
      </tr>
      <tr *ngFor="let location of regions.NA.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.NA.countries.length" *ngIf="i === 0">
          North America
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}} <span class="premium" *ngIf="location.level === 'premium'">PREMIUM</span>
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.SA.countries.length">
        <td class="mobile-region" colspan="2">South America</td>
      </tr>
      <tr *ngFor="let location of regions.SA.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.SA.countries.length" *ngIf="i === 0">
          South America
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.CR.countries.length">
        <td class="mobile-region" colspan="2">Caribbean</td>
      </tr>
      <tr *ngFor="let location of regions.CR.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.CR.countries.length" *ngIf="i === 0">
          Caribbean
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.EU.countries.length">
        <td class="mobile-region" colspan="2">Europe</td>
      </tr>
      <tr *ngFor="let location of regions.EU.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.EU.countries.length" *ngIf="i === 0">
          Europe
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.ME.countries.length">
        <td class="mobile-region" colspan="2">Middle East</td>
      </tr>
      <tr *ngFor="let location of regions.ME.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.ME.countries.length" *ngIf="i === 0">
          Middle East
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.AF.countries.length">
        <td class="mobile-region" colspan="2">Africa</td>
      </tr>
      <tr *ngFor="let location of regions.AF.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.AF.countries.length" *ngIf="i === 0">
          Africa
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.AS.countries.length">
        <td class="mobile-region" colspan="2">Asia & India</td>
      </tr>
      <tr *ngFor="let location of regions.AS.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.AS.countries.length" *ngIf="i === 0">
          Asia & India
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>

      <tr class="mobile table-row" *ngIf="regions.OP.countries.length">
        <td class="mobile-region" colspan="2">Oceania & Pacific</td>
      </tr>
      <tr *ngFor="let location of regions.OP.countries; let i = index">
        <td class="area" [attr.rowspan]="regions.OP.countries.length" *ngIf="i === 0">
          Oceania & Pacific
        </td>
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}}
        </td>
        <td>{{location.servers}}</td>
      </tr>
    </tbody>

  </table>
</div>

<div class="content bottom">
  <div class="upper">
    Try Cypherpunk Privacy today for Free
  </div>

  <div class="cta-container">
    <div class="call-to-action">
      <button class="btn" routerLink="/download">
        START MY FREE PREVIEW
      </button>
    </div>
  </div>

  <div class="available">
    <div class="subheader">
      Available for
      <a routerLink="/download" fragment="desktop">Desktop</a>,
      <a routerLink="/download" fragment="browser">Browser</a>,
      <a routerLink="/download" fragment="android">Android</a>,
      <a routerLink="/download" fragment="ios">iOS</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
