.masthead {
  width: 100%;
  background-color: #0e003f;

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    margin: 45px auto 0;
    padding-bottom: 15px;
  }
  .masthead-subheader {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-bottom: 59px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #a5a2eb;
  }
}

.btn {
  font-size: 24px;
  width: 341px;
  height: 80px;
  text-transform: none;
}

.content {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding: 45px 0 60px;

  .header {
    font-size: 32px;
    font-weight: 500;
    color: #1973af;
    text-align: center;
    margin-bottom: 45px;
  }

  table {
    margin: auto;
    width: 100%;
    max-width: 725px;
    text-align: center;
    color: #666;
    line-height: 2.41;
    border-collapse: collapse;

    thead {
      color: #034698;
      border-bottom: 1px solid #ccc;
    }
    td { border-bottom: 1px solid #ccc; }
    .city { text-align: left; padding-left: 20px; }
    .area { text-align: left; padding-left: 10px; }
  }
}

.content.bottom {
  padding: 0;
  max-width: 100%;

  .cta-container {
    position: relative;

    .call-to-action {
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 344px;
      text-align: center;
    }
  }

  .subheader-content {
    height: 148px;
    width: 100%;
    background-color: #cad8eb;
    text-align: center;
    padding: 0;

    .subheader-slogan {
      color: #666666;
      font-size: 18px;
      padding-top: 80px;
      font-size: 16px;
      color: #666;
      a { font-size: 19px; color: #666; }
    }
  }

  .upper {
    height: 140px;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    color: #333;
    background-color: rgba(242, 242, 242, 0.3);
    padding-top: 35px;
  }

  .subheader-content {
    background-color: rgba(202, 216, 235, 0.5);
  }
}

@media (max-width: 800px) {
  .content { padding: 30px 10px 60px; }
  .content table { font-size: 14px; line-height: 2.14; }

  .content.bottom {
    .upper { padding: 35px 10px 0; }
    .subheader-content { padding: 0 10px 0; }
  }
}

@media (max-width: 375px) {
  .btn { width: 300px; }
  .content.bottom .cta-container .call-to-action { width: 100%; max-width: 300px; }
}
