<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Server Locations for Cypherpunk Privacy</div>
  <div class="masthead-subheader">
    Cypherpunk Privacy has a whole network of servers in different locations around the world.
  </div>
</div>

<div class="content">
  <table>
    <thead>
      <tr>
        <th>Locations</th>
        <th>Servers</th>
      </tr>
    </thead>

    <tbody *ngIf="loading">
      <tr>
        <th colspan="2" scope="col">Loading...</th>
      </tr>
    </tbody>

    <tbody *ngFor="let region of regionArray">
      <tr *ngIf="region.countries.length">
        <th colspan="2" scope="col">{{region.name}}</th>
      </tr>
      <tr *ngFor="let location of region.countries; let i = index">
        <td class="city">
          <img class="flag" src="/assets/flags/{{location.country}}.png" alt="">
          {{location.name}} <span class="premium" *ngIf="location.level === 'premium'">PREMIUM</span>
        </td>
        <td>{{location.servers}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="totalServers">
      <tr>
        <th colspan="2" scope="col">
          Total Number of Servers: {{totalServers}}
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="content bottom">
  <div class="upper">
    Try Cypherpunk Privacy today for Free
  </div>

  <div class="cta-container">
    <div class="call-to-action">
      <button class="btn" routerLink="/download">
        START MY FREE PREVIEW
      </button>
    </div>
  </div>

  <div class="available">
    <div class="subheader">
      Available for
      <a routerLink="/download" fragment="desktop">Desktop</a>,
      <a routerLink="/download" fragment="browser">Browser</a>,
      <a routerLink="/download" fragment="android">Android</a>,
      <a routerLink="/download" fragment="ios">iOS</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
