<div class="wrapper">

  <app-acc-nav></app-acc-nav>

  <div class="masthead">
    <div class="masthead-header">My Account</div>
    <div class="masthead-image">
      <span class="period">{{user.account.type}}</span><br>
    </div>
  </div>

  <div class="tab-nav">
    <ul class="nav">
      <li [ngClass]="{'active': currentTab === 'overview'}" (click)="switch('overview')">
        Overview
      </li>
      <li [ngClass]="{'active': currentTab === 'subscription'}" (click)="switch('subscription')">
        Subscription
      </li>
    </ul>
  </div>

  <div class="content" *ngIf="currentTab === 'overview'">
    <div class="content-inner">
      <div class="content-header">Account Info</div>

      <section>
        <div class="content-row">
          <div class="left">
            Email: <span class="email">{{user.account.email}}</span>
          </div>
          <div class="right">
            <a (click)="openEmailModal()">Update</a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            Password: <span class="email">*******</span>
          </div>
          <div class="right">
            <a (click)="openPasswordModal()">Update</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="content" *ngIf="currentTab === 'subscription'">
    <div class="content-inner">
      <div class="content-header">Manage Subscription</div>

      <section>
        <div class="content-row">
          <div class="left">
            <a routerLink="/account/billing">
              Update payment details
            </a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/account/billing">
              Billing History
            </a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/account/billing">
              Cancel My Subscription
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="modal" [ngClass]="{'open': showEmailModal}">
  <div class="background" (click)="showEmailModal = false" [ngClass]="{'open': showEmailModal}"></div>
  <div class="modal-content">
    <div class="modal-header">Change Email</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <div class="row">
        <label>Current Email: {{user.account.email}}</label>
      </div>

      <div class="row">
        <label for="newEmail">New Email:</label><br>
        <input id="dashboardEmail" type="email" name="newEmail" >
      </div>

      <div class="row">
        <label for="newEmail">Current Password: </label><br>
        <input type="email" name="newEmail">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn blue cancel" (click)="showEmailModal = false">Cancel</button>
      <button class="btn blue">Change</button>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': showPasswordModal}">
  <div class="background" (click)="showPasswordModal = false" [ngClass]="{'open': showPasswordModal}"></div>
  <div class="modal-content">
    <div class="modal-header">Change Password</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <div class="row">
        <label for="password">New Password</label><br>
        <input id="dashboardPassword" type="password" name="password" >
      </div>

      <div class="row">
        <label for="newPassword">Confirm Password</label><br>
        <input type="password" name="newPassword">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn blue cancel" (click)="showPasswordModal = false">Cancel</button>
      <button class="btn blue">Change</button>
    </div>
  </div>
</div>

<app-loading [state]="loading"></app-loading>
