.wrapper {
  .masthead {
    border-bottom: 10px solid #040026;

    .masthead-image {
      width: 100%;
      height: 175px;
      position: relative;
      background-image: url('/assets/account-header.png');
      background-position: center;
      margin-top: -15px;
    }
  }

  .blimp-container, .mobile-blimp-container {
    position: relative;
    .blimp {
      position: relative;
      width: 97.2px;
      height: 30.9px;
      background-image: linear-gradient(to bottom, #ffc933, #d19e12);
      border-radius: 43px;
      text-align: center;
      color: #fff;
      padding-top: 5px;
      margin: auto;
      top: -10px;
      &:after {
        top: 100%;
      	left: 50%;
      	border: solid transparent;
      	content: " ";
      	position: absolute;
      	border-top-color: #d19e12;
      	border-width: 9px;
      	margin-left: -9px;
      }
    }
  }

  .mobile-blimp-container { display: none; }

  .pricing {
    text-align: center;
    padding-bottom: 50px;

    .price-box {
      display: inline-block;
      width: 234px;
      height: 170px;
      margin-right: 25px;
      border: solid 8px #ccc;
      cursor: pointer;
      &:last-child { margin-right: 0; }
      &.active { border: solid 8px #61bb00; }
      &.hidden { visibility: hidden; }

      .checkmark {
        position: relative;
        .check {
          display: none;
          position: absolute;
          background-color: #61bb00;
          width: 54px;
          height: 54px;
          top: -20px;
          right: -20px;
          border-radius: 50px;
          color: #fff;
          padding-top: 8px;
          font-size: 26px;
          &.active { display: block; }
        }
      }

      .period {
        margin-top: 15px;
        font-size: 26px;
        font-weight: 500;
        color: #666;
        &.active { color: #034698; }
      }

      .price-area {
        color: #666;
        .price {
          font-size: 40px;
          font-weight: bold;
          &.active { color: #034698; }
        }
        .price-time { color: #666; }
      }

      .yearly {
        color: #666;
        &.active { color: #76a8e7; }
      }
    }
  }

  .content {
    width: 100%;
    border-bottom: 10px solid #efeaea;

    .content-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 50px 0;

      .content-header {
        color: #ff7857;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-align: center;
        margin-bottom: 50px;
      }

      .content-row {
        margin: 0 auto;
        padding: 15px;
        width: 90%;
        border-bottom: 1px solid #d8d8f6;
        overflow: auto;
        font-size: 20px;
        color: #483c91;
        font-size: 18px;
        a { text-decoration: underline; color: #483c91; }
        .heading { padding-left: 25px; font-weight: bold; }
        .left { float: left; padding-left: 25px; }
        .right { float: right; padding-right: 25px; }
        .full { padding-left: 25px; }
        .email { color: #7972c4; }
        .uppercase { text-transform: uppercase; }
        &:first-child { border-top: 1px solid #d8d8f6; }
        &:last-child { margin-bottom: 25px; }
      }
    }
  }
}

@media (max-width: 1060px) {
  .wrapper {
    .masthead { padding: 12px 0 24px; }
    .content .content-inner .content-row .full { padding: 0; }
    .content .content-inner .content-row .heading {
      width: 100%;
      text-align: left;
      padding: 0;
    }
    .content .content-inner .content-row .left {
      width: 50%;
      text-align: left;
      padding: 0;
    }
    .content .content-inner .content-row .right {
      width: 50%;
      text-align: right;
      padding: 0;
    }

    .pricing .price-box {
      margin: 0 0 25px;
      width: 90%;
    }

    .blimp-container { display: none; }
    .mobile-blimp-container { display: block; }
  }
}
