.wrapper {
  .masthead {
    width: 100%;
    background-color: #0e003f;
    border-bottom: 10px solid #040026;

    .masthead-header {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 30px 0;
      font-size: 32px;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
    }
  }

  .tab-nav {
    width: 100%;
    background-color: #7972c4;

    .nav {
      margin: auto;
      list-style-type: none;
      padding: 15px 0;
      text-align: center;
      color: #fff;
      cursor: pointer;

      li {
        display: inline;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        padding: 15px 15px;
        &.active {
          color: #29157f;
          background-color: white;
        }
      }
    }
  }

  .content {
    width: 100%;
    border-bottom: 10px solid #efeaea;

    .content-inner {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding: 50px 0;

      .content-header {
        color: #ff7857;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-align: center;
        margin-bottom: 50px;
      }

      .content-row {
        margin: 0 auto;
        padding: 15px;
        width: 90%;
        border-bottom: 1px solid #d8d8f6;
        overflow: auto;
        font-size: 20px;
        color: #483c91;
        font-size: 18px;
        a { text-decoration: underline; color: #483c91; }
        .left { float: left; padding-left: 25px; }
        .right { float: right; padding-right: 25px; }
        .right a { cursor: pointer; }
        .email { color: #7972c4; }
        &:first-child { border-top: 1px solid #d8d8f6; }
        &:last-child { margin-bottom: 25px; }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  z-index: 500;
  transition: opacity 0.5s;
  &.open {
    visibility: visible;
    opacity: 1;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.35);
    &.open {
      display: block;
    }
  }

  .modal-content {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    margin: 10% auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: -5px 5px 2px #28147f;

    .modal-header {
      width: 100%;
      padding: 15px 0 0 0;
      color: #7972c4;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.6px
    }

    .modal-line {
      width: 25px;
      height: 2px;
      margin: 10px 0 15px 0;
      background-color: #d6d6f6;
    }

    .modal-body {
      .row {
        text-align: left;
        margin-bottom: 15px;
      }

      input {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: solid 1px #b4b4ef;
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
        color: #b4b4ef;
        margin-top: 5px;
      }
      label {
        font-size: 18px;
        font-weight: 500;
        color: #b4b4ef;
      }
    }

    .modal-footer {
      margin-top: 25px;
      text-align: right;
      .btn.blue {
        width: 130px;
        height: 41px;
        background-color: #29157f;
        &.cancel { background-color: #7972c4; }
      }
      .btn.blue:disabled {
        background-color: #ccc;
      }
    }
  }
}

@media (max-width: 1060px) {
  .wrapper {
    .masthead { padding: 12px 0 24px; }
    .content .content-inner .content-row .left {
      width: 100%;
      text-align: left;
      padding: 0;
    }
    .content .content-inner .content-row .right {
      width: 100%;
      text-align: right;
      padding: 0;
      margin-top: 10px;
    }
  }
  .modal .modal-content { width: 90%; }
  .modal .modal-content .modal-footer .btn.blue { width: 49%; }
}
