<div class="wrapper">

  <app-acc-nav></app-acc-nav>

  <div class="masthead">
    <div class="masthead-image"></div>
  </div>

  <div class="content" *ngIf="showPriceBoxes()">
    <div class="content-inner">
      <h2 class="content-header">Upgrade Now!</h2>

      <div class="pricing">
        <div class="blimp-container">
          <div class="blimp">Best Value!</div>
        </div>

        <div class="price-box" (click)="upgrade(plans[0].id)" [ngClass]="{ 'active': plans[0].selected, 'hidden': !plans[0].viewable }">
          <div class="checkmark">
            <div class="check" [ngClass]="{'active': plans[0].selected}">&#10003;</div>
          </div>
          <div class="period" [ngClass]="{'active': plans[0].selected}">
            {{plans[0].period}}
          </div>
          <div class="price-area">
            <span class="price" [ngClass]="{'active': plans[0].selected}">
              $ {{plans[0].price}}
            </span>
            <span class="price-time"> / month</span>
          </div>
          <div class="yearly" [ngClass]="{'active': plans[0].selected}" [innerHTML]="plans[0].yearly"></div>
        </div>

        <div class="mobile-blimp-container">
          <div class="blimp">Best Value!</div>
        </div>

        <div class="price-box" (click)="upgrade(plans[1].id)" [ngClass]="{ 'active': plans[1].selected, 'hidden': !plans[1].viewable }">
          <div class="checkmark">
            <div class="check" [ngClass]="{'active': plans[1].selected}">&#10003;</div>
          </div>
          <div class="period" [ngClass]="{'active': plans[1].selected}">
            {{plans[1].period}}
          </div>
          <div class="price-area">
            <span class="price" [ngClass]="{'active': plans[1].selected}">
              $ {{plans[1].price}}
            </span>
            <span class="price-time"> / month</span>
          </div>
          <div class="yearly" [ngClass]="{'active': plans[1].selected}" [innerHTML]="plans[1].yearly"></div>
        </div>

        <div class="price-box" (click)="upgrade(plans[2].id)" [ngClass]="{ 'active': plans[2].selected, 'hidden': !plans[2].viewable }">
          <div class="checkmark">
            <div class="check" [ngClass]="{'active': plans[2].selected}">&#10003;</div>
          </div>
          <div class="period" [ngClass]="{'active': plans[2].selected}">
            {{plans[2].period}}
          </div>
          <div class="price-area">
            <span class="price" [ngClass]="{'active': plans[2].selected}">
              $ {{plans[2].price}}
            </span>
            <span class="price-time"> / month</span>
          </div>
          <div class="yearly" [ngClass]="{'active': plans[2].selected}" [innerHTML]="plans[2].yearly"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content-inner">
      <h2 class="content-header">Account</h2>

      <section>
        <div class="content-row">
          <div class="left">
            <span class="email uppercase">{{user.account.type}}</span>
          </div>
          <div class="right">
            <span class="email">{{ user.subscription.expirationString }}</span>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            Email: <span class="email">{{user.account.email}}</span>
          </div>
          <div class="right">
            <a (click)="openEmailModal()">Update</a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            Password: <span class="email">*******</span>
          </div>
          <div class="right">
            <a (click)="openPasswordModal()">Update</a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            Manual Setup
          </div>
          <div class="right">
            <a routerLink="/account/setup">Explore</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="content">
    <div class="content-inner">
      <h2 class="content-header">Subscription</h2>

      <section>
        <div class="content-row">
          <div class="full">
            <a routerLink="/account/billing">
              Update payment details
            </a>
          </div>
        </div>

        <div class="content-row">
          <div class="full">
            <a routerLink="/account/billing">
              Billing History
            </a>
          </div>
        </div>

        <div class="content-row">
          <div class="full">
            <a routerLink="/account/billing">
              Cancel My Subscription
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="content">
    <div class="content-inner">
      <h2 class="content-header">Downloads</h2>

      <section>
        <div class="content-row">
          <div class="heading">Operating Systems</div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/download#windows">Windows</a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/download#mac">Mac OS</a>
          </div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/download#linux">linux</a>
          </div>
        </div>

        <div class="content-row">
          <div class="heading">Browsers</div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/download#chrome">Chrome/Opera/Vivaldi</a>
          </div>

          <div class="right">
            <a routerLink="/download#firefox">Firefox</a>
          </div>
        </div>

        <div class="content-row">
          <div class="heading">Mobile</div>
        </div>

        <div class="content-row">
          <div class="left">
            <a routerLink="/download#ios">iOS</a>
          </div>

          <div class="right">
            <a routerLink="/download#android">Android</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="content">
    <div class="content-inner">
      <h2 class="content-header">Tutorials</h2>

      <section>
        <div class="content-row">
          <div class="full">
            <a href="https://support.cypherpunk.com/hc/en-us/articles/115000349187-Installing-Cypherpunk-on-Windows-10" target="_blank">
              Installing Cypherpunk on Windows 10
            </a>
          </div>
        </div>

        <div class="content-row">
          <div class="full">
            <a href="https://nordvpn.com/tutorials/" target="_blank">
              VPN Tutorials
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="modal" [ngClass]="{'open': showEmailModal}">
  <div class="background" (click)="showEmailModal = false" [ngClass]="{'open': showEmailModal}"></div>
  <div class="modal-content">
    <div class="modal-header">Change Email</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <div class="row">
        <label>Current Email: {{user.account.email}}</label>
      </div>

      <div class="row">
        <label for="newEmail">New Email:</label><br>
        <input id="dashboardEmail" type="email" name="newEmail" >
      </div>

      <div class="row">
        <label for="newEmail">Current Password: </label><br>
        <input type="email" name="newEmail">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn cancel" (click)="showEmailModal = false">Cancel</button>
      <button class="btn purple">Change</button>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': showPasswordModal}">
  <div class="background" (click)="showPasswordModal = false" [ngClass]="{'open': showPasswordModal}"></div>
  <div class="modal-content">
    <div class="modal-header">Change Password</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <div class="row">
        <label for="password">New Password</label><br>
        <input id="dashboardPassword" type="password" name="password" >
      </div>

      <div class="row">
        <label for="newPassword">Confirm Password</label><br>
        <input type="password" name="newPassword">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn cancel" (click)="showPasswordModal = false">Cancel</button>
      <button class="btn purple">Change</button>
    </div>
  </div>
</div>

<app-loading [state]="loading"></app-loading>
