<app-acc-nav></app-acc-nav>

<div class="masthead">

  <div class="account">
    <div class="header">Cypherpunk Account</div>

    <hr>

    <div class="account-container">
      <div class="left">
        <span class="email">{{user.account.email}}</span><br>
        <span class="status active">{{user.status}}</span>
      </div>

      <div class="right">
        <span class="period">{{user.account.type}}</span><br>
        <span class="renewal">{{ user.subscription.expirationString }}</span>
      </div>
    </div>
  </div>

  <div class="mobile-header">Cypherpunk Account</div>

  <div class="mobile-account">
    <span class="email">{{user.account.email}}</span><br>
    <span class="status active">{{user.status}}</span>

    <hr>

    <span class="period">{{user.account.type}}</span><br>
    <span class="renewal">{{ user.subscription.expirationString }}</span>

    <hr>

    Username:<br>
    {{user.privacy.username}}
    <br><br>
    Password:<br>
    {{user.privacy.password}}
  </div>

</div>

<div class="header" [ngClass]="{'hidden': hidePriceBoxes() }">
  Upgrade to Premium!
</div>

<div class="pricing" [ngClass]="{'hidden': hidePriceBoxes() }">
  <div class="blimp-container" [ngClass]="{ 'hidden': !plans[1].viewable }">
    <div class="blimp">Best Value!</div>
  </div>

  <div class="price-box" (click)="upgrade(plans[0].id)" [ngClass]="{ 'active': plans[0].selected, 'hidden': !plans[0].viewable }">
    <div class="checkmark">
      <div class="check" [ngClass]="{'active': plans[0].selected}">&#10003;</div>
    </div>
    <div class="period" [ngClass]="{'active': plans[0].selected}">
      {{plans[0].period}}
    </div>
    <div class="price-area">
      <span class="price" [ngClass]="{'active': plans[0].selected}">
        $ {{plans[0].price}}
      </span>
      <span class="price-time"> / month</span>
    </div>
    <div class="yearly" [ngClass]="{'active': plans[0].selected}" [innerHTML]="plans[0].yearly"></div>
  </div>

  <div class="mobile-blimp-container" [ngClass]="{ 'hidden': !plans[1].viewable }">
    <div class="blimp">Best Value!</div>
  </div>

  <div class="price-box" (click)="upgrade(plans[1].id)" [ngClass]="{ 'active': plans[1].selected, 'hidden': !plans[1].viewable }">
    <div class="checkmark">
      <div class="check" [ngClass]="{'active': plans[1].selected}">&#10003;</div>
    </div>
    <div class="period" [ngClass]="{'active': plans[1].selected}">
      {{plans[1].period}}
    </div>
    <div class="price-area">
      <span class="price" [ngClass]="{'active': plans[1].selected}">
        $ {{plans[1].price}}
      </span>
      <span class="price-time"> / month</span>
    </div>
    <div class="yearly" [ngClass]="{'active': plans[1].selected}" [innerHTML]="plans[1].yearly"></div>
  </div>

  <div class="price-box" (click)="upgrade(plans[2].id)" [ngClass]="{ 'active': plans[2].selected, 'hidden': !plans[2].viewable }">
    <div class="checkmark">
      <div class="check" [ngClass]="{'active': plans[2].selected}">&#10003;</div>
    </div>
    <div class="period" [ngClass]="{'active': plans[2].selected}">
      {{plans[2].period}}
    </div>
    <div class="price-area">
      <span class="price" [ngClass]="{'active': plans[2].selected}">
        $ {{plans[2].price}}
      </span>
      <span class="price-time"> / month</span>
    </div>
    <div class="yearly" [ngClass]="{'active': plans[2].selected}" [innerHTML]="plans[2].yearly"></div>
  </div>
</div>

<div class="content">

  <div class="content-header">Account Info</div>

  <div>
    <div class="content-row">
      <div class="left">
        <a (click)="showEmailModal = true">Change Email</a>
      </div>
      <div class="right">
        <span class="user-email">{{user.email}}</span>
      </div>
    </div>

    <div class="content-row">
      <div class="left">
        <a (click)="showPasswordModal = true">Change Password</a>
      </div>
    </div>
  </div>

  <div>
    <div class="content-header">Manage Subscription</div>

    <div>
      <div class="content-row">
        <div class="left">
          <a routerLink="/account/billing">
            Update payment details
          </a>
        </div>
      </div>

      <div class="content-row">
        <div class="left">
          <a routerLink="/account/billing">
            Billing History
          </a>
        </div>
      </div>

      <div class="content-row">
        <div class="left">
          <a routerLink="/account/billing">
            Cancel My Subscription
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>

<div class="modal" *ngIf="showEmailModal">
  <div class="background" (click)="showEmailModal = false"></div>
  <div class="modal-content">
    <div class="modal-header">Change Email</div>

    <hr>

    <div class="modal-body">
      <div class="row">
        <label>Current Email</label><br>
        <span class="currentEmail">{{user.email}}</span>
      </div>

      <div class="row">
        <label for="newEmail">New Email</label><br>
        <input type="email" name="newEmail">
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <button class="btn blue">Change</button>
      </div>

      <div class="row">
        <a (click)="showEmailModal = false">Cancel</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showPasswordModal">
  <div class="background" (click)="showPasswordModal = false"></div>
  <div class="modal-content">
    <div class="modal-header">Change Password</div>

    <hr>

    <div class="modal-body">
      <div class="row">
        <label for="password">New Password</label><br>
        <input type="password" name="password">
      </div>

      <div class="row">
        <label for="newPassword">Confirm Password</label><br>
        <input type="password" name="newPassword">
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <button class="btn blue">Change</button>
      </div>

      <div class="row">
        <a (click)="showPasswordModal = false">Cancel</a>
      </div>
    </div>
  </div>
</div>

<app-loading [state]="loading"></app-loading>
