<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">Cypherpunk Privacy for iOS Legal</h1>
  </div>

  <div class="content">
    <h1 class="header blue">Open Source & Third Party Components</h1>

    <hr />

    <div>
      <pre>
        <code>
Cypherpunk Partners, Slf. bundles computer software supplied by third-parties, including (but not limited to) those set forth below (the "Third-Party Software"), with its Cypherpunk Privacy for iOS® software product. Cypherpunk Partners, Slf. is providing the Third-Party Software to you by permission of the respective licensors and/or copyright holders on the terms provided by such parties, including those terms required to be provided to you that are set forth below, and subject also to the Terms of Service and Privacy Policy applicable to the Cypherpunk Privacy service. Without limiting the terms in the Terms of Service and Privacy Policy, Cypherpunk Partners, Slf. expressly disclaims any warranty or other assurance to you regarding the Third-Party Software. The following terms relate only to the Third-Party Software identified below and not to the Cypherpunk Privacy for iOS software product, or the Cypherpunk Privacy service.

Apache License v2.0
GBPing - https://github.com/lmirosevic/GBPing
https://github.com/lmirosevic/GBPing/blob/master/LICENSE

Apache License v2.0 w/ Custom License for Components
Realm - https://github.com/realm/realm-cocoa
License - https://raw.githubusercontent.com/realm/realm-cocoa/master/LICENSE

MIT
ReSwift - https://github.com/ReSwift/ReSwift
https://github.com/ReSwift/ReSwift/blob/master/LICENSE.md
Result - https://github.com/antitypical/Result
https://github.com/antitypical/Result/blob/master/LICENSE
SwiftyStoreKit - https://github.com/bizz84/SwiftyStoreKit
https://github.com/bizz84/SwiftyStoreKit/blob/master/LICENSE.md
APIKit - https://github.com/ishkawa/APIKit
https://github.com/ishkawa/APIKit/blob/master/LICENSE.md
Himotoki - https://github.com/ikesyo/Himotoki
https://github.com/ikesyo/Himotoki/blob/master/LICENSE.md
R.swift - https://github.com/mac-cain13/R.swift
https://github.com/mac-cain13/R.swift/blob/master/License
ReachabilitySwift - https://github.com/ashleymills/Reachability.swift
https://github.com/ashleymills/Reachability.swift/blob/master/LICENSE
KeychainAccess - https://github.com/kishikawakatsumi/KeychainAccess
https://github.com/kishikawakatsumi/KeychainAccess/blob/master/LICENSE
SVProgressHUD - https://github.com/SVProgressHUD/SVProgressHUD
https://github.com/SVProgressHUD/SVProgressHUD/blob/master/LICENSE.txt
UITextView+Placeholder - https://github.com/devxoul/UITextView-Placeholder
https://github.com/devxoul/UITextView-Placeholder/blob/master/LICENSE
FontAwesome.swift - https://github.com/thii/FontAwesome.swift
https://github.com/thii/FontAwesome.swift/blob/master/LICENSE
TTTAttributedLabel - https://github.com/TTTAttributedLabel/TTTAttributedLabel
https://github.com/TTTAttributedLabel/TTTAttributedLabel/blob/master/LICENSE
TinySwift - https://github.com/sochalewski/TinySwift
https://github.com/sochalewski/TinySwift/blob/master/LICENSE
MarqueeLabel - https://github.com/cbpowell/MarqueeLabel
https://github.com/cbpowell/MarqueeLabel/blob/master/LICENSE

MIT License w/ Custom add-on
Cartography - https://github.com/robb/Cartography
License: https://raw.githubusercontent.com/robb/Cartography/master/LICENSE


        </code>
      </pre>
    </div>

    <br><br>

    <p class="right">
      © Cypherpunk Partners, Slf.<br>
      2017 All Rights Reserved
    </p>
  </div>
</div>

<app-footer></app-footer>
