<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">About Cypherpunk</h1>

    <div class="masthead-banner">
      <div class="masthead-image">
        <img src="/assets/aboutus/cypherpunk-partners@2x.png" srcset="/assets/aboutus/cypherpunk-partners.png 500w, /assets/aboutus/cypherpunk-partners@2x.png 1000w" alt="Cypherpunk Partners">
      </div>
    </div>
  </div>

  <aboutus-navigation></aboutus-navigation>

  <div class="assets">
    <div class="inner">
      <div class="row">
        <div class="row-header">Screenshots</div>
      </div>

      <div class="row">
        <div class="cell">
          <div class="header-image">
            <img src="/asssets/press/windows@2x.png" srcset="/assets/press/windows.png 500w, /assets/press/windows@2x.png" alt="Windows">
          </div>

          <div class="main-screenshot"></div>

          <a href="#">
            <div class="download">Download</div>
          </a>

          <div class="text">
            3 screenshots
          </div>
        </div>

        <div class="cell">
          <div class="header-image">
            <img src="/asssets/press/mac@2x.png" srcset="/assets/press/mac.png 500w, /assets/press/mac@2x.png" alt="Mac">
          </div>

          <div class="main-screenshot"></div>

          <a href="#">
            <div class="download">Download</div>
          </a>

          <div class="text">
            5 screenshots
          </div>
        </div>

        <div class="cell">
          <div class="header-image">
            <img src="/asssets/press/ios@2x.png" srcset="/assets/press/ios.png 500w, /assets/press/ios@2x.png" alt="iOS">
          </div>

          <div class="main-screenshot"></div>

          <a href="#">
            <div class="download">Download</div>
          </a>

          <div class="text">
            2 screenshots
          </div>
        </div>

        <div class="cell">
          <div class="header-image">
            <img src="/asssets/press/android@2x.png" srcset="/assets/press/android.png 500w, /assets/press/android@2x.png" alt="Android">
          </div>

          <div class="main-screenshot"></div>

          <a href="#">
            <div class="download">Download</div>
          </a>

          <div class="text">
            3 screenshots
          </div>
        </div>
      </div>

      <div class="row">
        <div class="half">
          <div class="row-header">Logos</div>
        </div>
        <div class="half">
          <div class="row-header">Other Images</div>
        </div>
      </div>

      <div class="row">
        <div class="double-cell">
          <div class="main-screenshot left"></div>
          <div class="main-screenshot right"></div>

          <a href="#">
            <div class="download">Download</div>
          </a>

          <div class="text">4 files</div>
        </div>

        <div class="double-cell">
          <div class="main-screenshot left"></div>
          <div class="main-screenshot right"></div>

          <a href="#">
            <div class="download">Download</div>
          </a>

          <div class="text">10 images</div>
        </div>
      </div>

    </div>
  </div>

  <div class="cta-container bottom">
    <div class="call-to-action">
      <a routerLink="/signup">
        <button class="btn orange">START MY FREE PREVIEW</button>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>
