<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <a name="top"></a>

  <div class="page">
    <div class="page-inner">
      <div class="article">
        <h1 class="article-header header">{{post.title}}</h1>

        <ul *ngIf="pageLinks.length > 1">
          <li *ngFor="let link of pageLinks">
            <a [routerLink]="baseRoute" [fragment]="link.hash">{{link.title}}</a>
          </li>
        </ul>

        <!-- <div #support></div> -->
        <div class="support content" [innerHTML]="post.content | safeHtml"></div>

        <div class="to-top">
          <a [routerLink]="baseRoute" fragment="top">Back to top</a>
        </div>
      </div>

      <div class="related">
        <div class="pane">
          <div class="pane-header">Related Articles</div>

          <div class="pane-body">
            <ul>
              <li><a href="#">Related Article 1</a></li>
              <li><a href="#">Related Article 2</a></li>
              <li><a href="#">Related Article 3</a></li>
              <li><a href="#">Related Article 4</a></li>
            </ul>
          </div>

          <div class="pane-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
