<div class="masthead">
  <app-nav></app-nav>
</div>

<apps-navigation [page]="'ios'"></apps-navigation>

<div class="content">
  <div class="content-inner">
    <div class="header">Cypherpunk Privacy for iPhone & iPad</div>

    <div class="split">
      <img class="width" src="/assets/apps/cp-for-ios@2x.png" srcset="/assets/apps/cp-for-ios.png 500w, /assets/apps/cp-for-ios@2x.png 1000w" alt="Cypherpunk Privacy for iPhone & iPad">
    </div>

    <div class="button-container">
      <a href="https://itunes.apple.com/us/app/cypherpunk-privacy/id1174413930">
        <img class="apple" src="/assets/apple-appstore-badge.svg" alt="Apple App Store">
      </a>
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="header">Features</div>

    <div class="columns">
      <!-- Left Column -->
      <div class="column">
        <div class="column-header">
          <img src="/assets/apps/alex-holding@2x.png" srcset="/assets/apps/alex-holding.png 500w, /assets/apps/alex-holding@2x.png 1000w" alt="Cypherpunk Privacy">
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/multiple-encryption-profiles@2x.png" srcset="/assets/apps/multiple-encryption-profiles.png 500w, /assets/apps/multiple-encryption-profiles@2x.png 1000w" alt="Multiple Encryption Profiles">
          </div>

          <div class="cell-content">
            <div class="cell-header">Multiple Encryption Profiles</div>
            <div class="cell-text">Optimize your connection for Privacy, Freedom, or Speed</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
          </div>

          <div class="cell-content">
            <div class="cell-header">Quick Connect from widget</div>
            <div class="cell-text"></div>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="column">
        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/one-click-connect@2x.png" srcset="/assets/apps/one-click-connect.png 500w, /assets/apps/one-click-connect@2x.png 1000w" alt="One Click Connect">
          </div>

          <div class="cell-content">
            <div class="cell-header">One Touch Connect</div>
            <div class="cell-text">For everyone, novice users to advanced power users</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/cypher-play@2x.png" srcset="/assets/apps/cypher-play.png 500w, /assets/apps/cypher-play@2x.png 1000w" alt="CypherPlay&trade;">
          </div>

          <div class="cell-content">
            <div class="cell-header">CypherPlay&trade;</div>
            <div class="cell-text">Freedom to watch any streaming content online</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
          </div>

          <div class="cell-content">
            <div class="cell-header">3D Touch</div>
            <div class="cell-text"></div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/privacy-filter@2x.png" srcset="/assets/apps/privacy-filter.png 500w, /assets/apps/privacy-filter@2x.png 1000w" alt="Privacy Filter">
          </div>

          <div class="cell-content">
            <div class="cell-header">Privacy Filter</div>
            <div class="cell-text">Block ads, trackers, and malware with our advanced filtering system</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
          </div>

          <div class="cell-content">
            <div class="cell-header">Automatic WiFi Protection</div>
            <div class="cell-text">Untrusted Networks</div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <a href="https://itunes.apple.com/us/app/cypherpunk-privacy/id1174413930">
        <img class="apple" src="/assets/apple-appstore-badge.svg" alt="Apple App Store">
      </a>
    </div>
  </div>
</div>

<apps-network [platform]="'ios'"></apps-network>

<app-footer></app-footer>
