<div class="footerContainer">
  <div class="footer">
    <div class="footer-column logo">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        </a>
      </div>

      <div class="footer-copyright">
        &copy; 2017 Cypherpunk Partners, slf.
      </div>

      <div class="supports">
        <div class="show-love">
          <span>
            Show
            <img src="/assets/footer/sponsor-heart@2x.png" srcset="/assets/footer/sponsor-heart.png 500w, /assets/footer/sponsor-heart@2x.png 1000w" alt="Show Love to">
            To
          </span>
        </div>

        <img class="sponsor-logo" src="/assets/footer/sponsor-logos@2x.png" srcset="/assets/footer/sponsor-logos.png 500w, /assets/footer/sponsor-logos@2x.png 1000w" alt="We Support These Fine Organizations">
      </div>
    </div>

    <div class="footer-column">
      <div class="footer-header">Cypherpunk Privacy</div>
      <ul class="footer-listing">
        <li><a routerLink="/why-use-a-vpn">Why Use a VPN?</a></li>
        <li><a routerLink="/download">Download</a></li>
        <li><a routerLink="/features">Features</a></li>
        <li><a routerLink="/network">Network</a></li>
        <li><a routerLink="/pricing" *ngIf="env === 'DEV'">Pricing</a></li>
        <!-- <li><a routerLink="/whats-my-ip-address">What's My IP?</a></li> -->
        <li><a routerLink="/support">Support</a></li>
        <li><a routerLink="/account">My Account</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-header">Available On</div>
      <ul class="footer-listing">
        <li><a routerLink="/apps/windows">Windows</a></li>
        <li><a routerLink="/apps/mac">MacOS</a></li>
        <li><a routerLink="/apps/linux">Linux</a></li>
        <li><a routerLink="/apps/browser">Browser</a></li>
        <li><a routerLink="/apps/ios">iPhone & iPad</a></li>
        <li><a routerLink="/apps/android">Android</a></li>
        <!-- <li><a routerLink="/apps/routers">Routers</a></li> -->
      </ul>
    </div>

    <div class="safari-column-fix"></div>

    <div class="footer-column">
      <div class="footer-header">About Us</div>
      <ul class="footer-listing">
        <!-- <li><a routerLink="/about">Our Team</a></li> -->
        <li><a routerLink="/about/manifesto">Manifesto</a></li>
        <li><a routerLink="/about/inquiries">Media/Press</a></li>
        <li><a routerLink="/about/canary">Warrant Canary</a></li>
        <li><a routerLink="/blog" *ngIf="env === 'DEV'">Blog</a></li>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/terms-of-service">Terms of Service</a></li>
        <li><a routerLink="/bounty">Bounty Program</a></li>
      </ul>
    </div>

    <div class="footer-column social">
      <div class="footer-header">Stay In Touch</div>
      <ul class="footer-listing inline">
        <li class="inline">
          <a href="https://www.facebook.com/cypherpunkvpn/" target="_blank" rel="noopener noreferrer">
            <img class="display facebook" src="/assets/footer/facebook@2x.png" srcset="/assets/footer/facebook.png 500w, /assets/footer/facebook@2x.png 1000w" alt="Cypherpunk Privacy on Facebook">
            <img class="hover facebook" src="/assets/footer/facebook-hover@2x.png" srcset="/assets/footer/facebook-hover.png 500w, /assets/footer/facebook-hover@2x.png 1000w" alt="Cypherpunk Privacy on Facebook">
          </a>
        </li>
        <li class="inline">
          <a href="https://twitter.com/cypherpunkvpn" target="_blank" rel="noopener noreferrer">
            <img class="display twitter" src="/assets/footer/twitter@2x.png" srcset="/assets/footer/twitter.png 500w, /assets/footer/twitter@2x.png 1000w" alt="Cypherpunk Privacy on Twitter">
            <img class="hover twitter" src="/assets/footer/twitter-hover@2x.png" srcset="/assets/footer/twitter-hover.png 500w, /assets/footer/twitter-hover@2x.png 1000w" alt="Cypherpunk Privacy on Twitter">
          </a>
        </li>
        <li class="inline">
          <a href="https://www.youtube.com/channel/UC49dmab2TAxI7yj1TZ8QqmQ" target="_blank" rel="noopener noreferrer">
            <img class="display youtube" src="/assets/footer/youtube@2x.png" srcset="/assets/footer/youtube.png 500w, /assets/footer/youtube@2x.png 1000w" alt="Cypherpunk Privacy on YouTube">
            <img class="hover youtube" src="/assets/footer/youtube-hover@2x.png" srcset="/assets/footer/youtube-hover.png 500w, /assets/footer/youtube-hover@2x.png 1000w" alt="Cypherpunk Privacy on YouTube">
          </a>
        </li>
        <li class="inline">
          <a href="https://plus.google.com/u/3/107488558916493732044" target="_blank" rel="noopener noreferrer">
            <img class="display gplus" src="/assets/footer/googleplus@2x.png" srcset="/assets/footer/googleplus.png 500w, /assets/footer/googleplus@2x.png 1000w" alt="Cypherpunk Privacy on Google Plus">
            <img class="hover gplus" src="/assets/footer/googleplus-hover@2x.png" srcset="/assets/footer/googleplus-hover.png 500w, /assets/footer/googleplus-hover@2x.png 1000w" alt="Cypherpunk Privacy on Google Plus">
          </a>
        </li>
      </ul>
      <div class="feedback" (click)="showContactForm.show = true">
        Leave Feedback
      </div>
    </div>
  </div>
</div>

<div class="floating" [ngClass]="{'show': showContactForm.show}">
  <app-contact-form [(show)]="showContactForm"></app-contact-form>
</div>
