.footerContainer {
  width: 100%;
  overflow: auto;

  .footer {
    height: 340px;
    margin: auto;
    padding: 0 20px 0;
    font-size: 0;
    text-align: center;

    .footer-column {
      display: inline-block;
      vertical-align: top;
      padding: 50px 20px 0;
      font-size: 15px;
      text-align: left;
      width: 18%;
      min-width: 200px;

      &.logo {
        padding: 40px 0 0;
        width: 25%;
        text-align: center;
        img { width: 227px; height: 45px; }

        .footer-copyright {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.93;
          color: #8DFFFB;
        }

        .supports {
          .show-love {
            padding: 10px 0 0;
            color: #fff;

            span { position: relative; }
            span:before, span:after {
              content: "";
              position: absolute;
              top: 0;
              width: 45px;
              height: 10px;
              border-bottom: 1px solid #8DFFFB;
            }
            span:before { right: 100%; margin-right: 15px; }
            span:after { left: 100%; margin-left: 15px; }

            img { width: 40px; height: auto; vertical-align: middle; padding: 0 10px;}
          }
          .sponsor-logo {
            width: 250px; height: 134px; padding: 10px 10px;
          }
        }
      }

      &.social { padding: 50px 0 0; }
    }
  }
}

.footer-header {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.footer-listing {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-weight: 500;
    line-height: 1.69;
    &.inline { display: inline; margin-right: 15px; }
    &.inline:last-child { margin-right: 0; }

    img { height: 25px; }
    img.facebook { height: 25px; width: 25px; }
    img.twitter { height: 25px; width: 30px; }
    img.youtube { height: 25px; width: 35px; }
    img.gplus { height: 25px; width: 38px; }
    img.display { display: inline; }
    img.hover { display: none; }
    &:hover img.display { display: none; }
    &:hover img.hover { display: inline; }

    a {
      color: #8DFFFB;
      text-decoration: none;
      &:hover { color: #fff; }
    }
  }
}

.feedback {
  border: 1px solid #1A474C;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.93;
  color: #8DFFFB;
  text-align: center;
  margin-top: 16px;
  width: 138px;
  &:hover { border-color: #fff; color: #fff; cursor: pointer; }
}

.safari-column-fix {
  display: none;
  height: 10px;
  width: 100%;
  overflow: auto;
}

.floating {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 350px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: 5px solid #0d1e26;
  border-radius: 5px;
  overflow: auto;
  z-index: 100;
  max-height: 100vh;
  display: none;
  &.show { display: block; }
}

@media (max-width: 1130px) {
  .footerContainer .footer .footer-column {
    width: 50%;
    margin: 0;
    padding: 50px 0 0 0;
    text-align: center;

    &.logo {
      width: 100%;
      margin-left: 0;
      padding-bottom: 25px;
    }

    &.social {
      width: 50%;
      margin: 0;
      text-align: center;
      padding: 50px 0 0 0;

      .footer-listing {
        .inline {
          display: block;
          margin: 0 0 15px;
        }
      }
    }
  }
  .feedback { margin: 16px auto; }
  .safari-column-fix { display: block; }
  .footerContainer .footer { height: 941px; }
}

@media (max-width: 445px) {
  .footerContainer .footer { height: 1369px; }
}
