.footerContainer {
  width: 100%;
  overflow: auto;
}

.footer {
  max-width: 1340px;
  height: 367px;
  margin: auto;
  font-size: 0;
  text-align: center;
}

.footer-column {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  margin-left: 30px;
  font-size: 15px;
  text-align: left;
}

.footer-column.logo {
  padding-top: 45px;
  margin-left: 15px;
  width: 250px;
  text-align: center;
}

.footer-column.logo img {
  width: 227px;
  height: 45px;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.93;
  color: #8DFFFB;
}

.footer-header {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.footer-listing {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-listing li {
  font-weight: 500;
  line-height: 1.69;
  &.inline { display: inline; margin-right: 15px; }
  &.inline:last-child { margin-right: 0; }

  img { height: 25px; }
  img.display { display: inline; }
  img.hover { display: none; }
  &:hover img.display { display: none; }
  &:hover img.hover { display: inline; }
}
.footer-listing li a {
  color: #8DFFFB;
  text-decoration: none;
  &:hover { color: #fff; }
}

.fa { font-size: 22px; line-height: 1.23; }
.fa-facebook-official { color: #3b5998; }
.fa-twitter { color: #4ba4eb; }
.fa-youtube-play { color: #ff0002; }
.fa-google-plus-official { color: #ff0002; }

.feedback {
  border: 1px solid #1A474C;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.93;
  color: #8DFFFB;
  text-align: center;
  margin-top: 16px;
  width: 138px;
  &:hover { border-color: #fff; color: #fff; cursor: pointer; }
}

.safari-column-fix {
  display: none;
  height: 10px;
  width: 100%;
  overflow: auto;
}

.mobile { display: none; }
.desktop { display: block; }

.floating {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 350px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: 5px solid #0d1e26;
  border-radius: 5px;
  overflow: auto;
  z-index: 100;
  max-height: 100vh;
  display: none;
  &.show { display: block; }
}

@media (max-width: 1000px) {
  .footer { height: inherit; }
  .footer-column {
    width: 50%;
    margin: 0;
    padding: 50px 0 0 0;
    text-align: center
  }
  .footer-column.logo {
    width: 100%;
    margin-left: 0;
    padding-bottom: 25px;
  }
  .footer-column.social {
    width: 50%;
    margin: 0;
    text-align: center;
    padding: 50px 0 0 0;

    .footer-listing {
      .inline {
        display: block;
        margin: 0 0 15px;
      }
    }
  }
  .feedback { margin: 16px auto; }
  .mobile { display: block; margin-top: 25px; }
  .desktop { display: none; }
  .safari-column-fix { display: block; }
}
