.masthead {
  background-color: #0e003f;

  .masthead-header {
    margin: 40px auto 0;
    span { color: #7972c4; }
  }

  .masthead-divider {
    max-width: 500px;
    border: 1px solid #220f6d;
    margin: 30px auto;
  }

  .masthead-subheader {
    text-align: center;
    font-size: 18px;
    color: #a5a2eb;
    padding: 0 0 50px;
  }
}

.header-bottom-border {
  height: 7px;
  width: 100%;
  background-color: #efeaea;
}

.content.grey:after { border-top: 20px solid #efebeb; }
.content:after {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.content {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 125px 0;
  &.grey { background-color: #efebeb; }

  .content-inner {
    max-width: 1000px;
    margin: auto;
    overflow: auto;
  }

  .header { margin-bottom: 100px; }

  .row-divider {
    height: 3px;
    width: 100%;
    max-width: 340px;
    background-color: #ccc;
    margin: 120px auto;
  }

  .row {
    overflow: auto;
    width: 1000px;
    margin: auto;

    .cell {
      width: 300px;
      float: left;
      margin-right: 50px;
      &:last-child { margin-right: 0; }

      .cell-image {
        position: relative;
        margin: auto;
        height: 241px;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .cell-header {
        font-size: 28px;
        letter-spacing: 0.6px;
        color: #fc6146;
        margin: 45px auto;
      }
      .cell-text {
        font-size: 16px;
        color: #4a4a4d;
        letter-spacing: 0.6px;
        margin-bottom: 10px;
      }
    }
  }
}

.btn {
  font-size: 24px;
  width: 280px;
  height: 80px;
}

@media (max-width: 1050px) {
  .content {
    .content-inner { width: 100%; }
    .content-header { padding: 0 10px; }
    .row { width: 100%; }
    .row .cell { width: 100%; margin-bottom: 100px; }
    .row .cell .cell-text { padding: 0 15px; }
    .row .cell:last-child { margin-bottom: 0px; }
  }
}

@media (max-width: 375px) {
  .content .content-inner .row .cell { width: 100%; margin-right: 0; }
}
