<div class="masthead">
  <app-nav></app-nav>
</div>

<apps-navigation [page]="'linux'"></apps-navigation>

<div class="content down-arrow white">
  <div class="content-inner">
    <div class="header">Cypherpunk Privacy for Linux</div>

    <div class="split">
      <img src="/assets/apps/cp-for-windows@2x.png" srcset="/assets/apps/cp-for-windows.png 500w, /assets/apps/cp-for-windows@2x.png 1000w" alt="Cypherpunk Privacy for Linux">
    </div>

    <div class="button-container">
      <a routerLink="/download/linux/autostart">
        <button class="btn blue">Download Now</button>
      </a>
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="header">Features</div>

    <div class="columns">
      <!-- Left Column -->
      <div class="column">
        <div class="column-header">
          <img src="/assets/apps/alex-holding@2x.png" srcset="/assets/apps/alex-holding.png 500w, /assets/apps/alex-holding@2x.png 1000w" alt="Cypherpunk Privacy">
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/multiple-encryption-profiles@2x.png" srcset="/assets/apps/multiple-encryption-profiles.png 500w, /assets/apps/multiple-encryption-profiles@2x.png 1000w" alt="Multiple Encryption Profiles">
          </div>

          <div class="cell-content">
            <div class="cell-header">Multiple Encryption Profiles</div>
            <div class="cell-text">Optimize your connection for Privacy, Freedom, or Speed</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/leak-protection@2x.png" srcset="/assets/apps/leak-protection.png 500w, /assets/apps/leak-protection@2x.png 1000w" alt="Leak Protection">
          </div>

          <div class="cell-content">
            <div class="cell-header">Leak Protection</div>
            <div class="cell-text">Internet Killswitch, DNS Leak Protection, IPv6 Leak Protection</div>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="column">
        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/one-click-connect@2x.png" srcset="/assets/apps/one-click-connect.png 500w, /assets/apps/one-click-connect@2x.png 1000w" alt="One Click Connect">
          </div>

          <div class="cell-content">
            <div class="cell-header">One Click Connect</div>
            <div class="cell-text">For everyone, novice users to advanced power users</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/cypher-play@2x.png" srcset="/assets/apps/cypher-play.png 500w, /assets/apps/cypher-play@2x.png 1000w" alt="CypherPlay&trade;">
          </div>

          <div class="cell-content">
            <div class="cell-header">CypherPlay&trade;</div>
            <div class="cell-text">Freedom to watch any streaming content online</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/cypher-vpn@2x.png" srcset="/assets/apps/cypher-vpn.png 500w, /assets/apps/cypher-vpn@2x.png 1000w" alt="CypherVPN&trade;">
          </div>

          <div class="cell-content">
            <div class="cell-header">CypherVPN&trade;</div>
            <div class="cell-text">Break out of any censored network</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/privacy-filter@2x.png" srcset="/assets/apps/privacy-filter.png 500w, /assets/apps/privacy-filter@2x.png 1000w" alt="Privacy Filter">
          </div>

          <div class="cell-content">
            <div class="cell-header">Privacy Filter</div>
            <div class="cell-text">Block ads, trackers, and malware with our advanced filtering system</div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <a routerLink="/download/linux/autostart">
        <button class="btn blue">Download Now</button>
      </a>
    </div>
  </div>
</div>

<apps-network [platform]="'linux'"></apps-network>

<app-footer></app-footer>
