.masthead {
  .masthead-header { margin: 0; padding: 40px 0 60px; }
}

.navigation {
  width: 100%;
  padding: 20px 0 0;
  text-align: center;
  background-color: #163138;

  ul {
    padding: 0;
    margin: auto;
    list-style-type: none;
    font-size: 0;
  }
  li {
    height: 50px;
    padding: 10px 20px;
    color: #8DFFFB;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;

    img {
      height: 100%;
      margin: 0 10px 0 0;
      vertical-align: middle;
      &.hover { display: none; }
      &.display { display: inline-block; }
    }

    &.active {
      color: #163138 !important;
      cursor: default;
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:hover { color: #fff; }
    &:hover .hover { display: inline; }
    &:hover .display { display: none; }
  }
}

.content {
  width: 100%;
  text-align: center;
  padding: 60px 0;

  .content-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
  }

  .header { margin-bottom: 50px; }

  .split {
    width: 100%;
    max-width: 1000px;
    overflow: auto;
    margin: 0 0 50px;

    img { padding: 0 10px; max-width: 100%; }
  }

  .button-container {
    padding: 0 10px;

    .btn {
      margin: 40px 0 0;
      padding: 10px;
      width: 100%;
      max-width: 450px;
      &:hover { background-color: #27a5e2; }
    }
  }
}

.page-header {
  width: 100%;
  background-color: #163238;
  text-align: center;
  padding: 60px 0;
  .header { color: #ffe49a; }
}

.features {
  width: 100%;
  padding: 0 10px;
  background-color: #efeaea;

  .features-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .row {
    width: 100%;
    padding: 50px 0;
    font-size: 0;

    .image {
      width: 40%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      img { width: 100%; padding-right: 50px; }
    }

    .text {
      width: 60%;
      color: #4a4a4d;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      .text-header { color: #000; font-size: 20px; }
    }
  }
}

.descriptions {
  padding: 0 10px;
  background-color: #163138;

  .more {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 50px 0 25px;

    .cell {
      width: 300px;
      padding: 30px 15px;
      text-align: center;
      display: inline-block;
      vertical-align: top;

      .cell-image {
        width: 100%;
        height: 225px;
        margin: auto;
        img { height: 100%; max-width: 100%; }
        img.width { height: auto; width: 100%; }
      }

      .cell-header { font-size: 20px; color: #fff; padding: 10px 0; }
      .cell-text { color: #8DFFFB; font-size: 14px; padding: 0 20px; }
    }
  }
}

.bottom {
  padding: 80px 0;
  text-align: center;
  background-color: #efeaea;

  .btn {
    font-size: 18px;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    margin: 0 10px;
    &:hover { background-color: #ff8c71; }
  }
}

@media (max-width: 1020px) {
  .features .features-inner {
    .row .image {
      width: 100%;
      img { max-width: 400px; padding-right: 0; }
    }
    .row .text { width: 100%; text-align: center; padding: 20px 10px; }
  }
}

@media (max-width: 1000px) {
  .navigation li span { display: none; }
  .navigation li img { margin: 0; }
}

@media (max-width: 710px) {
  .content .content-header { padding: 0 10px; }
}

@media (max-width: 400px) {
  .navigation li { padding: 10px 15px; font-size: 16px; }
}
