<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Cypherpunk Privacy for Routers</h1>
</div>

<apps-navigation [page]="'routers'"></apps-navigation>

<div class="content down-arrow white">
  <div class="content-inner">
    <div class="button-container">
      <a routerLink="/support/routers">
        <button class="btn orange">Setup Guide</button>
      </a>
    </div>
  </div>
</div>

<div class="features">
  <div class="features-inner">
    <div class="header">Features</div>

    <div class="columns">
      <!-- Left Column -->
      <div class="column">
        <div class="column-header">
          <img src="/assets/apps/holding/alex-holding-routers@2x.png" srcset="/assets/apps/holding/alex-holding-routers.png 500w, /assets/apps/holding/alex-holding-routers@2x.png 1000w" alt="Cypherpunk Privacy">
        </div>
      </div>

      <!-- Right Column -->
      <div class="column">
        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/cypher-play@2x.png" srcset="/assets/apps/cypher-play.png 500w, /assets/apps/cypher-play@2x.png 1000w" alt="CypherPlay&trade;">
          </div>

          <div class="cell-content">
            <div class="cell-header">CypherPlay&trade;</div>
            <div class="cell-text">Freedom to watch any online streaming content from anywhere in the world</div>
          </div>
        </div>

        <div class="column-cell">
          <div class="cell-image">
            <img src="/assets/apps/privacy-filter@2x.png" srcset="/assets/apps/privacy-filter.png 500w, /assets/apps/privacy-filter@2x.png 1000w" alt="Privacy Filter">
          </div>

          <div class="cell-content">
            <div class="cell-header">Privacy Filter</div>
            <div class="cell-text">Block ads, trackers, and malware with our advanced filtering system</div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <a routerLink="/support/routers">
        <button class="btn orange">Setup Guide</button>
      </a>
    </div>
  </div>
</div>

<apps-network [platform]="'routers'"></apps-network>


<app-footer></app-footer>
