.masthead {
  .masthead-header { margin: 0; padding: 40px 0 60px; }
}

.navigation {
  width: 100%;
  text-align: center;
  background-color: #163138;

  ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    height: 50px;
    cursor: pointer;
    &.active {
      cursor: default;
      background-color: #fff;
      color: #163138;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    img { vertical-align: middle; margin: 0 10px 0 0; }
    img.d { width: 29px; }
    img.b { width: 27px; }
    img.a { width: 15px; }
    img.i { width: 15px; }
  }
}

.content {
  width: 100%;
  text-align: center;
  padding: 60px 0;

  .content-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: auto;
  }

  .header { margin-bottom: 50px; }

  .button-container {
    text-align: center;
    margin: 0 0 80px;
    padding: 0 20px;
    .btn {
      font-size: 23px;
      padding: 12px 10px 15px;
      width: 100%;
      max-width: 600px;
      &:hover { background-color: #27a5e2; }
    }
  }

  .row {
    width: 100%;
    max-width: 700px;
    overflow: auto;
    margin: auto;

    .cell {
      width: 200px;
      float: left;
      margin-right: 50px;
      &:last-child { margin-right: 0; }

      .cell-image {
        position: relative;
        margin: auto;
        height: 115px;
        cursor: pointer;
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          &.d { width: 148px; }
          &.w { width: 41px; }
          &.a { width: 37px; }
          &.l { width: 43px; }
        }
        .logo {
          position: absolute;
          top: 20px;
        }
      }
    }
  }

  .separator {
    width: 90%;
    max-width: 1000px;
    padding: 0 10px;
    height: 2px;
    background-color: #87ccd3;
    margin: 40px auto 80px;
  }

  .split {
    width: 100%;
    max-width: 1000px;
    overflow: auto;
    margin: 0 0 50px;

    .left {
      width: 50%;
      float: left;
      min-height: 20px;
    }
    .right {
      width: 50%;
      float: left;
      text-align: left;

      .tag {
        font-size: 20px;
        color: #ff7857;
        margin: 20px 0;
      }
    }
  }

  .btn {
    margin: 40px 0 0;
    padding: 10px;
    width: 100%;
    max-width: 450px;
    &:hover { background-color: #27a5e2; }
  }
}

.page-header {
  width: 100%;
  background-color: #163238;
  text-align: center;
  padding: 60px 0;
  .header { color: #ffe49a; }
}

.features {
  width: 100%;
  padding: 0 10px;
  background-color: #efeaea;

  .features-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  .row {
    width: 100%;
    padding: 50px 0;
    font-size: 0;

    .image {
      width: 40%;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      img { width: 100%; padding-right: 50px; }
    }

    .text {
      width: 60%;
      color: #4a4a4d;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      .text-header { color: #000; font-size: 20px; }
    }
  }
}

.descriptions {
  padding: 0 10px;
  background-color: #163138;

  .more {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 50px 0 25px;

    .cell {
      width: 300px;
      padding: 30px 15px;
      text-align: center;
      display: inline-block;
      vertical-align: top;

      .cell-image {
        width: 100%;
        height: 225px;
        margin: auto;
        img { height: 100%; max-width: 100%; }
        img.width { height: auto; width: 100%; }
      }

      .cell-header { font-size: 20px; color: #fff; padding: 10px 0; }
      .cell-text { color: #8DFFFB; font-size: 14px; padding: 0 20px; }
    }
  }
}

.bottom {
  padding: 80px 0;
  text-align: center;
  background-color: #efeaea;

  .btn {
    font-size: 18px;
    width: 90%;
    max-width: 450px;
    padding: 10px;
    margin: 0 10px;
    &:hover { background-color: #ff8c71; }
  }
}

@media (max-width: 1020px) {
  .content .split {
    .left { width: 100%; padding: 0 20px; }
    .right { width: 100%; padding: 0 20px; }
  }

  .features .features-inner {
    .row .image {
      width: 100%;
      img { max-width: 400px; padding-right: 0; }
    }
    .row .text { width: 100%; text-align: center; padding: 20px 10px; }
  }
}

@media (max-width: 710px) {
  .content {
    .content-header { padding: 0 10px; }
    .row {
      width: 100%;
      .cell { width: 100%; margin-bottom: 100px; }
      .cell:last-child { margin-bottom: 0px; }
    }
  }
}

@media (max-width: 400px) {
  .navigation li { padding: 10px 15px; font-size: 16px; }
  .content .split img { padding: 0 10px; }
  .content {
    .button-container { margin: 0 10px 80px; }
    .content-inner .row .cell { width: 100%; margin-right: 0; }
  }
}
