<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">
    Cypherpunk Privacy for Windows
  </h1>
</div>

<div class="navigation">
  <ul>
    <li class="active">
      <img class="d desktop-inline" src="/assets/apps/desktop-icon-hover@2x.png" srcset="/assets/apps/desktop-icon-hover.png 500w, /assets/apps/desktop-icon-hover@2x.png 1000w" alt="Desktop">
      Desktop
    </li>
    <a routerLink="/apps/browser">
      <li>
        <img class="b desktop-inline" src="/assets/apps/browser-icon@2x.png" srcset="/assets/apps/browser-icon.png 500w, /assets/apps/browser-icon@2x.png 1000w" alt="Browser">
        Browser
      </li>
    </a>
    <a routerLink="/apps/android">
      <li>
        <img class="a desktop-inline" src="/assets/apps/android-icon@2x.png" srcset="/assets/apps/android-icon.png 500w, /assets/apps/android-icon@2x.png 1000w" alt="Android">
        Android
      </li>
    </a>
    <a routerLink="/apps/ios">
      <li>
        <img class="i desktop-inline" src="/assets/apps/ios-icon@2x.png" srcset="/assets/apps/ios-icon.png 500w, /assets/apps/ios-icon@2x.png 1000w" alt="iOS">
        iOS
      </li>
    </a>
  </ul>
</div>

<div class="content down-arrow">
  <div class="content-inner">
    <div class="row">
      <div class="cell">
        <div class="cell-image">
          <img class="d" src="/assets/apps/desktop-hover@2x.png" srcset="/assets/apps/desktop-hover.png 500w, /assets/apps/desktop-hover@2x.png 1000w" alt="Windows" >
          <img class="w logo" src="/assets/apps/windows-hover@2x.png" srcset="/assets/apps/windows-hover.png 500w, /assets/apps/windows-hover@2x.png 1000w" alt="Windows">
        </div>
      </div>

      <div class="cell">
        <a routerLink="/apps/mac">
          <div class="cell-image">
            <img class="d" src="/assets/apps/desktop@2x.png" srcset="/assets/apps/desktop.png 500w, /assets/apps/desktop@2x.png 1000w" alt="Apple">
            <img class="a logo" src="/assets/apps/apple@2x.png" srcset="/assets/apps/apple.png 500w, /assets/apps/apple@2x.png 1000w" alt="Apple">
          </div>
        </a>
      </div>

      <div class="cell">
        <a routerLink="/apps/linux">
          <div class="cell-image">
            <img class="d" src="/assets/apps/desktop@2x.png" srcset="/assets/apps/desktop.png 500w, /assets/apps/desktop@2x.png 1000w" alt="Linux">
            <img class="l logo" src="/assets/apps/linux@2x.png" srcset="/assets/apps/linux.png 500w, /assets/apps/linux@2x.png 1000w" alt="Linux">
          </div>
        </a>
      </div>
    </div>

    <div class="separator"></div>

    <div class="split">
      <div class="left"></div>
      <div class="right"></div>
    </div>

    <a routerLink="/download/windows/autostart">
      <button class="btn blue">
        Download Cypherpunk for Windows Free
      </button>
    </a>
  </div>
</div>

<div class="features down-arrow green">
  <div class="features-inner">
    <div class="header gold">Features</div>

    <div class="row">
      <div class="image">
        <img class="e" src="/assets/features/cypherplay@2x.png" srcset="/assets/features/cypherplay.png 500w, /assets/features/cypherplay@2x.png 1000w" alt="Cypherplay">
      </div>

      <div class="text">
        <div class="text-header gold">CypherPlay™</div>

        <p>
          Automatically connect to the fastest server near you, or choose any one of our servers around the world in just seconds.
        </p>

        <!-- <a (click)="switch1 = !switch1">Learn More</a> -->
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch1}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/play-from-anywhere@2x.png" srcset="/assets/features/play-from-anywhere 500w, /assets/features/play-from-anywhere@2x.png" alt="Play From Anywhere">
      </div>

      <div class="cell-header">Play from anywhere</div>

      <div class="cell-text">
        Freedom to watch any streaming content online
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/automatic-regional-routing@2x.png" srcset="/assets/features/automatic-regional-routing 500w, /assets/features/automatic-regional-routing@2x.png" alt="Automatic Regional Routing">
      </div>

      <div class="cell-header">Automatic regional routing</div>

      <div class="cell-text">
        We route you through the necessary locations to access your geo-blocked content
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow green">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="d" src="/assets/features/multiple-encryption-modes@2x.png" srcset="/assets/features/multiple-encryption-modes.png 500w, /assets/features/multiple-encryption-modes@2x.png 1000w" alt="Multiple Encryption Profiles">
      </div>

      <div class="text">
        <div class="text-header gold">Multiple encryption profiles</div>

        <p>
          Choose the perfect balance between speed and privacy for your needs with our easy to use encryption modes.
        </p>

        <!-- <a (click)="switch2 = !switch2">Learn More</a> -->
      </div>

      <div class="image desktop">
        <img class="d" src="/assets/features/multiple-encryption-modes@2x.png" srcset="/assets/features/multiple-encryption-modes.png 500w, /assets/features/multiple-encryption-modes@2x.png 1000w" alt="Multiple Encryption Profiles">
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch2}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/max-privacy@2x.png" srcset="/assets/features/max-privacy.png 500w, /assets/features/max-privacy@2x.png 1000w" alt="Max Privacy Mode">
      </div>

      <div class="cell-header">Max Privacy mode</div>

      <div class="cell-text">
        Extra strong RSA-4096 + AES-256 cryptography
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/max-security@2x.png" srcset="/assets/features/max-security.png 500w, /assets/features/max-security@2x.png 1000w" alt="Max Freedom Mode">
      </div>

      <div class="cell-header">Max Freedom mode</div>

      <div class="cell-text">
        Scramble your encrypted traffic to make it less detectable to governments and harder to detect and block.
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/max-speed@2x.png" srcset="/assets/features/max-speed.png 500w, /assets/features/max-speed@2x.png 1000w" alt="Max Speed Mode">
      </div>

      <div class="cell-header">Max Speed mode</div>

      <div class="cell-text">
        When your content doesn't require additional encryption and you want the fastest experience
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow green">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img class="p" src="/assets/apps/features/privacy-firewall@2x.png" srcset="/assets/features/privacy-firewall.png 500w, /assets/features/privacy-firewall@2x.png 1000w" alt="Max Freedom">
      </div>

      <div class="text">
        <div class="text-header gold">Max Freedom</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch3}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/bypass-government@2x.png" srcset="/assets/features/bypass-government.png 500w, /assets/features/bypass-government@2x.png 1000w" alt="Break out of any censored network">
      </div>

      <div class="cell-header">Break out of any censored network</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/optimized-traffic-flow@2x.png" srcset="/assets/features/optimized-traffic-flow.png 500w, /assets/features/optimized-traffic-flow@2x.png 1000w" alt="Optimized Traffic Flow">
      </div>

      <div class="cell-header">Optimized traffic flow</div>

      <div class="cell-text">
        Unblock any restricted websites and geo-blocked content. No matter where you are, it just works
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/blazing-fast-speeds@2x.png" srcset="/assets/features/blazing-fast-speeds.png 500w, /assets/features/blazing-fast-speeds@2x.png 1000w" alt="Blazing Fast Speeds">
      </div>

      <div class="cell-header">Blazing fast speeds</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow green">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/apps/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="text">
        <div class="text-header gold">Privacy Filter</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose.
        </p>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/apps/perapp-settings@2x.png" srcset="/assets/apps/perapp-settings.png 500w, /assets/apps/perapp-settings@2x.png 1000w" alt="Privacy Filter">
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch4}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy-filter@2x.png" srcset="/assets/features/privacy-filter.png 500w, /assets/features/privacy-filter@2x.png 1000w" alt="Block Ads, Trackers, Malware">
      </div>

      <div class="cell-header">Block Ads, Trackers, Malware</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow green">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img class="p" src="/assets/features/privacy-firewall@2x.png" srcset="/assets/features/privacy-firewall.png 500w, /assets/features/privacy-firewall@2x.png 1000w" alt="Privacy Firewall">
      </div>

      <div class="text">
        <div class="text-header gold">Privacy Firewall</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>

        <!-- <a (click)="switch5 = !switch5">Learn More</a> -->
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch5}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy-firewall@2x.png" srcset="/assets/features/privacy-firewall.png 500w, /assets/features/privacy-firewall@2x.png 1000w" alt="Firewall">
      </div>

      <div class="cell-header">Firewall</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow green">
  <div class="features-inner">
    <div class="row">
      <div class="image mobile">
        <img class="s" src="/assets/features/dns-leak-protection@2x.png" srcset="/assets/features/dns-leak-protection.png 500w, /assets/features/dns-leak-protection@2x.png 1000w" alt="Leak Protection">
      </div>

      <div class="text">
        <div class="text-header gold">Leak Protection</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose.
        </p>
      </div>

      <div class="image desktop">
        <img class="s" src="/assets/features/dns-leak-protection-settings@2x.png" srcset="/assets/features/dns-leak-protection.png 500w, /assets/features/dns-leak-protection@2x.png 1000w" alt="Leak Protection">
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch6}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy-filter@2x.png" srcset="/assets/features/privacy-filter.png 500w, /assets/features/privacy-filter@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="cell-header">Privacy Filter</div>

      <div class="cell-text">
        Block ads, trackers, and malware with our advanced filtering system
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/privacy-firewall@2x.png" srcset="/assets/features/privacy-firewall.png 500w, /assets/features/privacy-firewall@2x.png 1000w" alt="Privacy Firewall">
      </div>

      <div class="cell-header">Privacy Firewall</div>

      <div class="cell-text">
        Internet killswitch to prevent leakage if your network connection drops
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/dns-leak-protection@2x.png" srcset="/assets/features/dns-leak-protection.png 500w, /assets/features/dns-leak-protection@2x.png 1000w" alt="DNS Leak Protection">
      </div>

      <div class="cell-header">DNS Leak Protection</div>

      <div class="cell-text">
        We operate our own DNS servers to protect your privacy
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/features/ipv6-leak-protection@2x.png" srcset="/assets/features/ipv6-leak-protection.png 500w, /assets/features/ipv6-leak-protection@2x.png 1000w" alt="IPv6 Leak Protection">
      </div>

      <div class="cell-header">IPv6 Leak Protection</div>

      <div class="cell-text">
        Our apps will disable IPv6 to prevent potential privacy leaks. Soon we will add full IPv6 support to our entire privacy network.
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow green padded">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img class="p" src="/assets/features/privacy-firewall@2x.png" srcset="/assets/features/privacy-firewall.png 500w, /assets/features/privacy-firewall@2x.png 1000w" alt="Advanced Features">
      </div>

      <div class="text">
        <div class="text-header gold">Advanced Features</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>

        <!-- <a (click)="switch7 = !switch7">Learn More</a> -->
      </div>
    </div>
  </div>
</div>

<div class="descriptions" [ngClass]="{'open': switch7}">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">Port Selector</div>

      <div class="cell-text">
        Multiple TCP/UDP ports available to get around restrictive network firewalls
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">One Click Connect</div>

      <div class="cell-text">
        For everyone, novice users to advanced power users
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">Auto launch on startup</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell">
      <div class="cell-image">
      </div>

      <div class="cell-header">Auto connect on launch</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="bottom">
  <a routerLink="/download/windows/autostart">
    <button class="btn orange">
      Download Cypherpunk for Windows Free
    </button>
  </a>
</div>

<app-footer></app-footer>
