<div class="masthead">
  <app-nav></app-nav>
</div>

<apps-navigation [page]="'windows'"></apps-navigation>

<div class="content">
  <div class="content-inner">
    <div class="header">Cypherpunk Privacy for Windows</div>

    <div class="split">
      <img src="/assets/apps/cp-for-windows@2x.png" srcset="/assets/apps/cp-for-windows.png 500w, /assets/apps/cp-for-windows@2x.png 1000w" alt="Cypherpunk Privacy for Windows">
    </div>

    <div class="button-container">
      <a routerLink="/download/windows/autostart">
        <button class="btn blue">
          Download Cypherpunk Privacy for Windows
        </button>
      </a>
    </div>
  </div>
</div>

<div class="page-header">
  <div class="header">Features</div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/cypherplay@2x.png" srcset="/assets/apps/images/cypherplay.png 500w, /assets/apps/images/cypherplay@2x.png 1000w" alt="Cypherplay">
      </div>

      <div class="text">
        <div class="text-header">CypherPlay™</div>

        <p>
          Automatically connect to the fastest server near you, or choose any one of our servers around the world in just seconds.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/play-from-anywhere@2x.png" srcset="/assets/apps/images/play-from-anywhere 500w, /assets/apps/images/play-from-anywhere@2x.png" alt="Play From Anywhere">
      </div>

      <div class="cell-header">Play from anywhere</div>

      <div class="cell-text">
        Freedom to watch any streaming content online
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/apps/images/automatic-regional-routing@2x.png" srcset="/assets/apps/images/automatic-regional-routing 500w, /assets/apps/images/automatic-regional-routing@2x.png" alt="Automatic Regional Routing">
      </div>

      <div class="cell-header">Automatic regional routing</div>

      <div class="cell-text">
        We route you through the necessary locations to access your geo-blocked content
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/multiple-encryption-modes@2x.png" srcset="/assets/apps/images/multiple-encryption-modes.png 500w, /assets/apps/images/multiple-encryption-modes@2x.png 1000w" alt="Multiple Encryption Profiles">
      </div>

      <div class="text">
        <div class="text-header">Multiple encryption profiles</div>

        <p>
          Choose the perfect balance between speed and privacy for your needs with our easy to use encryption modes.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/max-privacy-mode@2x.png" srcset="/assets/apps/images/max-privacy-mode.png 500w, /assets/apps/images/max-privacy-mode@2x.png 1000w" alt="Max Privacy Mode">
      </div>

      <div class="cell-header">Max Privacy mode</div>

      <div class="cell-text">
        Extra strong RSA-4096 + AES-256 cryptography
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/max-security-mode@2x.png" srcset="/assets/apps/images/max-security-mode.png 500w, /assets/apps/images/max-security-mode@2x.png 1000w" alt="Max Security Mode">
      </div>

      <div class="cell-header">Max Security mode</div>

      <div class="cell-text">
        Scramble your encrypted traffic to make it less detectable to governments and harder to detect and block.
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/max-speed-mode@2x.png" srcset="/assets/apps/images/max-speed-mode.png 500w, /assets/apps/images/max-speed-mode@2x.png 1000w" alt="Max Speed Mode">
      </div>

      <div class="cell-header">Max Speed mode</div>

      <div class="cell-text">
        When your content doesn't require additional encryption and you want the fastest experience
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/apps/images/max-freedom@2x.png" srcset="/assets/apps/images/max-freedom.png 500w, /assets/apps/images/max-freedom@2x.png 1000w" alt="Max Freedom">
      </div>

      <div class="text">
        <div class="text-header">Max Freedom</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/break-out-of-any-censored-network@2x.png" srcset="/assets/apps/images/break-out-of-any-censored-network.png 500w, /assets/apps/images/break-out-of-any-censored-network@2x.png 1000w" alt="Break out of any censored network">
      </div>

      <div class="cell-header">Break out of any censored network</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/optimized-traffic-flow@2x.png" srcset="/assets/apps/images/optimized-traffic-flow.png 500w, /assets/apps/images/optimized-traffic-flow@2x.png 1000w" alt="Optimized Traffic Flow">
      </div>

      <div class="cell-header">Optimized traffic flow</div>

      <div class="cell-text">
        Unblock any restricted websites and geo-blocked content. No matter where you are, it just works
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/blazing-fast-speeds@2x.png" srcset="/assets/apps/images/blazing-fast-speeds.png 500w, /assets/apps/images/blazing-fast-speeds@2x.png 1000w" alt="Blazing Fast Speeds">
      </div>

      <div class="cell-header">Blazing fast speeds</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/privacy-filter@2x.png" srcset="/assets/apps/images/privacy-filter.png 500w, /assets/apps/images/privacy-filter@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="text">
        <div class="text-header">Privacy Filter</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/block-ads-trackers-malware@2x.png" srcset="/assets/apps/images/block-ads-trackers-malware.png 500w, /assets/apps/images/block-ads-trackers-malware@2x.png 1000w" alt="Block Ads, Trackers, Malware">
      </div>

      <div class="cell-header">Block Ads, Trackers, Malware</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/privacy-firewall@2x.png" srcset="/assets/apps/images/privacy-firewall.png 500w, /assets/apps/images/privacy-firewall@2x.png 1000w" alt="Privacy Firewall">
      </div>

      <div class="text">
        <div class="text-header">Privacy Firewall</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/firewall@2x.png" srcset="/assets/apps/images/firewall.png 500w, /assets/apps/images/firewall@2x.png 1000w" alt="Firewall">
      </div>

      <div class="cell-header">Firewall</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/leak-protection@2x.png" srcset="/assets/apps/images/leak-protection.png 500w, /assets/apps/images/leak-protection@2x.png 1000w" alt="Leak Protection">
      </div>

      <div class="text">
        <div class="text-header">Leak Protection</div>

        <p>
          You can send all online activity through Cypherpunk, or set it up to only use it for the apps you choose.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/privacy-filter_1@2x.png" srcset="/assets/apps/images/privacy-filter_1.png 500w, /assets/apps/images/privacy-filter_1@2x.png 1000w" alt="Privacy Filter">
      </div>

      <div class="cell-header">Privacy Filter</div>

      <div class="cell-text">
        Block ads, trackers, and malware with our advanced filtering system
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/privacy-firewall-02@2x.png" srcset="/assets/apps/images/privacy-firewall-02.png 500w, /assets/apps/images/privacy-firewall-02@2x.png 1000w" alt="Privacy Firewall">
      </div>

      <div class="cell-header">Privacy Firewall</div>

      <div class="cell-text">
        Internet killswitch to prevent leakage if your network connection drops
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img class="width" src="/assets/apps/images/dns-leak-protection@2x.png" srcset="/assets/apps/images/dns-leak-protection.png 500w, /assets/apps/images/dns-leak-protection@2x.png 1000w" alt="DNS Leak Protection">
      </div>

      <div class="cell-header">DNS Leak Protection</div>

      <div class="cell-text">
        We operate our own DNS servers to protect your privacy
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/ipv6-leak-protection@2x.png" srcset="/assets/apps/images/ipv6-leak-protection.png 500w, /assets/apps/images/ipv6-leak-protection@2x.png 1000w" alt="IPv6 Leak Protection">
      </div>

      <div class="cell-header">IPv6 Leak Protection</div>

      <div class="cell-text">
        Our apps will disable IPv6 to prevent potential privacy leaks. Soon we will add full IPv6 support to our entire privacy network.
      </div>
    </div>
  </div>
</div>

<div class="features down-arrow gray">
  <div class="features-inner">
    <div class="row">
      <div class="image">
        <img src="/assets/apps/images/advanced-features@2x.png" srcset="/assets/apps/images/advanced-features.png 500w, /assets/apps/images/advanced-features@2x.png 1000w" alt="Advanced Features">
      </div>

      <div class="text">
        <div class="text-header">Advanced Features</div>

        <p>
          If your connection to Cypherpunk is interrupted for any reason, it will block all internet connections to keep you safe.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="descriptions">
  <div class="more">
    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/port-selector@2x.png" srcset="/assets/apps/images/port-selector.png 500w, /assets/apps/images/port-selector@2x.png 1000w" alt="Port Selector">
      </div>

      <div class="cell-header">Port Selector</div>

      <div class="cell-text">
        Multiple TCP/UDP ports available to get around restrictive network firewalls
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/one-click-connect@2x.png" srcset="/assets/apps/images/one-click-connect.png 500w, /assets/apps/images/one-click-connect@2x.png 1000w" alt="One Click Connect">
      </div>

      <div class="cell-header">One Click Connect</div>

      <div class="cell-text">
        For everyone, novice users to advanced power users
      </div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/auto-launch-on-startup@2x.png" srcset="/assets/apps/images/auto-launch-on-startup.png 500w, /assets/apps/images/auto-launch-on-startup@2x.png 1000w" alt="Auto Launch on Startup">
      </div>

      <div class="cell-header">Auto launch on startup</div>

      <div class="cell-text"></div>
    </div>

    <div class="cell">
      <div class="cell-image">
        <img src="/assets/apps/images/auto-connect-on-launch@2x.png" srcset="/assets/apps/images/auto-connect-on-launch.png 500w, /assets/apps/images/auto-connect-on-launch@2x.png 1000w" alt="Auto Connect on Launch">
      </div>

      <div class="cell-header">Auto connect on launch</div>

      <div class="cell-text"></div>
    </div>
  </div>
</div>

<div class="bottom">
  <a routerLink="/download/windows/autostart">
    <button class="btn orange">
      Download Cypherpunk Privacy for Windows
    </button>
  </a>
</div>

<app-footer></app-footer>
