<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <div>
    <div class="header-image">
      <img src="/assets/signup/alex-sign-up@2x.png" srcset="/assets/signup/alex-sign-up.png 500w, /assets/signup/alex-sign-up@2x.png" alt="Sign Up!">
    </div>

    <div class="encourage">
      <div class="header">Try more than just another VPN</div>
      <div class="subheader">Sign up to start your FREE trial</div>
    </div>

    <form>
      <div class="row">
        <input id="email" type="email" name="username" placeholder="Email" autofocus [(ngModel)]="user.email" (blur)="this.errors.email.touched = true; checkEmailExists(); validateEmail()" [ngClass]="{'error': (this.errors.email.touched && this.errors.email.message)}">
        <div class="error-message" [hidden]="!this.errors.email.touched">
          {{this.errors.email.message}}
        </div>
      </div>

      <div class="row">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" [ngClass]="{'error': (this.errors.password.touched && this.errors.password.message)}" (ngModelChange)="validatePassword()" (keyup.enter)="signup()" (blur)="this.errors.password.touched = true; validatePassword()">
        <div class="error-message" [hidden]="!this.errors.password.touched">
          {{this.errors.password.message}}
        </div>
      </div>

      <div class="center">
        <button class="btn orange" type="button" (click)="signup()">
          START YOUR FREE TRIAL
        </button>
      </div>

      <div class="tos">
        By clicking this button, <br>
        you agree to Cypherpunk Privacy's <a routerLink="/terms-of-service">Terms of Service</a>
      </div>

      <div class="center account">
        <a class="signin-link" routerLink="/recover">Already have an account? Sign in</a>
      </div>

      <div class="apps">
        <div class="text">Apps availabe for:</div>
        <img src="/assets/signup/available-apps@2x.png" srcset="/assets/signup/available-apps.png 500w, /assets/signup/available-apps@2x.png 1000w" alt="Available Apps">
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
