<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <div>
    <div class="encourage">
      Sign up to get started with your 24 hour free trial account!
    </div>

    <form>
      <div class="row">
        <input id="email" type="email" name="username" placeholder="Email" autofocus [(ngModel)]="user.email" (blur)="this.errors.email.touched = true; checkEmailExists(); validateEmail()" [ngClass]="{'error': (this.errors.email.touched && this.errors.email.message)}">
        <div class="error-message" [hidden]="!this.errors.email.touched">
          {{this.errors.email.message}}
        </div>
      </div>

      <div class="row">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" [ngClass]="{'error': (this.errors.password.touched && this.errors.password.message)}" (ngModelChange)="validatePassword()" (keyup.enter)="signup()" (blur)="this.errors.password.touched = true; validatePassword()">
        <div class="error-message" [hidden]="!this.errors.password.touched">
          {{this.errors.password.message}}
        </div>
      </div>

      <div class="center">
        <button class="btn orange" type="button" (click)="signup()">
          START YOUR FREE TRIAL
        </button>
      </div>

      <div class="tos">
        By clicking this button, you agree to Cypherpunk Privacy's <a routerLink="/terms-of-service">Terms of Service</a>
      </div>

      <div class="center">
        <a class="signin-link" routerLink="/recover">Already have an account? Sign in</a>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
