.masthead {
  width: 100%;
  background-image: linear-gradient(290deg, #034698, #548cd2);

  .masthead-header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 45px auto 0;
    padding-bottom: 81px;
  }
}

button {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 2px 0 #d19e12;
  width: 341px;
  height: 80px;
  border-radius: 5px;
  background-color: #ffc933;
  box-shadow: 0 4px 0 0 #d19e12;
  border: 0px;
  cursor: pointer;

  &.start { margin-bottom: 10px; }
  &.get { margin-top: 10px; margin-bottom: 75px; }
}

.content {
  width: 100%;
  padding: 30px 15px;
  text-align: center;
  &.grey { background-color: #f2f2f2; }

  .content-header {
    margin: 0 0 30px;
    font-size: 26px;
    font-weight: 500;
    color: #000000;
  }

  .grouping {
    margin: 0 auto 30px;

    .group {
      display: inline-block;
      margin-right: 75px;
      &:last-child { margin-right: 0; }

      .group-image {
        background-color: #d8d8d8;
        width: 182px;
        height: 182px;
        border-radius: 100px;
      }

      .group-header {
        color: #333333;
        font-size: 20px;
        font-weight: 500;
        margin-top: 15px;
      }
      .group-subheader {
        color: #999999;
        font-size: 16px;
      }
    }
  }
}
