.nav {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 15px;

  .nav-left {
    float: left;
    padding: 15px 0 15px 15px;

    &:hover img.display { display: none; }
    &:hover img.hover { display: inline; }

    img {
      width: 227px;
      height: 45px;
      &.hover { display: none; }
    }
  }

  .nav-right {
    float: right;
    padding: 25px 16px 0 0;

    ul {
      list-style-type: none;
      position: relative;
      margin: 0;
      padding: 0;

      li { position: relative; float: left; }
    }
  }
}

.nav-link {
  color: #8DFFFB;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 25px;
  &:hover { color: #fff; }
}

.border {
  width: 123.8px;
  height: 38px;
  border: 1px solid #1A474C;
  border-radius: 5px;
  margin-top: -7px;
  padding-top: 8px;
  text-align: center;
  cursor: pointer;
  & a { margin-right: 0; }
}

.btn {
  height: 38px;
  margin: -10px 25px 0 0;
  padding: 0 10px;
  background-color: #ff7857;
  color: #fff;
}

.clear { clear: both; }

.active { color: #ffc933; }

.scrolled-nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  background-color: #0d1e26;
  box-shadow: 0px 0px 3px 2px rgba(10, 10, 10, 0.3);
  .nav-link { color: #8DFFFB; }
  .nav-link:hover { color: #fff; }
  .nav-link.active { color: #ffc933; }
  .border { border-color: #1A474C; }
}

.mobile-nav {
  display: none;
  width: 100%;

  .mobile-nav-left {
    text-align: center;
    padding: 15px 0 15px;
  }

  .mobile-nav-left .mobile-logo {
    width: 227px;
    height: 45px;
  }

  .mobile-nav-right {
    float: right;
    padding: 12px 16px 20px 0;
    cursor: pointer;
  }

  .mobile-drop-down {
    width: 100%;
    background-color: #cad8eb;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.5s ease;
    &.open { max-height: 210px; }

    a {
      text-decoration: none;
      color: #034698;
      .mobile-dd-item { border-bottom: 1px solid #f2f2f2; }
    }
    .mobile-dd-item {
      border-bottom: 1px solid #f2f2f2;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      line-height: 2.78;
      color: #034698;
      cursor: pointer;
      &:last-child { border: 0; }
    }
    .btn {
      width: 153.8px;
      height: 43px;
      line-height: 1.5;
      font-size: 18px;
      margin: 10px auto 14px;
    }
  }
}

.scrolled-mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: #0d1e26;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  color: #fff;

  a { color: #fff; text-decoration: none; }

  .left {
    float: left;
    padding: 15px 10px;

    .heading { font-size: 15px; font-weight: bold; }
    .subheading { font-size: 12px; padding-top: 5px; }
  }

  .right {
    float: right;
    padding-top: 20px;

    .btn { margin: 0 15px 0 0; }
  }
}

.features {
  width: 100%;
  background-color: #163138;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 1px 10px black;
  &.mobile ul li { padding: 15px 5px; }
  &.mobile ul li img { margin: 0 5px 0; }

  .features-inner { width: 100%; max-width: 1000px; margin: auto; }

  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 0;
    margin: -4px 0;

    li {
      color: #8DFFFB;
      font-size: 16px;
      padding: 20px;
      display: inline-block;
      cursor: pointer;

      img {
        width: 24px;
        vertical-align: middle;
        margin: 0 10px 0 0;
        &.height { height: 24px; width: auto; }
        &.display { display: inline; }
        &.active { display: none; }
        &.hover { display: none; }
      }

      &.active {
        color: #163238 !important;
        background-color: #efebeb;
        img.active { display: inline; }
        img.display { display: none; }
        img.hover { display: none !important; }
      }

      &:hover { color: #fff; }
      &:hover img.display { display: none; }
      &:hover img.hover { display: inline; }
    }
  }
}

@media (max-width: 1000px) {
  .nav { display: none; }
  .mobile-nav { display: block; }
  .scrolled-nav-container { display: none; }
  .scrolled-mobile-nav { display: block; }
}
