<div id="nav" class="nav">
  <div class="nav-left">
    <a routerLink="/">
      <img class="display" src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
      <img class="hover" src="/assets/logo-hover@2x.png" srcset="/assets/logo-hover.png 500w, /assets/logo-hover@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>
  </div>

  <nav class="nav-right" *ngIf="enableLinks">
    <ul>
      <li>
        <a class="nav-link" routerLink="/features" routerLinkActive="active">features</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/pricing" routerLinkActive="active">pricing</a>
      </li>
      <li>
        <a class="nav-link" href="https://support.cypherpunk.com/hc">support</a>
      </li>
      <li>
        <a routerLink="/download">
          <button class="btn orange">START FREE</button>
        </a>
      </li>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">
        <li class="border nav-link">
          <span>Sign in</span>
        </li>
      </a>
      <a routerLink="/account" *ngIf="isLoggedIn()">
        <li class="border nav-link">
          <span>My Account</span>
        </li>
      </a>
    </ul>
  </nav>
  <div class="clear"></div>
</div>

<div id="scrolled-nav" class="scrolled-nav-container">
  <div class="nav">
    <div class="nav-left">
      <a routerLink="/">
        <img class="display" src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        <img class="hover" src="/assets/logo-hover@2x.png" srcset="/assets/logo-hover.png 500w, /assets/logo-hover@2x.png 1000w" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
      </a>
    </div>

    <nav class="nav-right" *ngIf="enableLinks">
      <ul>
        <li>
          <a class="nav-link" routerLink="/features" routerLinkActive="active">features</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/pricing" routerLinkActive="active">pricing</a>
        </li>
        <li>
          <a class="nav-link" href="https://support.cypherpunk.com/hc">support</a>
        </li>
        <li>
          <a routerLink="/download">
            <button class="btn orange">START FREE</button>
          </a>
        </li>
        <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">
          <li class="border nav-link">
            <span>Sign in</span>
          </li>
        </a>
        <a routerLink="/account" *ngIf="isLoggedIn()">
          <li class="border nav-link">
            <span>My Account</span>
          </li>
        </a>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>

  <!-- /features subheader -->
  <div id="features-subnav" class="features">
    <ul>
      <a routerLink="/features" fragment="privacy">
        <li [ngClass]="{'active': currentTab === 'privacy'}">
          <img class="display" src="/assets/features/nav/privacy@2x.png" srcset="/assets/features/nav/privacy.png 500w, /assets/features/nav/privacy@2x.png 1000w" alt="Privacy">
          <img class="hover" src="/assets/features/nav/privacy-hover@2x.png" srcset="/assets/features/nav/privacy-hover.png 500w, /assets/features/nav/privacy-hover@2x.png 1000w" alt="Privacy">
          <img class="active" src="/assets/features/nav/privacy-selected@2x.png" srcset="/assets/features/nav/privacy-selected.png 500w, /assets/features/nav/privacy-selected@2x.png 1000w" alt="Privacy">

          Privacy
        </li>
      </a>
      <a routerLink="/features" fragment="access">
        <li [ngClass]="{'active': currentTab === 'access'}">
          <img class="display" src="/assets/features/nav/access@2x.png" srcset="/assets/features/nav/access.png 500w, /assets/features/nav/access@2x.png 1000w" alt="Access">
          <img class="hover" src="/assets/features/nav/access-hover@2x.png" srcset="/assets/features/nav/access-hover.png 500w, /assets/features/nav/access-hover@2x.png 1000w" alt="Access">
          <img class="active" src="/assets/features/nav/access-selected@2x.png" srcset="/assets/features/nav/access-selected.png 500w, /assets/features/nav/access-selected@2x.png 1000w" alt="Access">
          Access
        </li>
      </a>
      <a routerLink="/features" fragment="network">
        <li [ngClass]="{'active': currentTab === 'network'}">
          <img class="display" src="/assets/features/nav/network@2x.png" srcset="/assets/features/nav/network.png 500w, /assets/features/nav/network@2x.png 1000w" alt="Network">
          <img class="hover" src="/assets/features/nav/network-hover@2x.png" srcset="/assets/features/nav/network-hover.png 500w, /assets/features/nav/network-hover@2x.png 1000w" alt="Network">
          <img class="active" src="/assets/features/nav/network-selected@2x.png" srcset="/assets/features/nav/network-selected.png 500w, /assets/features/nav/network-selected@2x.png 1000w" alt="Network">
          Network
        </li>
      </a>
      <a routerLink="/features" fragment="freedom">
        <li [ngClass]="{'active': currentTab === 'freedom'}">
          <img class="display height" src="/assets/features/nav/freedom@2x.png" srcset="/assets/features/nav/freedom.png 500w, /assets/features/nav/freedom@2x.png 1000w" alt="Freedom">
          <img class="hover height" src="/assets/features/nav/freedom-hover@2x.png" srcset="/assets/features/nav/freedom-hover.png 500w, /assets/features/nav/freedom-hover@2x.png 1000w" alt="Freedom">
          <img class="active height" src="/assets/features/nav/freedom-selected@2x.png" srcset="/assets/features/nav/freedom-selected.png 500w, /assets/features/nav/freedom-selected@2x.png 1000w" alt="Freedom">
          Freedom
        </li>
      </a>
      <a routerLink="/features" fragment="security">
        <li [ngClass]="{'active': currentTab === 'security'}">
          <img class="display" src="/assets/features/nav/security@2x.png" srcset="/assets/features/nav/security.png 500w, /assets/features/nav/security@2x.png 1000w" alt="Security">
          <img class="hover" src="/assets/features/nav/security-hover@2x.png" srcset="/assets/features/nav/security-hover.png 500w, /assets/features/nav/security-hover@2x.png 1000w" alt="Security">
          <img class="active" src="/assets/features/nav/security-selected@2x.png" srcset="/assets/features/nav/security-selected.png 500w, /assets/features/nav/security-selected@2x.png 1000w" alt="Security">
          Security
        </li>
      </a>
      <a routerLink="/features" fragment="support">
        <li [ngClass]="{'active': currentTab === 'support'}">
          <img class="display" src="/assets/features/nav/support@2x.png" srcset="/assets/features/nav/support.png 500w, /assets/features/nav/support@2x.png 1000w" alt="Support">
          <img class="hover" src="/assets/features/nav/support-hover@2x.png" srcset="/assets/features/nav/support-hover.png 500w, /assets/features/nav/support-hover@2x.png 1000w" alt="Support">
          <img class="active" src="/assets/features/nav/support-selected@2x.png" srcset="/assets/features/nav/support-selected.png 500w, /assets/features/nav/support-selected@2x.png 1000w" alt="Support">
          Support
        </li>
      </a>
    </ul>
  </div>

</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/">
      <img src="/assets/logo@2x.png" class="mobile-logo" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown" *ngIf="enableLinks">
      <img src="/assets/icon-menu.png" alt="Menu Button" title="Click to Open Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }">
    <div class="mobile-dd-item" routerLink="/features" routerLinkActive="active">
      features
    </div>
    <div class="mobile-dd-item" routerLink="/pricing" routerLinkActive="active">
      pricing
    </div>
    <a href="https://support.cypherpunk.com/hc">
      <div class="mobile-dd-item">support</div>
    </a>
    <a routerLink="/download" routerLinkActive="active">
      <div class="mobile-dd-item">START FREE</div>
    </a>
    <div class="mobile-dd-item" *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">
      Sign in
    </div>
    <div class="mobile-dd-item" *ngIf="isLoggedIn()" routerLink="/account">
      My Account
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="scrolled-mobile-nav" class="scrolled-mobile-nav" *ngIf="bannerModel && enableLinks">
  <div style="overflow:auto;">
    <a href="{{bannerModel.link}}">
      <div class="left">
        <div class="heading">
          {{ bannerModel.heading }}
        </div>

        <div class="subheading">
          {{ bannerModel.subheading }}
        </div>
      </div>

      <div class="right">
        <button class="btn orange">Download</button>
      </div>
    </a>
  </div>

  <!-- /features subheader -->
  <div id="features-mobile-subnav" class="features mobile">
    <ul>
      <a routerLink="/features" fragment="privacy">
        <li [ngClass]="{'active': currentTab === 'privacy'}">
          <img class="display" src="/assets/features/nav/privacy@2x.png" srcset="/assets/features/nav/privacy.png 500w, /assets/features/nav/privacy@2x.png 1000w" alt="Privacy">
          <img class="active" src="/assets/features/nav/privacy-selected@2x.png" srcset="/assets/features/nav/privacy-selected.png 500w, /assets/features/nav/privacy-selected@2x.png 1000w" alt="Privacy">
        </li>
      </a>
      <a routerLink="/features" fragment="access">
        <li [ngClass]="{'active': currentTab === 'access'}">
          <img class="display" src="/assets/features/nav/access@2x.png" srcset="/assets/features/nav/access.png 500w, /assets/features/nav/access@2x.png 1000w" alt="Access">
          <img class="active" src="/assets/features/nav/access-selected@2x.png" srcset="/assets/features/nav/access-selected.png 500w, /assets/features/nav/access-selected@2x.png 1000w" alt="Access">
        </li>
      </a>
      <a routerLink="/features" fragment="network">
        <li [ngClass]="{'active': currentTab === 'network'}">
          <img class="display" src="/assets/features/nav/network@2x.png" srcset="/assets/features/nav/network.png 500w, /assets/features/nav/network@2x.png 1000w" alt="Network">
          <img class="active" src="/assets/features/nav/network-selected@2x.png" srcset="/assets/features/nav/network-selected.png 500w, /assets/features/nav/network-selected@2x.png 1000w" alt="Network">
        </li>
      </a>
      <a routerLink="/features" fragment="freedom">
        <li [ngClass]="{'active': currentTab === 'freedom'}">
          <img class="display height" src="/assets/features/nav/freedom@2x.png" srcset="/assets/features/nav/freedom.png 500w, /assets/features/nav/freedom@2x.png 1000w" alt="Freedom">
          <img class="display height" src="/assets/features/nav/freedom-selected@2x.png" srcset="/assets/features/nav/freedom-selected.png 500w, /assets/features/nav/freedom-selected@2x.png 1000w" alt="Freedom">
        </li>
      </a>
      <a routerLink="/features" fragment="security">
        <li [ngClass]="{'active': currentTab === 'security'}">
          <img class="display" src="/assets/features/nav/security@2x.png" srcset="/assets/features/nav/security.png 500w, /assets/features/nav/security@2x.png 1000w" alt="Security">
          <img class="display" src="/assets/features/nav/security-selected@2x.png" srcset="/assets/features/nav/security-selected.png 500w, /assets/features/nav/security-selected@2x.png 1000w" alt="Security">
        </li>
      </a>
      <a routerLink="/features" fragment="support">
        <li [ngClass]="{'active': currentTab === 'support'}">
          <img class="display" src="/assets/features/nav/support@2x.png" srcset="/assets/features/nav/support.png 500w, /assets/features/nav/support@2x.png 1000w" alt="Support">
          <img class="display" src="/assets/features/nav/support-selected@2x.png" srcset="/assets/features/nav/support-selected.png 500w, /assets/features/nav/support-selected@2x.png 1000w" alt="Support">
        </li>
      </a>
    </ul>
  </div>
</div>

<app-alerts></app-alerts>
