<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <div class="page">
    <div class="page-header">
      <div class="title">Cypherpunk Privacy Plans</div>

      <div class="text">
        Get complete protection using <span class="highlight">Cypherpunk Privacy Suite</span> on all your devices. <span class="highlight">100% Money-Back Guarantee</span> in your first 30 days of service.
      </div>
    </div>

    <div class="select-plan">
      <app-price-boxes #priceBoxes [btc]="false" [showOverride]="true"></app-price-boxes>
    </div>
  </div>

  <div class="includes">
    <div class="includes-inner">
      <div class="includes-header">
        Cypherpunk Privacy includes:
      </div>

      <div class="columns">
        <div class="column">
          <ul>
            <li>24/7 Premium customer support</li>
            <li>Access to VPN servers in 25+ countries</li>
            <li>No Data or Traffic logs</li>
            <li>Apps for <img src="/assets/payment/available-apps@2x.png" srcset="/assets/payment/available-apps.png 500w, /assets/payment/available-apps@2x.png 1000w"> and more!</li>
            <li>OpenVPN, IKEv2 and IPsec VPN protocols</li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li>Connect 7 Devices At The Same Time</li>
            <li>Fast Video Streaming with CypherPlay™</li>
            <li>Best in class Security and Encryption</li>
            <li>Unlimited Bandwidth and Traffic</li>
            <li>HTTPS/TLS, HTTP and SOCKS5 Proxies</li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li>30 days Risk Free Refund Policy</li>
            <li>Anonymous and Unlimited P2P traffic</li>
            <li>Ad and tracker-free browsing experience</li>
            <li>Full cloud-based malware protection</li>
            <li>Automatic Wi-Fi Security</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="copy">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        </a>
      </div>

      <div class="footer-copyright">
        &copy; 2017 Cypherpunk Partners, slf.
      </div>
    </div>
  </div>
</div>
