<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <div class="page">
    <div class="page-header">
      <div class="title">2017 Special Pricing for All Cypherpunk Privacy &trade; Plans</div>

      <div class="text">
        Currently we are in limited free preview mode. Subscriptions for the Cypherpunk Privacy Suite&trade; will be available for purchase once we fully launch. <strong>All subscriptions purchased before the end of 2017 will be locked in at the special price.</strong>
      </div>
    </div>

    <div class="select-plan">
      <div class="price-boxes">
        <div class="price-box">

          <div class="box">
            <div class="checkmark"><i class="fa fa-check"></i></div>
            <div class="period">1 Month</div>

            <div>
              <div class="price-area">
                <span class="price-time">$ </span>
                <span class="price">11.95</span>
                <br>
                <span class="price-time">per month</span>
              </div>
              <div class="separator"></div>
              <div class="yearly">
                <strong>Billed $11.95 every month</strong>
                <br>
                <small>Regular price: $12.95</small>
              </div>
            </div>

            <div class="savings">
              <div class="saves">
                Save %7
              </div>
            </div>
          </div>
        </div>

        <div class="price-box active">

          <div class="box buff">
            <div class="checkmark"><i class="fa fa-check"></i></div>
            <div class="period">12 Months</div>
            <div class="best-value">
              <div class="text">Best Value</div>
            </div>

            <div>
              <div class="price-area">
                <span class="price-time green">$ </span>
                <span class="price green">5.75</span>
                <br>
                <span class="price-time green">per month</span>
              </div>
              <div class="separator"></div>
              <div class="yearly">
                <strong>Billed $69.00 annually</strong>
                <br>
                <small>Regular price: $99.95</small>
              </div>
            </div>

            <div class="savings">
              <div class="saves larger">
                Save 52%
              </div>
            </div>
          </div>
        </div>

        <div class="price-box">

          <div class="box">
            <div class="checkmark"><i class="fa fa-check"></i></div>
            <div class="period">6 Months</div>

            <div>
              <div class="price-area">
                <span class="price-time">$ </span>
                <span class="price">7.00</span>
                <br>
                <span class="price-time">per month</span>
              </div>
              <div class="separator"></div>
              <div class="yearly">
                <strong>Billed $42.00 semi annually</strong>
                <br>
                <small>Regular price: %59.95</small>
              </div>
            </div>

            <div class="savings">
              <div class="saves">Save 41%</div>
            </div>
          </div>
        </div>
      </div>

      <div class="info">All amounts shown are in USD.</div>
    </div>
  </div>

  <div class="page">
    <div class="page-header">
      <div class="title center">Payment Methods Accepted:</div>
    </div>

    <div class="payment-options">
      <div class="type-container">
        <img src="/assets/payment/credit-card@2x.png" srcset="/assets/payment/credit-card.png 500w, /assets/payment/credit-card@2x.png 1000w" alt="Credit Card">
      </div>

      <div class="type-container">
        <img src="/assets/payment/paypal@2x.png" srcset="/assets/payment/paypal.png 500w, /assets/payment/paypal@2x.png 1000w" alt="PayPal">
      </div>

      <div class="type-container">
        <img src="/assets/payment/amazon@2x.png" srcset="/assets/payment/amazon.png 500w, /assets/payment/amazon@2x.png 1000w" alt="Amazon">
      </div>

      <div class="type-container">
        <img src="/assets/payment/bitcoin@2x.png" srcset="/assets/payment/bitcoin.png 500w, /assets/payment/bitcoin@2x.png 1000w" alt="BitCoin">
      </div>
    </div>

  </div>

  <div class="includes">
    <div class="includes-inner">
      <div class="includes-header">
        Cypherpunk Privacy&trade; includes:
      </div>

      <div class="columns">
        <div class="column">
          <ul>
            <li>24/7 Premium customer support</li>
            <li>Access to VPN servers in 25+ countries</li>
            <li>No data or traffic logs</li>
            <li>Apps for <img src="/assets/payment/available-apps@2x.png" srcset="/assets/payment/available-apps.png 500w, /assets/payment/available-apps@2x.png 1000w"></li>
            <li>OpenVPN, IKEv2 & IPsec VPN protocols</li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li>Connect up to 5 devices simultaneously</li>
            <li>Fast video streaming with CypherPlay™</li>
            <li>Best in class security & encryption</li>
            <li>Unlimited bandwidth & traffic</li>
            <li>HTTPS/TLS, HTTP & SOCKS5 proxies</li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li>30 days risk free refund policy</li>
            <li>Anonymous & unlimited P2P traffic</li>
            <li>Ad & tracker-free browsing experience</li>
            <li>Full cloud-based malware protection</li>
            <li>Automatic Wi-Fi security</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="page">
    <div class="page-header">
      <div class="title center">Want to Try Cypherpunk Privacy&trade; for Free?</div>
    </div>

    <form>
      <div class="row">
        <div class="half">
          <input id="email" type="email" name="username" placeholder="Email" autofocus [(ngModel)]="user.email" (blur)="this.errors.email.touched = true; checkEmailExists(); validateEmail()" [ngClass]="{'error': (this.errors.email.touched && this.errors.email.message)}">
          <div class="error-message" [hidden]="!this.errors.email.touched">
            {{this.errors.email.message}}
          </div>
        </div>

        <div class="half">
          <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" [ngClass]="{'error': (this.errors.password.touched && this.errors.password.message)}" (ngModelChange)="validatePassword()" (keyup.enter)="signup()" (blur)="this.errors.password.touched = true; validatePassword()">
          <div class="error-message" [hidden]="!this.errors.password.touched">
            {{this.errors.password.message}}
          </div>
        </div>
      </div>

      <div class="center">
        <button class="btn orange" type="button" (click)="signup()">
          REQUEST A FREE PREVIEW ACCOUNT
        </button>
      </div>

      <div class="tos">
        By clicking this button, you agree to Cypherpunk Privacy's <a routerLink="/terms-of-service">Terms of Service</a>
      </div>
    </form>
  </div>
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="copy">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        </a>
      </div>

      <div class="footer-copyright">
        &copy; 2017 Cypherpunk Partners, slf.
      </div>
    </div>
  </div>
</div>
