.wrapper { min-height: 100%; margin-bottom: -162px; background-color: rgba(245, 245, 245, 1); }
.wrapper:after { content: ''; display: block; }
.footer, .wrapper:after { height: 162px;}

.page {
  width: 100%;
  max-width: 1000px;
  padding: 20px 15px 35px;
  margin: auto;
}

.page-header {
  text-align: left;
  margin-bottom: 50px;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px auto;
    color: #000;
    &.center { text-align: center; }
    &.smaller { font-size: 22px; }
  }

  .subtitle {
    font-size: 22px;
    font-weight: bold;
    margin: 10px auto;
    color: #000;
    &.center { text-align: center; }
  }

  .text {
    font-size: 18px;
    line-height: 1.3;
    color: #7f7979;
    margin: auto;
    .highlight { font-weight: bold; color: #000; }
  }
}

.page-number {
  text-align: left;
  margin: 50px 0 30px;
  font-size: 20px;
  color: #163238;
  padding: 0 0 0 10px;

  &.one { margin: 50px auto 20px; }
  &.two { margin: 60px auto 30px; }

  .highlight {
    font-weight: bold;
    color: #00d630;
  }

  .number {
    display: inline-block;
    background-color: #ff7857;
    border-radius: 50px;
    margin: 0 5px 0 0;
    color: #fff;
    width: 25px;
    text-align: center;
  }
}

.includes {
  width: 100%;

  .includes-inner {
    width: 100%;
    padding: 20px 10px 10px;
    margin: 10px auto 40px;
    max-width: 1000px;
    border: 2px solid #d9dfe2;
    border-radius: 5px;
    background-color: #fff;
  }

  .includes-header {
    font-size: 26px;
    font-weight: bold;
    margin: 10px auto;
    color: #000;
    text-align: center;
  }

  .columns {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        color: #666;
        padding: 10px 0 10px 25px;

        &:before {
          content: '\f00c';
          font-family: FontAwesome;
          color: #00d630;
          display: inline-block;
          margin-left: -25px;
          width: 25px;
        }

        img { vertical-align: middle; height: 14px; }
      }
    }

    .column {
      width: 100%;
      max-width: 320px;
      display: inline-block;
      text-align: left;
      vertical-align: top;
    }
  }
}

.footer {
  width: 100%;
  background-color: #163138;
  padding: 30px 0 50px;

  .footer-inner { width: 100%; max-width: 1000px; margin: auto; }
  .copy { width: 250px; text-align: center; color: #8DFFFB; }
  .footer-copyright { font-size: 14px; }
}

.btn {
  margin: auto;
  padding: 15px;
  font-size: 18px;
  width: 400px;
}

.price-boxes {
  text-align: center;

  .price-box {
    display: inline-block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: #1987bd;
    vertical-align: middle;
    position: relative;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    &.hover:hover, &.active { .box { border-color: #00d630; } }
    &.active .box .checkmark { display: block; }

    .best-value {
      width: 115px;
      height: 80px;
      overflow: hidden;
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 5;

      .text {
        padding: 5px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #ff7857;
        width: 155px;
        transform: rotate(35deg);
        position: relative;
        right: 5px;
        top: 20px;
      }
    }

    .box {
      width: 300px;
      position: relative;
      border: 5px solid #d9dfe2;
      color: #aaa;
      background-color: #fff;

      &.buff {
        height: 300px;
        .period { margin: 40px 0 15px; }
      }

      .checkmark {
        display: none;
        width: 80px;
        height: 80px;
        position: absolute;
        text-align: center;
        font-size: 50px;
        color: #00d630;
        font-family: FontAwesome;

        i {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .period {
        margin: 25px 0 15px;
        font-size: 29px;
        font-weight: 500;
        color: #000;
      }

      .price-area {
        color: #888;
        .price { font-size: 50px; font-weight: bold; }
        .price-time { font-size: 20px; }
        .green { color: #00d630; }
      }

      .separator {
        width: 170px;
        height: 2px;
        margin: 20px auto 15px;
        background-color: #d9dfe2;
        opacity: 0.5;
      }

      .yearly {
        font-size: 14px;
        .strike { color: red; text-decoration: line-through; }
      }

      .savings {
        height: 30px;
        margin: 0 auto 20px;
        .saves {
          color: #00d630;
          font-size: 16px;
          padding: 10px;
          margin: auto;
          width: 120px;
          &.larger { font-size: 20px; margin: 0 auto 0; }
        }
      }
    }
  }
}

.info {
  font-size: 14px;
  text-align: left;
  margin: 0 0 0 50px;
}

.payment-options {
  text-align: center;

  .type-container {
    display: inline-block;
    margin: 0 20px 0;
    opacity: 1;
    img {
      margin: auto;
      width: 185px;
      margin-bottom: 20px;
      border: 3px solid #d9dfe2;
      border-radius: 5px;
    }
  }

  .text {
    text-align: center;
    input, label { cursor: pointer; }
    label { color: #163238; vertical-align: middle; }

    .circle {
      width: 20px;
      height: 20px;
      border: 2px solid #7f7979;
      border-radius: 40px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      .circle-inner {
        display: none;
        width: 10px;
        height: 10px;
        background-color: #00d630;
        border-radius: 25px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &.checked { border-color: #00d630; }
      &.checked .circle-inner { display: block; }
    }
  }
}

form {
  max-width: 100%;
  padding: 30px 25px 25px;
  margin: 40px auto 50px;
  border: 2px solid #d9dfe2;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;

  .row { font-size: 0; }
  .half {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 5px 0 25px;
    &:first-child { padding-right: 5px; }
    &:nth-child(2) { padding-left: 5px; }
  }
  .center { text-align: center; }
  .tos {
    font-size: 10px;
    color: #3d3d3d;
    padding: 5px 0 10px;
  }
  .account {
    padding: 20px 0 30px;
    border-bottom: 2px solid #efebeb;
  }

  .apps {
    max-width: 400px;
    margin: auto;
    padding: 30px 10px 0;

    img { padding: 20px 0; width: 100%; }
  }

  label { font-size: 20px; color: #333; }

  input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: solid 2px #e0dede;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 10px;
    color: #000;
    &.error {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #ce8483;
    }
    &.success {
      border-color: #3c763d;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px #67b168;
    }
  }

  .error-message {
    color: #a94442;
    margin: -15px 0 0;
    text-align: left;
    font-size: 12px;
  }
}


@media (max-width: 580px) {
  .wrapper form .half { width: 100%; }
  .wrapper form .half:first-child { padding: 0 5px; }
  .wrapper form .half { padding: 0 5px; }
}

@media (max-width: 935px) {
  .payment-options .type-container { margin: 0 20px 25px; }
}

@media (max-width: 975px) {
  .price-boxes .price-box { margin: 0 0 25px; width: 100%; }
  .price-boxes .price-box.active { width: 100%; }
  .price-boxes .price-box .box { margin: auto;}
  .info { text-align: center; margin: 0 0 30px; }
}

@media (max-width: 1020px) {
  .includes { padding: 0 10px 0; }
}

@media (max-width: 1000px) {
  .page { padding: 25px 10px 35px; }
  .page-header { padding: 0 10px; }

  .includes .columns .column {
    display: block;
    margin: auto;
  }
}

@media (max-width: 470px) {
  .btn { width: 100%; }
}
