<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Why You Need Cypherpunk Privacy</div>
  <div class="masthead-subheader">
    Cypherpunk encrypts your internet activity and hides your true IP address and location, helping you protect your online privacy and freedom and prevent surveillance and censorship.
  </div>
</div>

<div class="cta-container">
  <div class="call-to-action">
    <button class="btn gold" routerLink="download">
      START FREE
    </button>
  </div>
</div>

<div class="subheader-content">
  <div class="subheader-slogan">
    Available for
    <a routerLink="/download" fragment="desktop">Desktop</a>,
    <a routerLink="/download" fragment="browser">Browser</a>,
    <a routerLink="/download" fragment="android">Android</a>,
    <a routerLink="/download" fragment="ios">iOS</a>
  </div>
</div>

<div class="content">
  <div class="header">Online Privacy</div>

  <div class="body">
    <div class="image"></div>

    <div class="text">
      <p>
        The number of threats to our privacy is increasing daily. From identity thieves and online criminals to government surveillance and censorship, it is more important than ever before to protect your online privacy and freedom.
      </p>

      <p>
        With Cypherpunk Privacy, you can browse the web anonymously, avoid identity thieves and hackers, and circumvent surveillance and censorship, all with the click of a button. Cypherpunk encrypts your internet traffic and hides your true IP address and location, helping you browse the web anonymously.
      </p>
    </div>

    <div class="mobile-image"></div>
  </div>
</div>

<div class="content gray">
  <div class="header">WiFi Security</div>

  <div class="body reverse">
    <div class="text">
      <p>
        Public WiFi networks help us stay connected on the go, while we shop, get coffee, or wait for the next flight. However, connecting to an unsecured WiFi network can expose your sensitive data like credit card numbers, passwords and even your personal photographs to hackers, identity thieves, and more.
      </p>

      <p>
        When you use Cypherpunk to connect to a public WiFi network, your online activity and data is encrypted, making it unreadable to anyone other than the desired recipient. We do not keep logs of any kind, helping you stay completely anonymous on the internet.
      </p>
    </div>

    <div class="image"></div>

    <div class="mobile-image"></div>
  </div>
</div>

<div class="content">
  <div class="header">Unrestricted Access</div>

  <div class="body">
    <div class="image"></div>

    <div class="text">
      <p>
        Some governments and networks block popular websites, such as YouTube, Facebook, Twitter and Skype. Cypherpunk Privacy helps you access these websites, regardless of your location.
      </p>

      <p>
        Many subscription based streaming video services offer different videos in different locations. Cypherpunk Privacy helps you access their FULL library of content available around the world.
      </p>
    </div>

    <div class="mobile-image"></div>
  </div>
</div>

<div class="content gray">
  <div class="header">Cypherpunk Privacy Locations</div>

  <div class="body reverse">
    <div class="text">
      <p>
        We have [dynamically pull in number of servers?] servers in [dynamically pull in number of locations?] locations. You can select a new location in seconds, and your online traffic will appear to come from that location, helping you browse anonymously and circumvent geo-restrictions and censorship.
      </p>
    </div>

    <div class="image"></div>

    <div class="mobile-image"></div>
  </div>
</div>

<div class="content">
  <div class="header">Protocol & Encryption</div>

  <div class="body">
    <div class="image"></div>

    <div class="text">
      <p>
        There are many different reasons to use Cypherpunk Privacy, and they often have different privacy and speed requirements.  Cypherpunk Privacy makes it easy to dial in the perfect balance of speed and privacy with 4 Privacy Modes
      </p>
    </div>

    <div class="mobile-image"></div>
  </div>

</div>

<div class="content bottom">
  <div class="upper">
    Try Cypherpunk Privacy today, risk free – no email required to start!
  </div>

  <div class="cta-container">
    <div class="call-to-action">
      <button class="btn gold" routerLink="join">
        GET CYPHERPUNK NOW
      </button>
    </div>
  </div>

  <div class="subheader-content">
    <div class="subheader-slogan">
      Available for
      <a routerLink="/download" fragment="desktop">Desktop</a>,
      <a routerLink="/download" fragment="browser">Browser</a>,
      <a routerLink="/download" fragment="android">Android</a>,
      <a routerLink="/download" fragment="ios">iOS</a>
    </div>
  </div>
</div>

<app-footer></app-footer>
