<div class="masthead">
  <app-nav></app-nav>
</div>

<div class="page down-arrow">
  <div class="page-header">
    <div class="title">Choose your Cypherpunk Privacy plan</div>

    <div class="text">
      Experience a complete <span class="highlight">Privacy Suite</span> for all your devices.
    </div>

    <div class="text">
      <span class="highlight">100% Money-Back Guarantee</span> in your first 30 days of service.
    </div>
  </div>

  <div class="page-divider"></div>

  <div class="select-plan">
    <div class="page-number one">
      <div>
        <div class="number">1</div>
        Select a plan that works for you
      </div>
    </div>

    <app-price-boxes [btc]="showBTC"></app-price-boxes>
  </div>

  <div class="page-divider"></div>

  <div class="account-creation">
    <div class="page-number">
      <div>
        <div class="number">2</div>
        Create your secure account
      </div>
    </div>

    <app-account-creation-form [accountFormData]="accountFormData" #accounts></app-account-creation-form>
  </div>

  <div class="page-divider"></div>

  <div class="payment-selection">
    <div class="page-number">
      <div>
        <div class="number">3</div>
        Select a payment option
      </div>
    </div>

    <app-payment-selection [paymentMethod]="paymentMethod" (selectOption)="selectOption($event)"></app-payment-selection>
  </div>

  <div class="payment-info">
    <div class="credit-card" *ngIf="paymentMethod === 'cc'">

      <app-stripe-cc-form [stripeFormData]="stripeFormData"></app-stripe-cc-form>

      <div class="pre-text tall">
        To finish sign-up, click on the "Proceed" button.
      </div>

      <div class="price">
        Order Total: <span class="total-price">${{ plansService.selectedPlan.total }}</span>
        <div class="billing-rate">
          Cypherpunk Privacy {{ plansService.selectedPlan.rate }} (${{ plansService.selectedPlan.price }} per month, every {{ plansService.selectedPlan.months }} months)
        </div>
      </div>

      <div class="pay">
        <button class="btn green" [disabled]="!stripeFormData.form.valid || !accountFormData.validation.email || !accountFormData.form.valid || disablePayment" (click)="getToken()">
          Proceed
        </button>
      </div>

      <div class="upgrade">
        <a routerLink="/account">Already have an account? Upgrade here</a>
      </div>
      <div class="agree">
        By proceeding you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
      </div>
    </div>

    <div class="amazon" [hidden]="paymentMethod !== 'a'">
      <app-amazon #amazon [billingAgreementId]="billingAgreementId" (updateBillingId)="updateBillingId($event)" [hidden]="paymentMethod !== 'a'"></app-amazon>

      <div class="pre-text tall">
        To finish sign-up, click on the "Proceed" button.
      </div>

      <div class="price" *ngIf="paymentMethod === 'a'">
        Order Total: <span class="total-price">${{ plansService.selectedPlan.total }}</span>
        <div class="billing-rate">
          Cypherpunk Privacy {{ plansService.selectedPlan.rate }} (${{ plansService.selectedPlan.price }} per month, every {{ plansService.selectedPlan.months }} months)
        </div>
      </div>

      <div class="pay">
        <button id="payWithAmazon" class="btn green" (click)="payWithAmazon()" [style.display]="'none'" [disabled]="!accountFormData.form.valid || !accountFormData.validation.email || disablePayment">
          Pay With Amazon
        </button>
      </div>

      <div class="upgrade">
        <a routerLink="/account">Already have an account? Upgrade here</a>
      </div>
      <div class="agree">
        By Paying with Amazon you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
      </div>
    </div>

    <div class="paypal" *ngIf="paymentMethod === 'pp'">
      <div class="pre-text">
        To finish sign-up, click on the "Continue to Paypal" button.
      </div>

      <div class="price">
        Order Total: <span class="total-price">${{ plansService.selectedPlan.total }}</span>
        <div class="billing-rate">
          Cypherpunk Privacy {{ plansService.selectedPlan.rate }} (${{ plansService.selectedPlan.price }} per month, every {{ plansService.selectedPlan.months }} months)
        </div>
      </div>

      <div class="pay">
        <button class="btn green" (click)="payWithPaypal()" [disabled]="!accountFormData.form.valid || !accountFormData.validation.email || disablePayment">
          Continue to Paypal
        </button>
      </div>

      <div class="upgrade">
        <a routerLink="/account">Already have an account? Upgrade here</a>
      </div>
      <div class="agree">
        By continuing to PayPal you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
      </div>

      <app-paypal [userId]="userId" #paypal></app-paypal>
    </div>

    <div class="bitcoin" *ngIf="paymentMethod === 'bc'">
      <div class="pre-text">
        To finish sign-up, click on the "Continue to BitPay" button.
      </div>

      <div class="price">
        Order Total:
        <span class="total-price">
          {{ '₿ ~' + plansService.selectedPlan.bcTotal + ' BTC' }}
        </span>
        <div class="billing-rate">
          Cypherpunk Privacy {{ plansService.selectedPlan.rate }} (₿ ~ {{ plansService.selectedPlan.bcPrice }} per month, every {{ plansService.selectedPlan.months }} months)
        </div>
      </div>

      <div class="pay">
        <button class="btn green" (click)="payWithBitpay()" [disabled]="!accountFormData.form.valid || !accountFormData.validation.email || disablePayment">
          Continue to BitPay
        </button>
      </div>

      <div class="upgrade">
        <a routerLink="/account">Already have an account? Upgrade here</a>
      </div>
      <div class="agree">
        By continuing to BitPay you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
      </div>

      <app-bitpay [userId]="userId" #bitpay></app-bitpay>
    </div>
  </div>

  <div class="page-divider"></div>

  <div class="page-number">
    <div class="text">Cypherpunk Privacy Features</div>
  </div>

  <div class="features">
    <div class="feature">
      <img src="/assets/payment/features1.png" alt="">
      <div class="text">
        24/7 Instant Support Live Chat
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features2.png" alt="">
      <div class="text">
        Ultra Fast Servers in 20+ countries
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features3.png" alt="">
      <div class="text">
        Friendly Apps
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features4.png" alt="">
      <div class="text">
        Official Support
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features5.png" alt="">
      <div class="text">
        Strong Encryption Profiles
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features6.png" alt="">
      <div class="text">
        Max Speed & Unlimited Bandwidth
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features7.png" alt="">
      <div class="text">
        Automatically Secure Public WiFi
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features8.png" alt="">
      <div class="text">
        30 Days Risk Free Refund Policy
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features9.png" alt="">
      <div class="text">
        5 Simultaneous Connections
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features10.png" alt="">
      <div class="text">
        Smart Play For Video Streaming
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features11.png" alt="">
      <div class="text">
        No Logging Policy
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features12.png" alt="">
      <div class="text">
        Supports P2P
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features13.png" alt="">
      <div class="text">
        OpenVPN, IPsec, IKEv2 VPN Support
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features14.png" alt="">
      <div class="text">
        HTTP, HTTPS, SOCKS5 Proxy Support
      </div>
    </div>

    <div class="feature">
      <img src="/assets/payment/features15.png" alt="">
      <div class="text">
        Block Ads, Trackers, and Malware
      </div>
    </div>
  </div>
</div>

<div class="countries">
  <div class="inner">
    <div class="half">
      <div class="countries-header">Our Countries are: </div>
      <img class="flags" src="/assets/payment/flags.png" alt="">
    </div>

    <div class="half">
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': modal.show}">
  <div class="background" (click)="modal.show = false" [ngClass]="{'open': modal.show}"></div>
  <div class="modal-content">
    <div class="modal-header">{{ modal.header}}</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <p>
        {{ modal.body}}
      </p>

      <a routerLink="/account" *ngIf="modal.link">My Account</a>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="modal.show = false">Close</button>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': this.accountFormData.validation.warning}">
  <div class="background" (click)="this.accountFormData.validation.warning = false" [ngClass]="{'open': this.accountFormData.validation.warning}"></div>
  <div class="modal-content">
    <div class="modal-header">It looks like you're already a Cypherpunk!</div>
    <div class="modal-line"></div>

    <div class="modal-body">
      <p>Why not upgrade your account here: </p>

      <a routerLink="/account">My Account</a>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="this.accountFormData.validation.warning = false">Close</button>
    </div>
  </div>
</div>

<app-loading [state]="loading"></app-loading>
