<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>
  </div>

  <div class="page">
    <div class="page-header" [hidden]="amazonHide">
      <div class="title">Choose your Cypherpunk Privacy plan</div>

      <div class="text">
        Get complete protection using <span class="highlight">Cypherpunk Privacy Suite</span> on all your devices. <span class="highlight">100% Money-Back Guarantee</span> in your first 30 days of service.
      </div>
    </div>

    <div class="select-plan" [hidden]="amazonHide">
      <div class="page-number one">
        <div>
          <div class="number">1</div>
          <span class="highlight">Select</span> a plan that works for you
        </div>
      </div>

      <app-price-boxes #priceBoxes [btc]="showBTC" [planData]="planData"></app-price-boxes>
    </div>

    <div class="account-creation" [hidden]="amazonHide">
      <div class="page-number two">
        <div>
          <div class="number">2</div>
          Create your secure account
        </div>
      </div>

      <div class="upgrade">
        <a routerLink="/account">Already have an account? Upgrade here</a>
      </div>

      <app-account-creation-form [accountFormData]="accountFormData" #accounts></app-account-creation-form>
    </div>

    <div class="payment-selection" [hidden]="amazonHide">
      <div class="page-number">
        <div>
          <div class="number">3</div>
          Select a payment option
        </div>
      </div>

      <app-payment-selection [paymentMethod]="paymentMethod" (selectOption)="selectOption($event)"></app-payment-selection>
    </div>

    <div class="payment-container-single" [ngClass]="{'show-tall': paymentMethod === 'cc'}">
      <div class="credit-card payment-info">
        <app-stripe-cc-form [stripeFormData]="stripeFormData"></app-stripe-cc-form>

        <div class="price tall">
          Order Total: <span class="total-price">
            ${{ planData.selected?.price | number:'.2-2' }}
          </span>
          <div class="billing-rate">
            Cypherpunk Privacy {{ planData.selected?.rate }} (${{ planData.selected?.price / planData.selected?.months | number:'.2-2' }} per month, every {{ planData.selected?.months }} months)
          </div>
        </div>

        <div class="pay">
          <button class="btn green" (click)="getToken()">
            Join Now
          </button>

          <br />
          <div class="secure">
            <i class="fa fa-lock"></i>
            Secure checkout. You're 100% backed by our 30-Day Money-Back Guarantee.
          </div>
        </div>

        <div class="agree">
          By proceeding you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
        </div>
      </div>
    </div>

    <div class="payment-container-single" [ngClass]="{'show': paymentMethod === 'a'}">
      <div class="amazon payment-info">
        <div class="leave-warning">
          You will be redirected to Amazon to securely login your Amazon account.
        </div>

        <div class="price">
          Order Total: <span class="total-price">
            ${{ planData.selected?.price | number:'.2-2' }}
          </span>
          <div class="billing-rate">
            Cypherpunk Privacy {{ planData.selected?.rate }} (${{ planData.selected?.price / planData.selected?.months | number:'.2-2' }} per month, every {{ planData.selected?.months }} months)
          </div>
        </div>

        <app-amazon #amazon [billingAgreementId]="billingAgreementId" (updateAmazonHide)="updateAmazonHide($event)" (updateBillingId)="updateBillingId($event)" (updateAmazonRecurringEnabled)="updateAmazonRecurringEnabled($event)" [hidden]="paymentMethod !== 'a'"></app-amazon>

        <div class="amazon-pay">
          <button id="payWithAmazon" class="btn green" (click)="payWithAmazon()" [style.display]="'none'">
            Join Now
          </button>
        </div>

        <div class="agree">
          By continuing to Amazon you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
        </div>
      </div>
    </div>

    <div class="payment-container-single" [ngClass]="{'show': paymentMethod === 'pp'}">
      <div class="paypal payment-info">
        <div class="leave-warning">
          You will be redirected to PayPal to complete your purchase securely.
        </div>

        <div class="price">
          Order Total: <span class="total-price">
            ${{ planData.selected?.price | number:'.2-2' }}
          </span>
          <div class="billing-rate">
            Cypherpunk Privacy {{ planData.selected?.rate }} (${{ planData.selected?.price / planData.selected?.months | number:'.2-2' }} per month, every {{ planData.selected?.months }} months)
          </div>
        </div>

        <div class="pay">
          <button class="btn green" (click)="payWithPaypal()">
            Continue to Paypal
          </button>
        </div>

        <div class="agree">
          By continuing to PayPal you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
        </div>

        <app-paypal [planData]="planData" #paypal></app-paypal>
      </div>
    </div>

    <div class="payment-container-single" [ngClass]="{'show': paymentMethod === 'bc'}">
      <div class="bitcoin payment-info">
        <div class="leave-warning">
          You will be redirected to BitPay to complete your purchase securely.
        </div>

        <div class="price">
          Order Total: <span class="total-price">
            {{ '₿ ' + planData.selected?.bcPrice + ' BTC' }}
          </span>
          (${{ planData.selected?.price | number:'.2-2'}})
          <div class="billing-rate">
            Cypherpunk Privacy {{ planData.selected?.rate }}
          </div>
        </div>

        <div class="pay">
          <button class="btn green" (click)="payWithBitpay()">
            Continue to BitPay
          </button>
        </div>

        <div class="agree">
          By continuing to BitPay you agree to our <a routerLink="/terms-of-service">terms of service</a> and <a routerLink="/privacy-policy">privacy policy</a>
        </div>

        <app-bitpay [planData]="planData" #bitpay></app-bitpay>
      </div>
    </div>
  </div>

  <div class="includes">
    <div class="includes-inner">
      <div class="includes-header">
        Cypherpunk Privacy includes:
      </div>

      <div class="columns">
        <div class="column">
          <ul>
            <li>24/7 Premium customer support</li>
            <li>Access to VPN servers in 25+ countries</li>
            <li>No Data or Traffic logs</li>
            <li>Apps for <img src="/assets/payment/available-apps@2x.png" srcset="/assets/payment/available-apps.png 500w, /assets/payment/available-apps@2x.png 1000w"> and more!</li>
            <li>OpenVPN, IKEv2 and IPsec VPN protocols</li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li>Connect 7 Devices At The Same Time</li>
            <li>Fast Video Streaming with CypherPlay™</li>
            <li>Best in class Security and Encryption</li>
            <li>Unlimited Bandwidth and Traffic</li>
            <li>OpenVPN, IKEv2 and IPsec VPN protocols</li>
          </ul>
        </div>

        <div class="column">
          <ul>
            <li>30 days Risk Free Refund Policy</li>
            <li>Anonymous and Unlimited P2P traffic</li>
            <li>Ad and tracker-free browsing experience</li>
            <li>Full cloud-based malware protection</li>
            <li>Automatic Wi-Fi Security</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-inner">
    <div class="copy">
      <div routerLink="/">
        <a routerLink="/">
          <img src="/assets/logo@2x.png" srcset="/assets/logo.png 500w, /assets/logo@2x.png 1000w" width="230" height="40" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
        </a>
      </div>

      <div class="footer-copyright">
        &copy; 2017 Cypherpunk Partners, slf.
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': modal.show}">
  <div class="background" (click)="modal.show = false" [ngClass]="{'open': modal.show}"></div>
  <div class="modal-content" [ngClass]="{'open': modal.show}">
    <div class="modal-header">{{ modal.header}}</div>

    <div class="modal-body">
      <p>
        {{ modal.body}}
      </p>

      <a routerLink="/account" *ngIf="modal.link">My Account</a>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="modal.show = false">Close</button>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'open': this.accountFormData.validation.warning}">
  <div class="background" (click)="this.accountFormData.validation.warning = false" [ngClass]="{'open': this.accountFormData.validation.warning}"></div>
  <div class="modal-content" [ngClass]="{'open': this.accountFormData.validation.warning}">
    <div class="modal-header">It looks like you're already a Cypherpunk!</div>

    <div class="modal-body">
      <p>Why not upgrade your account here: </p>

      <a routerLink="/account">My Account</a>
    </div>

    <div class="modal-footer">
      <button class="btn teal" (click)="this.accountFormData.validation.warning = false">Close</button>
    </div>
  </div>
</div>

<app-loading [state]="loading"></app-loading>
