.wrapper { min-height: 100%; margin-bottom: -162px; }
.wrapper:after { content: ''; display: block; }
.footer, .wrapper:after { height: 162px;}

.page {
  width: 100%;
  max-width: 1000px;
  padding: 20px 15px 35px;
  margin: auto;
}

.page-header {
  text-align: left;

  .title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px auto;
    color: #4a991c;
  }

  .text {
    font-size: 14px;
    line-height: 14px;
    color: #7f7979;
    margin: auto;
    .highlight { font-weight: bold; color: #000; }
  }
}

.page-number {
  text-align: left;
  margin: 30px 0;
  font-size: 24px;
  color: #163238;

  &.one { margin: 30px auto; }
  &.two { margin: 10px auto 30px; }

  .number {
    display: inline-block;
    background-color: #4a991c;
    border-radius: 50px;
    margin: 0 10px 0 0;
    color: #fff;
    width: 28px;
    text-align: center;
  }
}

.account-creation {
  width: 100%;
  margin: auto;

  .upgrade {
    padding: 0 10px;
    margin: -10px 0 0;
  }
}

.payment-selection { width: 100%; margin: auto; }

.payment-info {
  width: 100%;
  border: 2px solid #f0ecec;
  border-radius: 5px;
  margin: 50px auto 10px;
  padding: 30px 35px 40px;

  .pre-text { font-size: 14px; padding: 10px 0 40px; }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #163238;
    &.tall { padding: 15px 0 0; }
    .total-price { color: #67b23f; }
    .billing-rate {
      margin: 10px 0 0;
      font-size: 14px;
      color: #7f7979;
      text-transform: capitalize;
    }
  }

  .pay {
    padding: 20px 0 0;
    .btn { width: 280px; margin: 0; }
    .secure { padding: 10px 0 0; color: #7f7979; font-size: 12px; font-weight: bold; }
  }

  .amazon-pay {
    .btn { width: 280px; margin: 0; }
  }

  .agree { font-size: 14px; padding: 20px 0 0; }
}

.footer {
  width: 100%;
  background-color: #163138;
  padding: 30px 0 50px;

  .footer-inner { width: 100%; max-width: 1000px; margin: auto; }
  .copy { width: 250px; text-align: center; color: #8DFFFB; }
  .footer-copyright { font-size: 14px; }
}

.btn {
  width: 341px;
  height: 60px;
  margin: 25px auto 25px;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .page { padding: 25px 10px 35px; }
  .page-header { padding: 0 10px; }
}

@media (max-width: 700px) {
  .payment-info .total {
    padding: 20px 20px;

    .price { width: 100%; text-align: center; }
    .pay { width: 100%; margin: 25px 0 0; .btn { width: 100%; } }
  }
}

@media (max-width: 375px) {
  .fake-nav .nav-left { width: 100%; text-align: center; padding: 15px; }
  .payment-info { padding: 10px 10px 20px; }
  .btn { width: 100%; }
}
