<app-acc-nav></app-acc-nav>

<div class="page">

  <div class="mobile-header">
    Select your plan
  </div>

  <div class="pricing">
    <div class="blimp-container">
      <div class="blimp">Best Value!</div>
    </div>

    <div class="price-box" (click)="selectPlan(plans[0].id)" [ngClass]="{ 'active': plans[0].selected }">
      <div class="checkmark">
        <div class="check" [ngClass]="{'active': plans[0].selected}">&#10003;</div>
      </div>
      <div class="period" [ngClass]="{'active': plans[0].selected}">
        {{plans[0].period}}
      </div>
      <div class="price-area">
        <span class="price" [ngClass]="{'active': plans[0].selected}">
          $ {{plans[0].price}}
        </span>
        <span class="price-time"> / month</span>
      </div>
      <div class="yearly" [ngClass]="{'active': plans[0].selected}" [innerHTML]="plans[0].yearly"></div>
    </div>

    <div class="mobile-blimp-container">
      <div class="blimp">Best Value!</div>
    </div>

    <div class="price-box" (click)="selectPlan(plans[1].id)" [ngClass]="{ 'active': plans[1].selected }">
      <div class="checkmark">
        <div class="check" [ngClass]="{'active': plans[1].selected}">&#10003;</div>
      </div>
      <div class="period" [ngClass]="{'active': plans[1].selected}">
        {{plans[1].period}}
      </div>
      <div class="price-area">
        <span class="price" [ngClass]="{'active': plans[1].selected}">
          $ {{plans[1].price}}
        </span>
        <span class="price-time"> / month</span>
      </div>
      <div class="yearly" [ngClass]="{'active': plans[1].selected}" [innerHTML]="plans[1].yearly"></div>
    </div>

    <div class="price-box" (click)="selectPlan(plans[2].id)" [ngClass]="{ 'active': plans[2].selected }">
      <div class="checkmark">
        <div class="check" [ngClass]="{'active': plans[2].selected}">&#10003;</div>
      </div>
      <div class="period" [ngClass]="{'active': plans[2].selected}">
        {{plans[2].period}}
      </div>
      <div class="price-area">
        <span class="price" [ngClass]="{'active': plans[2].selected}">
          $ {{plans[2].price}}
        </span>
        <span class="price-time"> / month</span>
      </div>
      <div class="yearly" [ngClass]="{'active': plans[2].selected}" [innerHTML]="plans[2].yearly"></div>
    </div>
  </div>

  <div class="payment-selection">
    <div class="payment-bg">
      <div class="type-container" (click)="selectOption(paymentOptions[0])" [ngClass]="{'active': paymentOptions[0].selected}">
        <div class="icon-container">
          <img src="/assets/payment/icon-payment-card.png" *ngIf="paymentOptions[0].selected">
          <img src="/assets/payment/icon-payment-card-gray.png" *ngIf="!paymentOptions[0].selected">
        </div>
        <div class="type-title">Credit Card</div>
      </div>

      <div class="type-container" (click)="selectOption(paymentOptions[1])" [ngClass]="{'active': paymentOptions[1].selected}">
        <div class="icon-container">
          <img src="/assets/payment/icon-payment-paypal.png" *ngIf="paymentOptions[1].selected">
          <img src="/assets/payment/icon-payment-paypal-gray.png" *ngIf="!paymentOptions[1].selected">
        </div>
        <div class="type-title">PayPal</div>
      </div>

      <div class="type-container" (click)="selectOption(paymentOptions[2])" [ngClass]="{'active': paymentOptions[2].selected}">
        <div class="icon-container">
          <img src="/assets/payment/icon-payment-bitcoin.png" *ngIf="paymentOptions[2].selected">
          <img src="/assets/payment/icon-payment-bitcoin-gray.png" *ngIf="!paymentOptions[2].selected">
        </div>
        <div class="type-title">BitCoin</div>
      </div>

      <div class="type-container" (click)="selectOption(paymentOptions[3])" [ngClass]="{'active': paymentOptions[3].selected}">
        <div class="other-icon">
          <img class="short" src="/assets/payment/icon-payment-other.png" *ngIf="paymentOptions[3].selected">
          <img class="short" src="/assets/payment/icon-payment-other-gray.png" *ngIf="!paymentOptions[3].selected">
        </div>
        <div class="type-title">Amazon</div>
      </div>
    </div>
  </div>

  <div class="payment-info">

    <div class="credit-card" *ngIf="paymentOptions[0].selected">
      <div class="separator">Create Account</div>
      <div class="clear"></div>

      <div class="info">
        <p>
          <label>Email</label><br>
          <input type="email" [(ngModel)]="email" disabled>
        </p>
      </div>

      <div class="separator">Card Details</div>
      <div class="clear"></div>

      <div class="info">
        <p>
          <label>Name</label><br>
          <input type="text" placeholder="John Smith" required [(ngModel)]="name">
        </p>
      </div>

      <div class="info">
        <p>
          <label>Card Number</label><br>
          <input type="text" required [(ngModel)]="cardNumber">
        </p>
      </div>

      <div class="info">
        <p class="half">
          <label>Expiration Date</label><br>
          <input type="text" placeholder="mm/yy" required [(ngModel)]="expiryDate">
        </p>

        <p class="half">
          <label>CVV/CSC Code</label><br>
          <input type="number" required [(ngModel)]="cvc" size="4">
        </p>
      </div>

      <div class="total">
        ORDER TOTAL: <span class="total-price">{{ selectedPlan.total }}</span>
      </div>

      <button class="btn blue" [ngClass]="{'disabled': !validateCC()}" (click)="getToken()">
        Upgrade Now
      </button>
      <div class="stripe-message" [ngClass]="messageClass">{{message}}</div>
    </div>

    <div class="paypal" *ngIf="paymentOptions[1].selected">
      <div class="info">
        <p>
          <label>Email</label><br>
          <input type="email" placeholder="you@example.com" disabled [(ngModel)]="email">
        </p>
      </div>

      <div class="total">
        ORDER TOTAL: <span class="total-price">{{ selectedPlan.total }}</span>
      </div>

      <button class="btn blue" (click)="payWithPaypal()">
        Join Cypherpunk
      </button>

      <form ngNoForm action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" [style.display]="'none'">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="XKNN842WGTDFS">
        <input type="hidden" name="item_number" value="monthly999">
        <input type="hidden" name="custom" [(ngModel)]="email">
        <input type="hidden" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <button id="paypalMonthly" class="btn blue" name="submit">
          Monthly
        </button>
      </form>

      <form ngNoForm action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" [style.display]="'none'">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HMGW328J6EN7N">
        <input type="hidden" name="item_number" value="annually8004">
        <input type="hidden" name="custom" [(ngModel)]="email">
        <input type="hidden" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <button id="paypalAnnual" class="btn blue" name="submit">
          Annually
        </button>
      </form>

      <form ngNoForm action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top" [style.display]="'none'">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="KBUPJRS6WGBA2">
        <input type="hidden" name="item_number" value="semiannually4998">
        <input type="hidden" name="custom" [(ngModel)]="email">
        <input type="hidden" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribe_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <button id="paypalSemiannual" class="btn blue" name="submit">
          Semiannually
        </button>
      </form>
    </div>

    <div class="bitcoin" *ngIf="paymentOptions[2].selected">
      <div class="total">
        ORDER TOTAL: <span class="total-price">{{ selectedPlan.total }}</span>
      </div>

      <button class="btn blue" (click)="goToBitPay()">
        Continue to BitPay
      </button>
    </div>

    <div class="other" *ngIf="paymentOptions[3].selected">
      <div class="total">
        ORDER TOTAL: <span class="total-price">{{ selectedPlan.total }}</span>
      </div>

      <div id="AmazonPayButton"></div>

      <div id="walletWidgetDiv"></div>

      <div id="consentWidgetDiv"></div>

      <button id="payWithAmazon" class="btn blue" (click)="amazonButton()" [style.display]="'none'">
        Pay Now
      </button>
    </div>

  </div>
</div>

<div class="clear"></div>

<app-footer></app-footer>
