<div class="wrapper">
  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="header white">Log In</h1>
    <div class="masthead-image">
      <img src="/assets/web-hero-login.png" alt="Login">
    </div>
  </div>

  <div>
    <form>
      <p>
        <label for="username">Username / Email</label><br>
        <input id="login-username" type="text" name="username" [(ngModel)]="user.login" placeholder="Username / Email" autofocus>
      </p>

      <p>
        <label for="password">Password</label><br>
        <input type="password" name="password" [(ngModel)]="user.password" (keyup.enter)="login()">
      </p>

      <p class="center">
        <button class="btn blue" type="button" (click)="login()" [disabled]="!validateLogin() || loginButtonDisabled">
          Log In
        </button>
      </p>

      <p class="center">
        <a class="login-link" routerLink="/recover">Forgot Password?</a>
      </p>
    </form>
  </div>
</div>

<app-footer></app-footer>
