<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">About Cypherpunk</h1>
  </div>

  <div class="team">
    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/punk@2x.png" srcset="/assets/aboutus/punk.png 500w, /assets/aboutus/punk@2x.png 1000w" alt="Punk">
      </div>

      <div class="text">
        <div class="name">Punk</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/zero@2x.png" srcset="/assets/aboutus/zero.png 500w, /assets/aboutus/zero@2x.png 1000w" alt="Zero">
      </div>

      <div class="text">
        <div class="name">Zero</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/satoshi@2x.png" srcset="/assets/aboutus/satoshi.png 500w, /assets/aboutus/satoshi@2x.png 1000w" alt="Satoshi">
      </div>

      <div class="text">
        <div class="name">Satoshi</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/one@2x.png" srcset="/assets/aboutus/one.png 500w, /assets/aboutus/one@2x.png 1000w" alt="One">
      </div>

      <div class="text">
        <div class="name">One</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/two@2x.png" srcset="/assets/aboutus/two.png 500w, /assets/aboutus/two@2x.png 1000w" alt="Two">
      </div>

      <div class="text">
        <div class="name">Two</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/three@2x.png" srcset="/assets/aboutus/three.png 500w, /assets/aboutus/three@2x.png 1000w" alt="Three">
      </div>

      <div class="text">
        <div class="name">Three</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/four@2x.png" srcset="/assets/aboutus/four.png 500w, /assets/aboutus/four@2x.png 1000w" alt="Three">
      </div>

      <div class="text">
        <div class="name">Four</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img class="width" src="/assets/aboutus/five@2x.png" srcset="/assets/aboutus/five.png 500w, /assets/aboutus/five@2x.png 1000w" alt="Three">
      </div>

      <div class="text">
        <div class="name">Five</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/six@2x.png" srcset="/assets/aboutus/six.png 500w, /assets/aboutus/six@2x.png 1000w" alt="Three">
      </div>

      <div class="text">
        <div class="name">Six</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/seven@2x.png" srcset="/assets/aboutus/seven.png 500w, /assets/aboutus/seven@2x.png 1000w" alt="Three">
      </div>

      <div class="text">
        <div class="name">Seven</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>

    <div class="teammate">
      <div class="image">
        <img src="/assets/aboutus/eight@2x.png" srcset="/assets/aboutus/eight.png 500w, /assets/aboutus/eight@2x.png 1000w" alt="Three">
      </div>

      <div class="text">
        <div class="name">Eight</div>

        <div class="description">
          Lorem Ipsum is simple dummy text of the printing and typesetting industry.
        </div>
      </div>
    </div>
  </div>

  <div class="cta-container bottom">
    <div class="call-to-action">
      <a routerLink="/download">
        <button class="btn orange">START MY FREE PREVIEW</button>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>
