<div class="wrapper">

  <div class="masthead">
    <app-nav></app-nav>

    <h1 class="masthead-header header white">About Cypherpunk</h1>

    <div class="masthead-image">
      <img src="/assets/aboutus/masthead@2x.png" srcset="/assets/aboutus/masthead.png 500w, /assets/aboutus/masthead@2x.png 1000w" alt="">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/zero@2x.png" srcset="/assets/aboutus/zero.png 500w, /assets/aboutus/zero@2x.png 1000w">
    </div>

    <div class="text">
      <div class="name">Zero</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/satoshi@2x.png" srcset="/assets/aboutus/satoshi.png 500w, /assets/aboutus/satoshi@2x.png 1000w">
    </div>

    <div class="text right">
      <div class="name">Satoshi</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/satoshi@2x.png" srcset="/assets/aboutus/satoshi.png 500w, /assets/aboutus/satoshi@2x.png 1000w">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/one@2x.png" srcset="/assets/aboutus/one.png 500w, /assets/aboutus/one@2x.png 1000w">
    </div>

    <div class="text">
      <div class="name">One</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/two@2x.png" srcset="/assets/aboutus/two.png 500w, /assets/aboutus/two@2x.png 1000w">
    </div>

    <div class="text right">
      <div class="name">Two</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/two@2x.png" srcset="/assets/aboutus/two.png 500w, /assets/aboutus/two@2x.png 1000w">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/three@2x.png" srcset="/assets/aboutus/three.png 500w, /assets/aboutus/three@2x.png 1000w">
    </div>

    <div class="text">
      <div class="name">Three</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/four@2x.png" srcset="/assets/aboutus/four.png 500w, /assets/aboutus/four@2x.png 1000w">
    </div>

    <div class="text right">
      <div class="name">Four</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/four@2x.png" srcset="/assets/aboutus/four.png 500w, /assets/aboutus/four@2x.png 1000w">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/five@2x.png" srcset="/assets/aboutus/five.png 500w, /assets/aboutus/five@2x.png 1000w">
    </div>

    <div class="text">
      <div class="name">Five</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="teammate">
    <div class="image mobile">
      <img src="/assets/aboutus/six@2x.png" srcset="/assets/aboutus/six.png 500w, /assets/aboutus/six@2x.png 1000w">
    </div>

    <div class="text right">
      <div class="name">Six</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>

    <div class="image desktop">
      <img src="/assets/aboutus/six@2x.png" srcset="/assets/aboutus/six.png 500w, /assets/aboutus/six@2x.png 1000w">
    </div>
  </div>

  <div class="teammate">
    <div class="image">
      <img src="/assets/aboutus/seven@2x.png" srcset="/assets/aboutus/seven.png 500w, /assets/aboutus/seven@2x.png 1000w">
    </div>

    <div class="text">
      <div class="name">Seven</div>

      <div class="description">
        Lorem Ipsum is simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500's.
      </div>
    </div>
  </div>

  <div class="bottom-callout">
    <div class="bottom-header header white">Join Us!</div>

    <div class="bottom-buttons">
      <a routerLink="/pricing">
        <button class="btn orange left">
          GET CYPHERPUNK NOW
        </button>
      </a>

      <div class="middle"><span>Or</span></div>

      <a routerLink="/download">
        <button class="btn orange right">
          START MY FREE PREVIEW
        </button>
      </a>
    </div>
  </div>

</div>

<app-footer></app-footer>
