<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header header white">Terms of Service</div>
</div>

<div class="content">
  <p>
    The following text outlines the terms of use of the Cypherpunk Privacy applications and website.
  </p>

  <br><br>

  <div class="header blue">Acceptance of Terms</div>

  <hr />

  <p>
    The contract below outlines Cypherpunk Privacy’s terms of service (“the Agreement”). By downloading, installing and using Cypherpunk Privacy products and services (“the Services”) you agree and acknowledge that you have read and accept this Agreement in its entirety, and agree to be bound by its terms. These terms of service apply to all users of the Services, including users with paid accounts.  This is a legal document. If you use Cypherpunk Privacy, you agree to the terms.
  </p>

  <p>
    Cypherpunk Privacy Inc. (“Cypherpunk Privacy”) reserves the right, at its sole discretion, to modify or replace the terms of this Agreement at any time. If the alterations constitute a material change, Cypherpunk Privacy will notify you by posting an announcement on the Cypherpunk Privacy website. What constitutes a material change will be determined at Cypherpunk Privacy’s sole discretion. You shall be responsible for reviewing and becoming familiar with any such modifications. Using our Services following notification of a material change to this Agreement shall constitute your acceptance of the Agreement as modified.
  </p>


  <br><br>

  <div class="header blue">1. LICENSE</div>

  <hr />

  <p>
    Cypherpunk Privacy grants you a non-exclusive, non-transferable right to use the service, solely for your own personal purposes subject to the terms and conditions of this Agreement. All rights not expressly granted to you are reserved by Cypherpunk Privacy.
  </p>

  <p>
    You shall not, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Services in any way. You shall not build a product using similar ideas, features, functions or graphics of the Service or copy any ideas, features, functions or graphics of the Services. 	You can’t copy how it works (especially those wonderful on/off dials, that would be impossible)
  </p>

  <p>
    You may use the service only for personal purposes and shall not: send spam or otherwise duplicative or unsolicited messages in violation of applicable laws; (ii) send infringing, obscene, threatening, libelous, or otherwise unlawful or tortuous material, including material harmful to children or violate third party privacy rights; (iii) send or store material containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts, agents or programs; (iv) interfere with or disrupt the integrity or performance of the Service or the data contained therein; or (v) attempt to gain unauthorized access to the Service or its related systems or networks. You can’t use Cypherpunk Privacy for any mischievous activities.
  </p>

  <br><br>

  <div class="header blue">2. THE SERVICE</div>

  <hr />

  <p>
    Cypherpunk Privacy is providing this service on an “as is, as available” basis without representation or warranty of any kind. Cypherpunk Privacy does not guarantee as to the continuous availability of the service or of any specific feature(s) of the service. Cypherpunk Privacy will inform you of any significant changes to the service it may occasionally make. Cypherpunk Privacy may impose usage or service limits, suspend service, or block certain kinds of usage at our sole discretion. The accuracy and timeliness of data received is not guaranteed; delays or omissions may occur.
  </p>

  <p>
    The speed and quality of the Service may vary and the Service is subject to unavailability, including emergencies, third party service failures, transmission, equipment or network problems or limitations, interference, signal strength, and maintenance and repair, and may be interrupted, refused, limited or curtailed. Cypherpunk Privacy is not responsible for any failures to maintain the confidentiality, security, accuracy or quality of your data, messages or pages whether or not related to interruptions or performance issues with the Service.
  </p>

  <br><br>

  <div class="header blue">3. USER RESPONSIBILITIES</div>

  <hr />

  <p>
    A computer or other equipment enabled to access the Internet (“Device”) is required to utilize the Service. You are solely responsible for ensuring that your Device is sufficient and compatible for use with the Service.  You aren’t allowed to do illegal stuff with Cypherpunk Privacy.
  </p>

  <p>
    Cypherpunk Privacy may not be used to misrepresent or to act on behalf of others. All messages you transmit through our Services shall identify You as the sender. You may not:
  </p>

  <ul>
    <li>
      Alter the attribution of origin in electronic mail messages or posting
    </li>
    <li>
      Use the Service for anything other than lawful purposes
    </li>
    <li>
      Use the Services for commercial gain
    </li>
    <li>
      Use Cypherpunk Privacy to mask their identity for illegal or malicious purposes
    </li>
    <li>
      Distribute copyright-protected material through our servers
    </li>
    <li>
      Take any action that results in an unreasonable load on Cypherpunk Privacy’s infrastructure
    </li>
    <li>
      Use any 3rd party software to interfere with or attempt to interfere with the Services
    </li>
  </ul>

  <p>
    You shall at all times abide by all applicable local, state, national and foreign laws, treaties and regulations in connection with your use of the Services, including those related to data privacy, international communications and the transmission of technical or personal data. If Cypherpunk Privacy is contacted with a complaint regarding or arising from your use of the Services, Cypherpunk Privacy may deem your service usage in violation of this Agreement and terminate your account without notice.
  </p>

  <br><br>

  <div class="header blue">4. TRADEMARKS</div>

  <hr />

  <p>
    Cypherpunk Privacy graphics, logos, designs, page headers, button icons, scripts, and service names are trademarks, trademarks or trade dress of Cypherpunk Privacy Inc. Cypherpunk Privacy’s trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Cypherpunk Privacy. Cypherpunk Privacy images and icons may used by third party sites in connection with providing appropriate links to the Cypherpunk Privacy website.
  </p>

  <br><br>

  <div class="header blue">5. SERVICE SUSPENSION & TERMINATION</div>

  <hr />

  <p>
    You agree that Cypherpunk Privacy, in its sole discretion, for any or no reason, and without penalty, may terminate or suspend your use of the Service at any time. Cypherpunk Privacy may also in its sole discretion and at any time discontinue the Services in their entirety, or any part thereof, with or without notice.
  </p>

  <br><br>

  <div class="header blue">6. CANCELLATION & REFUND POLICY</div>

  <hr />

  <p>
    Many issues can contribute to sub-optimal performance (ISP, location, censorship, settings, etc). The Cypherpunk Privacy team goes to exceptional lengths to satisfy users who experience sub-optimal performance or the occasional outage. However, Cypherpunk Privacy does not offer financial reimbursement due to these issues.
  </p>

  <br><br>

  <div class="header blue">7. DISCLAIMER OF WARRANTIES</div>

  <hr />

  <p>
    Cypherpunk Privacy makes no representation, warranty, or guarantee as to the reliability, timeliness, quality, suitability, availability, accuracy or completeness of the Services. Cypherpunk Privacy does not represent or warrant that (a) the use of the Services will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (b) the Service will meet your requirements or expectations (c) errors or defects will be corrected, or (d) the Services are free of viruses or other harmful components. The Service is provided by Cypherpunk Privacy on and “as is” “as available” basis without warranties of any kind, either expressed or implied, including without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights, are hereby disclaimed to the maximum extent permitted by law. You expressly agree that use of the Services is at your sole risk.
  </p>

  <br><br>

  <div class="header blue">8. LIMITATION OF LIABILITY</div>

  <hr />

  <p>
    In no event shall Cypherpunk Privacy be liable under contract, tort, strict liability, negligence or any other legal theory with respect to the services for any lost profits or Special, indirect, incidental, punitive, or consequential damages of any kind whatsoever. Notwithstanding the foregoing, in no event shall the total liability of Cypherpunk Privacy, for all damages, losses and causes of action whether in contract, tort including negligence, or otherwise, exceed the aggregate dollar amount paid by the User claimant to Cypherpunk Privacy in the twelve months prior to the claimed loss, damages or other such alleged event giving rise to the basis of claim.
  </p>

  <br><br>

  <div class="header blue">9. RELEASE AND INDEMNITY</div>

  <hr />

  <p>
    You hereby expressly and irrevocably release and forever discharge Cypherpunk Privacy, its affiliated and associated companies, and their respective directors, officers, employees, agents, representatives, independent and dependent contractors, licensees, successors and assigns of and from any and all actions, causes of action, suits, proceedings, liability, debts, judgments, claims and demands whatsoever in law or equity which you ever had, now have, or hereafter can, shall or may have, for or by reason of, or arising directly or indirectly out of your use of the Services.
  </p>

  <p>
    You hereby agree to indemnify and hold harmless Cypherpunk Privacy, its affiliated and associated companies, and their respective directors, officers, employees, agents, representatives, independent and dependent contractors, licensees, successors and assigns from and against all claims, losses, expenses, damages and costs (including, but not limited to, direct, incidental, consequential, exemplary and indirect damages), and reasonable attorneys’ fees, resulting from or arising out of (i) a breach of this Agreement, (ii) the use of the Services, by You or any person using your account, or (iii) any violation of any rights of a third party.
  </p>

  <br><br>

</div>

<app-footer></app-footer>
