<div class="masthead">
  <app-nav></app-nav>

  <div class="masthead-header">Terms of Service</div>
</div>

<div class="content">
  <p>
    The following text outlines the terms of use of the Cypherpunk applications and website. You can also review our <a routerLink="privacy">privacy policy</a>, which outlines our practices towards handling any personal information that you may provide to us.
  </p>

  <br><br>

  <div class="header">Acceptance of Terms</div>

  <hr />

  <p>
    The contract below outlines Cypherpunk's terms of service (“the Agreement”). By downloading, installing and using Cypherpunk products and services (“the Services”) you agree and acknowledge that you have read and accept this Agreement in its entirety, and agree to be bound by its terms. These terms of service apply to all users of the Services, including users with paid accounts.
  </p>

  <p>
    Cypherpunk Inc. (“TunnelBear”) reserves the right, at its sole discretion, to modify or replace the terms of this Agreement at any time. If the alterations constitute a material change, Cypherpunk will notify you by posting an announcement on the Cypherpunk website. What constitutes a material change will be determined at Cypherpunk's sole discretion. You shall be responsible for reviewing and becoming familiar with any such modifications. Using our Services following notification of a material change to this Agreement shall constitute your acceptance of the Agreement as modified.
  </p>


  <br><br>

  <div class="header">1. Privacy Policy</div>

  <hr />

  <p>
    As a provider of an online service, we require users to provide certain information when registering to receive our Services. All information provided by Users is collected, used, maintained, shared and destroyed in accordance with TunnelBear’s Privacy Policy, available here, and incorporated into this Agreement by reference.
  </p>

  <br><br>

  <div class="subheader">1.1 Account User Data</div>

  <p>
    When you create or update your Cypherpunk user account, we collect and store this “Account Data”. The Account Data stored is listed below in its entirety:
  </p>

  <table>
    <thead>
      <tr>
        <th>Account Data</th>
        <th>What do we use it for?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First name</td>
        <td>Email and login greetings</td>
      </tr>
      <tr>
        <td>Email address</td>
        <td>General communications, purchase receipts</td>
      </tr>
      <tr>
        <td>Twitter ID (optional)</td>
        <td>Completion of our Twitter promotion</td>
      </tr>
      <tr>
        <td>Email confirmed</td>
        <td>Confirmation that your email addres is valid</td>
      </tr>
      <tr>
        <td>Paid user</td>
        <td>Provide paid user with unlimited data</td>
      </tr>
      <tr>
        <td>Paid user expiry date</td>
        <td>Provide paid service until this date</td>
      </tr>
    </tbody>
  </table>



  <br><br>

  <div class="subheader">1.5 Other Data Cypherpunk Just does NOT Collect</div>

  <p>
    Cypherpunk explicitly does NOT collect, store or log the following data:
  </p>

  <ul>
    <li>IP addresses visiting our website</li>
    <li>IP addresses upon service connection</li>
    <li>Any information about the applications, services or websites our users use while connected to our Service</li>
  </ul>
</div>

<app-footer></app-footer>
