<div class="masthead">
  <app-nav></app-nav>

  <h1 class="masthead-header header white">Terms of Service</h1>

  <div class="masthead-image">
    <img src="/assets/tos/tos.png" alt="Terms of Service">
  </div>
</div>

<div class="content">
  <p class="last-updated">
    <strong>Last Updated: 1 January 2017</strong>
  </p>

  <p>
    This website is operated by Cypherpunk Partners, Slf (Cypherpunk Partners). Your privacy on the Internet is of the utmost importance to us.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Definitions</h2>
  <div class="line"></div>

  <p class="shift">
    The following terminology applies to these Terms and Conditions, Privacy Policy and Disclaimer Notice and any or all Agreements: "Client," “You,” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company," “Ourselves,” “We,” and "Us," or Cypherpunk Partners, refers to Cypherpunk Partners, slf. “Party,” “Parties,” or “Us,” refers to both the Client and ourselves, or either the Client or ourselves.
  </p>

  <p class="shift">
    The following terminology applies to these Terms and Conditions, Privacy Policy and Disclaimer Notice and any or all Agreements: "Client," “You,” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company," “Ourselves,” “We,” and "Us," or Cypherpunk Partners, refers to Cypherpunk Partners, slf. “Party,” “Parties,” or “Us,” refers to both the Client and ourselves, or either the Client or ourselves.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Acceptance of Terms</h2>
  <div class="line"></div>

  <p class="shift">
    By signing into or accessing any of our websites or services, you agree to these Terms of Service including all other policies incorporated by reference.
  </p>

  <p class="shift">
    This is the entire agreement. We may rewrite these Terms of Service from time to time. The Terms of Service become binding from the time they are updated on our website. It is the responsibility of the user to check for updated Terms of Service from time to time.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Fair and Reasonable Use of Service</h2>
  <div class="line"></div>

  <p class="shift">
    We are providing this service on an “as is, as available” basis without representation or warranty of any kind. We do not guarantee the continuous availability of our service, or any specific feature(s) of the service. However, we will do our best to provide uninterrupted service.
  </p>

  <p class="shift">
    To the fullest extent permitted by law, we:
  </p>

  <ul class="shift">
    <li>
      exclude all representations and warranties relating to this website and its contents or which is, or may be, provided by any affiliates, or any other third party, including in relation to any inaccuracies or omissions in this website and/or Cypherpunk’s literature; and
    </li>
    <li>
      exclude all liability for damages arising out of, or in connection with, your use of this website. This includes, without limitation, direct loss, loss of business, or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things, or you have advised this Company of the possibility of such potential loss), damage caused to your computer, computer software, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages.
    </li>
  </ul>

  <p class="shift">
    The above exclusions and limitations apply only to the extent permitted by law. None of your statutory rights as a consumer are affected.
  </p>

  <p class="shift">
    You agree not to give or share your username and password to anyone, and to preserve your username/password and our service from unauthorized usage. You are responsible for every single action that occurs on our service where your username/password is used.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Prohibited Uses</h2>
  <div class="line"></div>

  <p class="shift">
    Our online privacy service shall not be used for any criminal act, or strategy, or conspiracy to commit a criminal act. You agree not to violate any law of any jurisdiction that you are originating from, or communicating with. It is your responsibility to know and comprehend any and all relevant laws related to any jurisdiction, or venue, that concerns you and your actions.
  </p>

  <p class="shift">
    You agree not to use our services for abuse, such as denial of service attacks, port scanning, sending spam, sending opt-in e-mail, scanning for open relays or open proxies, sending unsolicited e-mail, or any version, or type, of e-mail sent in vast quantities, even if the e-mail is lastly sent off through another server. You agree not to harass, stalk, or assault any person, in any place, in any manner, or form, through any other network or computer while using our services.
  </p>

  <p class="shift">
    We do not tolerate the exploitation of women and children, the creation or exploitation of child photography and/or terrorist-related activities, digitally, or in any other form or manner using our services.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Service Suspension and Termination</h2>
  <div class="line"></div>

  <p class="shift">
    Any user who performs any criminal actions, including, but not limited to: use of stolen credit cards, credit card fraud, PayPal fraud, bank fraud, e-gold fraud, Paysera fraud, WebMoney fraud, Bitcoin fraud, mail fraud, extortion, blackmail, kidnapping, rape, murder, sale of stolen credit cards, sale of stolen goods, sending email or operating websites to perform identity theft, hacking, pharming, phishing, spamming of any form on, in or through our service using our resources shall result in a terminated user account.
  </p>

  <p class="shift">
    We reserve the right to terminate any user account for violating terms of service instantly and without refund or notice, or to suspend the account until clarification, or investigation. If your user account has been suspended, you must contact us in order to see if the case can be rectified. We shall wait a reasonable period of time before we close a user account permanently and shut down all billing.
  </p>

  <p class="shift">
    We reserve the right to suspend, terminate, or refuse service to anyone, at any time, for any reason whatsoever, including, but not limited to, creating multiple accounts to bypass free trial limitations. No refunds will be considered for accounts deleted for violation of our Terms of Service.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">No-Logging Policy</h2>
  <div class="line"></div>

  <p class="shift">
    We do not monitor, store, or record any user traffic that flows through our VPN/proxy privacy network. We do not store connection timestamps, bandwidth and traffic logs, or IP addresses that connect to our VPN/proxy privacy network.
  </p>

  <p class="shift">
    Except as relates to our zero-tolerance policies set forth herein, we do not apply any form of censorship, and we will not fulfill any request for information unless it comes with a court order from an authority with competent jurisdiction. We will always guard and respect your privacy.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Privacy Policy</h2>
  <div class="line"></div>

  <p class="shift">
    We are committed to protecting your privacy. We do not keep or store any logs about your online activities, and we only keep minimal information about you and your account.
  </p>

  <p class="shift">
    For more details please see our <a routerLink="/privacy">Privacy Policy</a>.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Subscriptions</h2>
  <div class="line"></div>

  <p class="shift">
    Your service will automatically be renewed at the end of each service period, repeating the length of the previous service period, unless you cancel prior to the automatic renewal date.
  </p>

  <p class="shift">
    You can cancel your subscription at any time through the customer control panel or by contacting us. In the event of account termination or cancellation, any payment for subscriptions will not be reimbursed. Your subscription must be active in order to cancel it.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Payment</h2>
  <div class="line"></div>

  <p class="shift">
    We accept Bitcoin through BitPay, all major Credit and Debit Cards through Stripe, as well as Paypal payments, Amazon payment, and other gift cards through our various partners. By using one of our third party payment processors, you agree to their Terms of Service and Privacy Policy as well.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Refund Policy </h2>
  <div class="line"></div>

  <p class="shift">
    If you are not satisfied with our service, and would like a refund, you can request one within 30 days following your purchase of our service. Upon receiving your refund request, we will first attempt to troubleshoot any issues you are encountering with our services. However, if we are unable to solve these issues to your satisfaction, we will process your refund accordingly.
  </p>

  <p class="shift">
    Subscriptions purchased via Apple iTunes App Store and Google Play Store are subject to the relevant Apple iTunes App Store and Google Play Store refund policies. Therefore, we may be unable to issue refunds for subscriptions to our service purchased using in-app billing through these app stores.
  </p>

  <p class="shift">
    Subscriptions purchased via gift cards are nonrefundable in nature due to the anonymity inherent in this payment method.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Limitation of Liability</h2>
  <div class="line"></div>

  <p class="shift">
    Cypherpunk Partners, its owners, employees, agents, and others that are involved with our services are not in any way or form liable for any harm of any sort executed, or not executed, resulting, or arising, through, or from, the use of any account registered with our services.
  </p>

  <p class="shift">
    In any event, Cypherpunk Partners will never be liable for any monetary harm beyond what the user paid to Cypherpunk Partners and this shall include any attorney fees, or court costs, irrespective of any laws or statues that may be treated otherwise. This is our obligatory agreement when you accept these terms of service.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Limitation of Damage</h2>
  <div class="line"></div>

  <p class="shift">
    Cypherpunk Partners will not be liable in any way or form for actions taken by its users, including any criminal liability and/or civil liability for harm executed, or not executed, beyond any money paid by a user to Cypherpunk Partners for its services.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Links from this Website</h2>
  <div class="line"></div>

  <p class="shift">
    We do not monitor or review the content of other party’s(ies’) websites which are linked to from this website.  Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us, and should not be regarded as the publisher of such opinions, or material.
  </p>

  <p class="shift">
    Please be aware that we are not responsible for the privacy practices, or content, of these websites. We encourage our users to be cautious when they leave our website and to read the privacy statements of these websites. You should evaluate the security and trustworthiness of any other website connected to this website or accessed through this website yourself, before disclosing any personal information to them. Cypherpunk Partners will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Copyright Notice</h2>
  <div class="line"></div>

  <p class="shift">
    We alone shall retain all right, title and interest, including all related intellectual property rights, in and to our technology, the content and the service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any other party relating to us.
  </p>

  <p class="shift">
    Our company name, company logo, and the product names associated with Cypherpunk Partners are trademarks of Company or third parties, and no right or license is granted to use them. The copying, redistribution, use or publication by you of any such matters is strictly prohibited without our prior written consent. You do not acquire ownership rights to any content, document or other materials viewed through our service. The posting of information or materials on Cypherpunk Partners does not constitute a waiver of any right in such information and materials. Some of the content on the site may be the copyrighted work of third parties. Cypherpunk Partners icons and images may be used by third party sites in connection with providing appropriate links to the our website as authorized by separate affiliate or referral agreements.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Communication</h2>
  <div class="line"></div>

  <p class="shift">
    We have several different e-mail addresses for various queries. These and our other contact information can be found on our website and customer support help center portal.
  </p>

  <p class="shift">
    Our company is registered in Iceland, and our registered office is located in Reykjavik, Iceland. 
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Force Majeure</h2>
  <div class="line"></div>

  <p class="shift">
    Neither party shall be liable to the other for any failure to perform any obligation under any agreement which is due to an event beyond the control of such party including but not limited to any act of God, terrorism, war, political insurgence, insurrection, riot, civil unrest, act of civil or military authority, uprising, earthquake, flood or any other natural or man-made eventuality outside of our control, which causes the termination of an agreement or contract entered into, nor which could have been reasonably foreseen. Any Party affected by such event shall forthwith inform the other Party of the same and shall use all reasonable endeavors to comply with the terms and conditions of any agreement contained herein.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Waiver</h2>
  <div class="line"></div>

  <p class="shift">
    Failure of either Party to insist upon strict performance of any provision of this, or any agreement, or the failure of either Party to exercise any right, or remedy, to which it, he, or they, are entitled hereunder shall not constitute a waiver thereof, and shall not cause a diminution of the obligations under this or any agreement. No waiver of any of the provisions of this or any agreement shall be effective unless it is expressly stated to be such and signed by you and us.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">General</h2>
  <div class="line"></div>

  <p class="shift">
    The laws of Iceland govern these terms and conditions. By accessing this website and using our services you consent to these Terms and Conditions and to the exclusive jurisdiction of the Icelandic courts in all disputes arising out of such access.
  </p>

  <p class="shift">
    If any of these terms are deemed invalid or unenforceable for any reason (including, but not limited to the exclusions and limitations set out above), then the invalid or unenforceable provision will be severed from these terms and the remaining terms will continue to apply.
  </p>

  <p class="shift">
    Failure of Cypherpunk Partners to enforce any of the provisions set out in these Terms and Conditions, and any agreement, or failure. to exercise any option to terminate, shall not be construed as waiver of such provisions and shall not affect the validity of these Terms and Conditions, or of any agreement, or any part thereof, or the right thereafter to enforce each and every provision.
  </p>

  <p class="shift">
    These Terms and Conditions shall not be amended, modified, varied or supplemented except in writing and signed by duly authorized representatives of Cypherpunk Partners.
  </p>


  <div class="separator"></div>


  <h2 class="header blue">Notification of Changes</h2>
  <div class="line"></div>

  <p class="shift">
    Cypherpunk Partners reserves the right to change these Terms and Conditions from time to time as it sees fit, and your continued use of the website will signify your acceptance of any adjustment to these Terms and Conditions. If there are any changes to our Privacy policy, we will announce that these changes have been made on our home page, and on other key pages on our website. If there are any changes in how we use our site customers’ personally identifiable information, notification by e-mail or postal mail will be made to those affected by this change. Any changes to our Privacy policy will be posted on our website thirty (30) days prior to these changes taking place. You are, therefore, advised to re-read this statement on a regular basis. 
  </p>


  <div class="separator"></div>


  <p class="lead">
    These Terms and Conditions form part of the Agreement between the Client and Cypherpunk Partners, its officers, directors, employees and/or agents. Your accessing of this website and/or acceptance of product, or undertaking of an agreement with the Company indicates your understanding, agreement to and acceptance, of the Disclaimer Notice, the Privacy policy, and the full Terms and Conditions contained herein. Your statutory consumer rights are unaffected.
  </p>


  <div class="separator"></div>


  <p class="right">
    © Cypherpunk Partners, Slf.<br>
    2017 All Rights Reserved
  </p>
</div>

<app-footer></app-footer>
