<div id="nav" class="nav">
  <div class="nav-left">
    <a routerLink="/">
      <img src="/assets/logo-wh@2x.png" alt="Cypherpunk Privacy">
    </a>
  </div>

  <nav class="nav-right">
    <ul>
      <li>
        <a class="nav-link" routerLink="/join" routerLinkActive="active">premium</a>
      </li>
      <li>
        <a class="nav-link" href="https://support.cypherpunk.com/hc">help</a>
      </li>
      <li>
        <button class="btn" routerLink="/download">download</button>
        <ul>
          <li class="header">for your Computer</li>
          <li routerLink="/download" fragment="windows"><a>Windows</a></li>
          <li routerLink="/download" fragment="mac"><a>Mac</a></li>
          <li routerLink="/download" fragment="linux"><a>Linux</a></li>
          <li class="header">for your Browser</li>
          <li routerLink="/download" fragment="chrome"><a>Chrome</a></li>
          <li routerLink="/download" fragment="firefox"><a>Firefox</a></li>
          <li routerLink="/download" fragment="opera"><a>Opera</a></li>
          <li class="header">for your Mobile Device</li>
          <li routerLink="/download" fragment="ios"><a>iOS</a></li>
          <li routerLink="/download" fragment="android"><a>Android</a></li>
        </ul>
      </li>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!auth.authed">
        <li class="border">
          <a class="nav-link">log in</a>
        </li>
      </a>
      <a (click)="auth.logout()" *ngIf="auth.authed">
        <li class="border">
          <a class="nav-link">log out</a>
        </li>
      </a>
    </ul>
  </nav>
  <div class="clear"></div>
</div>

<div id="scrolled-nav" class="scrolled-nav-container">
  <div class="nav">
    <div class="nav-left">
      <a routerLink="/">
        <img src="/assets/logo-wh@2x.png" alt="Cypherpunk Privacy">
      </a>
    </div>

    <nav class="nav-right">
      <ul>
        <li>
          <a class="nav-link" routerLink="/join" routerLinkActive="active">premium</a>
        </li>
        <li>
          <a class="nav-link" href="https://support.cypherpunk.com/hc">help</a>
        </li>
        <li>
          <button class="btn gold" routerLink="/download">download</button>
          <ul>
            <li class="header">for your Computer</li>
            <li routerLink="/download" fragment="windows"><a>Windows</a></li>
            <li routerLink="/download" fragment="mac"><a>Mac</a></li>
            <li routerLink="/download" fragment="linux"><a>Linux</a></li>
            <li class="header">for your Browser</li>
            <li routerLink="/download" fragment="chrome"><a>Chrome</a></li>
            <li routerLink="/download" fragment="firefox"><a>Firefox</a></li>
            <li routerLink="/download" fragment="opera"><a>Opera</a></li>
            <li class="header">for your Mobile Device</li>
            <li routerLink="/download" fragment="ios"><a>iOS</a></li>
            <li routerLink="/download" fragment="android"><a>Android</a></li>
          </ul>
        </li>
        <a routerLink="/login" routerLinkActive="active" *ngIf="!auth.authed">
          <li class="border">
            <a class="nav-link">log in</a>
          </li>
        </a>
        <a (click)="auth.logout()" *ngIf="auth.authed">
          <li class="border">
            <a class="nav-link">log out</a>
          </li>
        </a>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/">
      <img src="/assets/logo-wh@2x.png" class="mobile-logo" alt="Cypherpunk Privacy">
    </a>

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown">
      <img src="/assets/icon-menu.png" alt="Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }">
    <div class="mobile-dd-item" routerLink="/join" routerLinkActive="active">
      premium
    </div>
    <a href="https://support.cypherpunk.com/hc">
      <div class="mobile-dd-item">
        help
      </div>
    </a>
    <div class="mobile-dd-item" routerLink="/download" routerLinkActive="active">
      download
    </div>
    <div class="mobile-dd-item" *ngIf="!auth.authed" routerLink="/login" routerLinkActive="active">
      log in
    </div>
    <div class="mobile-dd-item" *ngIf="auth.authed" (click)="logout()">
      log out
    </div>
  </div>
  <div class="clear"></div>
</div>

<app-alerts></app-alerts>
