<div id="nav" class="nav">
  <div class="nav-left">
    <a routerLink="/">
      <img src="/assets/logo.png" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>
  </div>

  <nav class="nav-right">
    <ul>
      <li>
        <a class="nav-link" routerLink="/premium" routerLinkActive="active">premium</a>
      </li>
      <li>
        <a class="nav-link" href="https://support.cypherpunk.com/hc">help</a>
      </li>
      <li>
        <button class="btn blue" routerLink="/download">DOWNLOAD</button>
      </li>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">
        <li class="border">
          <a class="nav-link">log in</a>
        </li>
      </a>
      <a routerLink="/account" *ngIf="isLoggedIn()">
        <li class="border">
          <a class="nav-link">My Account</a>
        </li>
      </a>
    </ul>
  </nav>
  <div class="clear"></div>
</div>

<div id="scrolled-nav" class="scrolled-nav-container">
  <div class="nav">
    <div class="nav-left">
      <a routerLink="/">
        <img src="/assets/logo.png" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
      </a>
    </div>

    <nav class="nav-right">
      <ul>
        <li>
          <a class="nav-link" routerLink="/premium" routerLinkActive="active">premium</a>
        </li>
        <li>
          <a class="nav-link" href="https://support.cypherpunk.com/hc">help</a>
        </li>
        <li>
          <button class="btn blue" routerLink="/download">DOWNLOAD</button>
        </li>
        <a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">
          <li class="border">
            <a class="nav-link">log in</a>
          </li>
        </a>
        <a routerLink="/account" *ngIf="isLoggedIn()">
          <li class="border">
            <a class="nav-link">My Account</a>
          </li>
        </a>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>

<div class="mobile-nav">
  <div class="mobile-nav-left">
    <a routerLink="/">
      <img src="/assets/logo.png" class="mobile-logo" alt="Cypherpunk Privacy logo" title="Cypherpunk Privacy | Guardian of Online Privacy and Freedom">
    </a>

    <div class="mobile-nav-right" (click)="showDropDown = !showDropDown">
      <img src="/assets/icon-menu.png" alt="Menu Button" title="Click to Open Menu">
    </div>
  </div>

  <div class="mobile-drop-down" [ngClass]="{ 'open': showDropDown }">
    <div class="mobile-dd-item" routerLink="/premium" routerLinkActive="active">
      premium
    </div>
    <a href="https://support.cypherpunk.com/hc">
      <div class="mobile-dd-item">
        help
      </div>
    </a>
    <div class="mobile-dd-item" routerLink="/download" routerLinkActive="active">
      DOWNLOAD
    </div>
    <div class="mobile-dd-item" *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">
      log in
    </div>
    <div class="mobile-dd-item" *ngIf="isLoggedIn()" routerLink="/account">
      My Account
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="scrolled-mobile-nav" class="scrolled-mobile-nav" *ngIf="bannerModel">
  <a href="{{bannerModel.link}}">
    <div class="left">
      <div class="heading">
        {{ bannerModel.heading }}
      </div>

      <div class="subheading">
        {{ bannerModel.subheading }}
      </div>
    </div>

    <div class="right">
      <button class="btn blue">Download</button>
    </div>
  </a>
</div>

<app-alerts></app-alerts>
