<div class="nav">
  <div class="nav-left">
    <div class="nav-logo" routerLink="/"></div>
  </div>
  <div class="nav-left">
    <div class="nav-title" routerLink="/">Cypherpunk VPN</div>
  </div>

  <div class="nav-right">
    <ul>
      <li>
        <a class="nav-link" routerLink="/download" routerLinkActive="active">download</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/learn" routerLinkActive="active">learn more</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/join" routerLinkActive="active">get cypherpunk now</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/login" routerLinkActive="active">log in</a>
      </li>
    </ul>

    <button class="nav-link start" routerLink="/signup">start free</button>

    <div class="nav-link language">
      <span class="world-icon"></span>
      <a class="language">Language</a>
      <span class="down-arrow"></span>
    </div>
  </div>

  <div class="clear"></div>
</div>
