.content-inner {
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
}

.content-header {
  color: #666;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 10px;
}

table {
  width: 100%;
  text-align: center;
  margin: 0 auto 30px;
  border-collapse: collapse;
}

thead tr {
  font-weight: 500;
  line-height: 3.13;
  color: #999;
}

thead tr th {
  border-bottom: 2px solid #ddd;
}

tbody tr {
  font-size: 18px;
  line-height: 2.78;
  color: #666;

  td { border-bottom: 2px solid #ddd; }
  td + td { border-left: 2px solid #ddd; }

  .payment { color: #67b23f; }

  a {
    color: #1b87bb;
    cursor: pointer;
    text-decoration: underline;
    &:hover { color: #3faee3; }
  }
}

tbody tr:nth-child(odd) { background-color: #f8f9fb; }

tfoot tr {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.78;
}

.overdue { color: #ff7857; }

.pagination {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;

  .btn {
    padding: 10px;
    min-width: 100px;
    background-color: #fff;
    border: 2px solid #ddd;
    color: #999;
    cursor: default;
    &.active {
      color: #1b87bb;
      &:hover { color: #3faee3; }
    }

    & + .btn { margin-left: 25px; }
  }
}

@media (max-width: 1060px) {
  .method { display: none; }
  .return a { font-size: 14px; }
  .overdue { display: none; }
}
