<div class="content">
  <div class="content-inner">

    <div class="content-header">Transaction History with Receipt</div>

    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Plan</th>
          <th>Total</th>
          <th class="method">Method</th>
          <th>Receipt</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tran of transactions">
          <td>{{tran.date}}</td>
          <td>{{tran.plan}}</td>
          <td class="payment">{{tran.total}}</td>
          <td class="method">{{tran.method}}</td>
          <td><a [href]="tran.receiptUrl">Print</a></td>
        </tr>
      </tbody>

      <tfoot *ngIf="transactions.length === 0">
        <tr>
          <td colspan="6">
            No transaction history
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="pagination">
      <button class="btn" (click)="goToTransactionsPage('previous')" [ngClass]="{ 'active': !previousTransactionsDisabled() }">
        Previous
      </button>

      <button class="btn" (click)="goToTransactionsPage('next')" [ngClass]="{ 'active': !nextTransactionsDisabled() }">
        Next
      </button>
    </div>


    <h2 class="content-header">Invoice overdue with pay option</h2>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Plan</th>
          <th>Total</th>
          <th class="method">Method</th>
          <th>Receipt</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td class="overdue">Overdue</td>
          <td>{{invoice.date}}</td>
          <td>{{invoice.plan}}</td>
          <td class="payment">{{invoice.total}}</td>
          <td class="method">{{invoice.method}}</td>
          <td><a [href]="invoice.receiptUrl">Print</a></td>
        </tr>
      </tbody>

      <tfoot *ngIf="invoices.length === 0">
        <tr>
          <td colspan="6">
            No overdue invoices
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="pagination">
      <button class="btn" (click)="goToInvoicesPage('previous')" [ngClass]="{ 'active': !previousInvoicesDisabled() }">
        Previous
      </button>

      <button class="btn" (click)="goToInvoicesPage('next')" [ngClass]="{ 'active': !nextInvoicesDisabled() }">
        Next
      </button>
    </div>
  </div>
</div>
