.content-inner {
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
}

.content-header {
  color: #ff7857;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 10px;
}
table {
  text-align: center;
  width: 90%;
  margin: 0 auto 50px;
}

thead tr {
  font-weight: 500;
  line-height: 3.13;
  color: #999;
}

tbody tr {
  font-size: 18px;
  line-height: 2.78;
  color: #666;
}

tbody tr:nth-child(odd) { background-color: #f8f9fb; }

tfoot tr {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.78;
}

.overdue { color: #d0021b; }

.pagination-container {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 35px;
  overflow: auto;
  padding-right: 25px;

  .pagination {
    float: right;
    max-width: 300px;
    & > div { display: inline-block; }
    .btn { padding: 10px; min-width: 30px; }
  }
}
