<div class="content">
  <div class="content-inner">

    <div class="content-header">Transaction History with Receipt</div>

    <table class="content-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Total</th>
          <th class="method">Method</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tran of transactions?.receipts">
          <td>{{tran.date}}</td>
          <td>{{tran.description}}</td>
          <td class="payment">{{tran.amount}} - {{ tran.currency }}</td>
          <td class="method">{{tran.method}}</td>
        </tr>
      </tbody>

      <tfoot *ngIf="transactions?.receipts?.length === 0">
        <tr>
          <td colspan="6">
            No transaction history
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="pagination">
      <button class="btn" (click)="goToTransactionsPage('previous')" [ngClass]="{ 'active': !previousTransactionsDisabled() }">
        Previous
      </button>

      <button class="btn" (click)="goToTransactionsPage('next')" [ngClass]="{ 'active': !nextTransactionsDisabled() }">
        Next
      </button>
    </div>
  </div>
</div>
